﻿<el-dialog title="清理单" :visible="List.ModelDialog.Visible" @@close="closeDialog('List.ModelDialog')"
           width="92%"
           :close-on-click-modal="Common.CloseOnClickModal"
           :close-on-press-escape="Common.CloseOnPressEscape">
    <el-form :model="List.ModelDialog.Model"
             status-icon
             :show-message="false"
             ref="List.ModelDialog"
             label-width="140px"
             :label-suffix="Common.FormLabelSuffix">
        <div class="my-dialog-form-2">
            <el-form-item label="清理单号" prop="Code" required>
                <el-input placeholder="清理单号" v-model="List.ModelDialog.Model.Code" disabled="true">
                    <el-button slot="append"
                               :icon="getSearchButtonIcon(List.ModelDialog.Model.Code)"
                               @@click="getCode('/AssetClear/GetCode',List.ModelDialog.Model)"
                               v-if="List.ModelDialog.Model.Id == 0">
                    </el-button>
                </el-input>
            </el-form-item>
            <el-form-item label="实际清理日期" prop="ClearTime" required>
                @UIHelper.DatePicker("实际清理日期", "List.ModelDialog.Model.ClearTime")
            </el-form-item>
            @*<el-form-item label="清理单位" prop="UsedCompanyId" required>
        <el-input placeholder="清理单位" v-model="List.ModelDialog.Model.UsedCompanyName" :disabled="true"></el-input>
    </el-form-item>*@
            <el-form-item label="清理部门" prop="UsedDepartmentId" :rules="Validation.Select">
                @UIHelper.Select("SelectList.UsedDepartmentId.Data", "List.ModelDialog.Model.UsedDepartmentId", "清理部门"
                                , "handleDepartmentUsedChange"
                                , "<span :class=\"getDepartmentTypeClass(item)\" v-html=\"getDepartmentName(item)\"></span>"
                                , strOptionDisabledKey: "Department"
                                , strTextBind: "List.ModelDialog.Model.UsedDepartmentName", bIsQuerySelect: false)
            </el-form-item>
            <el-form-item label="清理人" prop="UsedEmployeeId" :rules="Validation.Select">
                @UIHelper.Select("SelectList.UsedEmployeeId.Data", "List.ModelDialog.Model.UsedEmployeeId", "清理人", bIsQuerySelect: false)
            </el-form-item>
            <el-form-item label="清理处理人" prop="SessionId" required>
                <el-input placeholder="清理处理人" v-model="List.ModelDialog.Model.SessionName" :disabled="true"></el-input>
            </el-form-item>
        </div>
        <div class="my-dialog-form-1">
            <el-form-item label="备注" prop="Note">
                <el-input placeholder="备注" type="textarea" v-model="List.ModelDialog.Model.Description" :autosize="{ minRows: 4 }"></el-input>
            </el-form-item>
        </div>
        <el-form-item label="资产详细" prop="AssetClearItems" :rules="Validation.List">
            <el-button class="my-form-item-button" @@click="selectAssets(1,List.ModelDialog.Model.AssetClearItems)" type="primary" icon="el-icon-plus">选择资产<i class="my-hide el-icon-error"></i></el-button>
        </el-form-item>
        @UIHelper.SubAssetTable("SelectedAssetList.SelectedAssetList", "", @"<div class=""my-button-action"">
                        <el-button @click=""function(){handleDeleteRow(scope.$index,List.ModelDialog.Model.AssetClearItems);handleDeleteRow(scope.$index,SelectedAssetList.SelectedAssetList);}"" type=""danger"" size=""mini"" icon=""el-icon-delete"">删 除</el-button>
                </div>")
    </el-form>
    <div slot="footer" class="dialog-footer">
        <el-button @@click="closeDialog('List.ModelDialog')" icon="el-icon-close">取 消</el-button>
        <el-button type="primary" @@click="submitForm('List.ModelDialog', handleSave, initPage, '/AssetClear/Add')" icon="el-icon-check">保 存</el-button>
    </div>
</el-dialog>