﻿@{
    Layout = "~/Areas/Admin/Views/Shared/_PrintLayout.cshtml";
}

<div class="my-main-body-button">
    <span class="my-main-body-title">
        <i class="el-icon-view"></i>
        清理报废
    </span>
    @UIHelper.SearchInput("清理单号/描述关键字", "List")
    @UIHelper.Period("清理日期", "List")
    @ButtonHelper.Add(strClick: "handleAdd('List.ModelDialog',resetSelectedAsset)", strCode: "Add")
</div>
<el-table :data="List.Data"
          :row-key="getItemId"
          border stripe
          header-row-class-name="my-main-body-table-header"
          @@selection-change="handleSelectionChange"
          @@sort-change="function(sort){handleSortChange(sort,'List');}"
          style="width: 100%">
    <el-table-column type="expand">
        @UIHelper.SubAssetTemplate("AssetClearItems", "Asset.", strTotal: "{{scope.row.Total}}")
    </el-table-column>
    <el-table-column label="清理单号" prop="Code" sortable="custom">
        <template slot-scope="scope">
            <p class="my-text-danger">{{scope.row.Code}}</p>
        </template>
    </el-table-column>
    <el-table-column label="清理日期" prop="UsedTime" sortable="custom">
        <template slot-scope="scope">
            {{getDate(scope.row.ClearTime,true)}}
        </template>
    </el-table-column>
    <el-table-column label="清理人" prop="UsedEmployeeName" sortable="custom"></el-table-column>
    <el-table-column label="清理后" prop="UsedCompanyName" sortable="custom">
        <template slot-scope="scope">
            <p class="my-text-danger">使用单位：{{scope.row.UsedCompanyName}}</p>
            <p class="my-text-success">使用部门：{{scope.row.UsedDepartmentName}}</p>
        </template>
    </el-table-column>
    <el-table-column label="清理备注" prop="Description"></el-table-column>
    <el-table-column label="处理人" prop="SessionName"></el-table-column>
    <el-table-column label="操作" :width="100" align="center">
        <template slot-scope="scope">
            @ButtonHelper.OpenPrint("handleOpenDialog(scope.row,List.PrintDialog)")
        </template>
    </el-table-column>
</el-table>
@Html.Partial("_Pagination", "List")
@Html.Partial("Edit")
@Html.Partial("Print")
@Html.Partial("_AssetList", true)

@section js{
@(Html.DtoModel<AssetDto>())
@(Html.DtoModel<AssetClearDto>())
    <script>
        function getVueOptions() {
            return helper.getPageVueOptions("AssetClear", getAssetClearDto, getSelectAssetListOptions({
                data: {
                    MainTab: "t1",
                    List: {
                        PrintDialog: {
                            Model: getAssetClearDto(),
                            Visible: false
                        }
                    },
                    SelectList: {
                        UsedDepartmentId: { Controller: "Department", Data: [] },
                        UsedDepartmentEmployeeId: { Data: [] }
                    },
                },
                watch: getSearchModelWatchList([
                    { TableName: "List", InitEvent: function () { this.getPageList("List"); } }
                ]),
                computed: {
                    TotalAmountPrint: function () {
                        return this.getTotalAmount(this.List.PrintDialog.Model.AssetClearItems, o=>o.Total * o.Asset.Price);
                    }
                },
                methods: {
                    initPage: function () {
                        this.getPageList("List");
                    },
                    handleDepartmentUsedChange: function () {
                        this.handleDepartmentChange("List.ModelDialog", this.List.ModelDialog.Model.UsedDepartmentId);
                    }
                }
            }));
        }
    </script>
}