﻿<el-dialog :title="getTitle('盘点单')" :visible="List.ModelDialog.Visible" @@close="closeDialog('List.ModelDialog')"
           width="80%"
           :close-on-click-modal="Common.CloseOnClickModal"
           :close-on-press-escape="Common.CloseOnPressEscape">
    <el-form :model="List.ModelDialog.Model"
             status-icon
             :show-message="false"
             ref="List.ModelDialog"
             :label-width="Common.FormLabelWidth"
             :label-suffix="Common.FormLabelSuffix">
        <el-form-item label="盘点单名称" prop="Name" required>
            <el-input placeholder="盘点单名称" v-model="List.ModelDialog.Model.Name"></el-input>
        </el-form-item>
        <el-form-item label="分配用户" prop="InventoryUsers" :rules="Validation.List">
            <el-select v-model="Inventory.Users" multiple filterable placeholder="请输入用户名"
                       @@change="setMutipleSelectModel(Inventory.Users,'SessionId','List.ModelDialog.Model.InventoryUsers')">
                <el-option v-for="item in SelectList.User.Data"
                           :key="item.Id"
                           :label="item.UserName"
                           :value="item.Id">
                </el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="备注" prop="Note">
            <el-input placeholder="备注" type="textarea" v-model="List.ModelDialog.Model.Description" :autosize="{ minRows: 4 }"></el-input>
        </el-form-item>
        <el-tabs type="border-card">
            <el-tab-pane label="盘点范围">
                <el-form-item label="购入日期" prop="Note">
                    @UIHelper.DatePicker("开始日期", "List.ModelDialog.Model.StartTime") - @UIHelper.DatePicker("截止日期", "List.ModelDialog.Model.EndTime")
                </el-form-item>
                <el-form-item label="单位和部门" prop="InventoryDepartments" :rules="Validation.Select">
                    <el-select v-model="Inventory.Departments" multiple filterable placeholder="请输入部门名称"
                               @@change="setMutipleSelectModel(Inventory.Departments,'DepartmentId','List.ModelDialog.Model.InventoryDepartments')">
                        <el-option v-for="item in SelectList.UsedDepartmentId.Data"
                                   :key="item.Id"
                                   :label="item.Name"
                                   :value="item.Id"
                                   :disabled="isDisabled(item,'Department')">
                            <span :class="getDepartmentTypeClass(item)" v-html="getDepartmentName(item)"></span>
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="资产分类" prop="InventoryAssetTypes" :rules="Validation.List">
                    <el-select v-model="Inventory.AssetTypes" multiple filterable placeholder="请输入资产类别名称"
                               @@change="setMutipleSelectModel(Inventory.AssetTypes,'AssetTypeId','List.ModelDialog.Model.InventoryAssetTypes')">
                        <el-option v-for="item in SelectList.AssetType.Data"
                                   :key="item.Id"
                                   :label="item.Name"
                                   :value="item.Id">
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="管理部门" prop="InventoryRegions" :rules="Validation.List">
                    <el-select v-model="Inventory.Regions" multiple filterable placeholder="请输入管理部门名称"
                               @@change="setMutipleSelectModel(Inventory.Regions,'RegionId','List.ModelDialog.Model.InventoryRegions')">
                        <el-option v-for="item in SelectList.RegionId.Data"
                                   :key="item.Id"
                                   :label="item.Name"
                                   :value="item.Id">
                        </el-option>
                    </el-select>
                </el-form-item>
            </el-tab-pane>
        </el-tabs>
    </el-form>
    <div slot="footer" class="dialog-footer">
        <el-button @@click="closeDialog('List.ModelDialog')" icon="el-icon-close">取 消</el-button>
        <el-button type="primary" @@click="submitForm('List.ModelDialog', handleSave, getPageList)" icon="el-icon-check">保 存</el-button>
    </div>
</el-dialog>