﻿@{
    Layout = "~/Areas/Admin/Views/Shared/_PrintLayout.cshtml";
}

<div class="my-main-body-header my-custom-adjustment">
    <span class="my-main-body-title">
        <span class="my-text-primary">{{AllInventoryStatusTotal}}</span> 盘点单（全部）
    </span>
    <span class="my-main-body-title" v-for="item in SelectList.InventoryStatus.Data">
        <span :class="'my-text-'+getInventoryStatusClass(item.Id)">{{getItemValue(InventoryStatusReport,item.Id,"Total",0)}}</span> 盘点单（{{item.Name}}）
    </span>
</div>

<div class="my-main-body-button">
    @UIHelper.Select("SelectList.InventoryStatus.Data", "List.SearchModel.Id", "完成状态")
    @UIHelper.Period("创建时间")
    @ButtonHelper.Add()
</div>

<el-table :data="List.Data"
          :row-key="getItemId"
          border stripe
          header-row-class-name="my-main-body-table-header"
          @@sort-change="function(sort){handleSortChange(sort,'List');}"
          style="width: 100%">
    <el-table-column label="盘点单名称" prop="Name" sortable="custom"></el-table-column>
    <el-table-column label="创建人" prop="SessionName" sortable="custom"></el-table-column>
    <el-table-column label="创建时间" prop="CreateTime" sortable="custom">
        <template slot-scope="scope">
            {{getDate(scope.row.CreateTime,true)}}
        </template>
    </el-table-column>
    <el-table-column label="备注" prop="Description" sortable="custom"></el-table-column>
    <el-table-column label="状态" prop="InventoryStatus" sortable="custom">
        <template slot-scope="scope">
            <el-tag :type="getInventoryStatusClass(scope.row.InventoryStatus)">{{getItemValue(SelectList.InventoryStatus.Data,scope.row.InventoryStatus)}}</el-tag>
        </template>
    </el-table-column>
    <el-table-column label="操作" width="260">
        <template slot-scope="scope">
            <div class="my-button-action">
                <div>
                    @ButtonHelper.Edit(strVIf: "scope.row.InventoryStatus == 1")
                    @ButtonHelper.Delete(strVIf: "scope.row.InventoryStatus == 1")
                </div>
                <div>
                    @UIHelper.Button("ViewInventoryRecord", "handleOpenRecordDialog(scope.row)", "success", "mini")
                    @UIHelper.Button("Inventory", "handleInventoryDialog(scope.row)", "primary", "mini", strVIf: "scope.row.InventoryStatus<3 && isInventorySession(scope.row)")
                </div>
            </div>
        </template>
    </el-table-column>
</el-table>

@Html.Partial("_Pagination", "List")

@Html.Partial("Edit")
@Html.Partial("InventoryRecord")
@Html.Partial("Inventory")

@section js{
    @(Html.DtoModel<AssetBaseDto>())
    @(Html.DtoModel<InventoryDto>())
    @(Html.DtoModel<InventoryItemDto>())
    @(Html.DtoEnum<InventoryStatus>())
    @(Html.DtoEnum<AssetStatus>())
    <script>
        function getVueOptions() {
            return helper.getPageVueOptions("Inventory", getInventoryDto, {
                data: {
                    Inventory: {
                        Users: [],
                        Departments: [],
                        AssetTypes: [],
                        Regions: []
                    },
                    RecordList: helper.getInitList(getInventoryDto, null, "InventoryItem"),
                    InventoryItemList: helper.getInitList(getInventoryItemDto, {
                        ModelDialog: {
                            Asset: getAssetBaseDto(),
                            Inventory: getInventoryDto()
                        }
                    }, "InventoryItem"),
                    InventoryStatusReport: [],
                    SelectList: {
                        User: { Controller: "AdminUser", Data: [], SearchModel: { Id1: 1 } },
                        UsedDepartmentId: { Controller: "Department", Data: [] },
                        AssetType: { Controller: "AssetType", Data: [] },
                        RegionId: { Controller: "Region", Data: [] },
                        InventoryStatus: { Data: getInventoryStatus() },
                        AssetStatus: { Data: getAssetStatus() }
                    }
                },
                computed: {
                    AllInventoryStatusTotal: function () {
                        var total = 0;
                        _.each(this.InventoryStatusReport, function (item) {
                            total += item.Total;
                        });
                        return total;
                    }
                },
                watch: getSearchModelWatchList([
                    { TableName: "List", InitEvent: function () { this.getPageList("List"); this.getInventoryStatusReport(); } },
                    { TableName: "RecordList", InitEvent: function () { this.getPageList("RecordList"); } },
                    { TableName: "InventoryItemList", InitEvent: function () { this.getPageList("InventoryItemList"); } }
                ], {
                    "InventoryItemList.ModelDialog.Asset.Code": getDebounceEvent(function () { this.getAssetByCode(); }),
                    "InventoryItemList.ModelDialog.Model.AssetId": "getAssetOldTotal",
                    "InventoryItemList.ModelDialog.Model.AssetStatus": "getAssetOldTotal",
                    "InventoryItemList.ModelDialog.Model.RegionId": "getAssetOldTotal",
                    "InventoryItemList.ModelDialog.Model.UsedDepartmentId": "getAssetOldTotal",
                    "InventoryItemList.ModelDialog.Model.UsedEmployeeId": "getAssetOldTotal",
                    "InventoryItemList.ModelDialog.Model.StoredAddressId": "getAssetOldTotal"
                }),
                methods: {
                    initPage: function () {
                        this.getPageList("List");
                        this.getInventoryStatusReport();
                    },
                    getInventoryStatusReport: function () {
                        var _this = this;
                        helper.apiPost("/Inventory/GetInventoryStatusReport", _this.List.SearchModel, function (data) {
                            _this.InventoryStatusReport = data;
                        });
                    },
                    getInventoryStatusClass: function (inventoryStatus) {
                        switch (inventoryStatus) {
                            case 1://Created
                                return "info";
                            case 2://Incomplete
                                return "danger";
                            case 3://Complete
                                return "primary";
                            case 4://Submitted
                            default:
                                return "success";
                        }
                    },
                    handleEditBefore: function (model, form) {
                        this.setMutipleSelectData(model.InventoryUsers, "SessionId", "Inventory.Users");
                        this.setMutipleSelectData(model.InventoryDepartments, "DepartmentId", "Inventory.Departments");
                        this.setMutipleSelectData(model.InventoryAssetTypes, "AssetTypeId", "Inventory.AssetTypes");
                        this.setMutipleSelectData(model.InventoryRegions, "RegionId", "Inventory.Regions");
                        return model;
                    },
                    setPageList: function (row, form) {
                        if (row.Id != this[form].SearchModel.Id) {
                            helper.resetPage(form);
                            this[form].SearchModel.Id = row.Id;
                        } else {
                            this.getPageList(form);
                        }
                    },
                    handleOpenRecordDialog: function (row) {
                        this.setPageList(row, "RecordList");
                        this.handleOpenDialog(row, this.RecordList.ModelDialog);
                    },
                    submitInventory: function (id) {
                        var _this = this;
                        helper.confirm("确定要提交该盘点吗?", function () {
                            helper.apiPost("/Inventory/Submit/" + id, null, function (data) {
                                helper.alert("恭喜您，提交盘点成功。");
                                _this.closeDialog("RecordList.ModelDialog");
                                _this.initPage();
                            });
                        });
                    },
                    handleInventoryDialog: function (row) {
                        this.setPageList(row, "InventoryItemList");
                        var model = getInventoryItemDto();
                        model.InventoryId = row.Id;
                        this.InventoryItemList.ModelDialog.Inventory = row;
                        this.handleOpenDialog(model, this.InventoryItemList.ModelDialog);
                    },
                    handleDepartmentEditChange : function () {
                        this.handleDepartmentChange("InventoryItemList.ModelDialog", this.InventoryItemList.ModelDialog.Model.UsedDepartmentId);
                    },
                    completeInventory: function (id) {
                        var _this = this;
                        helper.confirm("确定要完成该盘点吗?", function () {
                            helper.apiPost("/Inventory/Complete/" + id, null, function (data) {
                                helper.alert("恭喜您，完成盘点成功。");
                                _this.closeDialog("InventoryItemList.ModelDialog");
                                _this.initPage();
                            });
                        });
                    },
                    isInventorySession: function (row) {
                        return _.some(row.InventoryUsers, o => o.SessionId == session.Id);
                    },
                    getAssetByCode: function () {
                        var _this = this;
                        if (helper.isNullOrEmpty(_this.InventoryItemList.ModelDialog.Asset.Code)) {
                            _this.InventoryItemList.ModelDialog.Asset.Name = "";
                            _this.InventoryItemList.ModelDialog.Asset.Model = "";
                            _this.InventoryItemList.ModelDialog.Asset.AssetTypeName = "";
                            _this.InventoryItemList.ModelDialog.Model.AssetId = 0;
                            return;
                        }
                        helper.apiPost("/Asset/GetAssetByCode", {
                            Id: _this.InventoryItemList.ModelDialog.Model.InventoryId,
                            SearchText: _this.InventoryItemList.ModelDialog.Asset.Code
                        }, function (data) {
                            _this.InventoryItemList.ModelDialog.Asset = data;
                            _this.InventoryItemList.ModelDialog.Model.AssetId = data.Id;
                        });
                    },
                    getAssetOldTotal: function () {
                        var _this = this;
                        if (_this.InventoryItemList.ModelDialog.Model.AssetId == 0
                            || _this.InventoryItemList.ModelDialog.Model.AssetStatus == 0
                            || _this.InventoryItemList.ModelDialog.Model.RegionId == 0
                            || _this.InventoryItemList.ModelDialog.Model.UsedDepartmentId == 0
                            || _this.InventoryItemList.ModelDialog.Model.UsedEmployeeId == 0
                            || _this.InventoryItemList.ModelDialog.Model.StoredAddressId == 0
                        ) {
                            _this.InventoryItemList.ModelDialog.Model.OldTotal = 0;
                            return;
                        }

                        helper.apiPost("/AssetItemStatus/GetAssetTotal", _this.InventoryItemList.ModelDialog.Model
                            , function (data) {
                                _this.InventoryItemList.ModelDialog.Model.OldTotal = data;
                            });
                    },
                    saveInventory: function () {
                        var _this = this;
                        helper.apiPost("/InventoryItem/Add", _this.InventoryItemList.ModelDialog.Model
                            , function () {
                                if (_this.InventoryItemList.ModelDialog.Inventory.InventoryStatus == 1) {
                                    _this.InventoryItemList.ModelDialog.Inventory.InventoryStatus = 2;
                                    _this.initPage();
                                }
                                _this.getPageList("InventoryItemList");
                                helper.confirm("添加盘点成功，是否继续盘点？", function () {
                                    _this.InventoryItemList.ModelDialog.Asset.Code = "";
                                    _this.InventoryItemList.ModelDialog.Model.NewTotal = 1;
                                });
                            });
                    }
                }
            });
        }
    </script>
}