﻿<el-dialog title="资产盘点记录" :visible="RecordList.ModelDialog.Visible" @@close="closeDialog('RecordList.ModelDialog')"
           width="80%"
           :close-on-click-modal="Common.CloseOnClickModal"
           :close-on-press-escape="Common.CloseOnPressEscape">
    <div id="printMe">
        <div class="my-print-el">
            <div class="my-table-detail">
                <el-row>
                    <el-col :span="4" class="my-table-label">盘点单名称：</el-col>
                    <el-col :span="8">{{RecordList.ModelDialog.Model.Name}}</el-col>
                    <el-col :span="4" class="my-table-label">创建人：</el-col>
                    <el-col :span="8">{{RecordList.ModelDialog.Model.SessionName}}</el-col>
                </el-row>
                <el-row>
                    <el-col :span="4" class="my-table-label">创建时间：</el-col>
                    <el-col :span="8">{{getDatePrintString(RecordList.ModelDialog.Model.CreateTime)}}</el-col>
                    <el-col :span="4" class="my-table-label">状态：</el-col>
                    <el-col :span="8"><span :class="'my-text-'+getInventoryStatusClass(RecordList.ModelDialog.Model.InventoryStatus)">{{getItemValue(SelectList.InventoryStatus.Data,RecordList.ModelDialog.Model.InventoryStatus)}}</span></el-col>
                </el-row>
                <el-row>
                    <el-col :span="4" class="my-table-label">备注：</el-col>
                    <el-col :span="20">{{RecordList.ModelDialog.Model.Description}}</el-col>
                </el-row>
            </div>
            <el-table :data="RecordList.Data"
                      :row-key="getItemId"
                      border stripe
                      header-row-class-name="my-main-body-table-header"
                      @@sort-change="function(sort){handleSortChange(sort,'RecordList');}"
                      style="width: 100%">
                <el-table-column label="资产" prop="Asset.Name" sortable="custom">
                    <template slot-scope="scope">
                        <p class="my-text-success">名称：{{scope.row.Asset.Name}}</p>
                        <p class="my-text-danger">类别：{{scope.row.Asset.AssetTypeName}}</p>
                        <p class="my-text-success">型号：{{scope.row.Asset.Model}}</p>
                    </template>
                </el-table-column>
                <el-table-column label="库存数量" prop="OldTotal" sortable="custom"></el-table-column>
                <el-table-column label="盘点数量" prop="NewTotal" sortable="custom">
                    <template slot-scope="scope">
                        <p v-if="scope.row.OldTotal == scope.row.NewTotal" class="my-text-success">{{scope.row.OldTotal}}</p>
                        <p v-if="scope.row.OldTotal != scope.row.NewTotal" class="my-text-danger">{{scope.row.NewTotal}}</p>
                    </template>
                </el-table-column>
                <el-table-column label="盘点损益" prop="NewTotal" sortable="custom">
                    <template slot-scope="scope">
                        <p v-if="scope.row.OldTotal < scope.row.NewTotal" class="my-text-success">{{scope.row.NewTotal-scope.row.OldTotal}}</p>
                        <p v-if="scope.row.OldTotal > scope.row.NewTotal" class="my-text-danger">{{scope.row.NewTotal-scope.row.OldTotal}}</p>
                    </template>
                </el-table-column>
                <el-table-column label="盘点人" :width="160" prop="SessionName" sortable="custom"></el-table-column>
                <el-table-column label="盘点时间" prop="CreateTime" sortable="custom">
                    <template slot-scope="scope">
                        {{getDatePrintString(scope.row.CreateTime)}}
                    </template>
                </el-table-column>
            </el-table>
        </div>
    </div>
    @Html.Partial("_Pagination", "RecordList")
    <div slot="footer" class="dialog-footer">
        <el-button type="primary" @@click="closeDialog('RecordList.ModelDialog')" icon="el-icon-close">关 闭</el-button>
        <el-button v-if="RecordList.ModelDialog.Model.InventoryStatus == 3" type="success" @@click="submitInventory(RecordList.ModelDialog.Model.Id)" icon="el-icon-check">盘点入库</el-button>
        @ButtonHelper.Print("printMe")
    </div>
</el-dialog>