﻿<el-dialog :title="'我要盘点 - '+InventoryItemList.ModelDialog.Inventory.Name+' - '+InventoryItemList.ModelDialog.Inventory.SessionName" :visible="InventoryItemList.ModelDialog.Visible" @@close="closeDialog('InventoryItemList.ModelDialog')"
           width="80%"
           :close-on-click-modal="Common.CloseOnClickModal"
           :close-on-press-escape="Common.CloseOnPressEscape">
    <div class="my-print-el">
        <el-form :model="InventoryItemList.ModelDialog"
                 v-if="InventoryItemList.ModelDialog.Inventory.InventoryStatus < 3"
                 status-icon
                 :show-message="false"
                 ref="InventoryItemList.ModelDialog"
                 label-width="140px"
                 :label-suffix="Common.FormLabelSuffix">
            <div class="my-dialog-form-3">
                <el-form-item label="资产条码" prop="Asset.Name" required>
                    <el-input placeholder="资产条码" v-model="InventoryItemList.ModelDialog.Asset.Code"></el-input>
                </el-form-item>
                <el-form-item label="资产名称" prop="Asset.Name" required>
                    <el-input placeholder="资产名称" v-model="InventoryItemList.ModelDialog.Asset.Name" :disabled="true"></el-input>
                </el-form-item>
                <el-form-item label="资产型号" prop="Asset.Model" required>
                    <el-input placeholder="资产型号" v-model="InventoryItemList.ModelDialog.Asset.Model" :disabled="true"></el-input>
                </el-form-item>
                <el-form-item label="资产类别" prop="Asset.AssetTypeName" required>
                    <el-input placeholder="资产类别" v-model="InventoryItemList.ModelDialog.Asset.AssetTypeName" :disabled="true"></el-input>
                </el-form-item>
                <el-form-item label="资产状态" prop="Model.AssetStatus" :rules="Validation.Select">
                    @UIHelper.Select("SelectList.AssetStatus.Data", "InventoryItemList.ModelDialog.Model.AssetStatus", "资产状态")
                </el-form-item>
                <el-form-item label="管理部门" prop="Model.RegionId" :rules="Validation.Select">
                    @UIHelper.Select("SelectList.RegionId.Data", "InventoryItemList.ModelDialog.Model.RegionId", "管理部门"
                            , strTextBind: "InventoryItemList.ModelDialog.Model.RegionName", bIsQuerySelect: false)
                </el-form-item>
                <el-form-item label="所在部门" prop="Model.UsedDepartmentId" :rules="Validation.Select">
                    @UIHelper.Select("SelectList.UsedDepartmentId.Data", "InventoryItemList.ModelDialog.Model.UsedDepartmentId", "部门"
                            , "handleDepartmentEditChange"
                            , "<span :class=\"getDepartmentTypeClass(item)\" v-html=\"getDepartmentName(item)\"></span>"
                            , strOptionDisabledKey: "Department"
                            , strTextBind: "InventoryItemList.ModelDialog.Model.UsedDepartmentName"
                            , bIsQuerySelect: false)
                </el-form-item>
                <el-form-item label="使用人" prop="Model.UsedEmployeeId" :rules="Validation.Select">
                    @UIHelper.Select("SelectList.UsedEmployeeId.Data", "InventoryItemList.ModelDialog.Model.UsedEmployeeId", "使用人"
                            , strTextBind: "InventoryItemList.ModelDialog.Model.UsedEmployeeName", bIsQuerySelect: false)
                </el-form-item>
                <el-form-item label="存放地点" prop="Model.StoredAddressId" :rules="Validation.Select">
                    @UIHelper.Select("SelectList.StoredAddressId.Data", "InventoryItemList.ModelDialog.Model.StoredAddressId", "存放地点"
                    , strTextBind: "InventoryItemList.ModelDialog.Model.StoredAddressName", bIsQuerySelect: false)
                </el-form-item>
                <el-form-item label="库存数量" prop="Model.OldTotal" required>
                    <el-input placeholder="库存数量" v-model="InventoryItemList.ModelDialog.Model.OldTotal" :disabled="true"></el-input>
                </el-form-item>
                <el-form-item label="盘点数量" prop="Model.NewTotal" required>
                    <el-input-number placeholder="盘点数量" v-model="InventoryItemList.ModelDialog.Model.NewTotal" :min="1"></el-input-number>
                </el-form-item>
                <el-form-item>
                    <el-button type="success" @@click="submitForm('InventoryItemList.ModelDialog',saveInventory)" icon="el-icon-plus">添加盘点</el-button>
                </el-form-item>
            </div>
        </el-form>

        <el-table :data="InventoryItemList.Data"
                  :row-key="getItemId"
                  border stripe
                  header-row-class-name="my-main-body-table-header"
                  @@sort-change="function(sort){handleSortChange(sort,'RecordList');}"
                  style="width: 100%">
            <el-table-column label="资产" prop="Asset.Name" sortable="custom">
                <template slot-scope="scope">
                    <p class="my-text-success">名称：{{scope.row.Asset.Name}}</p>
                    <p class="my-text-danger">类别：{{scope.row.Asset.AssetTypeName}}</p>
                    <p class="my-text-success">型号：{{scope.row.Asset.Model}}</p>
                </template>
            </el-table-column>
            <el-table-column label="库存数量" prop="OldTotal" sortable="custom"></el-table-column>
            <el-table-column label="盘点数量" prop="NewTotal" sortable="custom">
                <template slot-scope="scope">
                    <p v-if="scope.row.OldTotal == scope.row.NewTotal" class="my-text-success">{{scope.row.OldTotal}}</p>
                    <p v-if="scope.row.OldTotal != scope.row.NewTotal" class="my-text-danger">{{scope.row.NewTotal}}</p>
                </template>
            </el-table-column>
            <el-table-column label="盘点损益" prop="NewTotal" sortable="custom">
                <template slot-scope="scope">
                    <p v-if="scope.row.OldTotal < scope.row.NewTotal" class="my-text-success">{{scope.row.NewTotal-scope.row.OldTotal}}</p>
                    <p v-if="scope.row.OldTotal > scope.row.NewTotal" class="my-text-danger">{{scope.row.NewTotal-scope.row.OldTotal}}</p>
                </template>
            </el-table-column>
            <el-table-column label="盘点人" :width="160" prop="SessionName" sortable="custom"></el-table-column>
            <el-table-column label="盘点时间" prop="CreateTime" sortable="custom">
                <template slot-scope="scope">
                    {{getDatePrintString(scope.row.CreateTime)}}
                </template>
            </el-table-column>
        </el-table>
        @Html.Partial("_Pagination", "InventoryItemList")
    </div>
    <div slot="footer" class="dialog-footer">
        <el-button type="primary" @@click="closeDialog('InventoryItemList.ModelDialog')" icon="el-icon-close">关 闭</el-button>
        <el-button v-if="InventoryItemList.ModelDialog.Inventory.InventoryStatus == 2" type="success" @@click="completeInventory(InventoryItemList.ModelDialog.Inventory.Id)" icon="el-icon-check">完成盘点</el-button>
    </div>
</el-dialog>