﻿@section css{
<style>
    .el-tree-node__content {
        margin: 5px 0;
    }
</style>
}

<div class="my-main-body-button">
    <span class="my-main-body-title">
        <i class="el-icon-view"></i>
        组织结构
    </span>
    @*@ButtonHelper.Add(strClick: "handleTreeAdd()")*@
    @ButtonHelper.Import()
    @ButtonHelper.Export(strFileName: "Department_Export")
</div>

<el-tree :data="List.Data"
         node-key="id"
         empty-text="暂未添加单位"
         :props="{label: 'Name', children:'Children'}"
         :expand-on-click-node="false"
         :default-expand-all="true">
    <span class="my-custom-adjustment my-department-text" slot-scope="{ node, data }">
        <span>
            <span class="my-text-success">{{data.Id}} - {{ data.Code }}</span> - {{data.Name}}
            <span v-if="!data.Enabled" class="my-text-danger">【禁用】</span>
            <span class="my-text-success">{{getItemValue(SelectList.DepartmentType.Data,data.DepartmentType)}}</span>
        </span>
        <span>
            @ButtonHelper.Add(strClick: "handleTreeAdd(data)", strSize: "mini")
            @ButtonHelper.Edit(strClick: "handleTreeEdit(node,data)")
            @ButtonHelper.Enabled(strDisabled: "isLockedItem(data)", strClick: "handleEnabled(data)", strButtonType: "getEnabeldType(data.Enabled)", strButtonText: "getEnabeldText(data.Enabled)")
            @ButtonHelper.Delete(strDisabled: "isLockedItem(data) || (data.Children!=null && data.Children.length>0)", strClick: "handleTreeDelete(node, data)")
        </span>
    </span>
</el-tree>

@(Html.Edit<DepartmentDto>())
@(Html.Import<Department>())

@section js{
@(Html.DtoModel<DepartmentDto>())
    <script>
        function getVueOptions() {
            return helper.getPageVueOptions("Department", getDepartmentDto, {
                data: {
                    SelectList: {
                        DepartmentType: { Data: [{ Id: 1, Name: "单位" }, { Id: 2, Name: "部门" }] }
                    },
                    List: {
                        PageParam: helper.default.AllPageParam,
                        Action: { View: "/Department/GetTreeList", Edit: "/Department/ForceEdit" }
                    },
                    Import: helper.getImportModel("Department", { ModelDialog: { Action: { IsNeedUsedId: true } } })
                },
                methods: {
                    handleTreeAdd: function (data) {
                        var _this = this;
                        this.handleAdd(null, function (model) {
                            if (data == null) {
                                model.ParentId = 0;
                                model.DepartmentType = 1;
                                model.ParentName = "根部门";
                            } else {
                                model.ParentId = data.Id;
                                model.ParentName = data.Name;
                            }
                            _this.SearchModel.Code.Id = model.ParentId;
                            return model;
                        });
                    },
                    handleTreeEdit: function (node, data) {
                        var _this = this;
                        this.handleEdit(null, data, null, false, function (model) {
                            if (model.ParentId == 0) {
                                model.ParentName = "根部门";
                            } else {
                                model.ParentName = node.parent.data.Name;
                            }
                            return model;
                        });
                    },
                    handleTreeDelete: function (node, data) {
                        if (data.Children != null && data.Children.length > 0) {
                            helper.alert("请先删除所有的子部门。");
                            return;
                        }
                        this.handleDelete(null, data);
                    }
                }
            });
        }
    </script>
}