﻿@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="my-main-body-button">
    <span class="my-main-body-title">
        <i class="el-icon-view"></i>
        用户管理
    </span>
    @UIHelper.Select("SelectList.GroupId.Data", "List.SearchModel.Id", "用户组")
    @UIHelper.Select("SelectList.InventoryType.Data", "List.SearchModel.Id1", "盘点类型", strAllValue: "-1")
    @ButtonHelper.Add()
    @ButtonHelper.DeleteList()
</div>

@(Html.Table<AdminUserDto>())

<!----Edit List Start---->
<el-dialog :title="getTitle('用户',List.ModelDialog)" :visible="List.ModelDialog.Visible" @@close="closeDialog('List.ModelDialog')"
           width="60%"
           :close-on-click-modal="Common.CloseOnClickModal"
           :close-on-press-escape="Common.CloseOnPressEscape"
           class="my-edit-dialog-list">
    <el-form :model="List.ModelDialog.Model"
             class="my-dialog-form-1"
             status-icon
             :show-message="false"
             ref="List.ModelDialog"
             :label-width="Common.FormLabelWidth"
             :label-suffix="Common.FormLabelSuffix">
        <el-form-item label="邮箱" prop="Email" :rules="Validation.Email">
            <el-input placeholder="邮箱" v-model="List.ModelDialog.Model.Email" :disabled="false"></el-input>
        </el-form-item>
        <el-form-item label="用户名" prop="UserName" :rules="Validation.Required">
            <el-input placeholder="用户名" v-model="List.ModelDialog.Model.UserName" :disabled="false"></el-input>
        </el-form-item>
        <el-form-item label="密码" prop="Password" :rules="Validation.Required">
            <el-input placeholder="密码" type="password" v-model="List.ModelDialog.Model.Password" :disabled="false"></el-input>
        </el-form-item>
        <el-form-item label="允许手工盘点" prop="IsAllowedManualInventory" :rules="Validation.Required">
            <el-switch v-model="List.ModelDialog.Model.IsAllowedManualInventory" :disabled="false"></el-switch>
        </el-form-item>
        <el-form-item label="所在部门" prop="DepartmentId" :rules="Validation.Select">
            <el-select v-model="List.ModelDialog.Model.DepartmentId" placeholder="请选择所在部门" :disabled="false">
                <el-option :key="0" label="请选择所在部门" :value="0"></el-option>
                <el-option v-for="item in SelectList.DepartmentId.Data"
                           :key="item.Id"
                           :label="item.Name"
                           :value="item.Id"
                           :disabled="isDisabled(item)">
                    <span :class="getDepartmentTypeClass(item)" v-html="getDepartmentName(item)"></span>
                </el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="用户组" prop="GroupId" :rules="Validation.Select">
            <el-select v-model="List.ModelDialog.Model.GroupId" placeholder="请选择用户组" :disabled="false">
                <el-option :key="0" label="请选择用户组" :value="0"></el-option>
                <el-option v-for="item in SelectList_GroupId"
                           :key="item.Id"
                           :label="item.Name"
                           :value="item.Id"
                           :disabled="isDisabled(item)">

                </el-option>
            </el-select>
        </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
        <el-button @@click="closeDialog('List.ModelDialog')" icon="el-icon-close">取 消</el-button>
        <el-button type="primary" @@click="submitForm('List.ModelDialog',handleSave,function(){getPageList('List')})" icon="el-icon-check">保 存</el-button>
    </div>
</el-dialog>

@section js{
    @(Html.DtoModel<AdminUserDto>())
    <script>
        function getVueOptions() {
            return helper.getPageVueOptions("AdminUser", getAdminUserDto, {
                data: {
                    List: {
                        SearchModel: {
                            Id1: -1
                        }
                    },
                    SelectList: {
                        GroupId: { Controller: "Group", Data: [] },
                        DepartmentId: { Controller: "Department", Data: [] },
                        InventoryType: { Data: [{ Id: 0, Name: "禁止手动盘点" }, { Id: 1, Name: "允许手动盘点" }] }
                    }
                },
                computed: {
                    SelectList_GroupId() {
                        var a = this.UsedCompanyId;
                        var aryTemplate = _.filter(this.SelectList.GroupId.Data, o => o.UsedCompanyId == a || o.UsedCompanyId == 0);
                        return aryTemplate;
                    },
                    UsedCompanyId() {
                        let departmentTempId = this.List.ModelDialog.Model.DepartmentId;
                        do {
                            let department = _.filter(this.SelectList.DepartmentId.Data, o => o.Id == departmentTempId);
                            if (department.length > 0) {
                                if (department[0].ParentId <= 1) {
                                    return department[0].Id;
                                }
                                departmentTempId = department[0].ParentId;
                            } else {
                                return 0;
                            }
                        } while (true);
                    }
                }
            });
        }
    </script>
}