﻿@helper SearchInput(string strPlaceHolder, string strTable = "List")
{
    <el-input v-model="@(strTable).SearchModel.SearchText" placeholder="请输入@(strPlaceHolder)" prefix-icon="el-icon-search"></el-input>
}

@helper Select(string strData, string strModel, string strPlaceHolder, string onChangeEvent = "", string strTemplate = "", string strAllValue = "0", bool bIsDisabled = false, string strOptionDisabledKey = "", string strOptionVIf = "true", string strTextBind = "", bool bIsQuerySelect = true, bool bIsFilterable = true, string strTextProp = "Name")
{
    if (!string.IsNullOrEmpty(strModel) && !string.IsNullOrEmpty(strTextBind))
    {
        string updateTextBindEvent = $"updateSelectTextBind({strData},{strModel},'{strTextBind}')";
        if (string.IsNullOrEmpty(onChangeEvent))
        {
            onChangeEvent = updateTextBindEvent;
        }
        else
        {
            if (!onChangeEvent.Contains("("))
            {
                onChangeEvent = onChangeEvent + "();";
            }
            onChangeEvent = $"function(){{{onChangeEvent}{updateTextBindEvent};}}";
        }
    }
    HtmlString htmlData = new HtmlString(strData);
    HtmlString htmlOnChangeEvent = new HtmlString(onChangeEvent);
    HtmlString htmlTemplate = new HtmlString(strTemplate);
    if (!string.IsNullOrEmpty(strModel))
    {
        strModel = $@"v-model=""{strModel}""";
    }
    HtmlString htmlModel = new HtmlString(strModel);
    string strFirstLabelProfix = bIsQuerySelect ? "所有" : "请选择";
    string strFilterable = bIsFilterable ? "filterable" : "";

    <el-select @(htmlModel) @(strFilterable) placeholder="请选择@(strPlaceHolder)" @@change="@htmlOnChangeEvent" :disabled="@(bIsDisabled?"true":"false")">
        <el-option :key="@(strAllValue)" label="@(strFirstLabelProfix)@(strPlaceHolder)" :value="@(strAllValue)"></el-option>
        <el-option v-for="item in @(htmlData)"
                   :key="item.Id"
                   :label="item.@(strTextProp)"
                   :value="item.Id"
                   :disabled="isDisabled(item,'@(strOptionDisabledKey)')"
                   v-if="@(strOptionVIf)">
            @(htmlTemplate)
        </el-option>
    </el-select>
}

@helper Button(string strButtonCode, string strClick, string strButtonType = "primary", string strSize = "", string strDisabled = "false", string strButtonText = null, string strVIf = "", bool bIsNeedText = true)
{
    strButtonCode = strButtonCode.Contains('(') ? strButtonCode : $"'{strButtonCode}'";
    HtmlString htmlButtonCode = new HtmlString(strButtonCode);
    HtmlString htmlClick = new HtmlString(strClick);
    HtmlString htmlButtonType = new HtmlString(strButtonType);
    HtmlString htmlSize = new HtmlString(strSize);
    HtmlString htmlDisabled = new HtmlString(strDisabled);
    HtmlString htmlButtonText = new HtmlString(strButtonText ?? $"getButtonText({strButtonCode})");
    if (!string.IsNullOrEmpty(strVIf))
    {
        strVIf = strVIf.Trim();
        if (!strVIf.StartsWith("&"))
        {
            strVIf = " & " + strVIf;
        }
        else
        {
            strVIf = " " + strVIf;
        }
    }
    HtmlString htmlVIf = new HtmlString(strVIf);
    HtmlString htmlVIfIsNeedText = new HtmlString(bIsNeedText ? "true" : "false");
    <el-button v-if="existButton(@(htmlButtonCode))@(htmlVIf)"
               @(strButtonType.Contains('(') ? ":type" : "type")="@htmlButtonType"
               @@click="@htmlClick"
               size="@htmlSize"
               :disabled="@htmlDisabled">
        <i :class="getButtonIcon(@htmlButtonCode)"></i> <span v-if="@htmlVIfIsNeedText" v-text="@htmlButtonText"></span>
    </el-button>
}

@helper DatePicker(string strLabel, string strModel, string strFormat = "yyyy-MM-dd", string strDisabled = "false")
{
    HtmlString htmlLabel = new HtmlString(strLabel);
    HtmlString htmlModel = new HtmlString(strModel);
    HtmlString htmlDisabled = new HtmlString(strDisabled);
    <el-date-picker v-model="@(htmlModel)"
                    type="date" placeholder="选择@(htmlLabel)"
                    :disabled="@(htmlDisabled)"
                    value-format="@(strFormat)"></el-date-picker>
}

@helper UploadOnly(string strFormLabel, string strField,
    string strUploadFolder = "Attachment", int intProgressNo = 0,
    string strTable = "List", string strDialogName = "ModelDialog",
    string strPicpathpopover = "",
    string strAccept = "*")
{
    <el-input placeholder="@(strFormLabel)" @(string.IsNullOrEmpty(strPicpathpopover)?"":"v-popover:"+strPicpathpopover) :disabled="true" class="my-upload" :value="getFileName(@(strTable).@(strDialogName).Model.@(strField))">
        <template slot="append">
            <el-upload :action="getUploadUrl('@(strUploadFolder)', true)"
                       :headers="getUploadHeaders()"
                       :data="getUploadData()"
                       :multiple="false"
                       :show-file-list="false"
                       :before-upload="function(file){return handleBeforeUpload(@(intProgressNo), @(strTable).@(strDialogName), file);}"
                       :on-progress="function(event,file,fileList){handleUploadProgress(@(intProgressNo), @(strTable).@(strDialogName), event);}"
                       :on-success="function(response,file,fileList){handleUploadSuccess('@(strField)', @(strTable).@(strDialogName), response, file, fileList);}"
                       accept="@(strAccept)">
                <el-button slot="trigger" size="small" type="primary" icon="el-icon-upload2">上传@(strFormLabel)</el-button>
            </el-upload>
        </template>
    </el-input>
    <el-progress v-show="getProgress(@(strTable).@(strDialogName),@(intProgressNo))>0" :show-text="false" :percentage="getProgress(@(strTable).@(strDialogName),@(intProgressNo))" status="success"></el-progress>
}

@helper Upload(string strFormLabel, string strField, bool bIsRequired = true,
    string strUploadFolder = "Attachment", int intProgressNo = 0,
    string strTable = "List", string strDialogName = "ModelDialog",
    string strAccept = "image/*,.doc,.docx,.xml,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet")
{
    <el-form-item label="@(strFormLabel)" prop="@(strField)" @(bIsRequired ? "required" : "")>
        @UploadOnly(strFormLabel,strField,strUploadFolder,intProgressNo,strTable,strDialogName,strAccept:strAccept)
    </el-form-item>
}

@helper UploadImage(string strFormLabel, string strField, string strUploadFolder = "File", string strTable = "List", string strDialogName = "ModelDialog", int intProgressNo = 0, bool bIsShowPicAways = false)
{
    <el-form-item label="@strFormLabel" prop="@strField">
        <el-popover ref="picpathpopover"
                    title="预览"
                    trigger="hover"
                    :disabled="!existFile(@(strTable).@(strDialogName).Model.@(strField))">
            <img class="my-img-popover" :src="@(strTable).@(strDialogName).Model.@(strField)" />
        </el-popover>@UploadOnly(strFormLabel, strField, strUploadFolder, intProgressNo, strTable, strDialogName, bIsShowPicAways ? "" : "picpathpopover", "image/*")
    @if (bIsShowPicAways)
    {
        <div class="my-img-show">
            <div v-show="!existFile(@(strTable).@(strDialogName).Model.@(strField))"><i class="el-icon-upload2"></i>请上传图片</div>
            <img class="my-img-show" v-popover:picpathpopover :src="@(strTable).@(strDialogName).Model.@(strField)" v-show="existFile(@(strTable).@(strDialogName).Model.@(strField))" />
        </div>
    }
    </el-form-item>
}

@helper UploadExcel(string strTable = "Import", string strDialogName = "ModelDialog", int intProgressNo = 0)
{
    @Upload("Excel文件", "ExcelPath", true, "Excel" + strTable, intProgressNo, strTable, strDialogName, "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet")
}

@helper Period(string strLabel, string strTableName = "List")
{
    <span style="margin-left:10px">@(strLabel)：</span>
    <el-date-picker v-model="@(strTableName).SearchModel.StartTime"
                    type="date" placeholder="选择开始日期"
                    value-format="yyyy-MM-dd"></el-date-picker>
    <span>-</span>
    <el-date-picker v-model="@(strTableName).SearchModel.EndTime"
                    type="date" placeholder="选择结束日期"
                    value-format="yyyy-MM-dd"></el-date-picker>
}

@helper SubAssetTemplate(string strAssetName = "Assets", string strContext = "", string strButtons = "", string strTotal = "", string strPrice = "", bool bIsSelectable = false, bool bIsUseMainLocation = false, string strAssetStatusContext = "", bool bIsNeedAssetStatus = false)
{
    <template slot-scope="parentScope">
        <el-table :data="parentScope.row.@(strAssetName)"
                  border stripe
                  style="width: 100%">
            @SubAssetColumns(strContext, strButtons, strTotal, strPrice, bIsSelectable, bIsUseMainLocation, strAssetStatusContext, bIsNeedAssetStatus)
        </el-table>
    </template>
}

@helper SubAssetTable(string strModel, string strContext = "", string strButtons = "", string strTotal = "", string strPrice = "", bool bIsSelectable = false, bool bIsUseMainLocation = false, string strAssetStatusContext = "", bool bIsNeedAssetStatus = false)
{
    HtmlString htmlModel = new HtmlString(strModel);
    <el-table :data="@(htmlModel)"
              border stripe
              style="width: 100%">
        @SubAssetColumns(strContext, strButtons, strTotal, strPrice, bIsSelectable, bIsUseMainLocation, strAssetStatusContext, bIsNeedAssetStatus)
    </el-table>
}

@helper SubAssetColumns(string strContext = "", string strButtons = "", string strTotal = "", string strPrice = "", bool bIsSelectable = false, bool bIsUseMainLocation = false, string strAssetStatusContext = "", bool bIsNeedAssetStatus = false)
{
    HtmlString htmlButtons = new HtmlString(strButtons);
    string strLocationContext = strContext;
    if (bIsUseMainLocation)
    {
        strLocationContext = string.Empty;
    }
    if (string.IsNullOrEmpty(strAssetStatusContext))
    {
        strAssetStatusContext = strContext;
    }
    if (string.IsNullOrEmpty(strTotal))
    {
        strTotal = $"{{{{scope.row.{strContext}Total}}}}";
    }
    HtmlString htmlTotal = new HtmlString(strTotal);
    if (string.IsNullOrEmpty(strPrice))
    {
        strPrice = $"{{{{scope.row.{strContext}Price}}}}";
    }
    HtmlString htmlPrice = new HtmlString(strPrice);
    if (bIsSelectable)
    {
        <el-table-column type="selection" width="55" align="center"></el-table-column>
    }
    <el-table-column type="index" width="50"></el-table-column>
    <el-table-column label="状态">
        <template slot-scope="scope">
            @if (bIsNeedAssetStatus)
            {
                <div class="my-text-center">
                    <el-tag type="getItemValue(SelectList.AssetStatus.Data,scope.row.@(strAssetStatusContext)AssetStatus,'Type')">
                        {{getItemValue(SelectList.AssetStatus.Data,scope.row.@(strAssetStatusContext)AssetStatus)}}
                    </el-tag>
                </div>
                <br />
            }
            <div class="my-text-center">
                <el-popover v-if="existFile(scope.row.@(strContext)PicPath)"
                            title="预览"
                            trigger="hover"
                            :disabled="!existFile(scope.row.@(strContext)PicPath)">
                    <img slot="reference" class="my-pic-detail"
                         v-bind:src="scope.row.@(strContext)PicPath" />
                    <img class="my-table-img-show" :src="scope.row.@(strContext)PicPath" />
                </el-popover>
            </div>
        </template>
    </el-table-column>
    <el-table-column label="条码名称" width="200">
        <template slot-scope="scope">
            <p class="my-text-danger">条码：{{scope.row.@(strContext)Code}}</p>
            <p class="my-text-info">资产编码：{{scope.row.@(strContext)SN}}</p>
            <p class="my-text-success">名称：{{scope.row.@(strContext)Name}}</p>
            <p class="my-text-danger">类别：{{scope.row.@(strContext)AssetTypeName}}</p>
            <p class="my-text-success">型号：{{scope.row.@(strContext)Model}}</p>
            <p class="my-text-success">数量：@(htmlTotal){{scope.row.@(strContext)UnitName}}</p>
            <p class="my-text-info">金额：@(htmlPrice)</p>
        </template>
    </el-table-column>
    <el-table-column label="使用者">
        <template slot-scope="scope">
            <p class="my-text-danger">单位：{{scope.row.@(strLocationContext)UsedCompanyName}}</p>
            <p class="my-text-success">单位：{{scope.row.@(strLocationContext)UsedDepartmentName}}</p>
            <p class="my-text-info">使用人：{{scope.row.@(strLocationContext)UsedEmployeeName}}</p>
            <p class="my-text-danger">管理部门：{{scope.row.@(strLocationContext)RegionName}}</p>
            <p class="my-text-info">存放地点：{{scope.row.@(strLocationContext)StoredAddressName}}</p>
        </template>
    </el-table-column>
    <el-table-column label="购入信息">
        <template slot-scope="scope">
            <p class="my-text-success">购入时间：{{getDate(scope.row.@(strContext)BuyTime,true)}}</p>
            <p class="my-text-primary">使用期限：{{scope.row.@(strContext)UsedMonth}}(月)</p>
            <p class="my-text-info">来源：{{scope.row.@(strContext)SourceName}}</p>
        </template>
    </el-table-column>
    <el-table-column label="供应商">
        <template slot-scope="scope">
            <p class="my-text-danger">供应商：{{scope.row.@(strContext)SupplierName}}</p>
            <p class="my-text-success">负责人：{{scope.row.@(strContext)Director}}</p>
            <p class="my-text-primary">联系人：{{scope.row.@(strContext)Contract}}</p>
            <p class="my-text-info">联系方式：{{scope.row.@(strContext)ContractWay}}</p>
        </template>
    </el-table-column>
    <el-table-column label="创建者" :width="200">
        <template slot-scope="scope">
            <p class="my-text-danger">创建者：{{scope.row.@(strContext)SessionName}}</p>
            <p class="my-text-success">创建时间：{{getDate(scope.row.@(strContext)CreateTime,true)}}</p>
            <p class="my-text-primary">更新时间：{{getDate(scope.row.@(strContext)UpdateTime,true)}}</p>
            @(htmlButtons)
        </template>
    </el-table-column>
}

@helper PrintLabel(string strLabel, string strValue = "&nbsp;", string strLabelWidth = "100px", string strValueWidth = "180px", bool bIsFillText = true)
{
    HtmlString htmlLabel = new HtmlString(strLabel);
    HtmlString htmlValue = new HtmlString(strValue);
    <span>
        <span class="my-print-label" style="width:@(strLabelWidth)">@(htmlLabel)：</span>
        <span class="my-print-@(bIsFillText?"fill":"")text" style="width:@(strValueWidth)">@(htmlValue)</span>
    </span>
}

@helper PrintNow(string strLabel)
{
    @UIHelper.PrintLabel(strLabel, "{{getNowString()}}", strLabelWidth: "80px", strValueWidth: "125px", bIsFillText: false)
}
