﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>动态资产管理系统 - @ViewBag.Title</title>
</head>
<body>
    @Html.AntiForgeryToken()
    @RenderBody()
</body>
</html>