﻿@{
    ErrorModel errorModel = ViewBag.ErrorModel as ErrorModel;
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>动态资产管理系统 - @(errorModel.Title)</title>
    <style>
        body {
            background-color: #EFEFEF;
            color: #2E2F30;
            text-align: center;
            font-family: arial, sans-serif;
            margin: 0;
        }

        div.dialog {
            width: 95%;
            max-width: 33em;
            margin: 4em auto 0;
        }

        div.dialog > div {
            border: 1px solid #CCC;
            border-right-color: #999;
            border-left-color: #999;
            border-bottom-color: #BBB;
            border-top: #B00100 solid 4px;
            border-top-left-radius: 9px;
            border-top-right-radius: 9px;
            background-color: white;
            padding: 7px 8% 0;
            box-shadow: 0 3px 8px rgba(50, 50, 50, 0.17);
        }

        h1 {
            font-size: 100%;
            color: #730E15;
            line-height: 1.5em;
        }

        div.dialog > p {
            margin: 0 0 1em;
            padding: 1em;
            background-color: #F7F7F7;
            border: 1px solid #CCC;
            border-right-color: #999;
            border-left-color: #999;
            border-bottom-color: #999;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
            border-top-color: #DADADA;
            color: #666;
            box-shadow: 0 3px 8px rgba(50, 50, 50, 0.17);
        }
    </style>
</head>
<body>
    <div class="dialog">
        <div>
            <h1>@(errorModel.Title)</h1>
            <p>@(errorModel.Error)</p>
        </div>
        @if (errorModel.IsRestart)
        {
            <p>站点即将在<span id="second"></span>秒中后跳转到登陆页面。<a href="/" target="_self">手动跳转</a></p>
        }
        else
        {
            <p><a href="/" target="_self">返回到登陆页面</a></p>
        }
    </div>
    @if (errorModel.IsRestart)
    {
    <script>
        var second = 6;
        (function jumpToHome() {
            second = second - 1;
            document.getElementById("second").innerText = second;
            if (second == 0) {
                location.href = "/";
                return;
            }
            setTimeout(jumpToHome, 1000);
        })();
    </script>
    }
</body>
</html>