﻿<div class="my-main-body-button">
    <span class="my-main-body-title">
        <i class="el-icon-view"></i>
        基础标签
    </span>
    @ButtonHelper.Add()
    @ButtonHelper.DeleteList()
    @ButtonHelper.Import()
    @ButtonHelper.Export(strFileName: "AssetLabelBase_Export")
</div>

<el-table :data="List.Data"
          :row-key="getItemId"
          border stripe
          header-row-class-name="my-main-body-table-header"
          @@selection-change="handleSelectionChange"
          @@sort-change="function(sort){handleSortChange(sort,'List');}"
          style="width: 100%">
    <el-table-column type="selection" width="55" align="center"
                     v-if="existButton('DeleteList')"></el-table-column>
    <el-table-column label="名称" prop="Name" sortable="custom"></el-table-column>
    <el-table-column label="编码" prop="Template" sortable="custom"></el-table-column>
    <el-table-column label="排序" prop="OrderIndex" sortable="custom"></el-table-column>
    <el-table-column label="操作" width="250" align="center"
                     v-if="existButton('Edit,Delete')">
        <template slot-scope="scope">
            @ButtonHelper.Edit()
            @ButtonHelper.Delete()
        </template>
    </el-table-column>
</el-table>

@Html.Partial("_Pagination", "List")

@Html.Partial("Edit")

@(Html.Import<AssetLabelBase>())

@section js{
@(Html.DtoModel<AssetLabelBaseDto>())
    <script>
        function getVueOptions() {
            return helper.getPageVueOptions("AssetLabelBase", getAssetLabelBaseDto, {
                data: {
                    Import: helper.getImportModel("AssetLabelBase")
                }
            });
        }
    </script>
}