﻿@section css{
    <style>
        .el-tree-node__content {
            margin: 5px 0;
        }
    </style>
}

<div class="my-main-body-button">
    <span class="my-main-body-title">
        <i class="el-icon-view"></i>
        员工管理
    </span>
    @UIHelper.SearchInput("工号或姓名")
    @UIHelper.Select("SelectList.DepartmentId.Data", "Dialog.DepartmnetId", "单位部门", "handleDepartmentChange", "<span :class='getDepartmentTypeClass(item)' v-html='getDepartmentName(item)'></span>")
    @UIHelper.Select("DeleteStatusList", "List.SearchModel.Id2", "删除状态", strAllValue: "-1")
    @UIHelper.Select("SelectList.WorkingStatusId.Data", "List.SearchModel.Id3", "在职状态")
</div>

<div class="my-main-body-button">
    @ButtonHelper.Add(strClick: "handleEmployeeAdd()")
    @ButtonHelper.Import()
    @ButtonHelper.Export(strFileName: "Employee_Export")
</div>

@(Html.Table<EmployeeDto>())
@(Html.Edit<EmployeeDto>())
@(Html.Import<Employee>())

@section js{
@(Html.DtoModel<EmployeeDto>())
    <script>
        function getVueOptions() {
            return helper.getPageVueOptions("Employee", getEmployeeDto, {
                data: {
                    SelectList:{
                        DepartmentId: { Controller: "Department", Data: [] },
                        WorkingStatusId: { Controller: "WorkingStatus", Data: [] },
                    },
                    Dialog: {
                        NewId: 1,
                        DepartmentId: 0,
                    },
                    DeleteStatusList: [{ Id: 0, Name: "未删除" }, { Id: 1, Name: "已删除" }],
                    Import: helper.getImportModel("Employee")
                },
                watch: {
                    "List.SearchModel.Id": helper.default.Callback,
                    "List.SearchModel.Id1": helper.default.Callback,
                },
                methods: {
                    initPage: function () {
                        this.getPageList("List");
                    },
                    isDisabled: function (row) {
                        return this.isCompany(row);
                    },
                    isCompany: function (row) {
                        return row.DepartmentType == 1;
                    },
                    getDepartmentTypeClass: function (row) {
                        return this.isCompany(row) ? "my-text-success" : "my-text-info";
                    },
                    getDepartmentName: function (row) {
                        return helper.getIndentRepeatString(row.LayerIndex-1) + row.Name;
                    },
                    handleDepartmentChange: function (value) {
                        if (value == 0) {
                            this.List.SearchModel.Id = 0;
                            this.List.SearchModel.Id1 = 0;
                        } else {
                            var row = this.getArrayItem(this.SelectList.DepartmentId.Data, value);
                            if (this.isCompany(row)) {
                                this.List.SearchModel.Id = value;
                                this.List.SearchModel.Id1 = 0;
                            } else {
                                this.List.SearchModel.Id = 0;
                                this.List.SearchModel.Id1 = value;
                            }
                        }
                        this.getPageList();
                    },
                    handleDepartmentEditChange: function (value) {
                        if (value == 0) {
                            this.List.ModelDialog.Model.CompanyId = 0;
                            this.List.ModelDialog.Model.CompanyName = "";
                            return;
                        }
                        var company = this.getCompany(value);
                        this.List.ModelDialog.Model.CompanyId = company.Id;
                        this.List.ModelDialog.Model.CompanyName = company.Name;
                    },
                    getCompany: function (value) {
                        var row = this.getArrayItem(this.SelectList.DepartmentId.Data, value);
                        while (!this.isCompany(row)) {
                            row = this.getArrayItem(this.SelectList.DepartmentId.Data, row.ParentId);
                        }
                        return row;
                    },
                    handleEmployeeAdd: function (data) {
                        var _this = this;
                        this.handleAdd(null, function (model) {
                            if (data == null) {
                                model.ParentId = 0;
                                _this.ParentName = "根部门";
                            } else {
                                model.ParentId = data.Id;
                                _this.ParentName = data.Name;
                            }
                            return model;
                        });
                    }
                }
            });
        }
    </script>
}