﻿<el-dialog :title="getTitle('标签模板')" :visible="List.ModelDialog.Visible" @@close="closeDialog('List.ModelDialog')"
           width="80%"
           :close-on-click-modal="Common.CloseOnClickModal"
           :close-on-press-escape="Common.CloseOnPressEscape">
    <el-form :model="List.ModelDialog.Model"
             status-icon
             :show-message="false"
             ref="List.ModelDialog"
             :label-width="Common.FormLabelWidth"
             :label-suffix="Common.FormLabelSuffix">
        @*<el-form-item label="宽度（CM）" prop="Width" required>
            <el-input-number placeholder="宽度（CM）" v-model="List.ModelDialog.Model.Width" :min="1" :step="0.1" :precision="5"></el-input-number>
        </el-form-item>
        <el-form-item label="高度（CM）" prop="Height" required>
            <el-input-number placeholder="高度（CM）" v-model="List.ModelDialog.Model.Height" :min="1" :step="0.1" :precision="5"></el-input-number>
        </el-form-item>
        <el-form-item label="是否使用" prop="IsDefaultUsed" required>
            <el-switch v-model="List.ModelDialog.Model.IsDefaultUsed"></el-switch>
        </el-form-item>*@
        <el-form-item label="标签模板" prop="AssetLabelItems" :rules="Validation.List">
            <el-row>
                <el-col :span="16">
                    <el-transfer v-model="List.ModelDialog.SelectLabelBaseList"
                                 target-order="push"
                                 :data="SelectList.AssetLabelBase.CopyData"
                                 :props="{key: 'Id',label: 'Name'}"
                                 :titles="['基础标签', '标签模板']"
                                 :button-texts="['到左边', '到右边']"
                                 @@change="changeLabelTemplate()"></el-transfer>
                </el-col>
                <el-col :span="8">
                    <div class="my-card-pannel-print">
                        <div class="my-card-item-print">
                            <el-card :body-style="{ padding:'5px',width:List.ModelDialog.Model.Width+'cm',height:List.ModelDialog.Model.Height+'cm' }">
                                <template slot="header">
                                    <i class="el-icon-view"></i>标签示例
                                </template>
                                <div class="my-label-pannel-print">
                                    <div v-for="child in List.ModelDialog.Model.AssetLabelItems" v-html="getAssetLabelHtml(child.AssetLabelBaseId)"></div>
                                </div>
                            </el-card>
                        </div>
                    </div>
                </el-col>
            </el-row>
        </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
        <el-button @@click="closeDialog('List.ModelDialog')" icon="el-icon-close">取 消</el-button>
        <el-button type="primary" @@click="submitForm('List.ModelDialog', handleSave, getPageList)" icon="el-icon-check">保 存</el-button>
    </div>
</el-dialog>