﻿<div class="my-main-body-button">
    <span class="my-main-body-title">
        <i class="el-icon-view"></i>
        标签模板
    </span>
    @ButtonHelper.Add()
    @*@ButtonHelper.DeleteList()*@
</div>

<div class="my-card-pannel">
    <h4 v-if="List.Data.length==0">暂无标签模板</h4>
    <div class="my-card-item" v-for="(item, index) in List.Data">
        <el-card style="height:300px">
            <div slot="header" class="clearfix my-card-title-pannel">
                <span class="my-card-title">
                    <span>{{item.Width}}CM*{{item.Height}}CM</span>
                    <i v-if="item.IsDefaultUsed" class="el-icon-check my-text-success my-text-bolder"></i>
                </span>
                @*@ButtonHelper.Edit(strClick: "handleEdit(index,item)", bIsNeedText:false)*@
                @ButtonHelper.Delete(strClick: "handleDelete(index,item)", bIsNeedText: false)
                <el-switch v-model="item.IsDefaultUsed" @@change="lableModelChange(index,item)"></el-switch>
            </div>
            <div class="my-label-pannel">
                <div v-if="item.AssetLabelItems[0].AssetLabelBase.Name=='条形码'">
                    <div style="text-align:center;margin-bottom:10px;">xxxxxx</div>
                    <div>资产名称：xxxxxx</div>
                    <div style="margin-bottom:10px;">购入日期：xxxxxx</div>
                    <div><img class="my-barcode" src="/BarCode/XXXXXXXX?width=300&amp;height=80"></div>
                    <div><div class="my-text" style="text-align:center;">XXXXXXXX</div></div>
                </div>

                <div v-if="item.AssetLabelItems[0].AssetLabelBase.Name=='二维码'">
                    <div style="text-align:center;margin-bottom:20px;">xxxxxx</div>
                    <div style="float:left;">
                        <img class="my-barcode" src="/QrCode/XXXXXXXX?width=300&amp;height=80">
                    </div>
                    <div style="float:left;">
                        <div class="my-text">资产名称：XXXXXXXX</div>
                        <div class="my-text" style="margin-top:30px;">购入日期：XXXXXXXX</div>
                    </div>
                </div>

                <div v-if="item.AssetLabelItems[0].AssetLabelBase.Name=='表格类型1'">
                    <div style="text-align:center;">存放地点xxx</div>
                    <div>
                        <table border="1" cellspacing="0" cellpadding="2" width="100%">
                            <tr>
                                <td>资产编码：</td>
                                <td colspan="3">xxx</td>
                            </tr>
                            <tr>
                                <td>资产名称：</td>
                                <td>xxx</td>
                                <td>使用人员</td>
                                <td>xxx</td>
                            </tr>
                            <tr>
                                <td>规格型号：</td>
                                <td>xxx</td>
                                <td>使用部门：</td>
                                <td>xxx</td>
                            </tr>
                            <tr>
                                <td>存放地点：</td>
                                <td>xxx</td>
                                <td>计量单位：</td>
                                <td>xxx</td>
                            </tr>
                            <tr>
                                <td>取得日期：</td>
                                <td>xxx</td>
                                <td>资产价值：</td>
                                <td>xxx</td>
                            </tr>
                            <tr>
                                <td colspan="4">
                                    <div><img class="my-barcode" src="/BarCode/XXXXXXXX?width=300&amp;height=80" height="20" width="100%"></div>
                                    <div><div class="my-text" style="text-align:center;">XXXXXXXX</div></div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </el-card>
    </div>
</div>

@Html.Partial("_Pagination", "List")

@Html.Partial("Edit")

@section js{
@(Html.DtoModel<AssetLabelDto>())
    <script>
        function getVueOptions() {
            return helper.getPageVueOptions("AssetLabel", getAssetLabelDto, {
                data: {
                    List: {
                        SearchModel: { Id: -1 },
                        ModelDialog: {
                            SelectLabelBaseList: []
                        }
                    },
                    SelectList: {
                        AssetLabelBase: { Controller: "AssetLabelBase", Data: [], CopyData: [] }
                    },
                    TestAsset: { "Id": 1, "AssetStorageId": 3, "Code": "ZC20190314001", "AssetTypeId": 1, "AssetTypeName": "通用设备", "Name": "手机", "Model": "HONOR V20", "SN": "1111111", "UnitId": 1, "Total": 10, "UnitName": "台", "Price": 2888.00, "UsedCompanyId": 1, "UsedCompanyName": "深圳市黑蚂蚁软件有限单位", "UsedDepartmentId": 2, "UsedDepartmentName": "研发部", "BuyTime": "2019-01-01 00:00:00", "UsedEmployeeId": 1, "UsedEmployeeName": "彭小杰", "SessionId": 1, "SessionName": "超级管理员", "RegionId": 1, "RegionName": "本地", "StoredAddressId": 3, "StoredAddressName": "A部门", "UsedMonth": 12, "SourceId": 1, "SourceName": "购入", "Note": "测试备注", "PicPath": "/File/Default/NoPic.jpg", "SupplierId": 1, "SupplierName": "黑蚂蚁", "Contract": "Jerry", "ContractWay": "15327334549", "Director": "Alan", "EndDate": "2019-01-01 00:00:00", "Discription": "测试说明", "CreateTime": "2019-03-21 15:58:18", "UpdateTime": "2019-03-21 16:30:55" }
                },
                methods: {
                    resetTransferData: function () {
                        this.SelectList.AssetLabelBase.CopyData = _.cloneDeep(this.SelectList.AssetLabelBase.Data);
                    },
                    handleAddBefore: function (model, form) {
                        this.resetTransferData();
                        this.List.ModelDialog.SelectLabelBaseList = [];
                        return model;
                    },
                    handleEditBefore: function (model, form) {
                        this.resetTransferData();
                        this.List.ModelDialog.SelectLabelBaseList = _.map(_.sortBy(model.AssetLabelItems,['Id']), function (item) {
                            return item.AssetLabelBaseId;
                        });
                        this.changeLabelTemplate(model);
                        return model;
                    },
                    changeLabelTemplate: function (model) {
                        var assetLabelItems = _.map(this.List.ModelDialog.SelectLabelBaseList, function (id) {
                            return { AssetLabelBaseId: id };
                        });
                        model = model || this.List.ModelDialog.Model;
                        model.AssetLabelItems = assetLabelItems;
                    },
                    getAssetLabelHtml: function (assetLabelBaseId) {
                        var strLabelTemplate = this.getItemValue(this.SelectList.AssetLabelBase.Data, assetLabelBaseId, "Template");
                        return this.getLabelHtml(strLabelTemplate, this.TestAsset);
                    },
                    lableModelChange(index, item) {
                        this.List.ModelDialog.Model = item;
                        this.handleSave('List.ModelDialog', this.clearCacheAndGetPageList);
                    },

                    removeAssetLabelLocalStorage() {
                        let index = localStorage.length - 1;
                        while (index >= 0) {
                            let key = localStorage.key(index);
                            if (key && key.indexOf("AssetLabel/GetList") > -1) {
                                localStorage.removeItem(key);
                            }
                            index--;
                        }
                    },

                    clearCacheAndGetPageList() {
                        this.removeAssetLabelLocalStorage();
                        this.getPageList();
                    }
                }
            });
        }
    </script>
}