﻿<el-dialog :title="getTitle('类型',List.ModelDialog)" 
           :visible="List.ModelDialog.Visible" 
           @@close="closeDialog('List.ModelDialog')" 
           width="60%" 
           :close-on-click-modal="Common.CloseOnClickModal" 
           :close-on-press-escape="Common.CloseOnPressEscape" 
           class="my-edit-dialog-list">
    <el-form :model="List.ModelDialog.Model"
             class="my-dialog-form-1" status-icon=""
             :show-message="false"
             ref="List.ModelDialog"
             :label-width="Common.FormLabelWidth"
             :label-suffix="Common.FormLabelSuffix">
        <el-form-item label="父级类型" prop="ParentName" required>
            <el-input placeholder="父级类型" v-model="List.ModelDialog.Model.ParentName" :disabled="true"></el-input>
        </el-form-item>
        <el-form-item label="类型编码" prop="Code" required>
            <el-input placeholder="类型编码" v-model="List.ModelDialog.Model.Code"></el-input>
        </el-form-item>
        <el-form-item label="类型名称" prop="Name" required>
            <el-input placeholder="类型名称" v-model="List.ModelDialog.Model.Name"></el-input>
        </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
        <el-button @@click="closeDialog('List.ModelDialog')" icon="el-icon-close">取 消</el-button>
        <el-button type="primary" @@click="submitForm('List.ModelDialog',handleSave,function(){getPageList('List')})" icon="el-icon-check">保 存</el-button>
    </div>
</el-dialog>