﻿@section css{
    <style>
        .el-tree-node__content {
            margin: 5px 0;
        }
    </style>
}

<div class="my-main-body-button">
    <span class="my-main-body-title">
        <i class="el-icon-view"></i>
        资产类别
    </span>
    @UIHelper.SearchInput("类别编码/名称")
    @ButtonHelper.Add(strClick: "handleTreeAdd()")
    @ButtonHelper.Import()
    @ButtonHelper.Export(strFileName: "AssetType_Export")
</div>

<el-tree :data="List.Data"
         ref="tree"
         :filter-node-method="filterNode"
         node-key="id"
         empty-text="暂未添加资产类别"
         :props="{label: 'Name', children:'Children'}"
         :expand-on-click-node="false"
         :default-expand-all="false">
    <span class="my-custom-adjustment my-department-text" slot-scope="{ node, data }">
        <span>
            <span class="my-text-danger">{{data.Code}}</span> - {{data.Name}}
        </span>
        <span>
            @ButtonHelper.Add(strClick: "handleTreeAdd(data)", strSize: "mini")
            @ButtonHelper.Edit(strClick: "handleTreeEdit(node,data)")
            @ButtonHelper.Delete(strDisabled: "(data.Children!=null && data.Children.length>0)", strClick: "handleTreeDelete(node, data)")
        </span>
    </span>
</el-tree>

@Html.Partial("Edit")

@(Html.Import<AssetType>())

@section js{
    @(Html.DtoModel<AssetTypeDto>())
    <script>
        function getVueOptions() {
            return helper.getPageVueOptions("AssetType", getAssetTypeDto, {
                data: {
                    SearchModel: { Code: { Auto: false } },
                    List: {
                        PageParam: helper.default.AllPageParam,
                        Action: { View: "/AssetType/GetTreeList" }
                    },
                    Import: helper.getImportModel("AssetType", { ModelDialog: { Action: { IsNeedUsedId: true } } })
                },
                watch: {
                    "List.SearchModel.SearchText": getDebounceEvent(function (val) { this.$refs.tree.filter(val); })
                },
                methods: {
                    filterNode(value, data) {
                        if (!value) return true;
                        return data.DisplayName.indexOf(value) !== -1;
                    },
                    handleTreeAdd(data) {
                        this.handleAdd(null, function (model) {
                            if (data == null) {
                                model.ParentId = 0;
                                model.ParentName = "根类型";
                            } else {
                                model.ParentId = data.Id;
                                model.ParentName = data.Name;
                            }
                            return model;
                        });
                    },
                    handleTreeEdit(node, data) {
                        this.handleEdit(null, data, null, false, function (model) {
                            if (model.ParentId == 0) {
                                model.ParentName = "根类型";
                            } else {
                                model.ParentName = node.parent.data.Name;
                            }
                            return model;
                        });
                    },
                    handleTreeDelete(node, data) {
                        if (data.Children != null && data.Children.length > 0) {
                            helper.alert("请先删除所有的子类型。");
                            return;
                        }
                        this.handleDelete(null, data);
                    }
                }
            });
        }
    </script>
}