﻿<div class="my-main-body-button">
    <span class="my-main-body-title">
        <i class="el-icon-view"></i>
        数据库管理
    </span>
    @ButtonHelper.Backup()
</div>
<el-table :data="List.Data" border stripe
          header-row-class-name="my-main-body-table-header"
          @@selection-change="handleSelectionChange"
          @@sort-change="function(sort){handleSortChange(sort,'List');}"
          style="width: 100%">
    <el-table-column label="备份描述" prop="Name" sortable="custom">
        <template slot-scope="scope">
            <div>{{scope.row.Name}}</div>
        </template>
    </el-table-column>
    <el-table-column label="备份数据库文件" prop="BackupPath" sortable="custom">
        <template slot-scope="scope">
            <div>{{scope.row.BackupPath}}</div>
        </template>
    </el-table-column>
    <el-table-column label="备份时间" prop="CreateTime" sortable="custom">
        <template slot-scope="scope">
            {{getDate(scope.row.CreateTime)}}
        </template>
    </el-table-column>
    <el-table-column label="还原数据库次数" prop="BackupPath" sortable="custom">
        <template slot-scope="scope">
            <div>{{scope.row.RestoreCount}}</div>
        </template>
    </el-table-column>
    <el-table-column label="最后还原时间" prop="CreateTime" sortable="custom">
        <template slot-scope="scope">
            {{getDate(scope.row.RestoreTime)}}
        </template>
    </el-table-column>
    <el-table-column label="操作" width="180" align="center" v-if="existButton('Restore')">
        <template slot-scope="scope">
            @ButtonHelper.Restore()
        </template>
    </el-table-column>
</el-table>

@Html.Partial("_Pagination", "List")

<el-dialog title="备份数据库"
           :visible="Backup.ModelDialog.Visible"
           @@close="closeDialog('Backup.ModelDialog')"
           width="60%"
           :close-on-click-modal="Common.CloseOnClickModal"
           :close-on-press-escape="Common.CloseOnPressEscape"
           class="my-edit-dialog-user">
    <el-form :model="Backup.ModelDialog.Model"
             class="my-dialog-form-1"
             :show-message="false"
             ref="Backup.ModelDialog"
             :label-width="Common.FormLabelWidth"
             :label-suffix="Common.FormLabelSuffix">
        <el-form-item label="备份描述" prop="Name" required>
            <el-input placeholder="备份描述" v-model="Backup.ModelDialog.Model.Name"></el-input>
        </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
        <el-button @@click="closeDialog('Backup.ModelDialog')" icon="el-icon-close">取 消</el-button>
        <el-button type="primary" @@click="submitForm('Backup.ModelDialog',handleBackup,null)" icon="el-icon-check">保 存</el-button>
    </div>
</el-dialog>

@section js{
    <script>
        function getVueOptions() {
            return helper.getPageVueOptions("Db", null, {
                data: {
                    Backup: {
                        ModelDialog: {
                            Model: {
                                Name: ""
                            },
                            Visible: false
                        }
                    }
                },

                methods: {
                    handleOpenBackupDialog() {
                        this.Backup.ModelDialog.Model.Name = "";
                        this.Backup.ModelDialog.Visible = true;
                    },

                    handleBackup: function () {
                        var _this = this;
                        helper.apiPost("/Db/Backup", this.Backup.ModelDialog.Model, function (data) {
                            _this.Backup.ModelDialog.Visible = false;
                            helper.alert("恭喜您，备份数据库成功。");
                            _this.getPageList();
                        });
                    },

                    handleRestore: function (id) {
                        var _this = this;
                        helper.confirm("确定要还原数据库吗？", function () {
                            helper.apiPost("/Db/Restore/" + id, null, function (data) {
                                helper.alert("恭喜您，还原数据库成功。");
                                _this.getPageList();
                            });
                        });
                    }
                }
            });
        }
    </script>
}