﻿<div class="my-main-body-button">
    <span class="my-main-body-title">
        <i class="el-icon-view"></i>
        角色管理
    </span>
    @ButtonHelper.Add()
    @ButtonHelper.DeleteList()
</div>

@(Html.Table<GroupDto>())
@(Html.Edit<GroupDto>())

@section js{
@(Html.DtoModel<GroupDto>())
    <script>
        function getVueOptions() {
            return helper.getPageVueOptions("Group", getGroupDto,
                helper.getTreeModel("NavigationIdList", "/Group/GetNavigationTreeList")
            );
        }
    </script>
}