﻿@{
    ViewBag.Title = "首页";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    //https://v-charts.js.org/#/
}
@section css{
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/v-charts/lib/style.min.css">
    <style>
        .my-main-body {
            background-color: #f4f4f5;
        }

        .my-charts-margin-top {
            margin-bottom: 20px;
        }

        .my-charts-item {
            margin: 10px;
            padding: 10px;
            background-color: #fff;
            margin-bottom: 10px;
        }

        .my-charts-item-title i {
            color: cadetblue;
        }
    </style>
}

<el-row>
    <el-col :span="12">
        <div class="my-charts-item">
            <div class="my-charts-item-title"><i class="el-icon-time"></i> 资产概况</div>
            <ve-pie :data="AssetSummaryChart" :settings="Chart.Settings.AssetSummaryChart"></ve-pie>
        </div>
    </el-col>
    <el-col :span="12">
        <div class="my-charts-item">
            <div class="my-charts-item-title"><i class="el-icon-time"></i> 资产状况占比</div>
            <ve-pie :data="AssetStatusPercentageChart" :settings="Chart.Settings.AssetStatusPercentageChart"></ve-pie>
        </div>
    </el-col>
</el-row>
<el-row class="my-charts-margin-top">
    <el-col :span="24">
        <div class="my-charts-item">
            <div class="my-charts-item-title"><i class="el-icon-picture-outline"></i> 资产分类统计 <small class="my-text-info">(点击每项可展开)</small></div>
            <el-tabs v-model="ActiveTab"  @@tab-click="handleTabClick">
                <el-tab-pane label="数量" name="first">
                    <ve-histogram ref="firstChart" :data="AssetTypeTotalChart" :settings="Chart.Settings.AssetTypeTotalChart"></ve-histogram>
                </el-tab-pane>
                <el-tab-pane label="金额" name="second">
                    <ve-histogram ref="secondChart" :data="AssetTypeAmountChart" :settings="Chart.Settings.AssetTypeAmountChart"></ve-histogram>
                </el-tab-pane>
            </el-tabs>
        </div>
    </el-col>
</el-row>

@section js{
    @(Html.DtoEnum<AssetStatus>())
    <script src="//cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/v-charts/lib/index.min.js"></script>
    <script>
        function getVueOptions() {
            return helper.getVueModelOptions({
                data: {
                    ActiveTab: "first",
                    SelectList: {
                        AssetStatus: {
                            Data: getAssetStatus()
                        }
                    },
                    AssetStatusReport: [],
                    AssetTypeReport: [],
                    Chart:{
                        Settings: {
                            AssetSummaryChart: {
                                radius: 140,
                                level: [['闲置数量', '在用数量'], ['闲置金额', '在用金额']],
                                label: {
                                    formatter: '{b}\r\n{c}({d}%)',
                                    //position: 'inside',
                                    color:'#000'
                                }
                            },
                            AssetStatusPercentageChart:{
                                radius: 140,
                                label: {
                                    formatter: '{b}\r\n{c}({d}%)',
                                    //position: 'inside',
                                    color: '#000'
                                }
                            },
                            AssetTypeTotalChart: {
                                labelMap: {
                                    'Total': '数量'
                                }
                            },
                            AssetTypeAmountChart: {
                                labelMap: {
                                    'Amount': '金额'
                                }
                            }
                        }
                    }
                },
                computed:{
                    AssetSummaryChart: function () {
                        var freeTotal = { Title: "闲置数量", Total: 0 };
                        var freeAmount = { Title: "闲置金额", Total: 0 };
                        var unfreeTotal = { Title: "在用数量", Total: 0 };
                        var unfreeAmount = { Title: "在用金额", Total: 0 };
                        _.each(this.AssetStatusReport, function (item) {
                            switch (item.AssetStatus) {
                                case 1://Free
                                    freeTotal.Total += item.Total;
                                    freeAmount.Total += item.Amount;
                                    break;
                                case 2://Borrow
                                case 3://Used
                                    unfreeTotal.Total += item.Total;
                                    unfreeAmount.Total += item.Amount;
                                    break;
                            }
                        });
                        return {
                            columns: ["Title", "Total"],
                            rows: [freeTotal, freeAmount, unfreeTotal, unfreeAmount]
                        };
                    },
                    AssetStatusPercentageChart: function () {
                        var _this = this;
                        var data = _.map(_this.SelectList.AssetStatus.Data, function (assetStatus) {
                            var total = helper.getItemValue(_this.AssetStatusReport, o=>o.AssetStatus == assetStatus.Id, 'Total');
                            return { Title: assetStatus.Name, Total: total == null ? 0 : total };
                        });
                        return {
                            columns: ["Title", "Total"],
                            rows: data
                        };
                    },
                    AssetTypeTotalChart: function () {
                        var data = _.map(this.AssetTypeReport, function (item) {
                            return { Title: item.AssetTypeName, Total: item.Total };
                        });
                        return {
                            columns: ["Title", "Total"],
                            rows: data
                        };
                    },
                    AssetTypeAmountChart: function () {
                        var data = _.map(this.AssetTypeReport, function (item) {
                            return { Title: item.AssetTypeName, Amount: item.Amount };
                        });
                        return {
                            columns: ["Title", "Amount"],
                            rows: data
                        };
                    }
                },
                methods: {
                    initPage: function () {
                        var _this = this;
                        helper.apiPost("/AssetReport/GetAssetStatusReport", null, function (data) {
                            _this.AssetStatusReport = data;
                        });

                        helper.apiPost("/AssetReport/GetAssetTypeReport", null, function (data) {
                            _this.AssetTypeReport = data;
                        });
                    },
                    handleTabClick: function (tab, event) {
                        var _this = this;
                        setTimeout(function () {
                            _this.$refs[_this.ActiveTab + "Chart"].echartsResize();
                        }, 100);
                    }
                }
            });
        }
    </script>
}