﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="zh_CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" href="css/app.css?v4" />
    <title>Download</title>
    <style type="text/css">
        tml, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
            margin: 0;
            padding: 0;
            border: 0;
            font-size: 100%;
            font: inherit;
            vertical-align: baseline
        }

        article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
            display: block
        }

        html {
            font-family: sans-serif;
            -ms-text-size-adjust: 100%;
            -webkit-text-size-adjust: 100%
        }

        html, body {
            width: 100%
        }

        body {
            font-family: Arial,Helvetica,sans-serif;
            line-height: 1.6;
            background: #fff;
            font-size: 14px;
            color: #333;
            -webkit-font-smoothing: antialiased;
            -webkit-text-size-adjust: 100%;
            text-rendering: optimizeLegibility
        }

        img, a img, img:focus {
            border: 0;
            outline: 0
        }

        img {
            max-width: 100%;
            height: auto;
        }

        textarea, input, a, textarea:focus, input:focus, a:focus {
            outline: none
        }

        h1, h2, h3, h4, h5, h6 {
            font-weight: normal;
            margin-bottom: 15px;
            line-height: 1.4
        }

            h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
                font-weight: inherit;
                color: #444444
            }

        body {
            font-size: 62.5%;
            font-family: 'Microsoft Yahei','\5FAE\8F6F\96C5\9ED1',Arial,'Hiragino Sans GB','\5B8B\4F53';
            line-height: 1.6
        }

        li {
            list-style: none;
        }

        #weixin-tip {
            display: none;
            position: fixed;
            left: 0;
            top: 0;
            background: rgba(0,0,0,0.8);
            filter: alpha(opacity=80);
            width: 100%;
            height: 100%;
            z-index: 100;
        }

            #weixin-tip p {
                text-align: center;
                margin-top: 10%;
                padding: 0 5%;
                position: relative;
            }

            #weixin-tip .close {
                color: #fff;
                padding: 5px;
                font: bold 20px/20px simsun;
                text-shadow: 0 1px 0 #ddd;
                position: absolute;
                top: 0;
                left: 5%;
            }

        .J_androidbtnimg {
            height: 50px;
            width: 150px;
            text-align: center;
            margin: 0px auto;
        }
    </style>
</head>
<body class="success">
    <div class="download">
        <div style="text-align:center;margin:0px auto;">
            <img src="~/File/images/login.jpg" style="width:80%;height:20%;margin-top:10px;" />
        </div>
        <div style="text-align:center;">
            @*<a href="#"><img src="~/File/images/ios-btn.png" alt="苹果版下载"></a>*@
            <a href="#" class="android-btn" id="J_weixin"><img src="~/File/images/android-btn.png" alt="安卓版下载" class="J_androidbtnimg"></a>
        </div>
    </div>
    <div class="footer-bg">
        <p class="entry-con">注：微信用户请在右上角选择“在浏览器中打开”，再选择下载应用</p>
    </div>

    <div id="weixin-tip">
        <p>
            <img src="~/File/images/live_weixin.png" alt="微信打开" />
            <span id="close" title="关闭" class="close">×</span>
        </p>
    </div>
    <script type="text/javascript">
        var is_weixin = (function () {

            var ua = navigator.userAgent.toLowerCase();

            if (ua.match(/MicroMessenger/i) == "micromessenger") {

                return true;

            } else {

                return false;

            }

        })();

        window.onload = function () {

            var winHeight = typeof window.innerHeight != 'undefined' ? window.innerHeight : document.documentElement.clientHeight;

            var btn = document.getElementById('J_weixin');
            var tip = document.getElementById('weixin-tip');
            var close = document.getElementById('close');

            if (is_weixin) {

                btn.onclick = function (e) {

                    tip.style.height = winHeight + 'px';

                    tip.style.display = 'block';

                    return false;

                }

                close.onclick = function () {

                    tip.style.display = 'none';

                }
            } else {
                btn.onclick = function (e) {

                    window.location.href = 'http://asset.bkant.cn/File/app/com.HBuilder.integrate.apk';
                }
            }

        }</script>
</body>
</html>
