﻿@{
    Layout = null;
}

<html>
<head>
    <title>Vue Print</title>
    <link href="~/Content/site.web.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-html-to-paper/build/vue-html-to-paper.js"></script>
    <script src="/Scripts/vue-barcode.min.js"></script>
</head>
<body>
    <div id="vue-app">
        <div id="printMe">
            <div class="my-print">
                <div>仅供国库支付中心记账使用</div>
                <div class="my-print-title">固定资产入库单</div>
                <div>
                    <span>入库单号：___________________</span>
                    <span>申请单位号：___________________</span>
                </div>
                <div>
                    <span>填报单位名称：_________________</span>
                    <span>报帐日期：2018年 12月 18日</span>
                    <span>附单据：________张</span>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th rowspan="2">编号</th>
                            <th rowspan="2">类别</th>
                            <th rowspan="2">品名规格</th>
                            <th rowspan="2">数量</th>
                            <th rowspan="2">单价</th>
                            <th colspan="11">借方金额（人民币：元）</th>
                            <th rowspan="2">存方地点</th>
                            <th rowspan="2">备注</th>
                        </tr>
                        <tr>
                            <th class="my-amount">亿</th>
                            <th class="my-amount">千</th>
                            <th class="my-amount">百</th>
                            <th class="my-amount">十</th>
                            <th class="my-amount">万</th>
                            <th class="my-amount">千</th>
                            <th class="my-amount">百</th>
                            <th class="my-amount">十</th>
                            <th class="my-amount my-amount-yuan">元</th>
                            <th class="my-amount">角</th>
                            <th class="my-amount">分</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>专用设备</td>
                            <td>感应圈</td>
                            <td>20</td>
                            <td>450.00</td>
                            <td class="my-amount"></td>
                            <td class="my-amount"></td>
                            <td class="my-amount"></td>
                            <td class="my-amount"></td>
                            <td class="my-amount"></td>
                            <td class="my-amount">9</td>
                            <td class="my-amount">0</td>
                            <td class="my-amount">0</td>
                            <td class="my-amount my-amount-yuan">0</td>
                            <td class="my-amount">0</td>
                            <td class="my-amount my-noborder">0</td>
                            <td>实验室</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>专用设备</td>
                            <td>机械停表</td>
                            <td>20</td>
                            <td>370.00</td>
                            <td class="my-amount"></td>
                            <td class="my-amount"></td>
                            <td class="my-amount"></td>
                            <td class="my-amount"></td>
                            <td class="my-amount"></td>
                            <td class="my-amount">7</td>
                            <td class="my-amount">4</td>
                            <td class="my-amount">0</td>
                            <td class="my-amount my-amount-yuan">0</td>
                            <td class="my-amount">0</td>
                            <td class="my-amount my-noborder">0</td>
                            <td>实验室</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="5" class="my-print-total">合计金额小写：{{getAmountFormat(TotalAmount)}}</td>
                            <td class="my-amount" v-for="n in 11" :class="getSingleAmountClass(n)">
                                {{getSingleAmount(strTotalAmount,n)}}
                            </td>
                            <td colspan="2"></td>
                        </tr>
                        <tr>
                            <td colspan="18" class="my-print-total">合计金额大写：{{getUpcaseAmount(TotalAmount)}}</td>
                        </tr>
                    </tbody>
                </table>
                <div>
                    <span>报账员：</span>
                    <span>固定资产管理员：</span>
                    <span>验收人：</span>
                    <span>经办人：</span>
                    <span></span>
                </div>
            </div>
            <v-barcode value="1234567890" ></v-barcode>
            <v-barcode value="1234567890" :options="{ lineColor: '#0275d8' }" tag="svg"></v-barcode>
            <v-barcode value="1234567890" tag="img"></v-barcode>
            <img src="/BarCode/QA1234567890?width=250&height=80" />
            <img src="/QrCode/1234567890?size=300" />
            <img src="/VerifyCode/5" />
        </div>
        <button @@click="print">print</button>
    </div>
    <script>
        var options = {
            name: '_blank',
            specs: [
              'fullscreen=yes',
              'titlebar=yes',
              'scrollbars=yes'
            ],
            styles: [
                'http://localhost/Content/ElementUI/element-ui.css',
                'http://localhost/Content/site.web.css'
            ]
        }
        Vue.use(VueHtmlToPaper, options);
        Vue.component('v-barcode', VueBarcode);
        var vueApp = new Vue({
            el : "#vue-app",
            data: {
                message: "Print Demo",
                strTotalAmount: "1640000",
                TotalAmount: 16400.00
            },
            methods: {
                print: function () {
                    this.$htmlToPaper('printMe');
                },
                getSingleAmountClass: function(n){
                    switch(n){
                        case 11:
                            return "my-noborder";
                        case 9:
                            return "my-amount-yuan";
                        default:
                            return "";
                    }
                },
                getUpcaseAmount: function (amount) {
                    var strAmount = amount.toFixed(2);
                    var strUnit = '仟佰拾亿仟佰拾万仟佰拾元角分';
                    strUnit = strUnit.substr(strUnit.length - strAmount.length);
                    var strUpcase = "零壹贰叁肆伍陆柒捌玖";
                    var strOutput = "";
                    for (var i = 0; i < strAmount.length; i++) {
                        strOutput += strUpcase.substr(strAmount.substr(i, 1), 1) + strUnit.substr(i, 1);
                    }
                    return strOutput.replace(/零角零分$/, '整')
                        .replace(/零[仟佰拾]/g, '零')
                        .replace(/零{2,}/g, '零')
                        .replace(/零([亿|万])/g, '$1')
                        .replace(/零+元/, '元')
                        .replace(/亿零{0,3}万/, '亿')
                        .replace(/^元/, "零元");
                },
                getAmountFormat:function(amount){
                    var strAmount = amount.toFixed(2);
                    var strOutput = "";
                    var intFixed = 0;
                    for (var i = strAmount.length - 1; i >= 0; i--) {
                        strOutput = strAmount[i] + strOutput;
                        intFixed++;
                        if (strAmount[i] == ".") {
                            intFixed = 0;
                        }
                        if (intFixed == 3 && i > 0) {
                            strOutput = "," + strOutput;
                            intFixed = 0;
                        }
                    }
                    return strOutput;
                },
                getPrintAmountString: function (amount) {
                    return amount.toFixed(2).replace('.', '');
                },
                getSingleAmount: function (strAmount, index) {
                    index = 11 - index;
                    if (index > strAmount.length) {
                        return "";
                    }
                    return strAmount[strAmount.length - index - 1];
                }
            }
        });
    </script>
</body>
</html>