﻿<el-dialog :title="getTitle('财务信息变更')" :visible="List.ModelDialog.Visible" @@close="closeDialog('List.ModelDialog')"
           width="92%"
           :close-on-click-modal="Common.CloseOnClickModal"
           :close-on-press-escape="Common.CloseOnPressEscape">
    <el-form :model="List.ModelDialog.Model"
             status-icon
             :show-message="false"
             ref="List.ModelDialog"
             label-width="100px"
             :label-suffix="Common.FormLabelSuffix">
        <div class="my-dialog-form-3">
            <el-form-item label="变更单号" prop="Code" required>
                <el-input placeholder="变更单号" v-model="List.ModelDialog.Model.Code" :disabled="true">
                    <el-button slot="append"
                               :icon="getSearchButtonIcon(List.ModelDialog.Model.Code)"
                               @@click="getCode('/AssetFinancialUpdate/GetCode',List.ModelDialog.Model)"
                               v-if="List.ModelDialog.Model.Id == 0">
                    </el-button>
                </el-input>
            </el-form-item>
            <el-form-item label="变更时间" prop="CreateTime" required>
                @UIHelper.DatePicker("变更时间", "List.ModelDialog.Model.CreateTime")
            </el-form-item>
            @*<el-form-item label="归还单位" prop="UsedCompanyId" required>
                    <el-input placeholder="归还单位" v-model="List.ModelDialog.Model.UsedCompanyName" :disabled="true"></el-input>
                </el-form-item>*@
            <el-form-item label="变更部门" prop="UsedDepartmentId" :rules="Validation.Select">
                @UIHelper.Select("SelectList.UsedDepartmentId.Data", "List.ModelDialog.Model.UsedDepartmentId", "变更部门"
                                , "handleAssetFinancialUpdateDepartmentEditChange"
                                , "<span :class=\"getDepartmentTypeClass(item)\" v-html=\"getDepartmentName(item)\"></span>"
                                , strOptionDisabledKey: "Department"
                                , strTextBind: "List.ModelDialog.Model.UsedDepartmentName")
            </el-form-item>
            <el-form-item label="变更人" prop="UsedEmployeeId" :rules="Validation.Select">
                @UIHelper.Select("SelectList.UsedEmployeeId.Data", "List.ModelDialog.Model.UsedEmployeeId", "变更人", bIsQuerySelect: false)
            </el-form-item>
        </div>
        <div class="my-dialog-form-2-1">
            <el-form-item label="变更说明" prop="Description">
                <el-input placeholder="变更说明" type="textarea" v-model="List.ModelDialog.Model.Description" :autosize="{ minRows: 4 }"></el-input>
            </el-form-item>
            <el-form-item></el-form-item>
        </div>
        <el-form-item label="资产详细" prop="AssetFinancialUpdateItems" :rules="Validation.List">
            <el-button class="my-form-item-button" @@click="selectAssets(-1,List.ModelDialog.Model.AssetFinancialUpdateItems,getAssetFinancialUpdateItemDto,assetUniqueCallback)" type="primary" icon="el-icon-plus">选择资产<i class="my-hide el-icon-error"></i></el-button>
        </el-form-item>
        @UIHelper.SubAssetTable("List.ModelDialog.Model.AssetFinancialUpdateItems", "Asset.", @"<div class=""my-button-action"">
                        <el-button @click=""function(){handleDeleteRow(scope.$index,List.ModelDialog.Model.AssetFinancialUpdateItems);handleDeleteRow(scope.$index,SelectedAssetList.SelectedAssetList);}"" type=""danger"" size=""mini"" icon=""el-icon-delete"">删 除</el-button>
                </div>", strPrice: @"<el-input-number placeholder=""单价"" v-model=""scope.row.Price"" :min=""1""></el-input-number>")
    </el-form>
    <div slot="footer" class="dialog-footer">
        <el-button @@click="closeDialog('List.ModelDialog')" icon="el-icon-close">取 消</el-button>
        <el-button type="primary" @@click="submitForm('List.ModelDialog', handleSave, getPageList)" icon="el-icon-check">保 存</el-button>
    </div>
</el-dialog>