﻿@{
    Layout = "~/Areas/Admin/Views/Shared/_PrintLayout.cshtml";
}

<div class="my-main-body-button">
    <span class="my-main-body-title">
        <i class="el-icon-view"></i>
        财务信息变更
    </span>
    @UIHelper.SearchInput("变更单号/描述关键字")
    @UIHelper.Period("变更日期")
    @ButtonHelper.Add(strClick: "handleAdd('List.ModelDialog',resetSelectedAsset)")
</div>

<el-table :data="List.Data"
          :row-key="getItemId"
          border stripe
          header-row-class-name="my-main-body-table-header"
          @@selection-change="handleSelectionChange"
          @@sort-change="function(sort){handleSortChange(sort,'List');}"
          style="width: 100%">
    <el-table-column type="expand">
        @UIHelper.SubAssetTemplate("AssetFinancialUpdateItems", "Asset.", @"<p class=""my-text-info"">变更详细：{{scope.row.UpdateRecord}}</p>")
    </el-table-column>
    <el-table-column label="变更单号" prop="Code" sortable="custom">
        <template slot-scope="scope">
            <p class="my-text-danger">{{scope.row.Code}}</p>
        </template>
    </el-table-column>
    <el-table-column label="变更信息" prop="UsedCompanyName" sortable="custom">
        <template slot-scope="scope">
            <p class="my-text-danger">变更单位：{{scope.row.UsedCompanyName}}</p>
            <p class="my-text-success">变更部门：{{scope.row.UsedDepartmentName}}</p>
            <p class="my-text-primary">变更人：{{scope.row.UsedEmployeeName}}</p>
        </template>
    </el-table-column>
    <el-table-column label="变更日期" prop="CreateTime" sortable="custom">
        <template slot-scope="scope">
            <p class="my-text-danger">变更日期：{{getDate(scope.row.CreateTime,true)}}</p>
        </template>
    </el-table-column>
    <el-table-column label="变更备注" prop="Description"></el-table-column>
    <el-table-column label="处理人" prop="SessionName"></el-table-column>
    <el-table-column label="操作" :width="100" align="center">
        <template slot-scope="scope">
            @ButtonHelper.OpenPrint("handleOpenDialog(scope.row,List.PrintDialog)")
        </template>
    </el-table-column>
</el-table>

@Html.Partial("_Pagination", "List")

@Html.Partial("Edit")
@Html.Partial("Print")
@Html.Partial("_AssetList", false)

@section js{
@(Html.DtoModel<AssetDto>())
@(Html.DtoModel<AssetFinancialUpdateDto>())
@(Html.DtoModel<AssetFinancialUpdateItemDto>())
    <script>
        function getVueOptions() {
            return helper.getPageVueOptions("AssetFinancialUpdate", getAssetFinancialUpdateDto, getSelectAssetListOptions({
                data: {
                    List: {
                        PrintDialog: {
                            Model: getAssetFinancialUpdateDto(),
                            Visible: false
                        }
                    },
                    AssetList: {
                        ModelDialog: {
                            Index: -1,
                            Model: getAssetFinancialUpdateItemDto(),
                            Progress: [0],
                            AssetInfoTab: "t1",
                            Visible: false,
                            Action: {
                                Code: "/Asset/GetCode"
                            }
                        }
                    },
                    SelectList: {
                        UsedDepartmentId: { Controller: "Department", Data: [] },
                        AssetUsedDepartmentEmployeeId: { Data: [] }
                    }
                },
                watch: getSearchModelWatchList([
                    { TableName: "List", InitEvent: function () { this.getPageList("List"); } }
                ]),
                computed: {
                    TotalAmountPrint: function () {
                        return this.getTotalAmount(this.List.PrintDialog.Model.AssetFinancialUpdateItems, o=>o.Asset.Total * o.Asset.Price);
                    }
                },
                methods: {
                    handleAssetFinancialUpdateDepartmentEditChange: function () {
                        this.handleDepartmentChange("List.ModelDialog", this.List.ModelDialog.Model.UsedDepartmentId);
                    },
                    editAssetDialog: function (index) {
                        this.AssetList.ModelDialog.Index = index

                        var model = _.cloneDeep(this.List.ModelDialog.Model.AssetFinancialUpdateItems[index]);
                        
                        this.AssetList.ModelDialog.Model = model;
                        this.AssetList.ModelDialog.AssetInfoTab = "t1";
                        this.AssetList.ModelDialog.Visible = true;
                        
                        this.resetForm("AssetList.ModelDialog", model);
                    },
                    assetUniqueCallback: function(o,item){
                        return o.AssetId == item.AssetItemStatus.Asset.Id;
                    },
                    saveAssetDialog: function () {
                        var _this = this;
                        var formName = "AssetList.ModelDialog";
                        _this.validateForm(formName, function () {
                            var model = _.cloneDeep(_this.AssetList.ModelDialog.Model);
                            if (_this.AssetList.ModelDialog.IsAdd) {
                                _this.List.ModelDialog.Model.AssetFinancialUpdateItems.push(model);
                            } else {
                                Vue.set(_this.List.ModelDialog.Model.AssetFinancialUpdateItems, _this.AssetList.ModelDialog.Index, model);
                            }
                            _this.AssetList.ModelDialog.Visible = false;
                            _this.resetForm(formName, model);
                        });
                    }
                }
            }));
        }
    </script>
}