<!DOCTYPE HTML>
<html>

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta name="HandheldFriendly" content="true" />
		<meta name="MobileOptimized" content="320" />
		<title>Hello H5+</title>
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link href="../css/common.css" rel="stylesheet" />
		<script src="../js/jquery-1.10.2.min.js"></script>
		<script src="../js/mui.min.js"></script>
		<link rel="stylesheet" href="../css/icons-extra.css">
		<script src="../js/vue.js"></script>
		<script src="../js/lodash.min.js"></script>
		<script src="../js/vue.jerry.helper.web.js"></script>
		<script src="../js/ModelDto.js"></script>
		<script type="text/javascript" src="../js/common.js"></script>
		<style> 
			html,
			body {
				background-color: #E4E4E4;
			}
			
			.mui-table-view-cell.mui-active>.mui-slider-left>.mui-btn,
			.mui-table-view-cell.mui-active>.mui-slider-right>.mui-btn {
				-webkit-align-items: baseline;
				line-height: 50px;
			}
			
			input[type="text"],input[type="tel"] {
				text-align: right !important;
			}
		</style>
	</head>

	<body>
		<div id="JerryPlatApp" v-cloak>
			<header class="mui-bar mui-bar-nav mui-bar-transparent">
				<!--			<div class="nvbt iback" onclick="back()"></div>-->
				<a class="mui-icon mui-icon-bars mui-pull-left" onclick="showSide()" style="color: #FFFFFF;"></a>
				<h1 id="title" class="mui-title">资产入库</h1>
				<a class="mui-icon mui-icon-plusempty mui-pull-right" style="color: #FFFFFF;" @click="handleAdd('List.ModelDialog')"></a>
			</header>
			<div id="DefaultModel" class="mui-popover" style="height: 100%;border-radius: 0px;width: 100%;border: none;position: fixed;">
				<header class="mui-bar mui-bar-nav mui-bar-transparent" style="border-radius: 0px;">
					<a class="mui-icon mui-icon-left-nav mui-pull-left" style="color: #FFFFFF;" @click="closeDialog()"></a>
					<h1 id="title" class="mui-title">添加资产入库</h1>
					<a class="mui-icon mui-icon-checkmarkempty mui-pull-right" style="color: #FFFFFF;font-size: 35px;font-weight: bold;" @click="submitForm('List.ModelDialog', handleSave, getPageList)"></a>
				</header>
				<div class="mui-scroll-wrapper" style="margin-top: 50px;">
					<div class="mui-scroll">
						<form class="mui-input-group" ref="List.ModelDialog">
							<div class="mui-input-row">
								<label>入库单号</label>
								<input type="text" placeholder="名称" v-model="List.ModelDialog.Model.Code" disabled="disabled">
							</div>
							<div class="mui-input-row">
								<label>入库时间</label>
								<input id="pickDateBtn" type="text" placeholder="入库时间" v-model="List.ModelDialog.Model.StorageTime" readonly="readonly">
							</div>

							<div class="mui-input-row" style="height: auto;">
								<label>入库说明</label>
								<textarea placeholder="入库说明" v-model="List.ModelDialog.Model.Description" rows="3" style="border: 1px solid #ACACB4;"></textarea>
							</div>
							<div class="mui-input-row">
								<label>资产详细</label>
								<button type="button" class="mui-btn mui-btn-primary" @click="editAssetDialog(-1)" style="float:left;width: 100px;">添加资产</button>
							</div>

						</form>
						<div style="width: 98%;background-color: #fff;border-radius: 10px;text-align: -moz-center;" v-for="(AssetItem,index) in List.ModelDialog.Model.Assets">
							<div style="height: 60px;width: 100%;border-bottom: 1px solid #C0C0C0;" @click="automatic(AssetItem.Code)">
								<img :src="AssetItem.PicPath" width="30%" height="60px" style="float: left;" />
								<div style="width: 70%; height: 60px;float: left;margin: 0px auto;padding: 5px;">
									<p>资产条码：{{AssetItem.Code}}</p>
									<p>资产名称：{{AssetItem.Name}}</p>
								</div>
							</div>
							<div style="margin: 0px auto;padding-left: 10px;" v-if="IsOpen==AssetItem.Code">
								<p>资产类别：{{AssetItem.AssetTypeName}}</p>
								<p>规格型号：{{AssetItem.Model}}</p>
								<p>资产编码：{{AssetItem.SN}}</p>
								<p>计量单位：{{AssetItem.UnitName}}</p>
								<p>金额：￥{{AssetItem.Price}}</p>
								<p>使用单位：{{AssetItem.UsedCompanyName}}</p>
								<p>使用部门：{{AssetItem.UsedDepartmentName}}</p>
								<p>使用人：{{AssetItem.UsedEmployeeName}}</p>
								<p>区域：{{AssetItem.RegionName}}</p>
								<P>存放地点：{{AssetItem.StoredAddressName}}</p>
								<p>管理员：{{AssetItem.SessionName}}</p>
								<p>购入日期：{{getDate(AssetItem.BuyTime,true)}}</p>
								<p>供应商:{{AssetItem.SupplierName}}</p>
								<p>备注:{{AssetItem.Note}}</p>
								<p>使用期限:{{AssetItem.UsedMonth}}(月)</p>
								<p>来源:{{AssetItem.SourceName}}</p>
								<p><button type="button" class="mui-btn" @click="editAssetDialog(-1,AssetItem)">复制</button>
									<button type="button" class="mui-btn" @click="editAssetDialog(index,AssetItem)">编辑</button>
									<button type="button" class="mui-btn" @click="handleDeleteRow(index,List.ModelDialog.Model.Assets)">删除</button>
							</div>
						</div>

						<!--<div style="text-align: center;margin: 0px auto;padding-bottom: 5px;">
							<button type="button" class="mui-btn mui-btn-primary" style="background-color: #1A96C9;border: none;border-radius: 5px;width: 100px;height: 40px;" @click="submitForm('List.ModelDialog', handleSave, getPageList)">确认</button>
							<button type="button" class="mui-btn" style="background-color: #FB9708;border: none;border-radius: 5px;color: #FFFFFF;width: 100px;height: 40px;" @click="closeDialog()">取消</button>
						</div>-->
					</div>
				</div>

			</div>
			
			<div id="AssetModel" class="mui-popover" style="border: none;height: 100%;border-radius: 0px;width: 100%;position: fixed;">
				<header class="mui-bar mui-bar-nav mui-bar-transparent" style="border-radius: 0px;">
					<a class="mui-icon mui-icon-left-nav mui-pull-left" style="color: #FFFFFF;" @click="closeOther()"></a>
					<h1 id="title" class="mui-title">资产添加</h1>
					<a class="mui-icon mui-icon-checkmarkempty mui-pull-right" style="color: #FFFFFF;font-size: 35px;font-weight: bold;" @click="saveAssetDialog()"></a>
				</header>
				<div class="mui-scroll-wrapper" style="margin-top: 50px;">
			<div class="mui-scroll">
				<form class="mui-input-group" ref="AssetList.ModelDialog">
					<div id="slider" class="mui-slider" style="margin-top: 2px;">
						<div id="sliderSegmentedControl" class="mui-slider-indicator mui-segmented-control">
							<a class="mui-control-item mui-active" href="#item1mobile">
								基本信息
							</a>
							<a class="mui-control-item" href="#item2mobile">
								维保信息
							</a>
						</div>

						<div id="sliderProgressBar" class="mui-slider-progress-bar mui-col-xs-6"></div>
						<div class="mui-slider-group">
							<div id="item1mobile" class="mui-slider-item mui-control-content mui-active">
								<div class="mui-input-row">
									<label>资产条码</label>
									<input type="text" placeholder="资产条码" v-model="AssetList.ModelDialog.Model.Code" disabled="disabled">
								</div>
								<div class="mui-input-row">
									<label>资产类别</label>
									<!--<select v-model="AssetList.ModelDialog.Model.AssetTypeId" @change="updateSelectTextBind(SelectList.AssetTypeId.Data,AssetList.ModelDialog.Model.AssetTypeId,'AssetList.ModelDialog.Model.AssetTypeName')" required>
										<option v-bind:value="0" disabled="disabled">请选择资产类别</option>
										<option v-for="item in SelectList.AssetTypeId.Data" v-bind:value="item.Id">{{item.Name}}</option>
									</select>-->
								<input type="text" placeholder="请选择资产类别" readonly="readonly" @click="OpenSelectDialog('选择资产类别',AssetList.ModelDialog.Model.AssetTypeId,SelectList.AssetTypeId.Data)" :value="AssetList.ModelDialog.Model.AssetTypeName"/>									
								</div>
								<div class="mui-input-row">
									<label>资产名称</label>
									<input type="text" placeholder="资产名称" v-model="AssetList.ModelDialog.Model.Name" required>
								</div>
								<div class="mui-input-row">
									<label>规格型号</label>
									<input type="text" placeholder="规格型号" v-model="AssetList.ModelDialog.Model.Model" required>
								</div>
								<div class="mui-input-row">
									<label>资产编码</label>
									<input type="text" placeholder="资产编码" v-model="AssetList.ModelDialog.Model.SN" disabled="disabled" required>
								</div>
								<div class="mui-input-row">
									<label>购入时间</label>
									<input id="BuyTimePickDateBtn" type="text" placeholder="购入时间" v-model="AssetList.ModelDialog.Model.BuyTime" readonly="readonly">
								</div>

								<div class="mui-input-row">
									<label>计量单位</label>
									<!--<select v-model="AssetList.ModelDialog.Model.UnitId" @change="updateSelectTextBind(SelectList.UnitId.Data,AssetList.ModelDialog.Model.UnitId,'AssetList.ModelDialog.Model.UnitName')" required>
										<option v-bind:value="0" disabled="disabled">请选择计量单位</option>
										<option v-for="item in SelectList.UnitId.Data" v-bind:value="item.Id">{{item.Name}}</option>
									</select>-->
								<input type="text" placeholder="请选择计量单位" readonly="readonly" @click="OpenSelectDialog('选择计量单位',AssetList.ModelDialog.Model.UnitId,SelectList.UnitId.Data)" :value="AssetList.ModelDialog.Model.UnitName"/>	
								</div>
								<div class="mui-input-row">
									<label>数量</label>
									<div class="mui-numbox" data-numbox-min='1' id="Total">
										<button class="mui-btn mui-numbox-btn-minus" type="button">-</button>
										<input class="mui-numbox-input" type="number">
										<button class="mui-btn mui-numbox-btn-plus" type="button">+</button>
									</div>
								</div>
								<div class="mui-input-row">
									<label>单价(元)</label>
									<div class="mui-numbox" data-numbox-min='1' id="Price">
										<button class="mui-btn mui-numbox-btn-minus" type="button">-</button>
										<input class="mui-numbox-input" type="number">
										<button class="mui-btn mui-numbox-btn-plus" type="button">+</button>
									</div>
								</div>
								<div class="mui-input-row">
									<label>区域</label>
									<!--<select v-model="AssetList.ModelDialog.Model.RegionId" @change="updateSelectTextBind(SelectList.RegionId.Data,AssetList.ModelDialog.Model.RegionId,'AssetList.ModelDialog.Model.RegionName')" required>
										<option v-bind:value="0" disabled="disabled">请选择区域</option>
										<option v-for="item in SelectList.RegionId.Data" v-bind:value="item.Id">{{item.Name}}</option>
									</select>-->
									<input type="text" placeholder="请选择区域" readonly="readonly" @click="OpenSelectDialog('选择区域',AssetList.ModelDialog.Model.RegionId,SelectList.RegionId.Data)" :value="AssetList.ModelDialog.Model.RegionName"/>
								</div>
								<div class="mui-input-row">
									<label>使用部门</label>
									<!--<select v-model="AssetList.ModelDialog.Model.UsedDepartmentId" @change="function(){handleDepartmentEditChange();updateSelectTextBind(SelectList.UsedDepartmentId.Data,AssetList.ModelDialog.Model.UsedDepartmentId,'AssetList.ModelDialog.Model.UsedDepartmentName');}" required>
										<option v-bind:value="0" disabled="disabled">请选择使用部门</option>
										<option v-for="item in SelectList.UsedDepartmentId.Data" v-bind:value="item.Id">{{item.Name}}</option>
										<span :class="getDepartmentTypeClass(item)" v-html="getDepartmentName(item)"></span>
									</select>-->
									<input type="text" placeholder="请选择使用部门" readonly="readonly" @click="OpenSelectDialog('选择部门',AssetList.ModelDialog.Model.UsedDepartmentId,SelectList.UsedDepartmentId.Data)" :value="AssetList.ModelDialog.Model.UsedDepartmentName"/>
								</div>
								<div class="mui-input-row">
									<label>使用人</label>
									<!--<select v-model="AssetList.ModelDialog.Model.UsedEmployeeId" @change="updateSelectTextBind(SelectList.UsedEmployeeId.Data,AssetList.ModelDialog.Model.UsedEmployeeId,'AssetList.ModelDialog.Model.UsedEmployeeName')" required>
										<option v-bind:value="0" disabled="disabled">请选择使用人</option>
										<option v-for="item in SelectList.UsedEmployeeId.Data" v-bind:value="item.Id">{{item.Name}}</option>
									</select>-->
									<input type="text" placeholder="请选择使用人" readonly="readonly" @click="OpenSelectDialog('选择使用人',AssetList.ModelDialog.Model.UsedEmployeeId,SelectList.UsedEmployeeId.Data)" :value="AssetList.ModelDialog.Model.UsedEmployeeName"/>
								</div>
								<div class="mui-input-row">
									<label>存放地点</label>
									<!--<select v-model="AssetList.ModelDialog.Model.StoredAddressId" @change="updateSelectTextBind(SelectList.StoredAddressId.Data,AssetList.ModelDialog.Model.StoredAddressId,'AssetList.ModelDialog.Model.StoredAddressName')" required>
										<option v-bind:value="0" disabled="disabled">请选择存放地点</option>
										<option v-for="item in SelectList.StoredAddressId.Data" v-bind:value="item.Id">{{item.Name}}</option>
									</select>-->
									<input type="text" placeholder="请选择存放地点" readonly="readonly" @click="OpenSelectDialog('选择存放地点',AssetList.ModelDialog.Model.StoredAddressId,SelectList.StoredAddressId.Data)" :value="AssetList.ModelDialog.Model.StoredAddressName"/>
								</div>
								<div class="mui-input-row">
									<label>来源</label>
									<!--<select v-model="AssetList.ModelDialog.Model.SourceId" @change="updateSelectTextBind(SelectList.SourceId.Data,AssetList.ModelDialog.Model.SourceId,'AssetList.ModelDialog.Model.SourceName')" required>
										<option v-bind:value="0" disabled="disabled">请选择来源</option>
										<option v-for="item in SelectList.SourceId.Data" v-bind:value="item.Id">{{item.Name}}</option>
									</select>-->
									<input type="text" placeholder="请选择来源" readonly="readonly" @click="OpenSelectDialog('选择来源',AssetList.ModelDialog.Model.SourceId,SelectList.SourceId.Data)" :value="AssetList.ModelDialog.Model.SourceName"/>
								</div>
								<div class="mui-input-row">
									<label>管理员</label>
									<input type="text" placeholder="管理员" v-model="AssetList.ModelDialog.Model.SessionName" disabled="disabled">
								</div>
								<div class="mui-input-row">
									<label>使用期限</label>
									<div class="mui-numbox" data-numbox-min='1' id="UsedMonth">
										<button class="mui-btn mui-numbox-btn-minus" type="button">-</button>
										<input class="mui-numbox-input" type="number">
										<button class="mui-btn mui-numbox-btn-plus" type="button">+</button>
									</div>
								</div>
								<div class="mui-input-row" style="height: auto;">
									<label>备注</label>
									<textarea placeholder="备注" v-model="AssetList.ModelDialog.Model.Note" rows="3" style="border: 1px solid #ACACB4;"></textarea>
								</div>
								<div class="mui-input-row">
									<label>上传</label>
									<input type="file" id="fileTag" accept="image/*" multiple size="1">
								</div>
								<div>
									<img :src="AssetList.ModelDialog.Model.PicPath" width="50%" height="50%" style="width: 30%;height: 30%;margin-left: 30%;" />
								</div>
							</div>
							<div id="item2mobile" class="mui-slider-item mui-control-content">
								<form class="mui-input-group">
									<div class="mui-input-row">
										<label>供应商</label>
										<!--<select v-model="AssetList.ModelDialog.Model.SupplierId" @change="updateSelectTextBind(SelectList.SupplierId.Data,AssetList.ModelDialog.Model.SupplierId,'AssetList.ModelDialog.Model.SupplierName')" required>
											<option v-bind:value="0" disabled="disabled">请选择供应商</option>
											<option v-for="item in SelectList.SupplierId.Data" v-bind:value="item.Id">{{item.Name}}</option>
										</select>-->
										<input type="text" placeholder="请选择供应商" readonly="readonly" @click="OpenSelectDialog('选择供应商',AssetList.ModelDialog.Model.SupplierId,SelectList.SupplierId.Data)" :value="AssetList.ModelDialog.Model.SupplierName"/>
									</div>
									<div class="mui-input-row">
										<label>联系人</label>
										<input type="text" placeholder="联系人" v-model="AssetList.ModelDialog.Model.Contract" required>
									</div>
									<div class="mui-input-row">
										<label>联系方式</label>
										<input type="tel" placeholder="联系方式" v-model="AssetList.ModelDialog.Model.ContractWay" required>
									</div>
									<div class="mui-input-row">
										<label>负责人</label>
										<input type="text" placeholder="负责人" v-model="AssetList.ModelDialog.Model.Director" required>
									</div>
									<div class="mui-input-row">
										<label>维保到期</label>
										<input id="ExpirationPickDateBtn" type="text" placeholder="维保到期" v-model="AssetList.ModelDialog.Model.EndDate" readonly="readonly">
									</div>
									<div class="mui-input-row">
										<label>管理员</label>
										<input type="text" placeholder="管理员" v-model="AssetList.ModelDialog.Model.SessionName" disabled="disabled">
									</div>
									<div class="mui-input-row" style="height: auto;">
										<label>维保说明</label>
										<textarea placeholder="维保说明" v-model="AssetList.ModelDialog.Model.Discription" rows="3" style="border: 1px solid #ACACB4;"></textarea>
									</div>
								</form>

							</div>
						</div>
						<!--<div style="text-align: center;margin: 0px auto;padding-bottom: 5px;">
							<button type="button" class="mui-btn mui-btn-primary" style="background-color: #1A96C9;border: none;border-radius: 5px;width: 100px;height: 40px;" @click="saveAssetDialog()">确认</button>
							<button type="button" class="mui-btn" style="background-color: #FB9708;border: none;border-radius: 5px;color: #FFFFFF;width: 100px;height: 40px;" @click="closeOther()">取消</button>
						</div>-->
					</div>
				</form>
					</div>
				</div>
			</div>

			<div id="SelectDialogId" class="mui-popover" style="border: none;height: 100%;width: 100%;position: fixed;border-radius: 0px;position: fixed;">
				<header class="mui-bar mui-bar-nav mui-bar-transparent" style="border-radius: 0px;">
					<a class="mui-icon mui-icon-left-nav mui-pull-left" style="color: #FFFFFF;" @click="CloseSelectDialog()"></a>
					<h1 id="title" class="mui-title">{{SelectDialog.Title}}</h1>
					<a class="mui-icon mui-icon-checkmarkempty mui-pull-right" style="color: #FFFFFF;font-size: 35px;font-weight: bold;" @click="SubmitSelect()"></a>
				</header>				
				<div class="mui-scroll-wrapper" style="margin-top: 50px;">
					<div class="mui-scroll">
				<div class="mui-input-row mui-search" style="margin: 10px;" v-if="SelectDialog.Title=='选择资产类别'">
					<input type="search" placeholder="请输入关键字" v-model="SeachText">
				</div>
						<div class="mui-input-row mui-radio mui-left" v-for="item in SelectDialog.Data" style="border-bottom: 1px solid #E4E4E4;margin-bottom: 5px;" v-if="SelectDialog.IsNoSecond && SelectDialog.Title!='选择资产类别'">
						    <label>{{item.Name}}</label>
						    <input name="radio1" type="radio" :value="item.Id" v-model="SelectDialog.Model">
						</div>
						 
						<div class="mui-input-row mui-radio mui-left" v-for="item in SelectDialog.Data" style="border-bottom: 1px solid #E4E4E4;margin-bottom: 5px;" v-if="!SelectDialog.IsNoSecond && SelectDialog.Title!='选择资产类别'">
						    <label><span v-html="getSpaceString(item.LayerIndex-1)"></span>{{SelectDialog.Title=="选择资产类别"?item.DisplayName : item.Name}}</label>
						    <input name="radio1" type="radio" :value="item.Id" v-model="SelectDialog.Model" :disabled="isDisabled(item,SelectDialog.Title)">
						</div>
						
						<div class="mui-input-row mui-radio mui-left" v-for="item in getSeachList()" style="border-bottom: 1px solid #E4E4E4;margin-bottom: 5px;" v-if="SelectDialog.Title=='选择资产类别'">
						    <label><span v-html="getSpaceString(item.LayerIndex-1)"></span>{{SelectDialog.Title=="选择资产类别"?item.DisplayName : item.Name}}</label>
						    <input name="radio1" type="radio" :value="item.Id" v-model="SelectDialog.Model" :disabled="isDisabled(item,SelectDialog.Title)">
						</div>
					</div>
				</div>
			</div>

			<div class="mui-content">
				<div class="mui-input-row mui-search" style="margin-top: 10px;">
					<input type="search" class="mui-input-clear" placeholder="请输入关键字" v-model="List.SearchModel.SearchText">
				</div>

				<div>
					<ul class="mui-table-view">
						<li class="mui-table-view-cell mui-collapse" v-for="(item,index) in List.Data">
							<a class="mui-navigate-right">
								{{item.Code}}
								<p>入库时间：{{getDate(item.StorageTime,true)}}</p>
								<p>入库人：{{item.SessionName}}</p>
								<P>创建时间：{{getDate(item.CreateTime,true)}}</p>
							</a>
							<div class="mui-collapse-content" style="margin: 0px auto;">
								<div style="width: 98%;background-color: #fff;border-radius: 10px;text-align: -moz-center;margin-bottom: 5px;" v-for="AssetItem in item.Assets">
									<div style="height: 60px;width: 100%;border-bottom: 1px solid #C0C0C0;" @click="automatic(AssetItem.Code)">
										<img :src="AssetItem.PicPath" width="30%" height="60px" style="float: left;" />
										<div style="width: 70%; height: 60px;float: left;margin: 0px auto;padding: 5px;">
											<p>资产条码：{{AssetItem.Code}}</p>
											<p>资产名称：{{AssetItem.Name}}</p>
										</div>
									</div>
									<div style="margin: 0px auto;padding-left: 10px;" v-if="IsOpen==AssetItem.Code">
										<p>资产类别：{{AssetItem.AssetTypeName}}</p>
										<p>规格型号：{{AssetItem.Model}}</p>
										<p>资产编码：{{AssetItem.SN}}</p>
										<p>计量单位：{{AssetItem.UnitName}}</p>
										<p>金额：￥{{AssetItem.Price}}</p>
										<p>使用单位：{{AssetItem.UsedCompanyName}}</p>
										<p>使用部门：{{AssetItem.UsedDepartmentName}}</p>
										<p>使用人：{{AssetItem.UsedEmployeeName}}</p>
										<p>区域：{{AssetItem.RegionName}}</p>
										<P>存放地点：{{AssetItem.StoredAddressName}}</p>
										<p>管理员：{{AssetItem.SessionName}}</p>
										<p>购入日期：{{getDate(AssetItem.BuyTime,true)}}</p>
										<p>供应商:{{AssetItem.SupplierName}}</p>
										<p>备注:{{AssetItem.Note}}</p>
										<p>使用期限:{{AssetItem.UsedMonth}}(月)</p>
										<p>来源:{{AssetItem.SourceName}}</p>
										</p>
									</div>
								</div>
							</div>
						</li>
					</ul>
					<div style="width: 100%; height: 40px;padding: 10px;text-align: center;" v-if="List.PageModel.TotalPage>0">
						<i class="mui-icon-extra mui-icon-extra-arrowleftcricle mui-pull-left" @click="function(){currentPage--;handlePageChange(currentPage,'List','PageIndex')}" v-if="currentPage!=1"></i>
						<label>{{currentPage}}/{{List.PageModel.TotalPage}}</label>
						<i class="mui-icon-extra mui-icon-extra-arrowrightcricle mui-pull-right" @click="function(){currentPage++;handlePageChange(currentPage,'List','PageIndex')}" v-if="currentPage<List.PageModel.TotalPage"></i>
					</div>
				</div>

				<div style="position: fixed;bottom:85px;right: 15px;" v-show="IsmenuShow">
					<div style="height: 60px;width: 60px;border-radius: 60px;text-align: center;background-color: #32CD32;margin-bottom: 5px;padding: 8px;" @click="jumpPage('Used')">
						<a target="_self" style="color: #FFFFFF;"><span style="font-size: 15px;color: #FFFFFF;font-weight: bold;">资产领用</span>
						</a>
					</div>

					<div style="height: 60px;width: 60px;border-radius: 60px;text-align: center;background-color: #32CD32;margin-bottom: 5px;padding: 8px;" @click="jumpPage('Borrow')">
						<a target="_self" style="color: #FFFFFF;"><span style="font-size: 15px;color: #FFFFFF;font-weight: bold;">资产借用</span>
						</a>
					</div>

					<div style="height: 60px;width: 60px;border-radius: 60px;text-align: center;background-color: #32CD32;margin-bottom: 5px;padding: 8px;" @click="jumpPage('Update')">
						<a target="_self" style="color: #FFFFFF;"><span style="font-size: 15px;color: #FFFFFF;font-weight: bold;">实物变更</span>
						</a>
					</div>

					<div style="height: 60px;width: 60px;border-radius: 60px;text-align: center;background-color: #32CD32;margin-bottom: 5px;padding: 8px;" @click="jumpPage('FinancialUpdate')">
						<a target="_self" style="color: #FFFFFF;"><span style="font-size: 15px;color: #FFFFFF;font-weight: bold;">财务变更</span>
						</a>
					</div>

					<div style="height: 60px;width: 60px;border-radius: 60px;text-align: center;background-color: #32CD32;margin-bottom: 5px;padding: 8px;" @click="jumpPage('Clear')">
						<a target="_self" style="color: #FFFFFF;"><span style="font-size: 15px;color: #FFFFFF;font-weight: bold;">清理报废</span>
						</a>
					</div>
				</div>

				<div style="height: 60px;width: 60px;position: fixed;bottom: 20px;right: 15px;border-radius: 60px;text-align: center;background-color: #32CD32;" @click="menuShow">
					<a target="_self" style="color: #FFFFFF;"><i id="Icon" class="mui-icon mui-icon-plusempty" style="font-size: 40px;color: #FFFFFF;padding-left: 1px;padding-top: 10px;"></i>
					</a>
				</div>
			</div>
		</div>

		</div>
	</body>
		<script src="../js/BaseHelper.js"></script>
	<script>
		mui.init({
				swipeBack: false //启用右滑关闭功能
			})
			(function($) { //这行报错  
				$(".mui-scroll-wrapper").scroll({
					//bounce: false,//滚动条是否有弹力默认是true  
					indicators: false, //是否显示滚动条,默认是true  
				});
			})(mui);

		function plusReady() { 
			readyFunction();
			// 确保DOM解析完成
			$('#fileTag').change(function(event) {
				//$ctrl.uploadFile = event.target.files[0];
				vue.addFile(event.target.files[event.target.files.length - 1]);
			});

			document.getElementById("ExpirationPickDateBtn").addEventListener('tap', function() {
				var dDate = new Date();
				dDate.setFullYear();
				var minDate = new Date();
				minDate.setFullYear();
				var maxDate = new Date();
				maxDate.setFullYear();
				plus.nativeUI.pickDate(function(e) {
					var d = e.date;
					vue.AssetList.ModelDialog.Model.EndDate = helper.format(d, "yyyy-MM-dd")
				}, function(e) {
					info.innerText = "您没有选择日期";
				}, {
					title: "请选择日期",
					date: dDate,
					minDate: minDate,
					maxDate: maxDate
				});
			})

			document.getElementById("pickDateBtn").addEventListener('tap', function() {
				var dDate = new Date();
				dDate.setFullYear();
				var minDate = new Date();
				minDate.setFullYear();
				var maxDate = new Date();
				maxDate.setFullYear();
				plus.nativeUI.pickDate(function(e) {
					var d = e.date;
					vue.List.ModelDialog.Model.StorageTime = helper.format(d, "yyyy-MM-dd")
				}, function(e) {
					info.innerText = "您没有选择日期";
				}, {
					title: "请选择日期",
					date: dDate,
					minDate: minDate,
					maxDate: maxDate
				});
			})

			document.getElementById("BuyTimePickDateBtn").addEventListener('tap', function() {
				var dDate = new Date();
				dDate.setFullYear();
				var minDate = new Date();
				minDate.setFullYear();
				var maxDate = new Date();
				maxDate.setFullYear();
				plus.nativeUI.pickDate(function(e) {
					var d = e.date;
					vue.AssetList.ModelDialog.Model.BuyTime = helper.format(d, "yyyy-MM-dd")
				}, function(e) {
					info.innerText = "您没有选择日期";
				}, {
					title: "请选择日期",
					date: dDate,
					minDate: minDate,
					maxDate: maxDate
				});
			})
		}
		if(window.plus) {
			plusReady();
		} else {
			document.addEventListener("plusready", plusReady, false);
		}
		// DOMContentloaded事件处理
		document.addEventListener("DOMContentLoaded", function() {
			plusReady();
		}, false);

		function getVueOptions() {
			return helper.getPageVueOptions("AssetStorage", getAssetStorageDto, {
				data: {
					SeachText:"",
					IsmenuShow: false,
					IsOpen: "",
					SelectList: {
						UsedDepartmentId: {
							Controller: "Department",
							Data: []
						},
						AllEmployeeId: {
							Controller: "Employee",
							Data: []
						},
						AllStoredAddressId: {
							Controller: "StoredAddress",
							SearchModel: {
								Id1: 1
							},
							Data: []
						},
						AssetTypeId: {
							Controller: "AssetType",
							Data: []
						},
						RegionId: {
							Controller: "Region",
							Data: []
						},
						UnitId: {
							Controller: "Unit",
							Data: []
						},
						SourceId: {
							Controller: "Source",
							Data: []
						},
						SupplierId: {
							Controller: "Supplier",
							Data: []
						}
					},
					SearchModel: {
						Code: {
							SearchText: ""
						}
					},
					AssetList: {
						ModelDialog: {
							IsAdd: true,
							Index: -1,
							Model: getAssetBaseDto(),
							Progress: [0],
							AssetInfoTab: "t1",
							Visible: false,
							Action: {
								Code: "/Asset/GetCode"
							}
						}
					},
					Dialog: {
						NewId: 1,
						DepartmentId: 0,
					},
					List: {
						PrintDialog: {
							Model: getAssetStorageDto(),
							Visible: false
						}
					},
					SelectDialog:{
						Title:"",
						Model:"",
						Data:[],
						IsNoSecond:true
					}		
				},
				computed: {
					TotalAmount: function() {
						return this.getTotalAmount(this.List.PrintDialog.Model.Assets);
					}
				},
				methods: {
					getSeachList:function(){
						return this.SelectList.AssetTypeId.Data.filter(this.filterNode);
					},
                    filterNode:function(value) {
                    	if(value.DisplayName.indexOf(this.SeachText) !== -1 || this.SeachText=="" || this.SeachText==null){
                    		return true;
                    	}
                    },
					CloseSelectDialog:function(){
						var _this=this;
						mui("#SelectDialogId").popover('hide');
						mui("#AssetModel").popover('show');
						
						_this.SelectDialog.IsNoSecond=true
					},
					OpenSelectDialog:function(title,model,data){
						var _this=this;
						if(title=="选择部门" || title=="选择资产类别"){
							_this.SelectDialog.IsNoSecond=false;
						};
						_this.SelectDialog.Title=title;
						_this.SelectDialog.Model=model;
						_this.SelectDialog.Data=data;
						mui("#SelectDialogId").popover('show');
					},
					SubmitSelect:function(){
						var _this=this;
						if(_this.SelectDialog.Title=="选择区域"){
							_this.AssetList.ModelDialog.Model.RegionId=_this.SelectDialog.Model;
							_this.AssetList.ModelDialog.Model.RegionName=_this.getItemName(_this.SelectList.RegionId.Data,_this.AssetList.ModelDialog.Model.RegionId);
						}else if(_this.SelectDialog.Title=="选择部门"){
								_this.AssetList.ModelDialog.Model.UsedDepartmentId=_this.SelectDialog.Model;
								_this.AssetList.ModelDialog.Model.UsedDepartmentName=_this.getItemName(_this.SelectList.UsedDepartmentId.Data,_this.AssetList.ModelDialog.Model.UsedDepartmentId);
								_this.handleDepartmentEditChange();
								_this.updateSelectTextBind(_this.SelectList.UsedDepartmentId.Data,_this.AssetList.ModelDialog.Model.UsedDepartmentId,'AssetList.ModelDialog.Model.UsedDepartmentName');								

						}else if(_this.SelectDialog.Title=="选择使用人"){
							_this.AssetList.ModelDialog.Model.UsedEmployeeId=_this.SelectDialog.Model;
							_this.AssetList.ModelDialog.Model.UsedEmployeeName=_this.getItemName(_this.SelectList.UsedEmployeeId.Data,_this.AssetList.ModelDialog.Model.UsedEmployeeId);							
						}else if(_this.SelectDialog.Title=="选择存放地点"){
							_this.AssetList.ModelDialog.Model.StoredAddressId=_this.SelectDialog.Model;
							_this.AssetList.ModelDialog.Model.StoredAddressName=_this.getItemName(_this.SelectList.StoredAddressId.Data,_this.AssetList.ModelDialog.Model.StoredAddressId);							
						}else if(_this.SelectDialog.Title=="选择资产类别"){
							_this.AssetList.ModelDialog.Model.AssetTypeId=_this.SelectDialog.Model;
							_this.AssetList.ModelDialog.Model.AssetTypeName=_this.getItemName(_this.SelectList.AssetTypeId.Dataa,_this.AssetList.ModelDialog.Model.AssetTypeId);
							_this.updateSelectTextBind(_this.SelectList.AssetTypeId.Data,_this.AssetList.ModelDialog.Model.AssetTypeId,'AssetList.ModelDialog.Model.AssetTypeName');
						}else if(_this.SelectDialog.Title=="选择计量单位"){
							_this.AssetList.ModelDialog.Model.UnitId=_this.SelectDialog.Model;
							_this.AssetList.ModelDialog.Model.UnitName=_this.getItemName(_this.SelectList.UnitId.Data,_this.AssetList.ModelDialog.Model.UnitId);							
						}else if(_this.SelectDialog.Title=="选择来源"){
							_this.AssetList.ModelDialog.Model.SourceId=_this.SelectDialog.Model;
							_this.AssetList.ModelDialog.Model.SourceName=_this.getItemName(_this.SelectList.SourceId.Data,_this.AssetList.ModelDialog.Model.SourceId);						
						}else if(_this.SelectDialog.Title=="选择供应商"){
							_this.AssetList.ModelDialog.Model.SupplierId=_this.SelectDialog.Model;
							_this.AssetList.ModelDialog.Model.SupplierName=_this.getItemName(_this.SelectList.SupplierId.Data,_this.AssetList.ModelDialog.Model.SupplierId);								
						}
						_this.CloseSelectDialog();
					},
					getItemName:function(List,Id){
						var Name="";
						mui.each(List,function(index,item){
							if(item.Id==Id){
								Name = item.Name;
							}
						});
						return Name;
					}, 
					jumpPage: function(page) {
						if(page == 'Used') {
							mui.openWindow({
								url: 'AssetUsed.html',
								id: 'AssetUsed',
								show:{  
								  autoShow:true,//页面loaded事件发生后自动显示，默认为true  
								  aniShow:'slide-in-right',//页面显示动画，默认为”slide-in-right“；  
								  duration:'1000'//页面动画持续时间，Android平台默认100毫秒，iOS平台默认200毫秒；  
								},
								createNew:true
							});
						} else if(page == 'Borrow') {
							mui.openWindow({
								url: 'AssetBorrow.html',
								id: 'AssetBorrow',
								createNew:true,
								show:{  
								  autoShow:true,//页面loaded事件发生后自动显示，默认为true  
								  aniShow:'slide-in-right',//页面显示动画，默认为”slide-in-right“；  
								  duration:'1000'//页面动画持续时间，Android平台默认100毫秒，iOS平台默认200毫秒；  
								}
							});
						} else if(page == 'Update') {
							mui.openWindow({
								url: 'AssetUpdate.html',
								id: 'AssetUpdate',
								createNew:true,
								show:{  
								  autoShow:true,//页面loaded事件发生后自动显示，默认为true  
								  aniShow:'slide-in-right',//页面显示动画，默认为”slide-in-right“；  
								  duration:'1000'//页面动画持续时间，Android平台默认100毫秒，iOS平台默认200毫秒；  
								}
							});
						} else if(page == 'FinancialUpdate') {
							mui.openWindow({
								url: 'AssetFinancialUpdate.html',
								id: 'AssetFinancialUpdate',
								createNew:true,
								show:{  
								  autoShow:true,//页面loaded事件发生后自动显示，默认为true  
								  aniShow:'slide-in-right',//页面显示动画，默认为”slide-in-right“；  
								  duration:'1000'//页面动画持续时间，Android平台默认100毫秒，iOS平台默认200毫秒；  
								}
							});
						} else if(page == 'Clear') {
							mui.openWindow({
								url: 'AssetClear.html',
								id: 'AssetClear',
								createNew:true,
								show:{  
								  autoShow:true,//页面loaded事件发生后自动显示，默认为true  
								  aniShow:'slide-in-right',//页面显示动画，默认为”slide-in-right“；  
								  duration:'1000'//页面动画持续时间，Android平台默认100毫秒，iOS平台默认200毫秒；  
								}
							});
						}
					},
					menuShow: function() {
						var _this = this;
						if(_this.IsmenuShow) {
							_this.IsmenuShow = false;
							$("#Icon").attr("class", "mui-icon mui-icon-plusempty");
						} else {
							_this.IsmenuShow = true;
							$("#Icon").attr("class", "mui-icon mui-icon-closeempty");
						}
					},
					getCodeSearchModel: function(cmd) {
						switch(cmd) {
							case "AssetList.ModelDialog":
								this.SearchModel.Code.SearchText = this.getSearchText(this.List.ModelDialog.Model.Assets, o => o.Id == 0 ? o
									.Code : "");
								break;
							default:
								this.SearchModel.Code.SearchText = "";
								break;
						}
						return this.SearchModel.Code;
					},
					handleDepartmentEditChange: function() {
						this.handleDepartmentChange("AssetList.ModelDialog", this.AssetList.ModelDialog.Model.UsedDepartmentId);
					},

					editAssetDialog: function(index, model) {
						this.AssetList.ModelDialog.Index = index;
						var bIsAdd = (index == -1);
						this.AssetList.ModelDialog.IsAdd = bIsAdd;
						if(model == null) {
							model = getAssetBaseDto();
						} else {
							model = _.cloneDeep(model);
							this.getEmployeeCacheList(model.UsedDepartmentId);
							this.getStoredAddressCacheList(model.UsedDepartmentId);
						}

						if(bIsAdd) {
							helper.setModelField(model);
							helper.setModelField(model, "AssetItemStatuses", []);
							helper.setModelField(model, "AssetStorageId");
							helper.setModelField(model.AssetOtherInfos);
							helper.setModelField(model.AssetOtherInfos, "AssetId");
							model.Code = "";
							this.handleSpecialRule(this.AssetList.ModelDialog.Action, model, "AssetList.ModelDialog");
						}
						this.AssetList.ModelDialog.Model = model;
						this.AssetList.ModelDialog.AssetInfoTab = "t1";
						this.AssetList.ModelDialog.Visible = true;
						mui("#AssetModel").popover('show');
						mui("#DefaultModel").popover('hide');
						this.resetForm("AssetList.ModelDialog", model);
					},
					saveAssetDialog: function() {
						var _this = this;
						var formName = "AssetList.ModelDialog";
						if(_this.AssetList.ModelDialog.Model.AssetTypeId == 0) {
							helper.alert("请选择资产类别");
							return;
						}

						if(_this.AssetList.ModelDialog.Model.UnitId == 0) {
							helper.alert("请选择计量单位");
							return;
						}

						if(_this.AssetList.ModelDialog.Model.RegionId == 0) {
							helper.alert("请选择区域");
							return;
						}

						if(_this.AssetList.ModelDialog.Model.UsedDepartmentId == 0) {
							helper.alert("请选择部门");
							return;
						}

						if(_this.AssetList.ModelDialog.Model.UsedEmployeeId == 0) {
							helper.alert("请选择使用人");
							return;
						}

						if(_this.AssetList.ModelDialog.Model.StoredAddressId == 0) {
							helper.alert("请选择存放地点");
							return;
						}

						if(_this.AssetList.ModelDialog.Model.SourceId == 0) {
							helper.alert("请选择来源");
							return;
						}

						if(_this.AssetList.ModelDialog.Model.SupplierId == 0) {
							helper.alert("请选择供应商");
							return;
						}
						_this.validateForm(formName, function() {
							var Total = mui('#Total').numbox().getValue();
							var Price = mui('#Price').numbox().getValue();
							var UsedMonth = mui('#UsedMonth').numbox().getValue();
							_this.AssetList.ModelDialog.Model.Total = Total;
							_this.AssetList.ModelDialog.Model.Price = Price;
							_this.AssetList.ModelDialog.Model.UsedMonth = UsedMonth;
							var model = _.cloneDeep(_this.AssetList.ModelDialog.Model);
							if(_this.AssetList.ModelDialog.IsAdd) {
								_this.List.ModelDialog.Model.Assets.push(model);

							} else {
								Vue.set(_this.List.ModelDialog.Model.Assets, _this.AssetList.ModelDialog.Index, model);
							}
							_this.closeOther();
							_this.resetForm(formName, model);
						});
					},
					addAssetOtherInfo: function() {
						this.AssetList.ModelDialog.Model.AssetOtherInfos.push(getAssetOtherInfoDto());
					},
					preImportCallback: function(table, data) {
						var _this = this;
						_.each(data, function(item) {
							var assetDto = getAssetBaseDto();
							helper.update(assetDto, item);
							helper.update(assetDto, {
								AssetTypeName: _this.getItemValue(_this.SelectList.AssetTypeId.Data, item.AssetTypeId),
								UnitName: _this.getItemValue(_this.SelectList.UnitId.Data, item.UnitId),
								UsedCompanyName: _this.getItemValue(_this.SelectList.UsedDepartmentId.Data, item.UsedCompanyId),
								UsedDepartmentName: _this.getItemValue(_this.SelectList.UsedDepartmentId.Data, item.UsedDepartmentId),
								UsedEmployeeName: _this.getItemValue(_this.SelectList.AllEmployeeId.Data, item.UsedEmployeeId),
								SessionName: session.UserName,
								RegionName: _this.getItemValue(_this.SelectList.RegionId.Data, item.RegionId),
								StoredAddressName: _this.getItemValue(_this.SelectList.AllStoredAddressId.Data, item.StoredAddressId),
								SourceName: _this.getItemValue(_this.SelectList.SourceId.Data, item.SourceId),
								SupplierName: _this.getItemValue(_this.SelectList.SupplierId.Data, item.SupplierId)
							});
							_this.List.ModelDialog.Model.Assets.push(assetDto);
						});
					},
					automatic: function(Value) {
						var _this = this;
						_this.IsOpen = Value;
					},
					getImagePice: function(value) {
						console.log(helper.default.ApiBaseUrl + value);
						return helper.default.ApiBaseUrl + value;
					},
					closeOther: function() {
						var _this = this;
						mui("#AssetModel").popover('hide');
						mui("#DefaultModel").popover('show');
						_this.resetForm("AssetList.ModelDialog");
					},
					addFile: function(File) {
						var _this = this;
						var mainForm = new FormData();
						mainForm.append(File.name, File, File.name);
						var submitClickAjax = $.ajax({
							type: "post",
							data: mainForm,
							dataType: "json",
							url: ApiUrl + "/Api/Upload/Asset",
							cache: true,
							contentType: false, //不设置内容类型  
							processData: false, //不处理数据 
							headers: {
								'Authorization': 'bearer ' + localStorage.getItem('access_token'),
							},
							success: function(response) {
								_this.AssetList.ModelDialog.Model.PicPath = response.Data;
							},
							error: function(response) {
								$('#fileTag')[0].value = null;
								mui.toast('照片大小超过了最大的请求长度，请重试！');
							}
						});

					}
				}
			})
		}
			var vue = new Vue(getVueOptions());
	</script>

</html>