<!DOCTYPE HTML>
<html>

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta name="HandheldFriendly" content="true" />
	<meta name="MobileOptimized" content="320" />
	<title>Hello H5+</title>
	<link href="../css/mui.min.css" rel="stylesheet" />
	<link href="../css/common.css" rel="stylesheet" />
	<script src="../js/jquery-1.10.2.min.js"></script>
	<script src="../js/mui.min.js"></script>
	<link rel="stylesheet" href="../css/icons-extra.css">
	<script src="../js/vue.js"></script>
	<script src="../js/BaseHelper.js"></script>
	<script src="../js/ModelDto.js"></script>
	<script src="../js/lodash.min.js"></script>
	<script src="../js/vue.jerry.helper.web.js"></script>
	<script type="text/javascript" src="../js/common.js"></script>
	<link rel="stylesheet" href="../css/printCss/common.css" type="text/css" charset="utf-8" />
	<script type="text/javascript" src="../js/printJs/common.js"></script>
	<script type="text/javascript" src="../js/printJs/LPAPIPlugin.js"></script>
	<script type="text/javascript" src="../js/printJs/printer.js"></script>
	<style>
			html,
			body {
				background-color: #E4E4E4;
			}

			.mui-popover {
				position: fixed;
				width: 90%;
				height: 100%;
				left: 50%;
				top: 50%;
				margin: 0 auto;
				z-index: 10000;
				background-color: #fff;
				-webkit-transform: translateX(-50%) translateY(-50%);
				-moz-transform: translateX(-50%) translateY(-50%);
				-ms-transform: translateX(-50%) translateY(-50%);
				transform: translateX(-50%) translateY(-50%);
			}

			input[type="text"],
			input[type="tel"] {
				text-align: right !important;
			}
		</style>

	<link rel="stylesheet" href="css/common.css" type="text/css" charset="utf-8" />
</head>

<body>
<div id="JerryPlatApp" v-cloak>
	<header class="mui-bar mui-bar-nav mui-bar-transparent">
		<!--			<div class="nvbt iback" onclick="back()"></div>-->
		<a class="mui-icon mui-icon-bars mui-pull-left" onclick="showSide()" style="color: #FFFFFF;"></a>
		<h1 id="title" class="mui-title">资产清单</h1>
	</header>
	<div style="position: fixed;bottom:85px;right: 15px;z-index: 10;" v-show="IsmenuShow">
		<div style="height: 60px;width: 60px;border-radius: 60px;text-align: center;background-color: #32CD32;margin-bottom: 5px;padding: 8px;line-height: 45px;" @click="handleLabelPrint">
			<a target="_self" style="color: #FFFFFF;"><span style="font-size: 15px;color: #FFFFFF;font-weight: bold;">打印</span>
			</a>
		</div>
	</div>

	<div style="height: 60px;width: 60px;position: fixed;bottom: 20px;right: 15px;border-radius: 60px;text-align: center;background-color: #32CD32;z-index: 10;" @click="menuShow">
		<a target="_self" style="color: #FFFFFF;"><i id="Icon" class="mui-icon mui-icon-plusempty" style="font-size: 40px;color: #FFFFFF;padding-left: 1px;padding-top: 10px;"></i>
		</a>
	</div>

	<div id="DefaultModel" class="mui-popover" style="border: 1px solid #1A96C9;height: 100%;width: 100%;">
		<div class="mui-scroll-wrapper" style="margin: 0px; padding: 0px;">
			<div class="mui-scroll">
				<div style="width: 100%;height: 30px;background-color:#1A96C9 !important;margin: 0px;padding-left: 10px;color: #FFFFFF;font-size: 20px;line-height: 28px;">
					<label>资产处理记录</label>
				</div>
				<div class="mui-input-group">
					<div class="mui-input-row">
						<label>资产条码</label>
						<label class="beyondText">{{List.ModelDialog.Model.Code}}</label>
					</div>
					<div class="mui-input-row">
						<label>资产名称</label>
						<label class="beyondText">{{List.ModelDialog.Model.Name}}</label>
					</div>

					<div class="mui-input-row">
						<label>资产类别</label>
						<label class="beyondText">{{List.ModelDialog.Model.AssetTypeName}}</label>
					</div>

					<div class="mui-input-row">
						<label>规格型号</label>
						<label class="beyondText">{{List.ModelDialog.Model.Model}}</label>
					</div>
					<div class="mui-input-row">
						<label>购入时间</label>
						<label class="beyondText">{{getDate(List.ModelDialog.Model.BuyTime,true)}}</label>
					</div>
				</div>
				<div style="width: 98%;background-color: #fff;border-radius: 10px;text-align: -moz-center;margin-top: 5px;border: 1px solid #EEEEEE;"
					 v-for="(AssetItem,index) in RecordList.Data">
					<p>处理日期:{{getDate(AssetItem.CreateTime)}}</p>
					<p>处理方式:{{getItemValue(SelectList.OperationType.Data,AssetItem.OperationType)}}:{{AssetItem.Code}}</p>
					<p>处理人:{{AssetItem.SessionName}}</p>
					<p>处理内容:{{AssetItem.Description}}</p>
				</div>
				<div class="mui-button-row">
					<button type="button" class="mui-btn mui-col-sm-5 mui-col-xs-5" style="background-color: #FB9708;border: none;border-radius: 5px;color: #FFFFFF;"
							@click="closeDialog('RecordList.ModelDialog')">确认</button>
					<button type="button" class="mui-btn mui-col-sm-5 mui-col-xs-5" style="background-color: #1A96C9;border: none;border-radius: 5px;color: #FFFFFF;"
							@click="handleLabelDetailsPrint()">打印</button>
				</div>
			</div>
		</div>
	</div>

	<div class="mui-content" style="margin-top: 3px;" id="ListId">
		<div style="height: 53px;">
			<div class="mui-input-row mui-search" style="margin-top: 6px;width: 90%;float: left;">
				<input type="search" placeholder="请输入关键字" v-model="List.SearchModel.SearchText" id="SearchTest">
			</div>
			<i class="mui-icon-extra mui-icon-extra-sweep" style="width: 5%;margin-top: 10px;margin-left: 6px;" onclick="openBarcode()"></i>
		</div>

		<div style="width: 98%;background-color: #fff;border-radius: 10px;text-align: -moz-center;margin: 5px;border: 1px solid #E4E4E4;overflow: hidden;padding: 5px;"
		 v-for="AssetItem in List.Data">
			<div style="height: 65px;width: 100%;">
				<div style="height: 60px;float: left;">
					<img :src="AssetItem.PicPath" width="60px" height="60px" @click="automatic(AssetItem.Code)"/>
				</div>
				<div style="width: 60%; height: 60px;float: left;margin: 0px auto;padding: 5px;">
					<p>资产条码：{{AssetItem.Code}}</p>
					<p>资产名称：{{AssetItem.Name}}</p>
				</div>
				<div style="width: 10%; height: 60px;float: right;margin: 0px auto;padding: 5px;">
					<input type="checkbox" @change="ChangeItem(AssetItem)" :checked="IsCheckBox(AssetItem)"/>
				</div>
			</div>


			<div style="margin: 0px auto;padding-left: 10px;border-top: 1px solid #C0C0C0;" v-if="IsOpen==AssetItem.Code">
				<p>资产类别：{{AssetItem.AssetTypeName}}</p>
				<p>规格型号：{{AssetItem.Model}}</p>
				<p>资产编码：{{AssetItem.SN}}</p>
				<p>计量单位：{{AssetItem.UnitName}}</p>
				<p>金额：￥{{AssetItem.Price}}</p>
				<p>使用单位：{{AssetItem.UsedCompanyName}}</p>
				<p>使用部门：{{AssetItem.UsedDepartmentName}}</p>
				<p>使用人：{{AssetItem.UsedEmployeeName}}</p>
				<p>区域：{{AssetItem.RegionName}}</p>
				<p>存放地点：{{AssetItem.StoredAddressName}}</p>
				<p>管理员：{{AssetItem.SessionName}}</p>
				<p>购入日期：{{getDate(AssetItem.BuyTime,true)}}</p>
				<p>供应商:{{AssetItem.SupplierName}}</p>
				<p>备注:{{AssetItem.Note}}</p>
				<p>使用期限:{{AssetItem.UsedMonth}}(月)</p>
				<p>来源:{{AssetItem.SourceName}}</p>
				<p><button class="mui-btn mui-btn-success" style="width: 100%;padding-right: 10px;" @click="handleOpenRecordDialog(AssetItem)">查看处理记录</button></p>
			</div>
		</div>

		<div style="width: 100%; height: 40px;padding: 10px;text-align: center;" v-if="List.PageModel.TotalPage>0">
			<i class="mui-icon-extra mui-icon-extra-arrowleftcricle mui-pull-left" @click="function(){currentPage--;handlePageChange(currentPage,'List','PageIndex')}"
			   v-if="currentPage!=1"></i>
			<label>{{currentPage}}/{{List.PageModel.TotalPage}}</label>
			<i class="mui-icon-extra mui-icon-extra-arrowrightcricle mui-pull-right" @click="function(){currentPage++;handlePageChange(currentPage,'List','PageIndex')}"
			   v-if="currentPage<List.PageModel.TotalPage"></i>
		</div>

	</div>
</div>
</body>
<script>
		mui.init({
				swipeBack: false //启用右滑关闭功能
			})
			(function($) { //这行报错
				$(".mui-scroll-wrapper").scroll({
					//bounce: false,//滚动条是否有弹力默认是true
					indicators: true, //是否显示滚动条,默认是true
				});
			})(mui);
		// 打开二维码扫描界面
		function openBarcode() {
			createWithoutTitle('barcode_scan.html', {
				titleNView: {
					type: 'float',
					backgroundColor: 'rgba(215,75,40,0.3)',
					titleText: '扫一扫',
					titleColor: '#FFFFFF',
					autoBackButton: true,
				}
			});
		}

		function scaned(t, r, f) {
			document.getElementById("SearchTest").focus();
			vue.List.SearchModel.SearchText = r;
		}

		function plusReady() {
			readyFunction();
			var wv = plus.webview.currentWebview();
			// 关闭侧滑返回功能
			wv.setStyle({
				'popGesture': 'none'
			});
		}
		if (window.plus) {
			plusReady();
		} else {
			document.addEventListener("plusready", plusReady, false);
		}
		// DOMContentloaded事件处理
		document.addEventListener("DOMContentLoaded", function() {
			plusReady();
		}, false);

		function getVueOptions() {
			return helper.getPageVueOptions("AssetReport", getAssetDto, {
				data: {
					IsOpen: "",
					IsmenuShow: false,
					CheckBoxList:[],
					List: {
						Action: {
							View: "/AssetReport/GetAssetReport",
							Export: "/AssetReport/ExportAssetReport"
						},
						PrintDialog: {
							Visible: false
						}
					},
					RecordList: helper.getInitList(null, {
						Action: {
							View: "/AssetReport/GetAssetOperationRecord"
						}
					}, "AssetReport"),
					SelectList: {
						OperationType: {
							Data: getOperationType()
						},
						AssetLabel: {
							Controller: "AssetLabel",
							Data: [],
							SearchModel: {
								Id: 1
							}
						},
						UsedDepartmentId: {
							Controller: "Department",
							Data: []
						},
						AssetTypeId: {
							Controller: "AssetType",
							Data: []
						}
					},
				},
				watch: getSearchModelWatchList([{
						TableName: "List",
						InitEvent: function() {
							this.getPageList("List");
						},
						IgnoreList: ["Id1", "Id2", "Id3"]
					},
					{
						TableName: "RecordList",
						InitEvent: function() {
							this.getPageList("RecordList");
						}
					}
				]),
				computed: {
					AssetUsedLableTemplate: function() {
						var aryTemplate = _.filter(this.SelectList.AssetLabel.Data, o => o.IsDefaultUsed);
						if (aryTemplate.length == 0) {
							return null;
						}
						return aryTemplate[0];
					},
					AssetLabelTemplate: function() {
						if (this.AssetUsedLableTemplate == null) {
							return getAssetLabelDto();
						}
						return this.AssetUsedLableTemplate;
					},
					AssetLabelWidth: function() {
						return this.AssetLabelTemplate.Width;
					},
					AssetLabelHeight: function() {
						return this.AssetLabelTemplate.Height;
					}
				},
				methods: {
					IsCheckBox: function(Model) {
						var _this = this;
						if(_this.CheckBoxList.indexOf(Model) > -1) {
							return true;
						} else {
							return false;
						}
					},
					ChangeItem: function(Model) {
						var _this = this;
						if(_this.CheckBoxList.indexOf(Model) > -1) {
							_this.CheckBoxList.splice(_this.CheckBoxList.indexOf(Model), 1)
						} else {
							_this.CheckBoxList.push(Model);
						};
					},
					menuShow: function() {
						var _this = this;
						if(_this.IsmenuShow) {
							_this.IsmenuShow = false;
							$("#Icon").attr("class", "mui-icon mui-icon-plusempty");
						} else {
							_this.IsmenuShow = true;
							$("#Icon").attr("class", "mui-icon mui-icon-closeempty");
						}
					},
					automatic: function(Value) {
						var _this = this;
						_this.IsOpen = Value;
					},
					handlePageDepartmentChange: function(value) {
						var row = this.getArrayItem(this.SelectList.UsedDepartmentId.Data, value);
						if (value == 0 || row == null || this.isCompany(row)) {
							this.List.SearchModel.Id1 = value;
							this.List.SearchModel.Id2 = 0;
						} else {
							this.List.SearchModel.Id1 = 0;
							this.List.SearchModel.Id2 = value;
						}
						this.getPageList("List");
					},
					handleOpenRecordDialog: function(row) {
						if (this.RecordList.SearchModel.Id != row.Id) {
							helper.resetPage("RecordList");
							this.RecordList.SearchModel.Id = row.Id;
						}
						this.handleOpenDialog(row, this.List.ModelDialog);
					},
					handleOpenLabelDialog: function() {
						if (!this.isMultipleSelection("List")) {
							return;
						}
						if (this.AssetUsedLableTemplate == null) {
							helper.alert("请先去标签模板页面设置使用的模板。");
							return;
						}
						this.handleOpenDialog(null, this.List.PrintDialog);
					},
					handleLabelPrint() {
						//if (!this.customizePrinter) {
						//    this.handlePrint('printLable');
						//    return;
						//}
						if (this.CheckBoxList.length<=0) {
							helper.alert("请选择资产");
							return;
						}
						if (this.AssetUsedLableTemplate == null) {
							helper.alert("请先去标签模板页面设置使用的模板。");
							return;
						}
						this.CheckBoxList.forEach(asset => {
							assetPrinter(asset, this.AssetLabelTemplate);
						});
						this.CheckBoxList=[];
						_this.IsmenuShow = false;
					},
					handleLabelDetailsPrint() {
						assetPrinter(this.List.ModelDialog.Model, this.AssetLabelTemplate);
					}
				}
			});
		}
		var vue = new Vue(getVueOptions());
	</script>

</html>
