<!DOCTYPE HTML>
<html>

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta name="HandheldFriendly" content="true" />
		<meta name="MobileOptimized" content="320" />
		<title>Hello H5+</title>
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link href="../css/common.css" rel="stylesheet" />
		<script src="../js/jquery-1.10.2.min.js"></script>
		<script src="../js/mui.min.js"></script>
		<link rel="stylesheet" href="../css/icons-extra.css">
		<script src="../js/vue.js"></script>
		<script src="../js/BaseHelper.js"></script>
		<script src="../js/ModelDto.js"></script>
		<script src="../js/lodash.min.js"></script>
		<script src="../js/vue.jerry.helper.web.js"></script>
		<script type="text/javascript" src="../js/common.js"></script>
		<style>
			html,
			body {
				background-color: #E4E4E4;
			}
			input[type="text"],input[type="tel"] {
				text-align: right !important;
			}			
		</style>

	</head>

	<body>
		<div id="JerryPlatApp" v-cloak>
			<header class="mui-bar mui-bar-nav mui-bar-transparent">
				<!--			<div class="nvbt iback" onclick="back()"></div>-->
				<a class="mui-icon mui-icon-bars mui-pull-left" onclick="showSide()" style="color: #FFFFFF;"></a>
				<h1 id="title" class="mui-title">实物信息变更</h1>
				<a class="mui-icon mui-icon-plusempty mui-pull-right" style="color: #FFFFFF;" @click="handleAdd('List.ModelDialog',resetSelectedAsset)"></a>
			</header>

			<div id="DefaultModel" class="mui-popover" style="border: none;height: 100%;border-radius: 0px;width: 100%;">
				<header class="mui-bar mui-bar-nav mui-bar-transparent" style="border-radius: 0px;">
					<a class="mui-icon mui-icon-left-nav mui-pull-left" style="color: #FFFFFF;" @click="closeDialog('List.ModelDialog')"></a>
					<h1 id="title" class="mui-title">添加实物变更</h1>
					<a class="mui-icon mui-icon-checkmarkempty mui-pull-right" style="color: #FFFFFF;font-size: 35px;font-weight: bold;" @click="submitForm('List.ModelDialog', handleSave,initPage,'/AssetUsed/Add')"></a>
				</header>				
				<div class="mui-scroll-wrapper" style="margin-top: 50px;">
					<div class="mui-scroll">
						<form class="mui-input-group" ref="List.ModelDialog">
							<div class="mui-input-row">
								<label>变更单号</label>
								<input type="text" placeholder="变更单号" v-model="List.ModelDialog.Model.Code" disabled="disabled">
							</div>
							<div class="mui-input-row">
								<label>变更时间</label>
								<input id="CreateTimeDateBtn" type="text" placeholder="变更时间" v-model="List.ModelDialog.Model.CreateTime" readonly="readonly">
							</div>

							<div class="mui-input-row" style="height: 50px;">
								<label>变更部门</label>
								<!--<select v-model="List.ModelDialog.Model.UsedDepartmentId" @change="function(){handleAssetUpdateDepartmentEditChange();updateSelectTextBind(SelectList.UsedDepartmentId.Data,List.ModelDialog.Model.UsedDepartmentId,'List.ModelDialog.Model.UsedDepartmentName');}" required>
									<option v-bind:value="0" disabled="disabled">请选择使用部门</option>
									<option v-for="item in SelectList.UsedDepartmentId.Data" v-bind:value="item.Id" :disabled="item.Id==1">{{item.Name}}</option>
								</select>-->
								<input type="text" placeholder="请选择变更部门" readonly="readonly" @click="OpenSelectDialog('选择部门',List.ModelDialog.Model.UsedDepartmentId,SelectList.UsedDepartmentId.Data,'List')" :value="List.ModelDialog.Model.UsedDepartmentName"/>
							</div>
							<div class="mui-input-row" style="height: 50px;">
								<label>变更人</label>
								<!--<select v-model="List.ModelDialog.Model.UsedEmployeeId" @change="" required>
									<option v-bind:value="0" disabled="disabled">请选择变更人</option>
									<option v-for="item in SelectList.UsedEmployeeId.Data" v-bind:value="item.Id">{{item.Name}}</option>
								</select>-->
								<input type="text" placeholder="请选择变更人" readonly="readonly" @click="OpenSelectDialog('选择变更人',List.ModelDialog.Model.UsedEmployeeId,SelectList.UsedEmployeeId.Data,'List')" :value="List.ModelDialog.Model.UsedEmployeeName"/>
							</div>

							<div class="mui-input-row" style="height: auto;">
								<label>变更说明</label>
								<textarea placeholder="变更说明" v-model="List.ModelDialog.Model.Description" rows="3" style="border: 1px solid #ACACB4;"></textarea>
							</div>

							<div class="mui-input-row">
								<label>资产详情</label>
								<a class="mui-btn mui-btn-success" style="float:left;width: 100px;" @click="selectAssets(-1,List.ModelDialog.Model.AssetUpdateItems,getAssetUpdateItemDto,assetUniqueCallback)">选择资产</a>
							</div>
						</form>
						<div style="width: 98%;background-color: #fff;border-radius: 10px;text-align: -moz-center;margin-bottom: 5px;" v-for="(AssetItem,index) in List.ModelDialog.Model.AssetUpdateItems">
							<div style="height: 60px;width: 100%;border-bottom: 1px solid #C0C0C0;">
								<img :src="AssetItem.PicPath" width="30%" height="60px" style="float: left;" />
								<div style="width: 70%; height: 60px;float: left;margin: 0px auto;padding: 5px;" @click="automatic(AssetItem.Code)">
									<p>资产条码：{{AssetItem.Asset.Code}}</p>
									<p>资产名称：{{AssetItem.Name}}</p>
								</div>
							</div>

							<div style="margin: 0px auto;padding-left: 10px;" v-if="IsOpen==AssetItem.Code">
								<p>资产类别：{{AssetItem.AssetTypeName}}</p>
								<p>规格型号：{{AssetItem.Model}}</p>
								<p>资产编码：{{AssetItem.SN}}</p>
								<p>金额：￥{{AssetItem.Asset.Price}}</p>
								<P>数量：{{AssetItem.Asset.Total}}</p>
								<p>
									<button type="button" class="mui-btn mui-btn-primary" @click="editAssetDialog(index,AssetItem)">更新</button>
									<button type="button" class="mui-btn mui-btn-danger" @click="function(){handleDeleteRow(index,List.ModelDialog.Model.AssetUpdateItems);handleDeleteRow(index,SelectedAssetList.SelectedAssetList);}">取消</button>
								</p>
							</div>
						</div>
						<!--<div style="text-align: center;margin: 0px auto;padding-bottom: 5px;">
							<button type="button" class="mui-btn mui-btn-primary" style="background-color: #1A96C9;border: none;border-radius: 5px;width: 100px;height: 40px;" @click="submitForm('List.ModelDialog', handleSave,initPage,'/AssetUsed/Add')">确认</button>
							<button type="button" class="mui-btn" style="background-color: #FB9708;border: none;border-radius: 5px;color: #FFFFFF;width: 100px;height: 40px;" @click="closeDialog('List.ModelDialog')">取消</button>
						</div>-->
					</div>
				</div>
			</div>

			<div id="AssetListModel" class="mui-popover" style="border: none;height: 100%;border-radius: 0px;width: 100%;">
				<header class="mui-bar mui-bar-nav mui-bar-transparent" style="border-radius: 0px;">
					<a class="mui-icon mui-icon-left-nav mui-pull-left" style="color: #FFFFFF;" @click="CloseAssetDialog()"></a>
					<h1 id="title" class="mui-title">选择资产</h1>
					<a class="mui-icon mui-icon-checkmarkempty mui-pull-right" style="color: #FFFFFF;font-size: 35px;font-weight: bold;" @click="saveSelectedAssetDialog()"></a>
				</header>
				<div class="mui-scroll-wrapper" style="margin-top: 50px;">
					<div class="mui-scroll">
						<div style="height: 53px;">
							<div class="mui-input-row mui-search" style="margin-top: 6px;width: 90%;float: left;">
								<input type="search" class="mui-input-clear" placeholder="请输入关键字" v-model="SelectedAssetList.SearchModel.SearchText" id="SearchTest">
							</div>
							<i class="mui-icon-extra mui-icon-extra-sweep" style="width: 5%;margin-top: 10px;margin-left: 6px;" onclick="openBarcode()"></i>
						</div>
						<div style="width: 98%;background-color: #fff;border-radius: 10px;text-align: -moz-center;margin-bottom: 5px;" v-for="(AssetItem,index) in SelectedAssetList.Data">
							<div style="height: 60px;width: 100%;border-bottom: 1px solid #C0C0C0;">
								<img :src="AssetItem.AssetItemStatus.Asset.PicPath" width="30%" height="60px" style="float: left;" />
								<div style="width: 60%; height: 60px;float: left;margin: 0px auto;padding: 5px;" @click="automatic(AssetItem.AssetItemStatus.Asset.Code)">
									<p>资产条码：{{AssetItem.AssetItemStatus.Asset.Code}}</p>
									<p>资产名称：{{AssetItem.AssetItemStatus.Asset.Name}}</p>
								</div>
								<div style="width: 10%; height: 60px;float: left;margin: 0px auto;padding: 5px;">
									<input type="checkbox" @change="ChangeItem(AssetItem)" :checked="IsCheckBox(AssetItem.Id)" />
								</div>
							</div>

							<div style="margin: 0px auto;padding-left: 10px;" v-if="IsOpen==AssetItem.AssetItemStatus.Asset.Code">
								<p>资产类别：{{AssetItem.AssetItemStatus.Asset.AssetTypeName}}</p>
								<p>规格型号：{{AssetItem.AssetItemStatus.Asset.Model}}</p>
								<p>资产编码：{{AssetItem.AssetItemStatus.Asset.SN}}</p>
								<p>金额：￥{{AssetItem.AssetItemStatus.Asset.Price}}</p>
								<P>数量：{{AssetItem.Total}}</p>

							</div>
						</div>

						<div style="width: 100%; height: 60px;padding: 10px;text-align: center;" v-if="SelectedAssetList.PageModel.TotalPage>0">
							<i class="mui-icon-extra mui-icon-extra-arrowleftcricle mui-pull-left" @click="function(){AssetCurrentIndex--;handlePageChange(AssetCurrentIndex,'SelectedAssetList','PageIndex')}" v-if="AssetCurrentIndex!=1"></i>
							<label>{{AssetCurrentIndex}}/{{SelectedAssetList.PageModel.TotalPage}}</label>
							<i class="mui-icon-extra mui-icon-extra-arrowrightcricle mui-pull-right" @click="function(){AssetCurrentIndex++;handlePageChange(AssetCurrentIndex,'SelectedAssetList','PageIndex')}" v-if="AssetCurrentIndex<SelectedAssetList.PageModel.TotalPage"></i>
						</div>

						<!--<div style="text-align: center;margin: 0px auto;padding-bottom: 5px;">
							<button type="button" class="mui-btn mui-btn-primary" style="background-color: #1A96C9;border: none;border-radius: 5px;width: 100px;height: 40px;" @click="saveSelectedAssetDialog()">确认</button>
							<button type="button" class="mui-btn" style="background-color: #FB9708;border: none;border-radius: 5px;color: #FFFFFF;width: 100px;height: 40px;" @click="CloseAssetDialog()">取消</button>
						</div>-->
					</div>
				</div>
			</div>

			<div id="AssetModelUpdate" class="mui-popover" style="border: none;height: 100%;border-radius: 0px;width: 100%;">
				<header class="mui-bar mui-bar-nav mui-bar-transparent" style="border-radius: 0px;">
					<a class="mui-icon mui-icon-left-nav mui-pull-left" style="color: #FFFFFF;" @click="closeOther()"></a>
					<h1 id="title" class="mui-title">实物信息变更</h1>
					<a class="mui-icon mui-icon-checkmarkempty mui-pull-right" style="color: #FFFFFF;font-size: 35px;font-weight: bold;" @click="saveAssetDialog()"></a>
				</header>
				<div class="mui-scroll-wrapper" style="margin-top: 50px;">
					<div class="mui-scroll">
						<form class="mui-input-group" ref="AssetList.ModelDialog">
							<div id="slider" class="mui-slider">
								<div id="sliderSegmentedControl" class="mui-slider-indicator mui-segmented-control">
									<a class="mui-control-item mui-active" href="#item1mobile">
										基础信息
									</a>
									<a class="mui-control-item" href="#item2mobile">
										维保信息
									</a>
								</div>

								<div id="sliderProgressBar" class="mui-slider-progress-bar mui-col-xs-6"></div>
								<div class="mui-slider-group">
									<div id="item1mobile" class="mui-slider-item mui-control-content mui-active">
										<div class="mui-input-row">
											<label>资产类别</label>
											<!--<select v-model="AssetList.ModelDialog.Model.AssetTypeId" @change="updateSelectTextBind(SelectList.AssetTypeId.Data,AssetList.ModelDialog.Model.AssetTypeId,'AssetList.ModelDialog.Model.AssetTypeName')" required>
												<option v-bind:value="0" disabled="disabled">请选择资产类别</option>
												<option v-for="item in SelectList.AssetTypeId.Data" v-bind:value="item.Id">{{item.Name}}</option>
											</select>-->
											<input type="text" placeholder="请选择资产类别" readonly="readonly" @click="OpenSelectDialog('选择资产类别',AssetList.ModelDialog.Model.AssetTypeId,SelectList.AssetTypeId.Data)" :value="AssetList.ModelDialog.Model.AssetTypeName"/>
										</div>
										<div class="mui-input-row">
											<label>资产名称</label>
											<input type="text" placeholder="资产名称" v-model="AssetList.ModelDialog.Model.Name" required>
										</div>
										<div class="mui-input-row">
											<label>规格型号</label>
											<input type="text" placeholder="规格型号" v-model="AssetList.ModelDialog.Model.Model" required>
										</div>
<!--										<div class="mui-input-row">-->
<!--											<label>资产编码</label>-->
<!--											<input type="text" placeholder="资产编码" v-model="AssetList.ModelDialog.Model.SN" required>-->
<!--										</div>-->
										<div class="mui-input-row">
											<label>购入时间</label>
											<input id="BuyTimePickDateBtn" type="text" placeholder="购入时间" v-model="AssetList.ModelDialog.Model.BuyTime" readonly="readonly">
										</div>

										<div class="mui-input-row">
											<label>计量单位</label>
											<!--<select v-model="AssetList.ModelDialog.Model.UnitId" @change="updateSelectTextBind(SelectList.UnitId.Data,AssetList.ModelDialog.Model.UnitId,'AssetList.ModelDialog.Model.UnitName')" required>
												<option v-bind:value="0" disabled="disabled">请选择计量单位</option>
												<option v-for="item in SelectList.UnitId.Data" v-bind:value="item.Id">{{item.Name}}</option>
											</select>-->
											<input type="text" placeholder="请选择计量单位" readonly="readonly" @click="OpenSelectDialog('选择计量单位',AssetList.ModelDialog.Model.UnitId,SelectList.UnitId.Data)" :value="AssetList.ModelDialog.Model.UnitName"/>
										</div>
										<div class="mui-input-row">
											<label>区域</label>
											<!--<select v-model="AssetList.ModelDialog.Model.RegionId" @change="updateSelectTextBind(SelectList.RegionId.Data,AssetList.ModelDialog.Model.RegionId,'AssetList.ModelDialog.Model.RegionName')" required>
												<option v-bind:value="0" disabled="disabled">请选择区域</option>
												<option v-for="item in SelectList.RegionId.Data" v-bind:value="item.Id">{{item.Name}}</option>
											</select>-->
											<input type="text" placeholder="请选择区域" readonly="readonly" @click="OpenSelectDialog('选择区域',AssetList.ModelDialog.Model.RegionId,SelectList.RegionId.Data)" :value="AssetList.ModelDialog.Model.RegionName"/>
										</div>
										<div class="mui-input-row">
											<label>使用部门</label>
											<!--<select v-model="AssetList.ModelDialog.Model.UsedDepartmentId" @change="function(){handleAssetUpdateAssetDepartmentEditChange();updateSelectTextBind(SelectList.UsedDepartmentId.Data,AssetList.ModelDialog.Model.UsedDepartmentId,'AssetList.ModelDialog.Model.UsedDepartmentName');}" required>
												<option v-bind:value="0" disabled="disabled">请选择使用部门</option>
												<option v-for="item in SelectList.UsedDepartmentId.Data" v-bind:value="item.Id" :disabled="isDisabled(item)">{{item.Name}}</option>
												<span :class="getDepartmentTypeClass(item)" v-html="getDepartmentName(item)"></span>
											</select>-->
											<input type="text" placeholder="请选择使用部门" readonly="readonly" @click="OpenSelectDialog('选择部门',AssetList.ModelDialog.Model.UsedDepartmentId,SelectList.UsedDepartmentId.Data)" :value="AssetList.ModelDialog.Model.UsedDepartmentName"/>
										</div>
										<div class="mui-input-row">
											<label>使用人</label>
											<!--<select v-model="AssetList.ModelDialog.Model.UsedEmployeeId" @change="updateSelectTextBind(SelectList.AssetUsedDepartmentEmployeeId.Data,AssetList.ModelDialog.Model.UsedEmployeeId,'AssetList.ModelDialog.Model.UsedEmployeeName')" required>
												<option v-bind:value="0" disabled="disabled">请选择使用人</option>
												<option v-for="item in SelectList.AssetUsedDepartmentEmployeeId.Data" v-bind:value="item.Id">{{item.Name}}</option>
											</select>-->
											<input type="text" placeholder="请选择使用人" readonly="readonly" @click="OpenSelectDialog('选择使用人',AssetList.ModelDialog.Model.UsedEmployeeId,SelectList.AssetUsedDepartmentEmployeeId.Data)" :value="AssetList.ModelDialog.Model.UsedEmployeeName"/>
										</div>
										<div class="mui-input-row">
											<label>存放地点</label>
											<!--<select v-model="AssetList.ModelDialog.Model.StoredAddressId" @change="updateSelectTextBind(SelectList.AssetUsedDepartmentStoredAddressId.Data,AssetList.ModelDialog.Model.StoredAddressId,'AssetList.ModelDialog.Model.StoredAddressName')" required>
												<option v-bind:value="0" disabled="disabled">请选择存放地点</option>
												<option v-for="item in SelectList.AssetUsedDepartmentStoredAddressId.Data" v-bind:value="item.Id">{{item.Name}}</option>
											</select>-->
											<input type="text" placeholder="请选择存放地点" readonly="readonly" @click="OpenSelectDialog('选择存放地点',AssetList.ModelDialog.Model.StoredAddressId,SelectList.AssetUsedDepartmentStoredAddressId.Data)" :value="AssetList.ModelDialog.Model.StoredAddressName"/>
										</div>
										<div class="mui-input-row">
											<label>来源</label>
											<!--<select v-model="AssetList.ModelDialog.Model.SourceId" @change="updateSelectTextBind(SelectList.SourceId.Data,AssetList.ModelDialog.Model.SourceId,'AssetList.ModelDialog.Model.SourceName')" required>
												<option v-bind:value="0" disabled="disabled">请选择来源</option>
												<option v-for="item in SelectList.SourceId.Data" v-bind:value="item.Id">{{item.Name}}</option>
											</select>-->
											<input type="text" placeholder="请选择来源" readonly="readonly" @click="OpenSelectDialog('选择来源',AssetList.ModelDialog.Model.SourceId,SelectList.SourceId.Data)" :value="AssetList.ModelDialog.Model.SourceName"/>
										</div>
										<div class="mui-input-row">
											<label>管理员</label>
											<input type="text" placeholder="管理员" v-model="AssetList.ModelDialog.Model.SessionName" disabled="disabled">
										</div>
										<div class="mui-input-row">
											<label>使用期限</label>
											<div class="mui-numbox" data-numbox-min='1' id="UsedMonth">
												<button class="mui-btn mui-numbox-btn-minus" type="button">-</button>
												<input class="mui-numbox-input" type="number">
												<button class="mui-btn mui-numbox-btn-plus" type="button">+</button>
											</div>
										</div>
										<div class="mui-input-row" style="height: auto;">
											<label>备注</label>
											<textarea placeholder="备注" v-model="AssetList.ModelDialog.Model.Note" rows="3" style="border: 1px solid #ACACB4;"></textarea>
										</div>
										<div class="mui-input-row">
											<label>上传</label>
											<input type="file" id="fileTag" accept="image/*" multiple size="1">
										</div>
										<div>
											<img :src="AssetList.ModelDialog.Model.PicPath" width="50%" height="50%" style="width: 30%;height: 30%;margin-left: 30%;" />
										</div>
									</div>
									<div id="item2mobile" class="mui-slider-item mui-control-content">
										<form class="mui-input-group">
											<div class="mui-input-row">
												<label>供应商</label>
												<!--<select v-model="AssetList.ModelDialog.Model.SupplierId" @change="updateSelectTextBind(SelectList.SupplierId.Data,AssetList.ModelDialog.Model.SupplierId,'AssetList.ModelDialog.Model.SupplierName')" required>
													<option v-bind:value="0" disabled="disabled">请选择供应商</option>
													<option v-for="item in SelectList.SupplierId.Data" v-bind:value="item.Id">{{item.Name}}</option>
												</select>-->
												<input type="text" placeholder="请选择供应商" readonly="readonly" @click="OpenSelectDialog('选择供应商',AssetList.ModelDialog.Model.SupplierId,SelectList.SupplierId.Data)" :value="AssetList.ModelDialog.Model.SupplierName"/>
											</div>
											<div class="mui-input-row">
												<label>联系人</label>
												<input type="text" placeholder="联系人" v-model="AssetList.ModelDialog.Model.Contract" required>
											</div>
											<div class="mui-input-row">
												<label>联系方式</label>
												<input type="tel" placeholder="联系方式" v-model="AssetList.ModelDialog.Model.ContractWay" required>
											</div>
											<div class="mui-input-row">
												<label>负责人</label>
												<input type="text" placeholder="负责人" v-model="AssetList.ModelDialog.Model.Director" required>
											</div>
											<div class="mui-input-row">
												<label>维保到期</label>
												<input id="ExpirationPickDateBtn" type="text" placeholder="维保到期" v-model="AssetList.ModelDialog.Model.EndDate" readonly="readonly">
											</div>
											<div class="mui-input-row">
												<label>管理员</label>
												<input type="text" placeholder="管理员" v-model="AssetList.ModelDialog.Model.SessionName" disabled="disabled">
											</div>
											<div class="mui-input-row" style="height: auto;">
												<label>维保说明</label>
												<textarea placeholder="维保说明" v-model="AssetList.ModelDialog.Model.Discription" rows="3" style="border: 1px solid #ACACB4;"></textarea>
											</div>
										</form>

									</div>

								</div>
								<!--<div style="text-align: center;margin: 0px auto;padding-bottom: 5px;">
									<button type="button" class="mui-btn mui-btn-primary" style="background-color: #1A96C9;border: none;border-radius: 5px;width: 100px;height: 40px;" @click="saveAssetDialog()">确认</button>
									<button type="button" class="mui-btn" style="background-color: #FB9708;border: none;border-radius: 5px;color: #FFFFFF;width: 100px;height: 40px;" @click="closeOther()">取消</button>
								</div>-->
							</div>
						</form>
					</div>
				</div>
			</div>

			<div id="SelectDialogId" class="mui-popover" style="border: none;height: 100%;width: 100%;position: fixed;border-radius: 0px;position: fixed;">
				<header class="mui-bar mui-bar-nav mui-bar-transparent" style="border-radius: 0px;">
					<a class="mui-icon mui-icon-left-nav mui-pull-left" style="color: #FFFFFF;" @click="CloseSelectDialog()"></a>
					<h1 id="title" class="mui-title">{{SelectDialog.Title}}</h1>
					<a class="mui-icon mui-icon-checkmarkempty mui-pull-right" style="color: #FFFFFF;font-size: 35px;font-weight: bold;" @click="SubmitSelect()"></a>
				</header>				
				<div class="mui-scroll-wrapper" style="margin-top: 50px;">
					<div class="mui-scroll">
						<div class="mui-input-row mui-radio mui-left" v-for="item in SelectDialog.Data" style="border-bottom: 1px solid #E4E4E4;margin-bottom: 5px;" v-if="SelectDialog.IsNoSecond">
						    <label>{{item.Name}}</label>
						    <input name="radio1" type="radio" :value="item.Id" v-model="SelectDialog.Model">
						</div>
						
						<div class="mui-input-row mui-radio mui-left" v-for="item in SelectDialog.Data" style="border-bottom: 1px solid #E4E4E4;margin-bottom: 5px;" v-if="!SelectDialog.IsNoSecond">
						    <label><span v-html="getSpaceString(item.LayerIndex-1)"></span>{{item.Name}}</label>
						    <input name="radio1" type="radio" :value="item.Id" v-model="SelectDialog.Model" :disabled="isDisabled(item,SelectDialog.Title)">
						</div>
					</div>
				</div>
			</div>

			<div class="mui-content">
				<div class="mui-input-row mui-search" style="margin-top: 10px;">
					<input type="search" class="mui-input-clear" placeholder="请输入关键字" v-model="List.SearchModel.SearchText">
				</div>
				<ul class="mui-table-view" id="ListId">
					<li class="mui-table-view-cell mui-collapse" v-for="(item,index) in List.Data">
						<a class="mui-navigate-right">
							{{item.Code}}
							<p>变更日期：{{getDate(item.CreateTime,true)}}</p>
							<p>变更人：{{item.UsedEmployeeName}}</p>
							<p>变更公司：{{item.UsedCompanyName}}</p>
							<p>变更部门：{{item.UsedDepartmentName}}</p>
						</a>
						<div class="mui-collapse-content" style="margin: 0px auto;">
							<div style="width: 98%;background-color: #fff;border-radius: 10px;text-align: -moz-center;margin-bottom: 5px;" v-for="AssetItem in item.AssetUpdateItems">
								<div style="height: 60px;width: 100%;border-bottom: 1px solid #C0C0C0;" @click="automatic(AssetItem.Asset.Code)">
									<img :src="AssetItem.Asset.PicPath" width="30%" height="60px" style="float: left;" />
									<div style="width: 70%; height: 60px;float: left;margin: 0px auto;padding: 5px;">
										<p>资产条码：{{AssetItem.Asset.Code}}</p>
										<p>资产名称：{{AssetItem.Asset.Name}}</p>
									</div>
								</div>

								<div style="margin: 0px auto;padding-left: 10px;" v-if="IsOpen==AssetItem.Asset.Code">
									<p>资产类别：{{AssetItem.Asset.AssetTypeName}}</p>
									<p>规格型号：{{AssetItem.Asset.Model}}</p>
									<p>资产编码：{{AssetItem.Asset.SN}}</p>
									<p>计量单位：{{AssetItem.Asset.UnitName}}</p>
									<p>金额：￥{{AssetItem.Asset.Price}}</p>
									<p>使用单位：{{AssetItem.Asset.UsedCompanyName}}</p>
									<p>使用部门：{{AssetItem.Asset.UsedDepartmentName}}</p>
									<p>使用人：{{AssetItem.Asset.UsedEmployeeName}}</p>
									<p>区域：{{AssetItem.Asset.RegionName}}</p>
									<P>存放地点：{{AssetItem.Asset.StoredAddressName}}</p>
									<p>管理员：{{AssetItem.Asset.SessionName}}</p>
									<p>购入日期：{{getDate(AssetItem.Asset.BuyTime,true)}}</p>
									<p>供应商:{{AssetItem.Asset.SupplierName}}</p>
									<p>备注:{{AssetItem.Asset.Note}}</p>
									<p>使用期限:{{AssetItem.Asset.UsedMonth}}(月)</p>
									<p>来源:{{AssetItem.Asset.SourceName}}</p>
									</p>
								</div>
							</div>
						</div>
					</li>
				</ul>
				<div style="width: 100%; height: 40px;padding: 10px;text-align: center;" v-if="List.PageModel.TotalPage>0">
					<i class="mui-icon-extra mui-icon-extra-arrowleftcricle mui-pull-left" @click="function(){currentPage--;handlePageChange(currentPage,'List','PageIndex')}" v-if="currentPage!=1"></i>
					<label>{{currentPage}}/{{List.PageModel.TotalPage}}</label>
					<i class="mui-icon-extra mui-icon-extra-arrowrightcricle mui-pull-right" @click="function(){currentPage++;handlePageChange(currentPage,'List','PageIndex')}" v-if="currentPage<List.PageModel.TotalPage"></i>
				</div>

			</div>
	</body>
	<script>
		function getSelectAssetListOptions(options) {
			return _.merge({
				data: {
					Cache: {
						UsedEmployeeId: []
					},
					SelectedAssetList: helper.getInitList(null, {
						AssetStatus: 0,
						AssetItemCallback: null,
						AssetItemUniqueCallback: null,
						AssetItemStatuses: [],
						SelectedAssetList: []
					}, "AssetLocationItem"),
					SelectList: {
						UsedDepartmentId: {
							Controller: "Department",
							Data: []
						},
						UsedDepartmentEmployeeId: {
							Data: []
						}
					},
				},
				watch: getSearchModelWatchList([{
					TableName: "SelectedAssetList",
					InitEvent: function() {
						this.getPageList("SelectedAssetList");
					},
					IgnoreList: ["Id1", "Id2", "Id4"]
				}]),
				methods: {
					CloseSelectDialog:function(){
						var _this=this;
						mui("#SelectDialogId").popover('hide');
						if(_this.SelectDialog.ModelName=="List"){
							mui("#DefaultModel").popover('show');
						}else{
							mui("#AssetModelUpdate").popover('show');
						}						
						_this.SelectDialog.IsNoSecond=true
					},
					OpenSelectDialog:function(title,model,data,ModelName){
						var _this=this;
						if(title=="选择部门" || title=="选择资产类别"){
							_this.SelectDialog.IsNoSecond=false;
						};
						_this.SelectDialog.ModelName=ModelName;
						_this.SelectDialog.Title=title;
						_this.SelectDialog.Model=model;
						_this.SelectDialog.Data=data;						
						mui("#SelectDialogId").popover('show');
					},
					SubmitSelect:function(){
						var _this=this;
						if(_this.SelectDialog.Title=="选择区域"){
							_this.AssetList.ModelDialog.Model.RegionId=_this.SelectDialog.Model;
							_this.AssetList.ModelDialog.Model.RegionName=_this.getItemName(_this.SelectList.RegionId.Data,_this.AssetList.ModelDialog.Model.RegionId);
						}else if(_this.SelectDialog.Title=="选择部门"){
							if(_this.SelectDialog.ModelName=="List"){
							_this.List.ModelDialog.Model.UsedDepartmentId=_this.SelectDialog.Model;
							_this.List.ModelDialog.Model.UsedDepartmentName=_this.getItemName(_this.SelectList.UsedDepartmentId.Data,_this.List.ModelDialog.Model.UsedDepartmentId);
							_this.handleAssetUpdateDepartmentEditChange();
							_this.updateSelectTextBind(_this.SelectList.UsedDepartmentId.Data,_this.List.ModelDialog.Model.UsedDepartmentId,'List.ModelDialog.Model.UsedDepartmentName');								
							}else{
								_this.AssetList.ModelDialog.Model.UsedDepartmentId=_this.SelectDialog.Model;
								_this.AssetList.ModelDialog.Model.UsedDepartmentName=_this.getItemName(_this.SelectList.UsedDepartmentId.Data,_this.AssetList.ModelDialog.Model.UsedDepartmentId);
								_this.handleAssetUpdateAssetDepartmentEditChange();
								_this.updateSelectTextBind(_this.SelectList.UsedDepartmentId.Data,_this.AssetList.ModelDialog.Model.UsedDepartmentId,'AssetList.ModelDialog.Model.UsedDepartmentName');
							}

						}else if(_this.SelectDialog.Title=="选择使用人"){
							_this.AssetList.ModelDialog.Model.UsedEmployeeId=_this.SelectDialog.Model;
							_this.AssetList.ModelDialog.Model.UsedEmployeeName=_this.getItemName(_this.SelectList.AssetUsedDepartmentEmployeeId.Data,_this.AssetList.ModelDialog.Model.UsedEmployeeId);
							_this.updateSelectTextBind(_this.SelectList.AssetUsedDepartmentEmployeeId.Data,_this.AssetList.ModelDialog.Model.UsedEmployeeId,'AssetList.ModelDialog.Model.UsedEmployeeName')
							
						}else if(_this.SelectDialog.Title=="选择存放地点"){
							_this.AssetList.ModelDialog.Model.StoredAddressId=_this.SelectDialog.Model;
							_this.AssetList.ModelDialog.Model.StoredAddressName=_this.getItemName(_this.SelectList.AssetUsedDepartmentStoredAddressId.Data,_this.AssetList.ModelDialog.Model.StoredAddressId);
							_this.updateSelectTextBind(_this.SelectList.AssetUsedDepartmentStoredAddressId.Data,_this.AssetList.ModelDialog.Model.StoredAddressId,'AssetList.ModelDialog.Model.StoredAddressName');
						}else if(_this.SelectDialog.Title=="选择资产类别"){
							_this.AssetList.ModelDialog.Model.AssetTypeId=_this.SelectDialog.Model;
							_this.AssetList.ModelDialog.Model.AssetTypeName=_this.getItemName(_this.SelectList.AssetTypeId.Dataa,_this.AssetList.ModelDialog.Model.AssetTypeId);
							_this.updateSelectTextBind(_this.SelectList.AssetTypeId.Data,_this.AssetList.ModelDialog.Model.AssetTypeId,'AssetList.ModelDialog.Model.AssetTypeName');
						}else if(_this.SelectDialog.Title=="选择计量单位"){
							_this.AssetList.ModelDialog.Model.UnitId=_this.SelectDialog.Model;
							_this.AssetList.ModelDialog.Model.UnitName=_this.getItemName(_this.SelectList.UnitId.Data,_this.AssetList.ModelDialog.Model.UnitId);							
						}else if(_this.SelectDialog.Title=="选择来源"){
							_this.AssetList.ModelDialog.Model.SourceId=_this.SelectDialog.Model;
							_this.AssetList.ModelDialog.Model.SourceName=_this.getItemName(_this.SelectList.SourceId.Data,_this.AssetList.ModelDialog.Model.SourceId);
							_this.updateSelectTextBind(_this.SelectList.SourceId.Data,_this.AssetList.ModelDialog.Model.SourceId,'AssetList.ModelDialog.Model.SourceName');
						}else if(_this.SelectDialog.Title=="选择供应商"){
							_this.AssetList.ModelDialog.Model.SupplierId=_this.SelectDialog.Model;
							_this.AssetList.ModelDialog.Model.SupplierName=_this.getItemName(_this.SelectList.SupplierId.Data,_this.AssetList.ModelDialog.Model.SupplierId);
							_this.updateSelectTextBind(_this.SelectList.SupplierId.Data,_this.AssetList.ModelDialog.Model.SupplierId,'AssetList.ModelDialog.Model.SupplierName');
						}else if(_this.SelectDialog.Title=="选择变更人"){
							_this.List.ModelDialog.Model.UsedEmployeeId=_this.SelectDialog.Model;
							_this.List.ModelDialog.Model.UsedEmployeeName=_this.getItemName(_this.SelectList.UsedEmployeeId.Data,_this.List.ModelDialog.Model.UsedEmployeeId);							
						}
						_this.CloseSelectDialog();
					},
					getItemName:function(List,Id){
						var Name="";
						mui.each(List,function(index,item){
							if(item.Id==Id){
								Name = item.Name;
							}
						});
						return Name;
					},					
					handleAssetDepartmentChange: function(value) {
						var row = this.getArrayItem(this.SelectList.UsedDepartmentId.Data, value);
						if(value == 0 || row == null || this.isCompany(row)) {
							this.SelectedAssetList.SearchModel.Id1 = value;
							this.SelectedAssetList.SearchModel.Id2 = 0;
							this.SelectedAssetList.SearchModel.Id3 = 0;
							this.SelectList.UsedEmployeeId.EmployeeData = [];
						} else {
							this.SelectedAssetList.SearchModel.Id1 = 0;
							this.SelectedAssetList.SearchModel.Id2 = value;
							this.getDepartmentEmployeeCacheList(value);
						}
						this.getPageList("SelectedAssetList");
					},
					resetSelectedAsset: function(model) {
						this.SelectedAssetList.AssetItemStatuses = [];
						this.SelectedAssetList.SelectedAssetList = [];
						return model;
					},

					selectAssets: function(assetStatus, aryItems, dtoCallback, uniqueCallback) {
						this.SelectedAssetList.AssetStatus = assetStatus;
						this.SelectedAssetList.AssetItemCallback = dtoCallback;
						this.SelectedAssetList.AssetItemUniqueCallback = uniqueCallback || ((o, item) =>
							o.AssetId == item.AssetItemStatus.Asset.Id &
							o.UsedCompanyId == item.UsedCompanyId &
							o.UsedDepartmentId == item.UsedDepartmentId &
							o.UsedEmployeeId == item.UsedEmployeeId &
							o.RegionId == item.RegionId &
							o.StoredAddressId == item.StoredAddressId);
						this.SelectedAssetList.AssetItemStatuses = aryItems;
						this.SelectedAssetList.ModelDialog.Data = [];
						if(this.SelectedAssetList.SearchModel.Id == assetStatus) {
							this.getPageList("SelectedAssetList");
						} else {
							this.SelectedAssetList.SearchModel.Id = assetStatus;
						}
						this.SelectedAssetList.MultipleSelection = [];
						this.CheckBoxList = [];
						this.openDialog("SelectedAssetList.ModelDialog", null, '#AssetListModel');
					},
					saveSelectedAssetDialog: function() {
						if(!this.isMultipleSelection("SelectedAssetList")) {
							return;
						}
						var _this = this;
						mui.each(_this.SelectedAssetList.MultipleSelection, function(index, item) {
							var asset = _.cloneDeep(item.AssetItemStatus.Asset);
							asset.Total = item.Total;
							var itemTemp = null;
							_this.SelectedAssetList.AssetItemCallback = getAssetUpdateItemDto();
							if(_this.SelectedAssetList.AssetItemCallback != null) {
								itemTemp = getAssetUpdateItemDto();;
								helper.update(itemTemp, asset, ["Id"]);
								helper.update(itemTemp, item, ["Id"]);
								helper.update(itemTemp, {
									AssetId: item.AssetItemStatus.Asset.Id,
									Asset: asset
								});
							} else {
								itemTemp = {
									AssetId: item.AssetItemStatus.Asset.Id,
									UsedCompanyId: item.UsedCompanyId,
									UsedDepartmentId: item.UsedDepartmentId,
									UsedEmployeeId: item.UsedEmployeeId,
									RegionId: item.RegionId,
									StoredAddressId: item.StoredAddressId,
									Total: item.Total
								};
							}

							var index = _.findIndex(_this.SelectedAssetList.AssetItemStatuses,
								o => _this.SelectedAssetList.AssetItemUniqueCallback(o, item));
							if(index >= 0) {
								Vue.set(_this.SelectedAssetList.AssetItemStatuses, index, itemTemp);
								Vue.set(_this.SelectedAssetList.SelectedAssetList, index, asset);
							} else {
								_this.SelectedAssetList.AssetItemStatuses.push(itemTemp);
								_this.SelectedAssetList.SelectedAssetList.push(asset);
							}
						});
						mui("#DefaultModel").popover('show');
						this.closeDialog('SelectedAssetList.ModelDialog', "#AssetListModel");
					}
				}
			}, options);
		}
	</script>
	<script type="text/javascript" src="../js/immersed.js"></script>
	<script>
		mui.init({
				swipeBack: false //启用右滑关闭功能
		})

			(function($) { //这行报错  
				$(".mui-scroll-wrapper").scroll({
					//bounce: false,//滚动条是否有弹力默认是true  
					indicators: false, //是否显示滚动条,默认是true  
				});
			})(mui);
		// 打开二维码扫描界面 
		function openBarcode() {
			createWithoutTitle('barcode_scan.html', {
				titleNView: {
					type: 'float',
					backgroundColor: 'rgba(215,75,40,0.3)',
					titleText: '扫一扫',
					titleColor: '#FFFFFF',
					autoBackButton: true,
				}
			});
		}

		function scaned(t, r, f) {
			document.getElementById("SearchTest").focus();
			vue.SelectedAssetList.SearchModel.SearchText = r;
		}

		function plusReady() {
			readyFunction();
			var wv = plus.webview.currentWebview();
			// 关闭侧滑返回功能
			wv.setStyle({
				'popGesture': 'none'
			});

			$('#fileTag').change(function(event) {
				//$ctrl.uploadFile = event.target.files[0];
				vue.addFile(event.target.files[event.target.files.length - 1]);
			});
			document.getElementById("CreateTimeDateBtn").addEventListener('tap', function() {
				var dDate = new Date();
				dDate.setFullYear();
				var minDate = new Date();
				minDate.setFullYear();
				var maxDate = new Date();
				maxDate.setFullYear();
				plus.nativeUI.pickDate(function(e) {
					var d = e.date;
					vue.List.ModelDialog.Model.CreateTime = helper.format(d, "yyyy-MM-dd")
				}, function(e) {
					info.innerText = "您没有选择日期";
				}, {
					title: "请选择日期",
					date: dDate,
					minDate: minDate,
					maxDate: maxDate
				});
			})

			document.getElementById("BuyTimePickDateBtn").addEventListener('tap', function() {
				var dDate = new Date();
				dDate.setFullYear();
				var minDate = new Date();
				minDate.setFullYear();
				var maxDate = new Date();
				maxDate.setFullYear();
				plus.nativeUI.pickDate(function(e) {
					var d = e.date;
					vue.AssetList.ModelDialog.Model.BuyTime = helper.format(d, "yyyy-MM-dd")
				}, function(e) {
					info.innerText = "您没有选择日期";
				}, {
					title: "请选择日期",
					date: dDate,
					minDate: minDate,
					maxDate: maxDate
				});
			})

			document.getElementById("ExpirationPickDateBtn").addEventListener('tap', function() {
				var dDate = new Date();
				dDate.setFullYear();
				var minDate = new Date();
				minDate.setFullYear();
				var maxDate = new Date();
				maxDate.setFullYear();
				plus.nativeUI.pickDate(function(e) {
					var d = e.date;
					vue.AssetList.ModelDialog.Model.EndDate = helper.format(d, "yyyy-MM-dd")
				}, function(e) {
					info.innerText = "您没有选择日期";
				}, {
					title: "请选择日期",
					date: dDate,
					minDate: minDate,
					maxDate: maxDate
				});
			})

		}
		if(window.plus) {
			plusReady();
		} else {
			document.addEventListener("plusready", plusReady, false);
		}
		// DOMContentloaded事件处理
		document.addEventListener("DOMContentLoaded", function() {
			plusReady();
		}, false);

		function getVueOptions() {
			return helper.getPageVueOptions("AssetUpdate", getAssetUpdateDto, getSelectAssetListOptions({
				data: {
					AssetCurrentIndex: 1,
					IsOpen: "",
					CheckBoxList: [],
					List: {
						PrintDialog: {
							Model: getAssetUpdateDto(),
							Visible: false
						}
					},
					SelectDialog:{
						Title:"",
						Model:"",
						Data:[],
						IsNoSecond:true,
						ModelName:""
					},
					AssetList: {
						ModelDialog: {
							Index: -1,
							Model: getAssetUpdateItemDto(),
							Progress: [0],
							AssetInfoTab: "t1",
							Visible: false,
							Action: {
								Code: "/Asset/GetCode"
							}
						}
					},
					SelectList: {
						UsedDepartmentId: {
							Controller: "Department",
							Data: []
						},
						AssetUsedDepartmentEmployeeId: {
							Data: []
						},
						AssetUsedDepartmentStoredAddressId: {
							Data: []
						},
						AssetTypeId: {
							Controller: "AssetType",
							Data: []
						},
						RegionId: {
							Controller: "Region",
							Data: []
						},
						UnitId: {
							Controller: "Unit",
							Data: []
						},
						SourceId: {
							Controller: "Source",
							Data: []
						},
						SupplierId: {
							Controller: "Supplier",
							Data: []
						}
					}
				},
				watch: getSearchModelWatchList([{
					TableName: "List",
					InitEvent: function() {
						this.getPageList("List");
					}
				}]),
				computed: {
					TotalAmount: function() {
						return this.getTotalAmount(this.List.PrintDialog.Model.AssetUpdateItems, o => o.Asset.Total * o.Asset.Price);
					}
				},
				methods: {
					addFile: function(File) {
						var _this = this;
						var mainForm = new FormData();
						mainForm.append(File.name, File, File.name);
						var submitClickAjax = $.ajax({
							type: "post",
							data: mainForm,
							dataType: "json",
							url: ApiUrl + "/Api/Upload/Asset",
							cache: true,
							contentType: false, //不设置内容类型  
							processData: false, //不处理数据 
							headers: {
								'Authorization': 'bearer ' + localStorage.getItem('access_token'),
							},
							success: function(response) {
								_this.AssetList.ModelDialog.Model.PicPath = response.Data;
								console.log("test" + JSON.stringify(response))
							},
							error: function(response) {
								mui.toast('请求出现错误，请重试!');
							}
						});

					},
					automatic: function(Value) {
						var _this = this;
						_this.IsOpen = Value;
					},
					ChangeItem: function(Model) {
						var _this = this;
						if(_this.CheckBoxList.indexOf(Model.Id) > -1) {
							_this.CheckBoxList.splice(_this.CheckBoxList.indexOf(Model.Id), 1)
						} else {
							_this.CheckBoxList.push(Model.Id);
						};
						if(_this.SelectedAssetList.MultipleSelection.indexOf(Model) > -1) {
							_this.SelectedAssetList.MultipleSelection.splice(_this.SelectedAssetList.MultipleSelection.indexOf(Model), 1);
						} else {
							_this.SelectedAssetList.MultipleSelection.push(Model);
						}

					},
					IsCheckBox: function(Id) {
						var _this = this;
						if(_this.CheckBoxList.indexOf(Id) > -1) {
							return true;
						} else {
							return false;
						}
					},
					CloseAssetDialog: function() {
						this.closeDialog('SelectedAssetList.ModelDialog', '#AssetListModel');
						mui("#DefaultModel").popover('show');
					},
					handleAssetUpdateDepartmentEditChange: function() {
						this.handleDepartmentChange("List.ModelDialog", this.List.ModelDialog.Model.UsedDepartmentId);
					},
					handleAssetUpdateAssetDepartmentEditChange: function() {
						this.handleDepartmentChange("AssetList.ModelDialog",
							this.AssetList.ModelDialog.Model.UsedDepartmentId,
							this.getAssetDepartmentEmployeeCacheList,
							this.getAssetStoredAddressCacheList);
					},
					getAssetDepartmentEmployeeCacheList: function(departmentId) {
						var _this=this;
						_this.getCacheList("Employee", departmentId, {
							Id1: departmentId
						}, "AssetUsedDepartmentEmployeeId", "UsedEmployeeId")
					},
					getAssetStoredAddressCacheList: function(departmentId) {
						var _this=this;
						_this.getCacheList("StoredAddress", departmentId, {
							Id: departmentId,
							Id1: 1,
							Id2: 1
						}, "AssetUsedDepartmentStoredAddressId", "StoredAddressId")
					},
					editAssetDialog: function(index, row) {
						this.AssetList.ModelDialog.Index = index
						var model = _.cloneDeep(row);
						this.getAssetDepartmentEmployeeCacheList(model.UsedDepartmentId);
						this.getAssetStoredAddressCacheList(model.UsedDepartmentId);

						this.AssetList.ModelDialog.Model = model;
						mui("#AssetModelUpdate").popover('show');
						this.resetForm("AssetList.ModelDialog", model);
					},
					assetUniqueCallback: function(o, item) {
						return o.AssetId == item.AssetItemStatus.Asset.Id;
					},
					saveAssetDialog: function() {
						var _this = this;

						if(_this.AssetList.ModelDialog.Model.AssetTypeId == 0) {
							helper.alert("请选择资产类别");
							return;
						}

						if(_this.AssetList.ModelDialog.Model.UnitId == 0) {
							helper.alert("请选择计量单位");
							return;
						}

						if(_this.AssetList.ModelDialog.Model.RegionId == 0) {
							helper.alert("请选择区域");
							return;
						}

						if(_this.AssetList.ModelDialog.Model.UsedDepartmentId == 0) {
							helper.alert("请选择部门");
							return;
						}

						if(_this.AssetList.ModelDialog.Model.UsedEmployeeId == 0) {
							helper.alert("请选择使用人");
							return;
						}

						if(_this.AssetList.ModelDialog.Model.StoredAddressId == 0) {
							helper.alert("请选择存放地点");
							return;
						}

						if(_this.AssetList.ModelDialog.Model.SourceId == 0) {
							helper.alert("请选择来源");
							return;
						}

						if(_this.AssetList.ModelDialog.Model.SupplierId == 0) {
							helper.alert("请选择供应商");
							return;
						}
						var formName = "AssetList.ModelDialog";
						var UsedMonth = mui('#UsedMonth').numbox().getValue();
						_this.AssetList.ModelDialog.Model.UsedMonth = UsedMonth;
						_this.validateForm(formName, function() {
							var model = _.cloneDeep(_this.AssetList.ModelDialog.Model);
							if(_this.AssetList.ModelDialog.IsAdd) {
								_this.List.ModelDialog.Model.AssetUpdateItems.push(model);
							} else {
								Vue.set(_this.List.ModelDialog.Model.AssetUpdateItems, _this.AssetList.ModelDialog.Index, model);
							}
							mui("#AssetModelUpdate").popover('hide');
							mui("#DefaultModel").popover('show');
							_this.resetForm(formName, model);
						});
					},
					closeOther: function() {
						mui("#AssetModelUpdate").popover('hide');
						mui("#DefaultModel").popover('show');
					},
					submitFormBefore: function() {

						if(this.List.ModelDialog.Model.UsedDepartmentId == 0) {
							helper.alert("请选择变更部门");
							return false;
						}

						if(this.List.ModelDialog.Model.UsedEmployeeId == 0) {
							helper.alert("请选择变更人");
							return false;
						}

						return true;
					}
				}
			}));
		}
        var vue = new Vue(getVueOptions());	
	</script>

</html>