﻿<el-dialog title="更新资产" :visible="AssetList.ModelDialog.Visible" @@close="closeDialog('AssetList.ModelDialog')"
           width="92%"
           :close-on-click-modal="Common.CloseOnClickModal"
           :close-on-press-escape="Common.CloseOnPressEscape"
           append-to-body>
    <el-form :model="AssetList.ModelDialog.Model"
             status-icon
             :show-message="false"
             ref="AssetList.ModelDialog"
             label-width="100px"
             :label-suffix="Common.FormLabelSuffix">
        <el-tabs v-model="AssetList.ModelDialog.AssetInfoTab">
            <el-tab-pane label="基本信息" name="t1">
                <div class="my-dialog-form-3">
                    <el-form-item label="资产类别" prop="AssetTypeId" :rules="Validation.Select">
                        <el-cascader placeholder="资产类别"
                                     v-model="AssetList.ModelDialog.Model.AssetTypeId"
                                     :options="SelectList.AssetTypeId.Data"
                                     :props="optionProps"
                                     :value="SelectList.AssetTypeId.Data.Id"
                                     :label="SelectList.AssetTypeId.Data.DisplayName"
                                     :children="SelectList.AssetTypeId.Data.Children"
                                     style="width:100%"
                                     filterable></el-cascader>
                    </el-form-item>
                    <el-form-item label="资产名称" prop="Name" required>
                        <el-input placeholder="资产名称" v-model="AssetList.ModelDialog.Model.Name"></el-input>
                    </el-form-item>
                    <el-form-item label="规格型号" prop="Model" required>
                        <el-input placeholder="规格型号" v-model="AssetList.ModelDialog.Model.Model"></el-input>
                    </el-form-item>
                    @*<el-form-item label="资产编码" prop="SN" required>
                        <el-input placeholder="资产编码" v-model="AssetList.ModelDialog.Model.SN"></el-input>
                    </el-form-item>*@
                    <el-form-item label="计量单位" prop="UnitId" :rules="Validation.Select">
                        @UIHelper.Select("SelectList.UnitId.Data", "AssetList.ModelDialog.Model.UnitId", "计量单位", strTextBind: "AssetList.ModelDialog.Model.UnitName", bIsQuerySelect: false)
                    </el-form-item>
                    <el-form-item label="购入时间" prop="BuyTime" required>
                        @UIHelper.DatePicker("购入时间", "AssetList.ModelDialog.Model.BuyTime")
                    </el-form-item>
                    <el-form-item label="管理部门" prop="RegionId" :rules="Validation.Select">
                        @UIHelper.Select("SelectList.RegionId.Data", "AssetList.ModelDialog.Model.RegionId", "管理部门"
                                , strTextBind: "AssetList.ModelDialog.Model.RegionName", bIsQuerySelect: false)
                    </el-form-item>
                    @*<el-form-item label="使用单位" prop="UsedCompanyId" required>
                            <el-input placeholder="使用单位" v-model="AssetList.ModelDialog.Model.UsedCompanyName" :disabled="true"></el-input>
                        </el-form-item>*@
                    <el-form-item label="使用部门" prop="UsedDepartmentId" :rules="Validation.Select">
                        @UIHelper.Select("SelectList.UsedDepartmentId.Data", "AssetList.ModelDialog.Model.UsedDepartmentId", "部门"
                                , "handleAssetUpdateAssetDepartmentEditChange"
                                , "<span :class=\"getDepartmentTypeClass(item)\" v-html=\"getDepartmentName(item)\"></span>"
                                , strOptionDisabledKey: "Department"
                                , strTextBind: "AssetList.ModelDialog.Model.UsedDepartmentName"
                                , bIsQuerySelect: false)
                    </el-form-item>
                    <el-form-item label="使用人" prop="UsedEmployeeId" :rules="Validation.Select">
                        @UIHelper.Select("SelectList.AssetUsedDepartmentEmployeeId.Data", "AssetList.ModelDialog.Model.UsedEmployeeId", "使用人"
                                , strTextBind: "AssetList.ModelDialog.Model.UsedEmployeeName", bIsQuerySelect: false)
                    </el-form-item>
                    <el-form-item label="存放地点" prop="StoredAddressId" :rules="Validation.Select">
                        @UIHelper.Select("SelectList.AssetUsedDepartmentStoredAddressId.Data", "AssetList.ModelDialog.Model.StoredAddressId", "存放地点"
                                , strTextBind: "AssetList.ModelDialog.Model.StoredAddressName", bIsQuerySelect: false)
                    </el-form-item>
                    <el-form-item label="来源" prop="SourceId" :rules="Validation.Select">
                        @UIHelper.Select("SelectList.SourceId.Data", "AssetList.ModelDialog.Model.SourceId", "来源"
                                , strTextBind: "AssetList.ModelDialog.Model.SourceName", bIsQuerySelect: false)
                    </el-form-item>
                    <el-form-item label="管理员" prop="SessionId" required>
                        <el-input placeholder="管理员" v-model="AssetList.ModelDialog.Model.SessionName" :disabled="true"></el-input>
                    </el-form-item>
                </div>
                <el-row>
                    <el-col :span="16">
                        <el-row>
                            <el-form-item label="使用期限" prop="UsedMonth" required>
                                <el-input-number placeholder="使用期限" v-model="AssetList.ModelDialog.Model.UsedMonth" :min="1"></el-input-number>
                            </el-form-item>
                        </el-row>
                        <el-row>
                            <el-form-item label="备注" prop="Note">
                                <el-input placeholder="备注" type="textarea" v-model="AssetList.ModelDialog.Model.Note" :autosize="{ minRows: 4 }"></el-input>
                            </el-form-item>
                        </el-row>
                    </el-col>
                    <el-col :span="8">
                        <el-row>
                            @UIHelper.UploadImage("图片", "PicPath", strTable: "AssetList", strUploadFolder: "Asset", bIsShowPicAways: true)
                        </el-row>
                    </el-col>
                </el-row>
            </el-tab-pane>
            <el-tab-pane label="维保信息" name="t2">
                <div class="my-dialog-form-3">
                    <el-form-item label="供应商" prop="SupplierId">
                        @UIHelper.Select("SelectList.SupplierId.Data", "AssetList.ModelDialog.Model.SupplierId", "供应商"
                                , strTextBind: "AssetList.ModelDialog.Model.SupplierName", bIsQuerySelect: false)
                    </el-form-item>
                    <el-form-item label="联系人" prop="Contract">
                        <el-input placeholder="联系人" v-model="AssetList.ModelDialog.Model.Contract"></el-input>
                    </el-form-item>
                    <el-form-item label="联系方式" prop="ContractWay">
                        <el-input placeholder="联系方式" v-model="AssetList.ModelDialog.Model.ContractWay"></el-input>
                    </el-form-item>
                    <el-form-item label="负责人" prop="Director">
                        <el-input placeholder="负责人" v-model="AssetList.ModelDialog.Model.Director"></el-input>
                    </el-form-item>
                    <el-form-item label="维保到期" prop="EndDate">
                        @UIHelper.DatePicker("维保到期", "AssetList.ModelDialog.Model.EndDate")
                    </el-form-item>
                </div>
                <div class="my-dialog-form-2-1">
                    <el-form-item label="维保说明" prop="Discription">
                        <el-input placeholder="维保说明" type="textarea" v-model="AssetList.ModelDialog.Model.Discription" :autosize="{ minRows: 4 }"></el-input>
                    </el-form-item>
                    <el-from-item></el-from-item>
                </div>
            </el-tab-pane>
        </el-tabs>
    </el-form>
    <div slot="footer" class="dialog-footer">
        <el-button @@click="closeDialog('AssetList.ModelDialog')" icon="el-icon-close">取 消</el-button>
        <el-button type="primary" @@click="saveAssetDialog()" icon="el-icon-check">保 存</el-button>
    </div>
</el-dialog>