﻿<el-dialog :title="getTitle('实物信息变更')" :visible="List.ModelDialog.Visible" @@close="closeDialog('List.ModelDialog')"
           width="92%"
           :close-on-click-modal="Common.CloseOnClickModal"
           :close-on-press-escape="Common.CloseOnPressEscape">
    <el-form :model="List.ModelDialog.Model"
             status-icon
             :show-message="false"
             ref="List.ModelDialog"
             label-width="100px"
             :label-suffix="Common.FormLabelSuffix">
        <div class="my-dialog-form-3">
            <el-form-item label="变更单号" prop="Code" required>
                <el-input placeholder="变更单号" v-model="List.ModelDialog.Model.Code" :disabled="true">
                    <el-button slot="append"
                               :icon="getSearchButtonIcon(List.ModelDialog.Model.Code)"
                               @@click="getCode('/AssetUpdate/GetCode',List.ModelDialog.Model)"
                               v-if="List.ModelDialog.Model.Id == 0">
                    </el-button>
                </el-input>
            </el-form-item>
            <el-form-item label="变更时间" prop="CreateTime" required>
                @UIHelper.DatePicker("变更时间", "List.ModelDialog.Model.CreateTime")
            </el-form-item>
        </div>
        <div class="my-dialog-form-3">
            @*<el-form-item label="归还单位" prop="UsedCompanyId" required>
                <el-input placeholder="归还单位" v-model="List.ModelDialog.Model.UsedCompanyName" :disabled="true"></el-input>
            </el-form-item>*@
            <el-form-item label="变更部门" prop="UsedDepartmentId" :rules="Validation.Select">
                @UIHelper.Select("SelectList.UsedDepartmentId.Data", "List.ModelDialog.Model.UsedDepartmentId", "变更部门"
                                , "handleAssetUpdateDepartmentEditChange"
                                , "<span :class=\"getDepartmentTypeClass(item)\" v-html=\"getDepartmentName(item)\"></span>"
                                , strOptionDisabledKey: "Department"
                                , strTextBind: "List.ModelDialog.Model.UsedDepartmentName")
            </el-form-item>
            <el-form-item label="变更人" prop="UsedEmployeeId" :rules="Validation.Select">
                @UIHelper.Select("SelectList.UsedEmployeeId.Data", "List.ModelDialog.Model.UsedEmployeeId", "变更人", bIsQuerySelect: false)
            </el-form-item>
        </div>
        <div class="my-dialog-form-2-1">
            <el-form-item label="变更说明" prop="Description">
                <el-input placeholder="变更说明" type="textarea" v-model="List.ModelDialog.Model.Description" :autosize="{ minRows: 4 }"></el-input>
            </el-form-item>
            <el-form-item></el-form-item>
        </div>
        <el-form-item label="资产详细" prop="AssetUpdateItems" :rules="Validation.List">
            <el-button class="my-form-item-button" @@click="selectAssets(-1,List.ModelDialog.Model.AssetUpdateItems,getAssetUpdateItemDto,assetUniqueCallback)" type="primary" icon="el-icon-plus">选择资产<i class="my-hide el-icon-error"></i></el-button>
        </el-form-item>
        <el-table :data="List.ModelDialog.Model.AssetUpdateItems"
              border stripe
              style="width: 100%">
            <el-table-column type="index" width="50"></el-table-column>
            <el-table-column label="状态">
                <template slot-scope="scope">
                    <div class="my-text-center">
                        <el-popover v-if="existFile(scope.row.PicPath)"
                                    title="预览"
                                    trigger="hover"
                                    :disabled="!existFile(scope.row.PicPath)">
                            <img slot="reference" class="my-pic-detail"
                                 v-bind:src="scope.row.PicPath" />
                            <img class="my-table-img-show" :src="scope.row.PicPath" />
                        </el-popover>
                    </div>
                </template>
            </el-table-column>
            <el-table-column label="条码名称" width="200">
                <template slot-scope="scope">
                    <p class="my-text-danger">条码：{{scope.row.Asset.Code}}</p>
                    <p class="my-text-info">资产编码：{{scope.row.SN}}</p>
                    <p class="my-text-success">名称：{{scope.row.Name}}</p>
                    <p class="my-text-danger">类别：{{scope.row.AssetTypeName}}</p>
                    <p class="my-text-success">型号：{{scope.row.Model}}</p>
                </template>
            </el-table-column>
            <el-table-column label="使用者">
                <template slot-scope="scope">
                    <p class="my-text-danger">单位：{{scope.row.UsedCompanyName}}</p>
                    <p class="my-text-success">单位：{{scope.row.UsedDepartmentName}}</p>
                    <p class="my-text-info">使用人：{{scope.row.UsedEmployeeName}}</p>
                    <p class="my-text-danger">管理部门：{{scope.row.RegionName}}</p>
                    <p class="my-text-info">存放地点：{{scope.row.StoredAddressName}}</p>
                </template>
            </el-table-column>
            <el-table-column label="购入信息">
                <template slot-scope="scope">
                    <p class="my-text-success">购入时间：{{getDate(scope.row.BuyTime,true)}}</p>
                    <p class="my-text-primary">使用期限：{{scope.row.UsedMonth}}(月)</p>
                    <p class="my-text-info">来源：{{scope.row.SourceName}}</p>
                </template>
            </el-table-column>
            <el-table-column label="供应商">
                <template slot-scope="scope">
                    <p class="my-text-danger">供应商：{{scope.row.SupplierName}}</p>
                    <p class="my-text-success">负责人：{{scope.row.Director}}</p>
                    <p class="my-text-primary">联系人：{{scope.row.Contract}}</p>
                    <p class="my-text-info">联系方式：{{scope.row.ContractWay}}</p>
                </template>
            </el-table-column>
            <el-table-column label="创建者" :width="200">
                <template slot-scope="scope">
                    <p class="my-text-danger">创建者：{{scope.row.SessionName}}</p>
                    <p class="my-text-success">创建时间：{{getDate(scope.row.CreateTime,true)}}</p>
                    <div class="my-button-action">
                        <el-button @@click="editAssetDialog(scope.$index,scope.row)" type="primary" size="mini" icon="el-icon-edit">更 新</el-button>
                        <el-button @@click="function(){handleDeleteRow(scope.$index,List.ModelDialog.Model.AssetUpdateItems);handleDeleteRow(scope.$index,SelectedAssetList.SelectedAssetList);}" type="danger" size="mini" icon="el-icon-delete">取 消</el-button>
                    </div>
                </template>
            </el-table-column>  
        </el-table>
    </el-form>
    <div slot="footer" class="dialog-footer">
        <el-button @@click="closeDialog('List.ModelDialog')" icon="el-icon-close">取 消</el-button>
        <el-button type="primary" @@click="submitForm('List.ModelDialog', handleSave, getPageList)" icon="el-icon-check">保 存</el-button>
    </div>
</el-dialog>
@Html.Partial("EditAsset")