﻿@{
    Layout = "~/Areas/Admin/Views/Shared/_PrintLayout.cshtml";
}

<div class="my-main-body-button">
    <span class="my-main-body-title">
        <i class="el-icon-view"></i>
        实物信息变更
    </span>
    @UIHelper.SearchInput("变更单号/描述关键字")
    @UIHelper.Period("变更日期")
    @ButtonHelper.Add(strClick: "handleAdd('List.ModelDialog',resetSelectedAsset)")
</div>

<el-table :data="List.Data"
          :row-key="getItemId"
          border stripe
          header-row-class-name="my-main-body-table-header"
          @@selection-change="handleSelectionChange"
          @@sort-change="function(sort){handleSortChange(sort,'List');}"
          style="width: 100%">
    <el-table-column type="expand">
        @UIHelper.SubAssetTemplate("AssetUpdateItems", "Asset.", @"<p class=""my-text-info"">变更详细：{{scope.row.UpdateRecord}}</p>")
    </el-table-column>
    <el-table-column label="变更单号" prop="Code" sortable="custom">
        <template slot-scope="scope">
            <p class="my-text-danger">{{scope.row.Code}}</p>
        </template>
    </el-table-column>
    <el-table-column label="变更信息" prop="UsedCompanyName" sortable="custom">
        <template slot-scope="scope">
            <p class="my-text-danger">变更单位：{{scope.row.UsedCompanyName}}</p>
            <p class="my-text-success">变更部门：{{scope.row.UsedDepartmentName}}</p>
            <p class="my-text-primary">变更人：{{scope.row.UsedEmployeeName}}</p>
        </template>
    </el-table-column>
    <el-table-column label="变更日期" prop="CreateTime" sortable="custom">
        <template slot-scope="scope">
            <p class="my-text-danger">变更日期：{{getDate(scope.row.CreateTime,true)}}</p>
        </template>
    </el-table-column>
    <el-table-column label="变更备注" prop="Description"></el-table-column>
    <el-table-column label="处理人" prop="SessionName"></el-table-column>
    <el-table-column label="操作" :width="100" align="center">
        <template slot-scope="scope">
            @ButtonHelper.OpenPrint("handleOpenDialog(scope.row,List.PrintDialog)")
        </template>
    </el-table-column>
</el-table>

@Html.Partial("_Pagination", "List")

@Html.Partial("Edit")
@Html.Partial("Print")
@Html.Partial("_AssetList", false)

@section js{
@(Html.DtoModel<AssetDto>())
@(Html.DtoModel<AssetUpdateDto>())
@(Html.DtoModel<AssetUpdateItemDto>())
    <script>
        function getVueOptions() {
            return helper.getPageVueOptions("AssetUpdate", getAssetUpdateDto, getSelectAssetListOptions({
                data: {
                    List: {
                        PrintDialog: {
                            Model: getAssetUpdateDto(),
                            Visible: false
                        }
                    },
                    AssetList: {
                        ModelDialog: {
                            Index: -1,
                            Model: getAssetUpdateItemDto(),
                            Progress: [0],
                            AssetInfoTab: "t1",
                            Visible: false,
                            Action: {
                                Code: "/Asset/GetCode"
                            }
                        }
                    },
                    optionProps: {
                        value: 'Id',
                        label: 'DisplayName',
                        children: 'Children',
                        emitPath: false
                    },
                    SelectList: {
                        UsedDepartmentId: { Controller: "Department", Data: [] },
                        AssetUsedDepartmentEmployeeId: { Data: [] },
                        AssetUsedDepartmentStoredAddressId: { Data: [] },
                        AssetTypeId: { Controller: "AssetType", Data: [], Action: "GetTreeList", SearchModel: { PageParam: helper.default.AllPageParam }},
                        RegionId: { Controller: "Region", Data: [] },
                        UnitId: { Controller: "Unit", Data: [] },
                        SourceId: { Controller: "Source", Data: [] },
                        SupplierId: { Controller: "Supplier", Data: [] }
                    }
                },
                watch: getSearchModelWatchList([
                    { TableName: "List", InitEvent: function () { this.getPageList("List"); } }
                ]),
                computed: {
                    TotalAmount: function () {
                        return this.getTotalAmount(this.List.PrintDialog.Model.AssetUpdateItems, o=>o.Asset.Total * o.Asset.Price);
                    }
                },
                methods: {
                    getTreeData: function (data) {
                        // 循环遍历json数据
                        for (var i = 0; i < data.length; i++) {

                            if (data[i].Children.length < 1) {
                                // children若为空数组，则将children设为undefined
                                data[i].Children = undefined;
                            } else {
                                // children若不为空数组，则继续 递归调用 本方法
                                this.getTreeData(data[i].Children);
                            }
                        }
                        return data;
                    },
                    setBaseDataList: function () {
                        var _this = this;
                        _.each(_this.SelectList, function (value, key) {
                            if (_.isArray(value) || value.Controller == null) {
                                return;
                            }
                            var action = value.Action || "GetList";
                            _this.getBaseDataList("/" + value.Controller + "/" + action, value.SearchModel, function (data) {
                                if (value.Controller == "AssetType") {
                                    _this.SelectList[key].Data = _this.getTreeData(data);
                                } else {
                                    _this.SelectList[key].Data = data;
                                }
                            });
                        });
                    },
                    handleAssetUpdateDepartmentEditChange: function () {
                        this.handleDepartmentChange("List.ModelDialog", this.List.ModelDialog.Model.UsedDepartmentId);
                    },
                    handleAssetUpdateAssetDepartmentEditChange: function () {
                        this.handleDepartmentChange("AssetList.ModelDialog",
                            this.AssetList.ModelDialog.Model.UsedDepartmentId,
                            this.getAssetDepartmentEmployeeCacheList,
                            this.getAssetStoredAddressCacheList);
                    },
                    getAssetDepartmentEmployeeCacheList: function (departmentId) {
                        this.getCacheList("Employee", departmentId, { Id1: departmentId }, "AssetUsedDepartmentEmployeeId", "UsedEmployeeId")
                    },
                    getAssetStoredAddressCacheList: function (departmentId) {
                        this.getCacheList("StoredAddress", departmentId, { Id: departmentId, Id1: 1 }, "AssetUsedDepartmentStoredAddressId", "StoredAddressId")
                    },
                    editAssetDialog: function (index, row) {
                        this.AssetList.ModelDialog.Index = index

                        var model = _.cloneDeep(row);
                        this.getAssetDepartmentEmployeeCacheList(model.UsedDepartmentId);
                        this.getAssetStoredAddressCacheList(model.UsedDepartmentId);
                        
                        this.AssetList.ModelDialog.Model = model;
                        this.AssetList.ModelDialog.AssetInfoTab = "t1";
                        this.AssetList.ModelDialog.Visible = true;
                        
                        this.resetForm("AssetList.ModelDialog", model);
                    },
                    assetUniqueCallback: function(o,item){
                        return o.AssetId == item.AssetItemStatus.Asset.Id;
                    },
                    saveAssetDialog: function () {
                        var _this = this;
                        var formName = "AssetList.ModelDialog";
                        _this.validateForm(formName, function () {
                            var model = _.cloneDeep(_this.AssetList.ModelDialog.Model);
                            if (_this.AssetList.ModelDialog.IsAdd) {
                                _this.List.ModelDialog.Model.AssetUpdateItems.push(model);
                            } else {
                                Vue.set(_this.List.ModelDialog.Model.AssetUpdateItems, _this.AssetList.ModelDialog.Index, model);
                            }
                            _this.AssetList.ModelDialog.Visible = false;
                            _this.resetForm(formName, model);
                        });
                    }
                }
            }));
        }
    </script>
}