﻿<el-dialog title="打印实物信息变更单" :visible="List.PrintDialog.Visible" @@close="closeDialog('List.PrintDialog')"
           width="80%"
           :close-on-click-modal="Common.CloseOnClickModal"
           :close-on-press-escape="Common.CloseOnPressEscape">
    <div id="printMe">
        <div class="my-print">
            <div class="my-print-title">实物信息变更单</div>
            <div>
                @UIHelper.PrintLabel("变更单号", "{{List.PrintDialog.Model.Code}}", bIsFillText: false)
                @UIHelper.PrintLabel("变更日期", "{{getDatePrintString(List.PrintDialog.Model.CreateTime)}}", bIsFillText: false)
            </div>
            <div>
                @UIHelper.PrintLabel("变更单位", "{{List.PrintDialog.Model.UsedCompanyName}}", bIsFillText: false)
                @UIHelper.PrintLabel("变更部门", "{{List.PrintDialog.Model.UsedDepartmentName}}", bIsFillText: false)
                @UIHelper.PrintLabel("变更人", "{{List.PrintDialog.Model.UsedEmployeeName}}", bIsFillText: false)
            </div>
            <div>
                @UIHelper.PrintLabel("变更备注", "{{List.PrintDialog.Model.Description}}", strValueWidth: "auto", bIsFillText: false)
            </div>
            <table>
                <caption>资产明细：</caption>
                <thead>
                    <tr>
                        <th>序号</th>
                        <th>资产条码</th>
                        <th>资产类别</th>
                        <th>资产名称</th>
                        <th>规格型号</th>
                        <th>变更详情</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(item, index) in List.PrintDialog.Model.AssetUpdateItems">
                        <td>{{index+1}}</td>
                        <td>{{item.Asset.Code}}</td>
                        <td>{{item.Asset.AssetTypeName}}</td>
                        <td>{{item.Asset.Name}}</td>
                        <td>{{item.Asset.Model}}</td>
                        <td v-html="getRecordHtml(item.UpdateRecord)"></td>
                    </tr>
                </tbody>
            </table>
            <div>
                <span>变更人签字：</span>
                <span></span>
                <span></span>
                <span>签字时间：</span>
                <span></span>
            </div>
        </div>
    </div>
    <div slot="footer" class="dialog-footer">
        <el-button @@click="closeDialog('List.PrintDialog')" icon="el-icon-close">关 闭</el-button>
        @ButtonHelper.Print("printMe")
    </div>
</el-dialog>