﻿<el-dialog :title="getTitle('资产')" :visible="AssetList.ModelDialog.Visible" @@close="closeDialog('AssetList.ModelDialog')"
           width="92%"
           :close-on-click-modal="Common.CloseOnClickModal"
           :close-on-press-escape="Common.CloseOnPressEscape"
           append-to-body>
    <el-form :model="AssetList.ModelDialog.Model"
             status-icon
             :show-message="false"
             ref="AssetList.ModelDialog"
             label-width="100px"
             :label-suffix="Common.FormLabelSuffix">
        <el-tabs v-model="AssetList.ModelDialog.AssetInfoTab">
            <el-tab-pane label="基本信息" name="t1">
                <div class="my-dialog-form-3">
                    <el-form-item label="资产条码" prop="Code" required>
                        <el-input placeholder="资产条码" v-model="AssetList.ModelDialog.Model.Code" :disabled="true">
                            <el-button slot="append"
                                       :icon="getSearchButtonIcon(AssetList.ModelDialog.Model.Code)"
                                       @@click="getCode('/Asset/GetCode',AssetList.ModelDialog.Model,'AssetList.ModelDialog')"
                                       v-if="AssetList.ModelDialog.Model.Id == 0">
                            </el-button>
                        </el-input>
                    </el-form-item>
                    <el-form-item label="资产类别" prop="AssetTypeId" :rules="Validation.Select">
                        <el-cascader placeholder="资产类别"
                                     v-model="AssetList.ModelDialog.Model.AssetTypeId"
                                     :options="SelectList.AssetTypeId.Data"
                                     :props="optionProps"
                                     style="width:100%"
                                     filterable></el-cascader>
                    </el-form-item>
                    <el-form-item label="资产名称" prop="Name" required>
                        <el-input placeholder="资产名称" v-model="AssetList.ModelDialog.Model.Name"></el-input>
                    </el-form-item>
                    <el-form-item label="规格型号" prop="Model" required>
                        <el-input placeholder="规格型号" v-model="AssetList.ModelDialog.Model.Model"></el-input>
                    </el-form-item>
                    <el-form-item label="资产编码" prop="SN" required>
                        <el-input placeholder="资产编码" v-model="AssetList.ModelDialog.Model.SN" :disabled="true"></el-input>
                    </el-form-item>
                    <el-form-item label="购入时间" prop="BuyTime" required>
                        @UIHelper.DatePicker("购入时间", "AssetList.ModelDialog.Model.BuyTime")
                    </el-form-item>
                    <el-form-item label="计量单位" prop="UnitId" :rules="Validation.Select">
                        @UIHelper.Select("SelectList.UnitId.Data", "AssetList.ModelDialog.Model.UnitId", "计量单位", strTextBind: "AssetList.ModelDialog.Model.UnitName", bIsQuerySelect: false)
                    </el-form-item>
                    <el-form-item label="数量" prop="Total" required>
                        <el-input-number placeholder="数量" v-model="AssetList.ModelDialog.Model.Total" :min="1" :precision="0"></el-input-number>
                    </el-form-item>

                    <el-form-item label="单价(元)" prop="Price" required>
                        <el-input-number placeholder="单价(元)" v-model="AssetList.ModelDialog.Model.Price" :min="1" :precision="0"></el-input-number>
                    </el-form-item>
                    <el-form-item label="管理部门" prop="RegionId" :rules="Validation.Select">
                        @UIHelper.Select("SelectList.RegionId.Data", "AssetList.ModelDialog.Model.RegionId", "管理部门"
                                , strTextBind: "AssetList.ModelDialog.Model.RegionName", bIsQuerySelect: false)
                    </el-form-item>
                    @*<el-form-item label="使用单位" prop="UsedCompanyId" required>
            <el-input placeholder="使用单位" v-model="AssetList.ModelDialog.Model.UsedCompanyName" :disabled="true"></el-input>
        </el-form-item>*@
                    <el-form-item label="使用部门" prop="UsedDepartmentId" :rules="Validation.Select">
                        @UIHelper.Select("SelectList.UsedDepartmentId.Data", "AssetList.ModelDialog.Model.UsedDepartmentId", "部门"
                                , "handleDepartmentEditChange"
                                , "<span :class=\"getDepartmentTypeClass(item)\" v-html=\"getDepartmentName(item)\"></span>"
                                , strOptionDisabledKey: "Department"
                                , strTextBind: "AssetList.ModelDialog.Model.UsedDepartmentName"
                                , bIsQuerySelect: false)
                    </el-form-item>
                    <el-form-item label="使用人" prop="UsedEmployeeId" :rules="Validation.Select">
                        @UIHelper.Select("SelectList.UsedEmployeeId.Data", "AssetList.ModelDialog.Model.UsedEmployeeId", "使用人"
                                , strTextBind: "AssetList.ModelDialog.Model.UsedEmployeeName", bIsQuerySelect: false)
                    </el-form-item>
                    <el-form-item label="存放地点" prop="StoredAddressId" :rules="Validation.Select">
                        @UIHelper.Select("SelectList.StoredAddressId.Data", "AssetList.ModelDialog.Model.StoredAddressId", "存放地点"
                                , strTextBind: "AssetList.ModelDialog.Model.StoredAddressName", bIsQuerySelect: false)
                    </el-form-item>
                    <el-form-item label="来源" prop="SourceId" :rules="Validation.Select">
                        @UIHelper.Select("SelectList.SourceId.Data", "AssetList.ModelDialog.Model.SourceId", "来源"
                                , strTextBind: "AssetList.ModelDialog.Model.SourceName", bIsQuerySelect: false)
                    </el-form-item>
                    <el-form-item label="管理员" prop="SessionId" required>
                        <el-input placeholder="管理员" v-model="AssetList.ModelDialog.Model.SessionName" :disabled="true"></el-input>
                    </el-form-item>
                    <el-form-item label="使用期限" prop="UsedMonth">
                        <el-input-number placeholder="使用期限" v-model="AssetList.ModelDialog.Model.UsedMonth" :min="1"></el-input-number>
                    </el-form-item>
                    <el-form-item label="记账日期" prop="BookkeepingTime">
                        @UIHelper.DatePicker("记账日期", "AssetList.ModelDialog.Model.BookkeepingTime")
                    </el-form-item>
                    <el-form-item label="记账凭证" prop="Name">
                        <el-input placeholder="记账凭证" v-model="AssetList.ModelDialog.Model.BookkeepingVoucher"></el-input>
                    </el-form-item>
                </div>
                <el-row>
                    <el-col>
                        <el-row>

                        </el-row>
                        <el-row>
                            <el-form-item label="备注" prop="Note">
                                <el-input placeholder="备注" type="textarea" v-model="AssetList.ModelDialog.Model.Note" :autosize="{ minRows: 4 }"></el-input>
                            </el-form-item>
                        </el-row>
                    </el-col>
                    <el-col>
                        <el-row>
                            @UIHelper.UploadImage("图片", "PicPath", strTable: "AssetList", strUploadFolder: "Asset", bIsShowPicAways: true)
                        </el-row>
                    </el-col>
                </el-row>
            </el-tab-pane>
            <el-tab-pane label="维保信息" name="t2">
                <div class="my-dialog-form-3">
                    <el-form-item label="供应商" prop="SupplierId">
                        @UIHelper.Select("SelectList.SupplierId.Data", "AssetList.ModelDialog.Model.SupplierId", "供应商"
                                , strTextBind: "AssetList.ModelDialog.Model.SupplierName", bIsQuerySelect: false)
                    </el-form-item>
                    <el-form-item label="联系人" prop="Contract">
                        <el-input placeholder="联系人" v-model="AssetList.ModelDialog.Model.Contract"></el-input>
                    </el-form-item>
                    <el-form-item label="联系方式" prop="ContractWay">
                        <el-input placeholder="联系方式" v-model="AssetList.ModelDialog.Model.ContractWay"></el-input>
                    </el-form-item>
                    <el-form-item label="负责人" prop="Director">
                        <el-input placeholder="负责人" v-model="AssetList.ModelDialog.Model.Director"></el-input>
                    </el-form-item>
                    <el-form-item label="维保到期" prop="EndDate">
                        @UIHelper.DatePicker("维保到期", "AssetList.ModelDialog.Model.EndDate")
                    </el-form-item>
                </div>
                <div class="my-dialog-form-2-1">
                    <el-form-item label="维保说明" prop="Discription">
                        <el-input placeholder="维保说明" type="textarea" v-model="AssetList.ModelDialog.Model.Discription" :autosize="{ minRows: 4 }"></el-input>
                    </el-form-item>
                    <el-from-item></el-from-item>
                </div>
            </el-tab-pane>
            <el-tab-pane label="额外信息" name="t3">
                <div class="my-dialog-form-2-1">
                    @UIHelper.Upload("附件", "AttachmentPath", false, intProgressNo: 1, strTable: "AssetList")
                    <el-from-item>
                        <div class="my-main-body-button">
                            <el-button type="primary" icon="el-icon-plus" @@click="addAssetOtherInfo()">添加</el-button>
                        </div>
                    </el-from-item>
                </div>
                <el-table :data="AssetList.ModelDialog.Model.AssetOtherInfos"
                            border
                            style="width: 100%"
                            class="my-dialog-table">
                    <el-table-column type="index"
                                        width="50">
                    </el-table-column>
                    <el-table-column label="属性名称" align="center">
                        <template slot-scope="scope">
                            <el-form-item label-width="0px" :prop="getProp('AssetOtherInfos',scope.$index,'Key')" required>
                                <el-input placeholder="属性名称" v-model="scope.row.Key"></el-input>
                            </el-form-item>
                        </template>
                    </el-table-column>
                    <el-table-column label="属性值" align="center">
                        <template slot-scope="scope">
                            <el-form-item label-width="0px" :prop="getProp('AssetOtherInfos',scope.$index,'Value')" required>
                                <el-input placeholder="属性值" v-model="scope.row.Value"></el-input>
                            </el-form-item>
                        </template>
                    </el-table-column>
                    <el-table-column label="操作" width="100" align="center">
                        <template slot-scope="scope">
                            <el-button size="mini" type="danger" @@click="handleDeleteRow(scope.$index, AssetList.ModelDialog.Model.AssetOtherInfos)" icon="el-icon-delete">删除</el-button>
                        </template>
                    </el-table-column>
                </el-table>
            </el-tab-pane>
        </el-tabs>
    </el-form>
    <div slot="footer" class="dialog-footer">
        <el-button @@click="closeDialog('AssetList.ModelDialog')" icon="el-icon-close">取 消</el-button>
        <el-button type="primary" @@click="saveAssetDialog()" icon="el-icon-check">保 存</el-button>
    </div>
</el-dialog>