﻿<el-dialog :title="getTitle('资产入库')" :visible="List.ModelDialog.Visible" @@close="closeDialog('List.ModelDialog')"
           width="92%"
           :close-on-click-modal="Common.CloseOnClickModal"
           :close-on-press-escape="Common.CloseOnPressEscape">
    <el-form :model="List.ModelDialog.Model"
             status-icon
             :show-message="false"
             ref="List.ModelDialog"
             label-width="100px"
             :label-suffix="Common.FormLabelSuffix">
        <div class="my-dialog-form-3">
            <el-form-item label="入库单号" prop="Code" required>
                <el-input placeholder="入库单号" v-model="List.ModelDialog.Model.Code" :disabled="true">
                    <el-button slot="append"
                               :icon="getSearchButtonIcon(List.ModelDialog.Model.Code)"
                               @@click="getCode('/AssetStorage/GetCode',List.ModelDialog.Model)"
                               v-if="List.ModelDialog.Model.Id == 0">
                    </el-button>
                </el-input>
            </el-form-item>
            <el-form-item label="入库时间" prop="StorageTime" required>
                @UIHelper.DatePicker("入库时间", "List.ModelDialog.Model.StorageTime")
            </el-form-item>
            <el-form-item></el-form-item>
        </div>
        <div class="my-dialog-form-2-1">
            <el-form-item label="入库说明" prop="Description">
                <el-input placeholder="入库说明" type="textarea" v-model="List.ModelDialog.Model.Description" :autosize="{ minRows: 4 }"></el-input>
            </el-form-item>
            <el-form-item></el-form-item>
        </div>
        <el-form-item label="资产详细" prop="Assets" :rules="Validation.List">
            <el-button class="my-form-item-button" @@click="editAssetDialog(-1)" type="primary" icon="el-icon-plus">添加资产<i class="my-hide el-icon-error"></i></el-button>
            @ButtonHelper.Import()
        </el-form-item>
        @UIHelper.SubAssetTable("List.ModelDialog.Model.Assets", strButtons: @"<div class=""my-button-action"">
                    <div>
                        <el-button @click=""editAssetDialog(-1,scope.row)"" type=""success"" size=""mini"" icon=""el-icon-edit"">复 制</el-button>
                    </div>
                    <div>
                        <el-button @click=""editAssetDialog(scope.$index,scope.row)"" type=""primary"" size=""mini"" icon=""el-icon-edit"">编 辑</el-button>
                        <el-button @click=""handleDeleteRow(scope.$index,List.ModelDialog.Model.Assets)"" type=""danger"" size=""mini"" icon=""el-icon-delete"">删 除</el-button>
                    </div>
                </div>")
    </el-form>
    <div slot="footer" class="dialog-footer">
        <el-button @@click="closeDialog('List.ModelDialog')" icon="el-icon-close">取 消</el-button>
        <el-button type="primary" @@click="submitForm('List.ModelDialog', handleSave, getPageList)" icon="el-icon-check">保 存</el-button>
    </div>
</el-dialog>
@Html.Partial("EditAsset")