﻿@{
    Layout = "~/Areas/Admin/Views/Shared/_PrintLayout.cshtml";
}

<div class="my-main-body-button">
    <span class="my-main-body-title">
        <i class="el-icon-view"></i>
        资产入库
    </span>
    @UIHelper.SearchInput("入库单号/描述关键字")
    @UIHelper.Period("入库日期")
    @ButtonHelper.Add()
</div>

<el-table :data="List.Data"
          :row-key="getItemId"
          border stripe
          header-row-class-name="my-main-body-table-header"
          @@selection-change="handleSelectionChange"
          @@sort-change="function(sort){handleSortChange(sort,'List');}"
          style="width: 100%">
    <el-table-column type="expand">
        @UIHelper.SubAssetTemplate()
    </el-table-column>
    <el-table-column label="入库单号" prop="Code" sortable="custom">
        <template slot-scope="scope">
            <p class="my-text-danger">{{scope.row.Code}}</p>
        </template>
    </el-table-column>
    <el-table-column label="入库时间" prop="StorageTime" sortable="custom" :width="110">
        <template slot-scope="scope">
            {{getDate(scope.row.StorageTime,true)}}
        </template>
    </el-table-column>
    <el-table-column label="入库人" prop="SessionName" sortable="custom" :width="150"></el-table-column>
    <el-table-column label="创建时间" prop="CreateTime" sortable="custom" :width="110">
        <template slot-scope="scope">
            {{getDate(scope.row.CreateTime,true)}}
        </template>
    </el-table-column>
    <el-table-column label="描述" prop="Description" sortable="custom"></el-table-column>
    <el-table-column label="操作" :width="200" align="center">
        <template slot-scope="scope">
            @ButtonHelper.Delete()
            @ButtonHelper.OpenPrint("handleOpenDialog(scope.row,List.PrintDialog)")
        </template>
    </el-table-column>
</el-table>

@Html.Partial("_Pagination", "List")

@Html.Partial("Edit")
@Html.Partial("Print")
@(Html.Import<Asset>(true))

@section js{
    @(Html.DtoModel<AssetBaseDto>())
    @(Html.DtoModel<AssetOtherInfoDto>())
    @(Html.DtoModel<AssetStorageDto>())
    @(Html.DtoModel<AssetLabelDto>())
    <script>
        function getVueOptions() {
            return helper.getPageVueOptions("AssetStorage", getAssetStorageDto, {
                data: {
                    SelectList: {
                        UsedDepartmentId: { Controller: "Department", Data: [] },
                        AllEmployeeId: { Controller: "Employee", Data: [] },
                        AllStoredAddressId: { Controller: "StoredAddress", SearchModel: { Id1: 1 }, Data: [] },
                        AssetTypeId: {
                            Controller: "AssetType", Data: [], Action: "GetTreeList", SearchModel: { PageParam: helper.default.AllPageParam }
                        },
                        RegionId: { Controller: "Region", Data: [] },
                        UnitId: { Controller: "Unit", Data: [] },
                        SourceId: { Controller: "Source", Data: [] },
                        SupplierId: { Controller: "Supplier", Data: [] },
                        AssetLabel: {
                            Controller: "AssetLabel",
                            Data: [],
                            SearchModel: { Id: 1 }
                        }
                    },
                    SearchModel: { Code: { SearchText: "" } },
                    AssetList: {
                        ModelDialog: {
                            IsAdd: true,
                            Index: -1,
                            Model: getAssetBaseDto(),
                            Progress: [0, 0],
                            AssetInfoTab: "t1",
                            Visible: false,
                            Action: {
                                Code: "/Asset/GetCode"
                            }
                        }
                    },
                    Dialog: {
                        NewId: 1,
                        DepartmentId: 0,
                    },
                    Import: helper.getImportModel("Asset", { ModelDialog: { Model: { IsPreImport: true } } }),
                    List: {
                        PrintDialog: {
                            Model: getAssetStorageDto(),
                            Visible: false
                        }
                    },
                    optionProps: {
                        value: 'Id',
                        label: 'DisplayName',
                        children: 'Children',
                        emitPath: false
                    }
                },
                computed: {
                    TotalAmount: function () {
                        return this.getTotalAmount(this.List.PrintDialog.Model.Assets);
                    },
                    AssetUsedLableTemplate: function () {
                        var aryTemplate = _.filter(this.SelectList.AssetLabel.Data, o => o.IsDefaultUsed);
                        if (aryTemplate.length == 0) {
                            return null;
                        }
                        return aryTemplate[0];
                    },
                    AssetLabelTemplate: function () {
                        if (this.AssetUsedLableTemplate == null) {
                            return getAssetLabelDto();
                        }
                        return this.AssetUsedLableTemplate;
                    }
                },
                methods: {
                    getTreeData: function (data) {
                        // 循环遍历json数据
                        for (var i = 0; i < data.length; i++) {

                            if (data[i].Children.length < 1) {
                                // children若为空数组，则将children设为undefined
                                data[i].Children = undefined;
                            } else {
                                // children若不为空数组，则继续 递归调用 本方法
                                this.getTreeData(data[i].Children);
                            }
                        }
                        return data;
                    },
                    setBaseDataList: function () {
                        var _this = this;
                        _.each(_this.SelectList, function (value, key) {
                            if (_.isArray(value) || value.Controller == null) {
                                return;
                            }
                            var action = value.Action || "GetList";
                            _this.getBaseDataList("/" + value.Controller + "/" + action, value.SearchModel, function (data) {
                                if (value.Controller == "AssetType") {
                                    _this.SelectList[key].Data = _this.getTreeData(data);
                                } else {
                                    _this.SelectList[key].Data = data;
                                }
                            });
                        });
                    },
                    getCodeSearchModel: function (cmd) {
                        switch (cmd) {
                            case "AssetList.ModelDialog":
                                this.SearchModel.Code.SearchText = this.getSearchText(this.List.ModelDialog.Model.Assets, o => o.Id == 0 ? o.Code : "");
                                break;
                            default:
                                this.SearchModel.Code.SearchText = "";
                                break;
                        }
                        return this.SearchModel.Code;
                    },
                    handleDepartmentEditChange: function () {
                        this.handleDepartmentChange("AssetList.ModelDialog", this.AssetList.ModelDialog.Model.UsedDepartmentId);
                    },
                    editAssetDialog: function (index, model) {
                        this.AssetList.ModelDialog.Index = index;
                        var bIsAdd = (index == -1);
                        this.AssetList.ModelDialog.IsAdd = bIsAdd;
                        if (model == null) {
                            model = getAssetBaseDto();
                        } else {
                            model = _.cloneDeep(model);
                            this.getEmployeeCacheList(model.UsedDepartmentId);
                            this.getStoredAddressCacheList(model.UsedDepartmentId);
                        }

                        if (bIsAdd) {
                            helper.setModelField(model);
                            helper.setModelField(model, "AssetItemStatuses", []);
                            helper.setModelField(model, "AssetStorageId");
                            helper.setModelField(model.AssetOtherInfos);
                            helper.setModelField(model.AssetOtherInfos, "AssetId");
                            model.Code = "";
                            this.handleSpecialRule(this.AssetList.ModelDialog.Action, model, "AssetList.ModelDialog");
                        }
                        this.AssetList.ModelDialog.Model = model;
                        this.AssetList.ModelDialog.AssetInfoTab = "t1";
                        this.AssetList.ModelDialog.Visible = true;
                        this.resetForm("AssetList.ModelDialog", model);
                    },
                    saveAssetDialog: function () {
                        var _this = this;
                        var formName = "AssetList.ModelDialog";
                        _this.validateForm(formName, function () {
                            var model = _.cloneDeep(_this.AssetList.ModelDialog.Model);
                            if (_this.AssetList.ModelDialog.IsAdd) {
                                _this.List.ModelDialog.Model.Assets.push(model);
                            } else {
                                Vue.set(_this.List.ModelDialog.Model.Assets, _this.AssetList.ModelDialog.Index, model);
                            }
                            _this.AssetList.ModelDialog.Visible = false;
                            _this.resetForm(formName, model);
                        });
                    },
                    addAssetOtherInfo: function () {
                        this.AssetList.ModelDialog.Model.AssetOtherInfos.push(getAssetOtherInfoDto());
                    },
                    preImportCallback: function (table, data) {
                        var _this = this;
                        _.each(data, function (item) {
                            var assetDto = getAssetBaseDto();
                            helper.update(assetDto, item);
                            helper.update(assetDto, {
                                AssetTypeName: _this.getItemValue(_this.SelectList.AssetTypeId.Data, item.AssetTypeId),
                                UnitName: _this.getItemValue(_this.SelectList.UnitId.Data, item.UnitId),
                                UsedCompanyName: _this.getItemValue(_this.SelectList.UsedDepartmentId.Data, item.UsedCompanyId),
                                UsedDepartmentName: _this.getItemValue(_this.SelectList.UsedDepartmentId.Data, item.UsedDepartmentId),
                                UsedEmployeeName: _this.getItemValue(_this.SelectList.AllEmployeeId.Data, item.UsedEmployeeId),
                                SessionName: session.UserName,
                                RegionName: _this.getItemValue(_this.SelectList.RegionId.Data, item.RegionId),
                                StoredAddressName: _this.getItemValue(_this.SelectList.AllStoredAddressId.Data, item.StoredAddressId),
                                SourceName: _this.getItemValue(_this.SelectList.SourceId.Data, item.SourceId),
                                SupplierName: _this.getItemValue(_this.SelectList.SupplierId.Data, item.SupplierId)
                            });
                            _this.List.ModelDialog.Model.Assets.push(assetDto);
                        });
                    }
                }
            });
        }
    </script>
}