﻿<el-dialog title="打印固定资产入库单" :visible="List.PrintDialog.Visible" @@close="closeDialog('List.PrintDialog')"
           width="80%"
           :close-on-click-modal="Common.CloseOnClickModal"
           :close-on-press-escape="Common.CloseOnPressEscape">
    <div id="printMe">
        <div class="my-print">
            <div>仅供国库支付中心记账使用</div>
            <div class="my-print-title">固定资产入库单</div>
            <div>
                @UIHelper.PrintLabel("入库单号", "{{List.PrintDialog.Model.Code}}")
                @UIHelper.PrintLabel("申请单位号", "{{List.PrintDialog.Model.DepartmentCode}}", strValueWidth: "100px")
            </div>
            <div>
                @UIHelper.PrintLabel("填报单位名称", "{{List.PrintDialog.Model.DepartmentName}}")
                @UIHelper.PrintNow("报帐日期")
                @UIHelper.PrintLabel("附单据", "{{List.PrintDialog.Model.Assets.length+\"张\"}}", strValueWidth: "100px")
            </div>
            <table>
                <thead>
                    <tr>
                        <th rowspan="2">编号</th>
                        <th rowspan="2">类别</th>
                        <th rowspan="2">品名规格</th>
                        <th rowspan="2">数量</th>
                        <th rowspan="2">单价</th>
                        <th colspan="11">借方金额（人民币：元）</th>
                        <th rowspan="2">存方地点</th>
                        <th rowspan="2">备注</th>
                    </tr>
                    <tr>
                        <th class="my-amount">亿</th>
                        <th class="my-amount">千</th>
                        <th class="my-amount">百</th>
                        <th class="my-amount">十</th>
                        <th class="my-amount">万</th>
                        <th class="my-amount">千</th>
                        <th class="my-amount">百</th>
                        <th class="my-amount">十</th>
                        <th class="my-amount my-amount-yuan">元</th>
                        <th class="my-amount">角</th>
                        <th class="my-amount">分</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(item, index) in List.PrintDialog.Model.Assets">
                        <td>{{index+1}}</td>
                        <td>{{item.AssetTypeName}}</td>
                        <td>{{item.Model}} - {{item.Name}}</td>
                        <td>{{item.Total}}</td>
                        <td>{{getAmountFormat(item.Price)}}</td>
                        <td class="my-amount" v-for="n in 11" :class="getSingleAmountClass(n)">
                            {{getSingleAmount(item.Total*item.Price,n)}}
                        </td>
                        <td>{{item.StoredAddressName}}</td>
                        <td>{{item.Note}}</td>
                    </tr>
                    <tr>
                        <td colspan="5" class="my-print-total">合计金额小写：{{getAmountFormat(TotalAmount)}}</td>
                        <td class="my-amount" v-for="n in 11" :class="getSingleAmountClass(n)">
                            {{getSingleAmount(TotalAmount,n)}}
                        </td>
                        <td colspan="2"></td>
                    </tr>
                    <tr>
                        <td colspan="18" class="my-print-total">合计金额大写：{{getUpcaseAmount(TotalAmount)}}</td>
                    </tr>
                </tbody>
            </table>
            <div>
                <span>报账员：</span>
                <span>固定资产管理员：</span>
                <span>验收人：</span>
                <span>经办人：</span>
                <span></span>
            </div>
        </div>
    </div>

    <div slot="footer" class="dialog-footer">
        <el-button @@click="closeDialog('List.PrintDialog')" icon="el-icon-close">关 闭</el-button>
        @ButtonHelper.Print("printMe")
    </div>
</el-dialog>