﻿<el-dialog title="资产处理记录" :visible="List.ModelDialog.Visible" @@close="closeDialog('List.ModelDialog')"
           width="80%"
           :close-on-click-modal="Common.CloseOnClickModal"
           :close-on-press-escape="Common.CloseOnPressEscape">
    <div id="printMe">
        <div class="my-print-el">
            <div class="my-table-detail">
                <el-row>
                    <el-col :span="4" class="my-table-label">资产条码：</el-col>
                    <el-col :span="8">{{List.ModelDialog.Model.Code}}</el-col>
                    <el-col :span="4" class="my-table-label">资产名称：</el-col>
                    <el-col :span="8">{{List.ModelDialog.Model.Name}}</el-col>
                </el-row>
                <el-row>
                    <el-col :span="4" class="my-table-label">资产类别：</el-col>
                    <el-col :span="8">{{List.ModelDialog.Model.AssetTypeName}}</el-col>
                    <el-col :span="4" class="my-table-label">规格型号：</el-col>
                    <el-col :span="8">{{List.ModelDialog.Model.Model}}</el-col>
                </el-row>
                <el-row>
                    <el-col :span="4" class="my-table-label">购入时间：</el-col>
                    <el-col :span="8">{{getDatePrintString(List.ModelDialog.Model.BuyTime)}}</el-col>
                    <el-col :span="4" class="my-table-label">清理时间：</el-col>
                    <el-col :span="8">&nbsp;</el-col>
                </el-row>
            </div>
            <el-table :data="RecordList.Data"
                      :row-key="getItemId"
                      border stripe
                      header-row-class-name="my-main-body-table-header"
                      @@sort-change="function(sort){handleSortChange(sort,'RecordList');}"
                      style="width: 100%">
                <el-table-column label="处理日期" :width="160" prop="CreateTime" sortable="custom">
                    <template slot-scope="scope">
                        {{getDatePrintString(scope.row.CreateTime)}}
                    </template>
                </el-table-column>
                <el-table-column label="处理方式" :width="250" prop="OperationType" sortable="custom">
                    <template slot-scope="scope">
                        {{getItemValue(SelectList.OperationType.Data,scope.row.OperationType)}}：{{scope.row.Code}}
                    </template>
                </el-table-column>
                <el-table-column label="处理人" :width="160" prop="SessionName" sortable="custom"></el-table-column>
                <el-table-column label="处理内容" prop="Description" sortable="custom"></el-table-column>
            </el-table>
        </div>
    </div>
    @Html.Partial("_Pagination", "RecordList")
    <div slot="footer" class="dialog-footer">
        <el-button type="primary" @@click="closeDialog('List.ModelDialog')" icon="el-icon-close">确认</el-button>
        @ButtonHelper.Print("printMe")
    </div>
</el-dialog>