﻿@{
    Layout = "~/Areas/Admin/Views/Shared/_PrintLayout.cshtml";
}
@section css{
    <style>
        .el-form-item {
            margin-bottom: 0px;
        }
        .printBtn {
        margin:5px;
        text-align:center;
        margin-left:10px;
        }
    </style>
}
<div class="my-main-body-button">
    <span class="my-main-body-title">
        <i class="el-icon-view"></i>
        资产清单
    </span>
    @UIHelper.SearchInput("资产条码/SN/名称")
    @UIHelper.Select("SelectList.RegionId.Data", "List.SearchModel.Id4", "管理部门")
    @UIHelper.Select("SelectList.StoredAddressId.Data", "List.SearchModel.Id3", "存放地点")
    @UIHelper.Select("SelectList.AssetTypeId.Data", "List.SearchModel.Id", "资产类别", strTemplate: "<span :class='getParentClass(item)' v-html='getParentName(item)'></span>", strTextProp: "DisplayName")
    @UIHelper.Select("SelectList.UsedDepartmentId.Data", "TemplateId", "单位部门", "handlePageDepartmentChange", "<span :class='getDepartmentTypeClass(item)' v-html='getDepartmentName(item)'></span>")
</div>
<div class="my-main-body-button">
    @UIHelper.Period("购买时间")
    @ButtonHelper.Export(strFileName: "Asset_Export")
    @ButtonHelper.OpenPrint("handleLabelPrint(1)", "直接打印", "")
    @ButtonHelper.OpenPrint("handleLabelPrint()", "数量打印", "")
</div>

<el-table :data="List.Data"
          :row-key="getItemId"
          border stripe
          header-row-class-name="my-main-body-table-header"
          @@selection-change="handleSelectionChange"
          @@sort-change="function(sort){handleSortChange(sort,'List');}"
          style="width: 100%">
    <el-table-column type="selection" width="55" align="center"></el-table-column>
    @*<el-table-column type="expand">
            <template slot-scope="scope">
                <el-row style="background-color:antiquewhite;text-align:center;">
                    <el-col :span="4" style="border:1px solid #ffffff"><h3>图片</h3></el-col>
                    <el-col :span="4" style="border:1px solid #ffffff"><h3>条码名称</h3></el-col>
                    <el-col :span="4" style="border:1px solid #ffffff"><h3>使用者</h3></el-col>
                    <el-col :span="4" style="border:1px solid #ffffff"><h3>购入信息</h3></el-col>
                    <el-col :span="4" style="border:1px solid #ffffff"><h3>供应商</h3></el-col>
                    <el-col :span="4" style="border:1px solid #ffffff"><h3>创建者</h3></el-col>
                </el-row>
                <el-row>
                    <el-col :span="4" style="margin-top:10px;">
                        <div class="my-text-center">
                            <el-popover v-if="existFile(scope.row.PicPath)"
                                        title="预览"
                                        trigger="hover"
                                        :disabled="!existFile(scope.row.PicPath)">
                                <img slot="reference" class="my-pic-detail"
                                     v-bind:src="scope.row.PicPath" />
                                <img class="my-table-img-show" :src="scope.row.PicPath" />
                            </el-popover>
                        </div>
                    </el-col>
                    <el-col :span="4" class="my-text-center">
                        <el-form label-position="left">
                            <el-form-item label="条码:" class="my-text-danger">
                                <span>{{ scope.row.Code }}</span>
                            </el-form-item>
                            <el-form-item label="资产编码:" class="my-text-info">
                                <span>{{ scope.row.SN }}</span>
                            </el-form-item>
                            <el-form-item label="名称:" class="my-text-success">
                                <span>{{ scope.row.Name }}</span>
                            </el-form-item>
                            <el-form-item label="类别:" class="my-text-danger">
                                <span>{{ scope.row.AssetTypeName }}</span>
                            </el-form-item>
                            <el-form-item label="型号:" class="my-text-success">
                                <span>{{ scope.row.Model }}</span>
                            </el-form-item>
                            <el-form-item label="数量:" class="my-text-success">
                                <span>{{scope.row.Total}} {{scope.row.UnitName}}</span>
                            </el-form-item>
                            <el-form-item label="单价:" class="my-text-info">
                                <span>{{ scope.row.Price }}</span>
                            </el-form-item>
                        </el-form>
                    </el-col>
                    <el-col :span="4" class="my-text-center">
                        <el-form label-position="left">
                            <el-form-item label="单位名称:" class="my-text-danger">
                                <span>{{ scope.row.UsedCompanyName }}</span>
                            </el-form-item>
                            <el-form-item label="使用部门:" class="my-text-success">
                                <span>{{ scope.row.UsedDepartmentName }}</span>
                            </el-form-item>
                            <el-form-item label="使用人:" class="my-text-info">
                                <span>{{ scope.row.UsedEmployeeName }}</span>
                            </el-form-item>
                            <el-form-item label="管理部门:" class="my-text-danger">
                                <span>{{ scope.row.RegionName }}</span>
                            </el-form-item>
                            <el-form-item label="存放地点:" class="my-text-info">
                                <span>{{ scope.row.StoredAddressName }}</span>
                            </el-form-item>
                        </el-form>
                    </el-col>
                    <el-col :span="4" class="my-text-center">
                        <el-form label-position="left">
                            <el-form-item label="购入时间:" class="my-text-success">
                                <span>{{ getDate(scope.row.BuyTime,true) }}</span>
                            </el-form-item>
                            <el-form-item label="使用期限:" class="my-text-primary">
                                <span>{{scope.row.UsedMonth}}(月)</span>
                            </el-form-item>
                            <el-form-item label="来源:" class="my-text-info">
                                <span>{{ scope.row.SourceName }}</span>
                            </el-form-item>
                        </el-form>
                    </el-col>
                    <el-col :span="4" class="my-text-center">
                        <el-form label-position="left">
                            <el-form-item label="供应商:" class="my-text-danger">
                                <span>{{ scope.row.SupplierName }}</span>
                            </el-form-item>
                            <el-form-item label="负责人:" class="my-text-success">
                                <span>{{ scope.row.Director }}</span>
                            </el-form-item>
                            <el-form-item label="联系人:" class="my-text-primary">
                                <span>{{ scope.row.Contract }}</span>
                            </el-form-item>
                            <el-form-item label="联系方式:" class="my-text-info">
                                <span>{{ scope.row.ContractWay }}</span>
                            </el-form-item>
                        </el-form>
                    </el-col>
                    <el-col :span="4" class="my-text-center">
                        <el-form label-position="left">
                            <el-form-item label="创建者:" class="my-text-danger">
                                <span>{{ scope.row.SessionName }}</span>
                            </el-form-item>
                            <el-form-item label="创建时间:" class="my-text-success">
                                <span>{{getDate(scope.row.CreateTime,true)}}</span>
                            </el-form-item>
                            <el-form-item label="更新时间:" class="my-text-primary">
                                <span>{{getDate(scope.row.UpdateTime,true)}}</span>
                            </el-form-item>
                        </el-form>
                        <div class="my-button-action">
                            <el-button type="primary" @@click="handleDetailsPrint(scope.row)" icon="el-icon-printer" size="mini" class="printBtn">打印标签</el-button>
                            <el-button type="success" @@click="handleOpenRecordDialog(scope.row)" size="mini" icon="el-icon-view">
                                查看处理记录
                            </el-button>
                        </div>
                    </el-col>
                </el-row>
            </template>
        </el-table-column>*@
    <el-table-column fixed label="资产编码" prop="SN" sortable="custom"></el-table-column>
    <el-table-column label="名称" prop="Name" sortable="custom"></el-table-column>
    <el-table-column label="单价" prop="Price" sortable="custom"></el-table-column>
    <el-table-column label="类别" prop="AssetTypeName" sortable="custom"></el-table-column>
    <el-table-column label="型号" prop="Model" sortable="custom"></el-table-column>
    <el-table-column label="数量" prop="Total" sortable="custom"></el-table-column>
    <el-table-column label="计量单位" prop="UnitName" sortable="custom"></el-table-column>
    <el-table-column label="单位名称" prop="UsedCompanyName" sortable="custom"></el-table-column>
    <el-table-column label="使用部门" prop="RegionName" sortable="custom"></el-table-column>

    <el-table-column label="使用人" prop="UsedEmployeeName" sortable="custom"></el-table-column>
    <el-table-column label="管理部门" prop="RegionName" sortable="custom"></el-table-column>
    <el-table-column label="存放地点" prop="StoredAddressName" sortable="custom"></el-table-column>
    <el-table-column label="购入时间" prop="BuyTime" sortable="custom">
        <template slot-scope="scope">
            {{getDate(scope.row.BuyTime,true)}}
        </template>
    </el-table-column>
    <el-table-column label="使用期限(月)" prop="UsedMonth" sortable="custom"></el-table-column>
    <el-table-column label="来源" prop="SourceName" sortable="custom"></el-table-column>
    <el-table-column label="供应商" prop="SupplierName" sortable="custom"></el-table-column>
    <el-table-column label="负责人" prop="Director" sortable="custom"></el-table-column>
    <el-table-column label="联系人" prop="Contract" sortable="custom"></el-table-column>

    <el-table-column label="联系方式" prop="ContractWay" sortable="custom"></el-table-column>
    <el-table-column label="创建者" prop="SessionName" sortable="custom"></el-table-column>
    <el-table-column label="创建时间" prop="CreateTime" sortable="custom">
        <template slot-scope="scope">
            {{getDate(scope.row.CreateTime,true)}}
        </template>
    </el-table-column>
    <el-table-column label="更新时间" prop="UpdateTime" sortable="custom">
        <template slot-scope="scope">
            {{getDate(scope.row.UpdateTime,true)}}
        </template>
    </el-table-column>
    <el-table-column fixed="right"
                     label="操作"
                     width="150">
        <template slot-scope="scope">
            <el-button type="primary" @@click="handleDetailsPrint(scope.row,1)" icon="el-icon-printer" size="mini" class="printBtn">直接打印</el-button>
            <el-button type="primary" @@click="handleDetailsPrint(scope.row)" icon="el-icon-printer" size="mini" class="printBtn">数量打印</el-button>
            <el-button type="success" @@click="handleOpenRecordDialog(scope.row)" size="mini" icon="el-icon-view">
                查看处理记录
            </el-button>
        </template>
    </el-table-column>
</el-table>

@Html.Partial("_Pagination", "List")

@Html.Partial("Asset_OperateRecord")
@Html.Partial("LabelPrint")

<script src="~/Scripts/printer/LPAPIWeb-1.0.2.js"></script>
<script src="~/Scripts/printer/printer.js?v=1.3"></script>
@section js{
    @(Html.DtoModel<AssetDto>())
    @(Html.DtoModel<AssetLabelDto>())
    @(Html.DtoEnum<OperationType>())
    <script>
        function getVueOptions() {
            return helper.getPageVueOptions("AssetReport", getAssetDto, {
                data: {
                    TemplateId: 0,
                    List: {
                        Action: {
                            View: "/AssetReport/GetAssetReport",
                            Export: "/AssetReport/ExportAssetReport"
                        },
                        PrintDialog: {
                            Visible: false
                        }
                    },
                    RecordList: helper.getInitList(null, { Action: { View: "/AssetReport/GetAssetOperationRecord" } }, "AssetReport"),
                    SelectList: {
                        OperationType: {
                            Data: getOperationType()
                        },
                        AssetLabel: {
                            Controller: "AssetLabel",
                            Data: [],
                            SearchModel: { Id: 1 }
                        },
                        UsedDepartmentId: { Controller: "Department", Data: [] },
                        AssetTypeId: { Controller: "AssetType", Data: [] },
                        RegionId: { Controller: "Region", Data: [] },
                        StoredAddressId: { Controller: "StoredAddress", Data: [] }
                    },
                    LabelPrinter: new LabelPrinter(null, new LPAPIWeb())
                },
                watch: getSearchModelWatchList([
                    { TableName: "List", InitEvent: function () { this.getPageList("List"); }, IgnoreList: ["Id1", "Id2", "Id3"] },
                    { TableName: "RecordList", InitEvent: function () { this.getPageList("RecordList"); } }
                ]),
                computed: {
                    AssetUsedLableTemplate: function () {
                        var aryTemplate = _.filter(this.SelectList.AssetLabel.Data, o => o.IsDefaultUsed);
                        if (aryTemplate.length == 0) {
                            return null;
                        }
                        return aryTemplate[0];
                    },
                    AssetLabelTemplate: function () {
                        if (this.AssetUsedLableTemplate == null) {
                            return getAssetLabelDto();
                        }
                        return this.AssetUsedLableTemplate;
                    },
                    AssetLabelWidth: function () {
                        return this.AssetLabelTemplate.Width;
                    },
                    AssetLabelHeight: function () {
                        return this.AssetLabelTemplate.Height;
                    }
                },
                methods: {
                    handlePageDepartmentChange: function (value) {
                        var row = this.getArrayItem(this.SelectList.UsedDepartmentId.Data, value);
                        if (value == 0 || row == null || this.isCompany(row)) {
                            this.List.SearchModel.Id1 = value;
                            this.List.SearchModel.Id2 = 0;
                        } else {
                            this.List.SearchModel.Id1 = 0;
                            this.List.SearchModel.Id2 = value;
                        }
                        this.getPageList("List");
                    },
                    handleOpenRecordDialog: function (row) {
                        if (this.RecordList.SearchModel.Id != row.Id) {
                            helper.resetPage("RecordList");
                            this.RecordList.SearchModel.Id = row.Id;
                        }
                        this.handleOpenDialog(row, this.List.ModelDialog);
                    },
                    handleOpenLabelDialog: function () {
                        if (!this.isMultipleSelection("List")) {
                            return;
                        }
                        if (this.AssetUsedLableTemplate == null) {
                            helper.alert("请先去标签模板页面设置使用的模板。");
                            return;
                        }
                        this.handleOpenDialog(null, this.List.PrintDialog);
                    },
                    handleLabelPrint(printTotal) {
                        //if (!this.customizePrinter) {
                        //    this.handlePrint('printLable');
                        //    return;
                        //}
                        if (!this.isMultipleSelection("List")) {
                            return;
                        }
                        if (this.AssetUsedLableTemplate == null) {
                            helper.alert("请先去标签模板页面设置使用的模板。");
                            return;
                        }
                        this.List.MultipleSelection.forEach(asset => {
                            this.LabelPrinter.Print(asset, this.AssetLabelTemplate, printTotal || asset.Total);
                        });
                    },
                    handleDetailsPrint(model, printTotal) {
                        this.LabelPrinter.Print(model, this.AssetLabelTemplate, printTotal || model.Total);
                    }
                }
            });
        }
    </script>
}