﻿@{
    Layout = "~/Areas/Admin/Views/Shared/_PrintLayout.cshtml";
}

<div class="my-main-body-button">
    <span class="my-main-body-title">
        <i class="el-icon-view"></i>
        处置清单
    </span>
    @UIHelper.Period("清理时间")
    @ButtonHelper.Export(strFileName: "AssetClear_Export")
</div>

<el-table :data="List.Data"
          :row-key="getItemId"
          border stripe
          header-row-class-name="my-main-body-table-header"
          @@sort-change="function(sort){handleSortChange(sort,'List');}"
          style="width: 100%">
    <el-table-column label="图片" prop="PicPath" sortable="custom">
        <template slot-scope="scope">
            <div class="my-text-center">
                <el-popover v-if="existFile(scope.row.PicPath)"
                            title="预览"
                            trigger="hover"
                            :disabled="!existFile(scope.row.PicPath)">
                    <img slot="reference" class="my-pic-detail"
                         v-bind:src="scope.row.PicPath" />
                    <img class="my-table-img-show" :src="scope.row.PicPath" />
                </el-popover>
            </div>
        </template>
    </el-table-column>
    <el-table-column label="条码名称" prop="Name" sortable="custom">
        <template slot-scope="scope">
            <p class="my-text-danger">条码：{{scope.row.Code}}</p>
            <p class="my-text-info">资产编码：{{scope.row.SN}}</p>
            <p class="my-text-success">名称：{{scope.row.Name}}</p>
            <p class="my-text-danger">类别：{{scope.row.AssetTypeName}}</p>
            <p class="my-text-success">型号：{{scope.row.Model}}</p>
            <p class="my-text-success">数量：{{scope.row.Total}} {{scope.row.UnitName}}</p>
            <p class="my-text-info">单价：{{scope.row.Price}}</p>
        </template>
    </el-table-column>
    <el-table-column label="使用者" prop="UsedDepartmentName" sortable="custom">
        <template slot-scope="scope">
            <p class="my-text-danger">单位：{{scope.row.UsedCompanyName}}</p>
            <p class="my-text-success">单位：{{scope.row.UsedDepartmentName}}</p>
            <p class="my-text-info">使用人：{{scope.row.UsedEmployeeName}}</p>
            <p class="my-text-danger">管理部门：{{scope.row.RegionName}}</p>
            <p class="my-text-info">存放地点：{{scope.row.StoredAddressName}}</p>
        </template>
    </el-table-column>
    <el-table-column label="购入信息" prop="RegionName" sortable="custom">
        <template slot-scope="scope">
            <p class="my-text-success">购入时间：{{getDate(scope.row.BuyTime,true)}}</p>
            <p class="my-text-primary">使用期限：{{scope.row.UsedMonth}}(月)</p>
            <p class="my-text-info">来源：{{scope.row.SourceName}}</p>
        </template>
    </el-table-column>
    <el-table-column label="供应商" sortable="custom">
        <template slot-scope="scope">
            <p class="my-text-danger">供应商：{{scope.row.SupplierName}}</p>
            <p class="my-text-success">负责人：{{scope.row.Director}}</p>
            <p class="my-text-primary">联系人：{{scope.row.Contract}}</p>
            <p class="my-text-info">联系方式：{{scope.row.ContractWay}}</p>
        </template>
    </el-table-column>

    <el-table-column label="创建者" prop="SessionName" width="200" sortable="custom">
        <template slot-scope="scope">
            <p class="my-text-danger">创建者：{{scope.row.SessionName}}</p>
            <p class="my-text-success">创建时间：{{getDate(scope.row.CreateTime,true)}}</p>
            <p class="my-text-primary">更新时间：{{getDate(scope.row.UpdateTime,true)}}</p>
            <div class="my-button-action">
                <el-button type="success" @@click="handleOpenRecordDialog(scope.row)" size="mini" icon="el-icon-view">
                    查看处理记录
                </el-button>
            </div>
        </template>
    </el-table-column>
</el-table>

@Html.Partial("_Pagination", "List")

@Html.Partial("Asset_OperateRecord")

@section js{
    @(Html.DtoModel<AssetItemReportDto>())
    @(Html.DtoEnum<OperationType>())
    <script>
        function getVueOptions() {
            return helper.getPageVueOptions("AssetReport", getAssetItemReportDto, {
                data: {
                    List: {
                        SearchModel: {
                            Id: 4
                        },
                        Action: {
                            View: "/AssetReport/GetAssetItemReport",
                            Export: "/AssetReport/ExportAssetItemReport"
                        }
                    },
                    RecordList: helper.getInitList(null, { Action: { View: "/AssetReport/GetAssetOperationRecord" } }, "AssetReport"),
                    SelectList: {
                        OperationType: {
                            Data: getOperationType()
                        }
                    }
                },
                methods: {
                    handleOpenRecordDialog: function (row) {
                        this.RecordList.Data = row.AssetOperationRecords;
                        this.handleOpenDialog(row, this.List.ModelDialog);
                    }
                }
            });
        }
    </script>
}