﻿<el-dialog title="打印资产标签" :visible="List.PrintDialog.Visible" @@close="closeDialog('List.PrintDialog')"
           width="80%"
           :close-on-click-modal="Common.CloseOnClickModal"
           :close-on-press-escape="Common.CloseOnPressEscape">
    <div id="printLable">
        <div class="my-card-pannel-print">
            <div class="my-card-item-print" v-for="asset in List.MultipleSelection">
                <el-card :body-style="{ padding: '5px',width:AssetLabelWidth+'cm',height:AssetLabelHeight+'cm' }">
                    <div class="my-label-pannel-print">
                        <div v-for="child in AssetLabelTemplate.AssetLabelItems" v-html="getLabelHtml(child.AssetLabelBase.Template,asset)"></div>
                    </div>
                </el-card>
            </div>
        </div>
    </div>
    <div slot="footer" class="dialog-footer">
        <el-button @@click="closeDialog('List.PrintDialog')" icon="el-icon-close">关 闭</el-button>
        <el-button type="success" @@click="handleLabelPrint" icon="el-icon-printer">打印</el-button>
    </div>
</el-dialog>