﻿<div class="my-main-body-button">
    <span class="my-main-body-title">
        <i class="el-icon-view"></i>
        资产履历
    </span>
    @UIHelper.Select("SelectList.OperationType.Data", "List.SearchModel.Id", "处理类型")
    @UIHelper.Period("处理时间")
    @ButtonHelper.Export(strFileName: "AssetRecord_Export")
</div>

<el-table :data="List.Data"
          :row-key="getItemId"
          border stripe
          header-row-class-name="my-main-body-table-header"
          @@sort-change="function(sort){handleSortChange(sort,'List');}"
          style="width: 100%">
    <el-table-column type="expand">
        <template slot-scope="parentScope">
            <el-table :data="parentScope.row.AssetOperationRecords"
                      border stripe
                      style="width: 100%">
                <el-table-column type="index" width="50"></el-table-column>
                <el-table-column label="处理日期" :width="160" prop="CreateTime">
                    <template slot-scope="scope">
                        {{getDatePrintString(scope.row.CreateTime)}}
                    </template>
                </el-table-column>
                <el-table-column label="处理方式" :width="250" prop="OperationType">
                    <template slot-scope="scope">
                        {{getItemValue(SelectList.OperationType.Data, scope.row.OperationType)}}：{{scope.row.Code}}
                    </template>
                </el-table-column>
                <el-table-column label="处理人" :width="160" prop="SessionName"></el-table-column>
                <el-table-column label="处理内容" prop="Description"></el-table-column>
            </el-table>
        </template>
    </el-table-column>
    <el-table-column label="图片" prop="PicPath" sortable="custom">
        <template slot-scope="scope">
            <div class="my-text-center">
                <el-popover v-if="existFile(scope.row.PicPath)"
                            title="预览"
                            trigger="hover"
                            :disabled="!existFile(scope.row.PicPath)">
                    <img slot="reference" class="my-pic-detail"
                         v-bind:src="scope.row.PicPath" />
                    <img class="my-table-img-show" :src="scope.row.PicPath" />
                </el-popover>
            </div>
        </template>
    </el-table-column>
    <el-table-column label="条码名称" prop="Name" sortable="custom">
        <template slot-scope="scope">
            <p class="my-text-danger">条码：{{scope.row.Code}}</p>
            <p class="my-text-info">资产编码：{{scope.row.SN}}</p>
            <p class="my-text-success">名称：{{scope.row.Name}}</p>
            <p class="my-text-danger">类别：{{scope.row.AssetTypeName}}</p>
            <p class="my-text-success">型号：{{scope.row.Model}}</p>
            <p class="my-text-success">数量：{{scope.row.Total}} {{scope.row.UnitName}}</p>
            <p class="my-text-info">单价：{{scope.row.Price}}</p>
        </template>
    </el-table-column>
    <el-table-column label="使用者" prop="UsedDepartmentName" sortable="custom">
        <template slot-scope="scope">
            <p class="my-text-danger">单位：{{scope.row.UsedCompanyName}}</p>
            <p class="my-text-success">单位：{{scope.row.UsedDepartmentName}}</p>
            <p class="my-text-info">使用人：{{scope.row.UsedEmployeeName}}</p>
            <p class="my-text-danger">管理部门：{{scope.row.RegionName}}</p>
            <p class="my-text-info">存放地点：{{scope.row.StoredAddressName}}</p>
        </template>
    </el-table-column>
    <el-table-column label="购入信息" prop="RegionName" sortable="custom">
        <template slot-scope="scope">
            <p class="my-text-success">购入时间：{{getDate(scope.row.BuyTime,true)}}</p>
            <p class="my-text-primary">使用期限：{{scope.row.UsedMonth}}(月)</p>
            <p class="my-text-info">来源：{{scope.row.SourceName}}</p>
        </template>
    </el-table-column>
    <el-table-column label="供应商" sortable="custom">
        <template slot-scope="scope">
            <p class="my-text-danger">供应商：{{scope.row.SupplierName}}</p>
            <p class="my-text-success">负责人：{{scope.row.Director}}</p>
            <p class="my-text-primary">联系人：{{scope.row.Contract}}</p>
            <p class="my-text-info">联系方式：{{scope.row.ContractWay}}</p>
        </template>
    </el-table-column>

    <el-table-column label="创建者" prop="SessionName" width="200" sortable="custom">
        <template slot-scope="scope">
            <p class="my-text-danger">创建者：{{scope.row.SessionName}}</p>
            <p class="my-text-success">创建时间：{{getDate(scope.row.CreateTime,true)}}</p>
            <p class="my-text-primary">更新时间：{{getDate(scope.row.UpdateTime,true)}}</p>
        </template>
    </el-table-column>
</el-table>

@Html.Partial("_Pagination", "List")

@section js{
    @(Html.DtoModel<AssetDto>())
    <script>
        function getVueOptions() {
            return helper.getPageVueOptions("AssetReport", null, {
                data: {
                    List: {
                        Action: {
                            View: "/AssetReport/GetAssetRecordReport",
                            Export: "/AssetReport/ExportAssetRecordReport"
                        }
                    },
                    SelectList: {
                        OperationType: {
                            Data: [
                                { Id: 1, Name: "资产入库" },
                                { Id: 2, Name: "资产信息变更" },
                                { Id: 3, Name: "资产财务信息变更" },
                                { Id: 4, Name: "资产借出" },
                                { Id: 5, Name: "资产归还" },
                                { Id: 6, Name: "资产领用" },
                                { Id: 7, Name: "资产退库" },
                                { Id: 8, Name: "资产清理报废" },
                            ]
                        }
                    }
                }
            });
        }
    </script>
}