﻿[v-cloak], .my-hide {
	display: none;
}

.is-error .my-hide {
	display: inherit;
	transition: all .3s;
	color: #f56c6c;
	margin-left: 10px;
}

.is-error .my-form-item-button {
	border-color: #f56c6c;
}

* {
	font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
	box-sizing: border-box;
}

.el-dialog__header {
	border-bottom: 1px solid #eee;
}

.el-dialog__footer {
	border-top: 1px solid #eee;
	clear: both;
}

.el-form-item.is-success label.is-checked {
	border-color: #67c23a;
}

.el-form-item.is-success .el-radio__input.is-checked + .el-radio__label {
	color: #67c23a;
}

.el-form-item.is-success .el-radio__input.is-checked .el-radio__inner {
	border-color: #67c23a;
	background: #67c23a;
}

.el-form-item .el-select {
    width: 100%;
}

.el-table .my-main-body-table-header th {
    background-color: #f5f5f5;
}

.el-table__expanded-cell[class*=cell] {
	padding: 10px;
}

.el-message-box__message p {
	overflow-wrap: break-word;
}

.my-dialog-form-2 .el-form-item .el-form-item__content, .my-dialog-form-3 .el-form-item .el-form-item__content, .my-dialog-form-4 .el-form-item .el-form-item__content {
	line-height: normal;
}

.my-dialog-form-2 .el-form-item {
	float: left;
	width: 50%;
}

.my-dialog-form-3 .el-form-item {
	float: left;
	width: 33.3333333333%;
}

.my-dialog-form-4 .el-form-item {
	float: left;
	width: 25%;
}

.my-dialog-form-2-1 .el-form-item {
	float: left;
}

.my-dialog-form-2-1 .el-form-item:first-child {
	width: 66.6666666667%;
}

.my-dialog-form-2-1 .el-form-item:last-child {
	width: 33.3333333333%;
}

.my-dialog-form-1, .my-dialog-form-2, .my-dialog-form-3, .my-dialog-form-4, .my-dialog-form-2-1 {
	overflow: hidden
}

.my-page-tree .el-tree-node__children .el-tree-node__children div {
	float: left;
}

body {
	margin: 0;
}

html, body, .my-app, .my-app-container {
	height: 100%;
}

::-webkit-scrollbar {
	background: transparent;
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-thumb {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #e1e1e1;
	width: 6px;
	height: 6px;
	border: 2px solid transparent;
	background-clip: content-box;
}

::-webkit-scrollbar-track {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #fafafa;
}

.my-login-form {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -150px;
	margin-left: -220px;
	width: 400px;
	padding: 20px;
	border-radius: 15px;
	background: #fff;
}

.my-text-right {
	text-align: right;
}

.my-text-center {
	text-align: center;
}

.my-main-header {
	border-bottom: 1px solid #4a4a4a;
	background: linear-gradient(to right,gray,#135187);
}

.my-main-header-title {
	font-size: 24px;
	line-height: 50px;
	color: #fff;
	text-decoration: none;
}

.my-main-header-menu {
	line-height: 50px;
}

.my-header-badge .el-badge__content {
	border-color: transparent;
}

.my-header-badge .el-badge__content.is-fixed {
	top: 15px;
}

.my-header-badge, .my-el-dropdown-link {
	cursor: pointer;
	color: #fff;
}

.my-main-header-title:hover, .my-el-dropdown-link:hover {
	font-weight: bold;
}

.my-el-dropdown-item a {
	color: #606266;
}

.my-main-aside {
	background-color: #666;
}

.my-el-menu-vertical {
	border: 0;
}

.my-el-menu-vertical > li > ul > li.is-active, .el-menu--vertical > ul > li.is-active {
	background-color: #fff !important;
}

.my-main-body {
	background-color: #fff;
	position: relative;
}

.my-main-aside-arrow {
	position: fixed;
	background-color: #14b0bf;
	color: #fff;
	cursor: pointer;
	padding: 17px 0 18px;
	margin-top: -20px;
	margin-left: -20px;
}


.my-main-body-header,
.my-main-body-button {
    padding: 10px 0;
    height: 60px;
}

.my-main-body-button {
    text-align: right;
}

.my-main-body-title {
    font-size: 20px;
    line-height: 29px;
    font-weight: bold;
}

.my-main-body-button .my-main-body-title{
    float:left;
}

.my-main-body-button > div.el-input {
    width: 220px;
}

.my-table {
	width: 100%;
}

.my-table-img-show {
	max-width: 400px;
	max-height: 400px;
}

.my-pic-detail {
	max-width: 100px;
	max-height: 100px;
}

.cell p {
	margin: 2px;
}

.my-upload .el-input-group__append {
	background-color: #409eff;
	color: #fff;
}

img.my-img-popover {
	max-width: 300px;
	max-height: 300px;
}

div.my-img-show {
	background-color: #eee;
	line-height: 100px;
	text-align: center;
}

img.my-img-show {
	max-width: 100px;
	max-height: 100px;
}

.my-img-col-show {
	width: 90%;
	max-height: 180px;
}

.my-text-info {
	color: #909399;
}

.my-text-primary {
	color: #409eff;
}

.my-text-success {
    color: #67c23a;
}

.my-text-danger {
	color: #f56c6c;
}

.my-text-bolder {
	font-weight: bold;
}

.my-orderindex-width {
	width: 120px;
}

.ql-container {
	min-height: 250px;
}

.is-success .quill-editor {
	border: 1px solid #67c23a;
}

.is-error .quill-editor, .is-error .el-radio .el-radio__inner, .is-error .el-tree .el-checkbox__inner, .is-error .el-transfer-panel {
	border: 1px solid #f56c6c;
}

.my-total, .is-error .el-radio .el-radio__label, .is-error .el-tree .el-tree-node__label {
	color: #f56c6c;
}

.my-custom-adjustment {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.my-department-text {
	font-size: 14px;
	padding-right: 8px;
}

.my-import-instruction p {
	line-height: 14px;
	color: #f56c6c;
}

.my-button-action > div {
	text-align: left;
	margin: 5px 2px;
}

.my-button-dropdown {
	margin-left: 10px;
}

.my-dialog-table .el-form-item {
	margin-bottom: 0px;
}

.my-alert {
	margin-bottom: 20px;
}

.my-table-detail {
	margin-bottom: 30px;
	line-height: 28px;
}

.my-table-detail .el-row {
	border: 1px solid #ccc;
	border-bottom: none;
}

.my-table-detail .el-row:last-child {
	border-bottom: 1px solid #ccc;
}

.my-table-detail .el-row .el-col {
	padding-left: 15px;
}

.my-table-detail .my-table-label {
	text-align: center;
	background-color: #eee;
}

/*Card*/
.my-card-pannel {
	margin-top: 20px;
}

.my-card-pannel h4 {
	text-align: center;
}

.my-card-title-pannel {
	text-align: right;
}

.my-card-title {
	float: left;
}

.my-card-pannel .my-card-item {
	width: 30%;
	padding: 5px;
	display: inline-block;
}

.my-card-pannel .my-label-pannel {
	text-align: center;
	height: 120px;
}

.my-card-pannel .my-label-pannel div {
	text-align: left;
}

.my-card-pannel .my-label-pannel .my-text {
	padding-left: 30px;
	font-size: 12px;
	line-height: 16px;
}

.my-card-pannel .my-label-pannel .my-barcode {
	max-width: 100%;
	max-height: 80px;
}

.my-card-pannel .my-label-pannel .my-qrcode {
    margin-left: 20px;
    width: 120px;
    height: 120px;
}
/*Print - Start*/

.my-print-el .el-table__header, .my-print-el .el-table__body {
	width: 100% !important;
}

.my-print {
	font-size: 14px;
	width: 100%;
}

.my-print .my-print-label {
	display: inline-block;
	text-align: right;
}

.my-print .my-print-text, .my-print .my-print-filltext {
	display: inline-block;
}

.my-print .my-print-text {
	text-align: left;
}

.my-print .my-print-filltext {
	border-bottom: 1px solid #000;
	text-align: center;
	height: 20px;
}

.my-print > div {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: space-between;
	line-height: 25px;
}

.my-print > div.my-print-title {
	justify-content: center;
	font-size: 20px;
	font-weight: bold;
}

.my-print table {
	width: 100%;
	border-collapse: collapse;
}

.my-print table caption {
	text-align: left;
	font-weight: bold;
}

.my-print table th, .my-print table td {
	text-align: center;
	border: 1px solid #000;
}

.my-print table td.my-print-total {
	text-align: left;
}

.my-print .my-amount {
	width: 14px;
	border-right-color: cadetblue;
}

.my-print .my-amount-yuan {
	border-right-color: darkmagenta;
}

.my-print .my-noborder {
	border-right-color: #000;
}

.my-print .my-record-item {
	line-height: 24px;
	margin: 0 10px;
	text-align: left;
}

.my-card-pannel-print .my-card-item-print {
    padding: 5px;
    display: inline-block;
}

.my-card-pannel-print .my-label-pannel-print {
    text-align: center;
}

.my-card-pannel-print .my-label-pannel-print div {
    text-align: left;
}
.my-card-pannel-print .my-label-pannel-print .my-text {
    padding-left: 30px;
    font-size: 12px;
    line-height: 16px;
}

.my-card-pannel-print .my-label-pannel-print .my-barcode {
    width: 100%;
}

.my-card-pannel-print .my-label-pannel-print .my-qrcode {
    margin-left: 20px;
    width: 120px;
    height: 120px;
}
/*Print - End*/
