<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
		<meta name="HandheldFriendly" content="true"/>
		<meta name="MobileOptimized" content="320"/>
		<title>Hello H5+</title>
		<link href="css/mui.min.css" rel="stylesheet" />
		<link href="css/common.css" rel="stylesheet" />
		<script src="js/jquery-1.10.2.min.js"></script>
		<link rel="stylesheet" href="css/icons-extra.css">
		<script src="js/vue.js"></script>
		<script src="js/lodash.min.js"></script>
		<script src="js/ModelDto.js"></script>
		<script src="js/mui.min.js"></script>
		<script src="js/vue.jerry.helper.web.js"></script>
		<script src="js/echarts-all.js"></script>
		<script type="text/javascript" src="js/common.js"></script>
		<style>
			html,body,#DefaultModel{
				background-color: #EEEEEE;
			}
			
			.mui-control-content {
				background-color: white;
				min-height: 300px;
			}
			.mui-control-content .mui-loading {
				margin-top: 50px;
			}
			
			.mui-popover {
				position: fixed;
				width: 90%;
				height: 100%;
				border-radius: 0px !important;
				left: 50%;
				top: 50%;
				margin: 0 auto;
				z-index: 10000;
				background-color: #fff;
				-webkit-transform: translateX(-50%) translateY(-50%);
				-moz-transform: translateX(-50%) translateY(-50%);
				-ms-transform: translateX(-50%) translateY(-50%);
				transform: translateX(-50%) translateY(-50%);
			}	
		</style>
	</head>
	<body>
		
		<div id="JerryPlatApp">
		<header class="mui-bar mui-bar-nav mui-bar-transparent">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="color: #FFFFFF;"></a>
			<h1 id="title" class="mui-title">资产详情</h1>
		</header>
			<div id="DefaultModel" class="mui-popover" style="border: 1px solid #1A96C9;height: 100%;border-radius: 0px !important;width: 100%;background-color: ;">
				<header class="mui-bar mui-bar-nav mui-bar-transparent" style="border-radius: 0px;">
					<a class="mui-icon mui-icon-left-nav mui-pull-left" style="color: #FFFFFF;" @click="ClosePopover"></a>
					<h1 id="title" class="mui-title">处理记录</h1>
				</header>				
				<div class="mui-scroll-wrapper" style="margin-top: 50px;">
					<div class="mui-scroll">
						<div class="mui-content" style="background-color: #EEEEEE;">
							<div style="padding: 10px;height: auto;margin-bottom: 5px;background-color: #FFFFFF;" v-for="item in AssetRecord">
								<div style="height: 30px;border-bottom: 1px solid #EEEEEE;">
									<h4>{{getItemValue(SelectList.OperationType.Data,item.OperationType)}}</h4>
								</div>
								<p>处理日期:&nbsp;<span style="color: #000000;">{{getDate(item.CreateTime,true)}}</span></p>
								<p>处理人:&nbsp;<span style="color: #000000;">{{item.SessionName}}</span></p>
								<p>处理内容:&nbsp;<span style="color: #000000;">{{item.Description}}</span></p>
							</div>
						</div>
					</div>
				</div>

			</div>		
		<div class="mui-content" style="background-color: #EEEEEE;">
			<div style="background-color: #FFFFFF;width: 100%;border-radius: 5px;height: 250px;margin-top: 10px;">
				<div style="height: 60px;border-bottom: 1px solid #EEEEEE;padding: 10px;">
					<h4>{{AssetDetails.Name}}</h4>
					<h6>资产编码:{{AssetDetails.Code}}</h6>
				</div>
				
				<div style="padding: 10px;">
					<div style="float: left;height: 175px;width: 60%;">
						<p>资产分类:&nbsp;<span style="color: #000000;">{{AssetDetails.AssetTypeName}}</span></p>
						<p>单位:&nbsp;<span style="color: #000000;">{{AssetDetails.UnitName}}</span></p>
						<p>SN号:&nbsp;<span style="color: #000000;">{{AssetDetails.SN}}</span></p>
						<p>规格型号:&nbsp;<span style="color: #000000;">{{AssetDetails.Model}}</span></p>
						<p>管理员:&nbsp;<span style="color: #000000;">{{AssetDetails.SessionName}}</span></p>
						<p>购入日期:&nbsp;<span style="color: #000000;">{{getDate(AssetDetails.BuyTime,true)}}</span></p>
						
					</div>
					<div style="float: right;height: 100px;width: 35%;">
						<img :src="AssetDetails.PicPath" width="100%" height="100%"/>
					</div>
				</div>
			</div>
			
			<div style="background-color: #FFFFFF;width: 100%;border-radius: 5px;height: 250px;margin-top: 10px;">
			<div id="slider" class="mui-slider">
				<div id="sliderSegmentedControl" class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
					<a class="mui-control-item" href="#item1mobile">
				基础信息
			</a>
					<a class="mui-control-item" href="#item2mobile">
				维保信息
			</a>
				</div>
				<div id="sliderProgressBar" class="mui-slider-progress-bar mui-col-xs-6"></div>
				<div class="mui-slider-group">
					<div id="item1mobile" class="mui-slider-item mui-control-content mui-active">
								<ul class="mui-table-view">
									<li class="mui-table-view-cell" style="border-left: 5px solid #1E90FF;">
										使用信息
									</li>
									<li class="mui-table-view-cell">
									    <div class="mui-input-row">
									        <label>使用公司</label>
									    	<label style="text-align: right;float: right;">{{AssetDetails.UsedCompanyName}}</label>
									    </div>
									</li>
									<li class="mui-table-view-cell">
									    <div class="mui-input-row">
									        <label>使用部门</label>
									    	<label style="text-align: right;float: right;">{{AssetDetails.UsedDepartmentName}}</label>
									    </div>
									</li>
									<li class="mui-table-view-cell">
									    <div class="mui-input-row">
									        <label>使用人</label>
									    	<label style="text-align: right;float: right;">{{AssetDetails.UsedEmployeeName}}</label>
									    </div>
									</li>
									<li class="mui-table-view-cell">
									    <div class="mui-input-row">
									        <label>区域</label>
									    	<label style="text-align: right;float: right;">{{AssetDetails.RegionName}}</label>
									    </div>
									</li>
									<li class="mui-table-view-cell">
									    <div class="mui-input-row">
									        <label>存放地点</label>
									    	<label style="text-align: right;float: right;">{{AssetDetails.StoredAddressName}}</label>
									    </div>
									</li>
									<li class="mui-table-view-cell" style="border-left: 5px solid #1E90FF;">
										其他信息
									</li>
									<li class="mui-table-view-cell">
									    <div class="mui-input-row">
									        <label>使用期限</label>
									    	<label style="text-align: right;float: right;">{{AssetDetails.UsedMonth}}月</label>
									    </div>
									</li>
									<li class="mui-table-view-cell">
									    <div class="mui-input-row">
									        <label>来源方式</label>
									    	<label style="text-align: right;float: right;">{{AssetDetails.SourceName}}</label>
									    </div>
									</li>
									<li class="mui-table-view-cell" style="border-left: 5px solid #1E90FF;">
											备注信息
									</li>
									<li class="mui-table-view-cell">
										<textarea placeholder="暂无备注信息" :value="AssetDetails.Discription" rows="3" style="border: 1px solid #ACACB4;" readonly="readonly"></textarea>
									</li>
								</ul>
					</div>
					<div id="item2mobile" class="mui-slider-item mui-control-content">
								<ul class="mui-table-view">
									<li class="mui-table-view-cell" style="border-left: 5px solid #1E90FF;">
										供应商信息
									</li>
									<li class="mui-table-view-cell">
									    <div class="mui-input-row">
									        <label>供应商</label>
									    	<label style="text-align: right;float: right;">{{AssetDetails.SupplierName}}</label>
									    </div>
									</li>
									<li class="mui-table-view-cell">
									    <div class="mui-input-row">
									        <label>联系人</label>
									    	<label style="text-align: right;float: right;">{{AssetDetails.Contract}}</label>
									    </div>
									</li>
									<li class="mui-table-view-cell">
									    <div class="mui-input-row">
									        <label>联系方式</label>
									    	<label style="text-align: right;float: right;">{{AssetDetails.ContractWay}}</label>
									    </div>
									</li>
									<li class="mui-table-view-cell" style="border-left: 5px solid #1E90FF;">
										维修负责人信息
									</li>
									<li class="mui-table-view-cell">
									    <div class="mui-input-row">
									        <label>负责人</label>
									    	<label style="text-align: right;float: right;">{{AssetDetails.Director}}</label>
									    </div>
									</li>
									<li class="mui-table-view-cell">
									    <div class="mui-input-row">
									        <label>维保到期日期</label>
									    	<label style="text-align: right;float: right;">{{getDate(AssetDetails.EndDate,true)}}</label>
									    </div>
									</li>
									<li class="mui-table-view-cell" style="border-left: 5px solid #1E90FF;">
											维保说明
									</li>
									<li class="mui-table-view-cell">
										<textarea placeholder="暂无备注信息" v-model="AssetDetails.Discription" rows="3" style="border: 1px solid #ACACB4;" readonly="readonly"></textarea>
									</li>
								</ul>

					</div>
				</div>
			</div>		
			</div>
			
			<div style="width: 100%;height: 50px;padding: 5px;position: fixed;bottom: 0px;z-index: 999 !important;">
				<button type="button" class="mui-btn mui-btn-primary" style="width: 100%;" @click="SelectRecord">查看处理记录</button>
			</div>			
		</div>
		
		</div>
		
	</body>
	<script>
        mui.init();
	     function getVueOptions() {
            return helper.getVueModelOptions({
                data: {
					AssetDetails:{},
					AssetRecord:[],
                    SelectList: {
                        OperationType: {
                            Data: getOperationType()
                        }
                    }					
                },
                methods: {
                    initPage: function () {
                    	var self = plus.webview.currentWebview();
                        var _this = this;
                        helper.apiPost("/AssetReport/GetAssetReport", {SearchModel:{SearchText:self.myname}}, function (data) {
                            _this.AssetDetails = data.Data[0];
                            if(_this.AssetDetails==null){
                            	plus.webview.currentWebview().close();
                            }
                        });
                    },
                    SelectRecord:function(){
                    	var _this=this;
                        helper.apiPost("/AssetReport/GetAssetOperationRecord", {SearchModel:{Id:_this.AssetDetails.Id}}, function (data) {
                            _this.AssetRecord=data.Data;
                            mui("#DefaultModel").popover('show');
                        });
                    },
                    ClosePopover:function(){
                    	mui("#DefaultModel").popover('hide');
                    }
                },
                mounted:function(){
		 			(function($) { //这行报错  
						$(".mui-scroll-wrapper").scroll({
							//bounce: false,//滚动条是否有弹力默认是true  
							indicators: true, //是否显示滚动条,默认是true  
						});
					})(mui);               	
                }
            });
      };
        if(window.plus){
        var vue = new Vue(getVueOptions());	
        }
	</script>
</html>