<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta name="HandheldFriendly" content="true" />
		<meta name="MobileOptimized" content="320" />
		<title>Hello H5+</title>
		<link href="css/mui.min.css" rel="stylesheet" />
		<link href="css/common.css" rel="stylesheet" />
		<script src="js/jquery-1.10.2.min.js"></script>
		<script src="js/mui.min.js"></script>
		<link rel="stylesheet" href="css/icons-extra.css">
		<script src="js/vue.js"></script>
		<script src="js/lodash.min.js"></script>
		<script src="js/ModelDto.js"></script>
		<script src="js/vue.jerry.helper.web.js"></script>
		<script src="js/BaseHelper.js"></script>
		<style>
		</style>
	</head>
	<body style="background-color: #243140;">
		<div id="JerryPlatApp">
			<ul class="mui-table-view" style="color: #FFFFFF;background-color: #344354;">
				
			<li class="mui-table-view-cell mui-collapse" style="background-color: #243140 !important;" :class="{'mui-active':activeName=='index'}" v-if="NavigationNameList.indexOf('首页')!=-1">
				<a class="mui-navigate-right" href="#"><i class="mui-icon mui-icon-home" style="font-size: 20px;"></i>&nbsp;&nbsp;首页</a>
				<div class="mui-collapse-content" style="background-color: #344354;padding-top: 0px;">
					<ul class="mui-table-view" style="background-color: #344354;padding-top: 0px;">
						<li class="mui-table-view-cell" onclick="test('index')" v-if="NavigationNameList.indexOf('首页')!=-1"><i class="mui-icon-extra mui-icon-extra-order"
							 style="font-size: 20px;"></i>&nbsp;&nbsp;首页</li>
					</ul>
				</div>				
			</li>
				
			<li class="mui-table-view-cell mui-collapse" style="background-color: #243140 !important;" :class="{'mui-active':activeName=='assetManagement'}" v-if="NavigationNameList.indexOf('资产管理')!=-1">
				<a class="mui-navigate-right" href="#"><i class="mui-icon-extra mui-icon-extra-dictionary" style="font-size: 15px;"></i>&nbsp;&nbsp;资产管理</a>
				<div class="mui-collapse-content" style="background-color: #344354;padding-top: 0px;">
					<ul class="mui-table-view" style="background-color: #344354;padding-top: 0px;">
						<li class="mui-table-view-cell" style="border-bottom: 1px solid #555F6D;" onclick="test('AssetStorage')" v-if="NavigationNameList.indexOf('资产入库')!=-1"><i class="mui-icon-extra mui-icon-extra-order"
							 style="font-size: 20px;"></i>&nbsp;&nbsp;资产入库</li>
						<li class="mui-table-view-cell" style="border-bottom: 1px solid #555F6D;" onclick="test('AssetUsed')" v-if="NavigationNameList.indexOf('领用&退库')!=-1"><i class="mui-icon-extra mui-icon-extra-order"
							 style="font-size: 20px;"></i>&nbsp;&nbsp;领用退库</li>
						<li class="mui-table-view-cell" style="border-bottom: 1px solid #555F6D;" onclick="test('AssetBorrow')" v-if="NavigationNameList.indexOf('借用&归还')!=-1"><i class="mui-icon-extra mui-icon-extra-order"
							 style="font-size: 20px;"></i>&nbsp;&nbsp;借用归还</li>
						<li class="mui-table-view-cell" style="border-bottom: 1px solid #555F6D;" onclick="test('AssetUpdate')" v-if="NavigationNameList.indexOf('实物信息变更')!=-1"><i class="mui-icon-extra mui-icon-extra-order"
							 style="font-size: 20px;"></i>&nbsp;&nbsp;实物信息变更</li>
						<li class="mui-table-view-cell" style="border-bottom: 1px solid #555F6D;" onclick="test('AssetFinancialUpdate')" v-if="NavigationNameList.indexOf('财务信息变更')!=-1"><i
							 class="mui-icon-extra mui-icon-extra-order" style="font-size: 20px;"></i>&nbsp;&nbsp;财务信息变更</li>
						<li class="mui-table-view-cell" style="border-bottom: 1px solid #555F6D;" onclick="test('AssetClear')" v-if="NavigationNameList.indexOf('清理报废')!=-1"><i class="mui-icon-extra mui-icon-extra-order"
							 style="font-size: 20px;"></i>&nbsp;&nbsp;清理报废</li>
						<li class="mui-table-view-cell" onclick="test('Inventory')" v-if="NavigationNameList.indexOf('盘点管理')!=-1"><i class="mui-icon-extra mui-icon-extra-order" style="font-size: 20px;"></i>&nbsp;&nbsp;盘点管理</li>
					</ul>
				</div>
			</li>

			<li class="mui-table-view-cell mui-collapse" style="background-color: #243140 !important;" :class="{'mui-active':activeName=='Report'}" v-if="NavigationNameList.indexOf('分析报表')!=-1">
				<a class="mui-navigate-right" href="#"><i class="mui-icon-extra mui-icon-extra-trend" style="font-size: 20px;"></i>&nbsp;&nbsp;分析报表</a>
				<div class="mui-collapse-content" style="background-color: #344354;padding-top: 0px;">
					<ul class="mui-table-view" style="background-color: #344354;padding-top: 0px;">
						<li class="mui-table-view-cell" onclick="test('AssetReport')" v-if="NavigationNameList.indexOf('资产清单')!=-1"><i class="mui-icon-extra mui-icon-extra-order"
							 style="font-size: 20px;"></i>&nbsp;&nbsp;资产清单</li>
					</ul>
				</div>
			</li>

			<li class="mui-table-view-cell mui-collapse" style="background-color: #243140 !important;" :class="{'mui-active':activeName=='Region'}" v-if="NavigationNameList.indexOf('基础设置')!=-1">
				<a class="mui-navigate-right" href="#"><i class="mui-icon mui-icon-gear" style="font-size: 20px;"></i>&nbsp;&nbsp;基础设置</a>
				<div class="mui-collapse-content" style="background-color: #344354;padding-top: 0px;">
					<ul class="mui-table-view" style="background-color: #344354;padding-top: 0px;">
						<li class="mui-table-view-cell" style="border-bottom: 1px solid #555F6D;" onclick="test('AssetType')" v-if="NavigationNameList.indexOf('资产类别管理')!=-1"><i class="mui-icon mui-icon-list"
							 style="font-size: 20px;"></i>&nbsp;&nbsp;资产类别管理</li>
						<li class="mui-table-view-cell" style="border-bottom: 1px solid #555F6D;" onclick="test('Region')" v-if="NavigationNameList.indexOf('区域管理')!=-1"><i class="mui-icon mui-icon-map" style="font-size: 20px;"></i>&nbsp;&nbsp;区域管理</li>
						<li class="mui-table-view-cell" onclick="test('StoredAddress')" v-if="NavigationNameList.indexOf('存储位置')!=-1"><i class="mui-icon mui-icon-map" style="font-size: 20px;"></i>&nbsp;&nbsp;存储位置</li>
					</ul>
				</div>
			</li>

			<li class="mui-table-view-cell mui-collapse" style="background-color: #243140 !important;" :class="{'mui-active':activeName=='settingManagement'}" v-if="NavigationNameList.indexOf('组织管理')!=-1">
				<a class="mui-navigate-right" href="#"><img src="img/setting.ico" height="20px" width="20px" />&nbsp;&nbsp;组织管理</a>
				<div class="mui-collapse-content" style="background-color: #344354;padding-top: 0px;">
					<ul class="mui-table-view" style="background-color: #344354;padding-top: 0px;">
						<li class="mui-table-view-cell" style="border-bottom: 1px solid #555F6D;" onclick="test('Department')" v-if="NavigationNameList.indexOf('组织结构')!=-1"><img src="img/jiegou.ico"
							 height="20px" width="20px" />&nbsp;&nbsp;组织结构</li>
						<li class="mui-table-view-cell" onclick="test('Employee')" v-if="NavigationNameList.indexOf('员工管理')!=-1"><i class="mui-icon-extra mui-icon-extra-peoples" style="font-size: 20px;"></i>&nbsp;&nbsp;员工管理</li>
					</ul>
				</div>
			</li>
		</ul>
		<div style="color: #FFFFFF;margin-top: 10px;margin-left: 10px;" onclick="Logout()"><a style="color: #FFFFFF;padding-bottom: 15px;"><img
				 src="img/guanji.ico" height="20px" width="20px" />&nbsp;&nbsp;注销</a></div>
		<div style="position: fixed;bottom: 35px;color: #FFFFFF;">版本信息：V1.00</div>
		<button type="button" class="mui-btn mui-btn-warning mui-btn-outlined" onclick="clossPage()" style="position: fixed;bottom: 0px;width: 100%;">关闭</button>		
			
		</div>

		<script>
			function test(page) {
				if (page == "AssetStorage") {
					localStorage.setItem("activeSonName","AssetStorage");
					mui.openWindow({
						url: "AssetPage/AssetStorage.html",
						id: "AssetStorage",
						createNew:true,
						show:{  
						  autoShow:true,//页面loaded事件发生后自动显示，默认为true  
						  aniShow:'zoom-fade-out',//页面显示动画，默认为”slide-in-right“；  
						  duration:'1000'//页面动画持续时间，Android平台默认100毫秒，iOS平台默认200毫秒；  
						}
					});
				} else if (page == "Department") {
					localStorage.setItem("activeSonName","Department");
					mui.openWindow({
						url: "SettingPage/Department.html",
						id: "Department",
						createNew:true,
						show:{  
						  autoShow:true,//页面loaded事件发生后自动显示，默认为true  
						  aniShow:'zoom-fade-out',//页面显示动画，默认为”slide-in-right“；  
						  duration:'1000'//页面动画持续时间，Android平台默认100毫秒，iOS平台默认200毫秒；  
						}
					});
				} else if (page == "Employee") {
					localStorage.setItem("activeSonName","Employee");
					mui.openWindow({
						url: "SettingPage/Employee.html",
						id: "Employee",
						createNew:true,
						show:{  
						  autoShow:true,//页面loaded事件发生后自动显示，默认为true  
						  aniShow:'zoom-fade-out',//页面显示动画，默认为”slide-in-right“；  
						  duration:'1000'//页面动画持续时间，Android平台默认100毫秒，iOS平台默认200毫秒；  
						}
					});
				} else if (page == "Region") {
					localStorage.setItem("activeSonName","Region");
					mui.openWindow({
						url: "SettingPage/Region.html",
						id: "Region",
						createNew:true,
						show:{  
						  autoShow:true,//页面loaded事件发生后自动显示，默认为true  
						  aniShow:'zoom-fade-out',//页面显示动画，默认为”slide-in-right“；  
						  duration:'1000'//页面动画持续时间，Android平台默认100毫秒，iOS平台默认200毫秒；  
						}
					});
				} else if (page == "AssetType") {
					localStorage.setItem("activeSonName","AssetType");
					mui.openWindow({
						url: "SettingPage/AssetType.html",
						id: "AssetType",
						createNew:true,
						show:{  
						  autoShow:true,//页面loaded事件发生后自动显示，默认为true  
						  aniShow:'zoom-fade-out',//页面显示动画，默认为”slide-in-right“；  
						  duration:'1000'//页面动画持续时间，Android平台默认100毫秒，iOS平台默认200毫秒；  
						}
					});
				} else if (page == "AssetUsed") {
					localStorage.setItem("activeSonName","AssetUsed");
					mui.openWindow({
						url: "AssetPage/AssetUsed.html",
						id: "AssetUsed",
						createNew:true,
						show:{  
						  autoShow:true,//页面loaded事件发生后自动显示，默认为true  
						  aniShow:'zoom-fade-out',//页面显示动画，默认为”slide-in-right“；  
						  duration:'1000'//页面动画持续时间，Android平台默认100毫秒，iOS平台默认200毫秒；  
						}
					});
				} else if (page == "AssetBorrow") {
					localStorage.setItem("activeSonName","AssetBorrow");
					mui.openWindow({
						url: "AssetPage/AssetBorrow.html",
						id: "AssetBorrow",
						createNew:true,
						show:{  
						  autoShow:true,//页面loaded事件发生后自动显示，默认为true  
						  aniShow:'zoom-fade-out',//页面显示动画，默认为”slide-in-right“；  
						  duration:'1000'//页面动画持续时间，Android平台默认100毫秒，iOS平台默认200毫秒；  
						}
					});
				} else if (page == "AssetUpdate") {
					localStorage.setItem("activeSonName","AssetUpdate");
					mui.openWindow({
						url: "AssetPage/AssetUpdate.html",
						id: "AssetUpdate",
						createNew:true,
						show:{  
						  autoShow:true,//页面loaded事件发生后自动显示，默认为true  
						  aniShow:'zoom-fade-out',//页面显示动画，默认为”slide-in-right“；  
						  duration:'1000'//页面动画持续时间，Android平台默认100毫秒，iOS平台默认200毫秒；  
						}
					});
				} else if (page == "AssetFinancialUpdate") {
					localStorage.setItem("activeSonName","AssetFinancialUpdate");
					mui.openWindow({
						url: "AssetPage/AssetFinancialUpdate.html",
						id: "AssetFinancialUpdate",
						createNew:true,
						show:{  
						  autoShow:true,//页面loaded事件发生后自动显示，默认为true  
						  aniShow:'zoom-fade-out',//页面显示动画，默认为”slide-in-right“；  
						  duration:'1000'//页面动画持续时间，Android平台默认100毫秒，iOS平台默认200毫秒；  
						}
					});
				} else if (page == "AssetClear") {
					localStorage.setItem("activeSonName","AssetClear");
					mui.openWindow({
						url: "AssetPage/AssetClear.html",
						id: "AssetClear",
						createNew:true,
						show:{  
						  autoShow:true,//页面loaded事件发生后自动显示，默认为true  
						  aniShow:'zoom-fade-out',//页面显示动画，默认为”slide-in-right“；  
						  duration:'1000'//页面动画持续时间，Android平台默认100毫秒，iOS平台默认200毫秒；  
						}
					});
				} else if (page == "Inventory") {
					localStorage.setItem("activeSonName","Inventory");
					mui.openWindow({
						url: "AssetPage/Inventory.html",
						id: "Inventory",
						createNew:true,
						show:{  
						  autoShow:true,//页面loaded事件发生后自动显示，默认为true  
						  aniShow:'zoom-fade-out',//页面显示动画，默认为”slide-in-right“；  
						  duration:'1000'//页面动画持续时间，Android平台默认100毫秒，iOS平台默认200毫秒；  
						}
					});
				} else if (page == "AssetReport") {
					localStorage.setItem("activeSonName","AssetReport");
					mui.openWindow({
						url: "AssetPage/AssetReport.html",
						id: "AssetReport",
						createNew:true,
						show:{  
						  autoShow:true,//页面loaded事件发生后自动显示，默认为true  
						  aniShow:'zoom-fade-out',//页面显示动画，默认为”slide-in-right“；  
						  duration:'1000'//页面动画持续时间，Android平台默认100毫秒，iOS平台默认200毫秒；  
						}
					});
				} else if (page == "index") {
					localStorage.setItem("activeSonName","index");
					mui.openWindow({
						url: "index.html",
						id: "index",
						createNew:true,
						show:{  
						  autoShow:true,//页面loaded事件发生后自动显示，默认为true  
						  aniShow:'zoom-fade-out',//页面显示动画，默认为”slide-in-right“；  
						  duration:'1000'//页面动画持续时间，Android平台默认100毫秒，iOS平台默认200毫秒；  
						}
					});
				}else if(page=="StoredAddress"){
					localStorage.setItem("activeSonName","StoredAddress");
					mui.openWindow({
						url: "SettingPage/StoredAddress.html",
						id: "StoredAddress",
						createNew:true,
						show:{  
						  autoShow:true,//页面loaded事件发生后自动显示，默认为true  
						  aniShow:'zoom-fade-out',//页面显示动画，默认为”slide-in-right“；  
						  duration:'1000'//页面动画持续时间，Android平台默认100毫秒，iOS平台默认200毫秒；  
						}
					});				
				}
			}

			function clossPage() {
				plus.webview.currentWebview().close();

			}
			function showReload(){
				var ws=plus.webview.currentWebview();
				ws.reload();
			}
			function Logout() {
				localStorage.setItem("activeSonName","Index");
				mui.openWindow({
					url: "Login.html",
					id: "Login",
					createNew:true,
					show:{  
					  autoShow:true,//页面loaded事件发生后自动显示，默认为true  
					  aniShow:'zoom-fade-out',//页面显示动画，默认为”slide-in-right“；  
					  duration:'1000'//页面动画持续时间，Android平台默认100毫秒，iOS平台默认200毫秒；  
					}
				});
//				plus.webview.currentWebview().close();
			}
			
        function getVueOptions() {
            return helper.getVueModelOptions({
                data: {
					activeName:"index",
					NavigationList:[],
					NavigationNameList:[]
                },
                methods: {
					initPage:function(){
						var _this=this;
						var activeSonName=localStorage.getItem("activeSonName");
						if(activeSonName != undefined){
							if(activeSonName=="AssetStorage" || activeSonName=="AssetUsed" || activeSonName=="AssetBorrow" || activeSonName=="AssetUpdate" || activeSonName=="AssetFinancialUpdate" || activeSonName=="AssetClear" || activeSonName=="Inventory"){
								_this.activeName="assetManagement";
							}else if(activeSonName=="AssetReport"){
								_this.activeName="Report";
							}else if(activeSonName=="AssetType" || activeSonName=="Region" || activeSonName=="StoredAddress"){
								_this.activeName="Region";
							}else if(activeSonName=="Department" || activeSonName=="Employee"){
								_this.activeName="settingManagement";
							}else if(activeSonName=="index"){
								_this.activeName="index";
							}
						}else{
							_this.activeName="index";
						};
						_this.NavigationList=eval("(" + localStorage.getItem("NavigationList") + ")");
						mui.each(_this.NavigationList,function(index,item){
							_this.NavigationNameList.push(item.Name);
						});
					}
                }
            });
        }
        var vue = new Vue(getVueOptions());
		</script>
	</body>
</html>
