﻿@{
    ViewBag.Title = "登陆";
    Layout = "~/Areas/Admin/Views/Shared/_BaseLayout.cshtml";
}
@section css{
    <style>
        body {
            background-color: #104F67;
        }
    </style>
}

<el-form class="my-login-form"
         :model="Model"
         status-icon
         :show-message="false"
         ref="Model"
         label-width="80px"
         :label-suffix="Common.FormLabelSuffix">
    <h2 class="my-text-center">动态资产管理系统登陆</h2>
    <el-form-item label="用户名"
                  prop="Email"
                  :rules="Validation.Email">
        <el-input v-model="Model.Email" placeholder="用户名(邮箱)" autofocus></el-input>
    </el-form-item>
    <el-form-item label="密码"
                  prop="Password"
                  :rules="[{required:true, message:'请输入密码'}]">
        <el-input type="password" v-model="Model.Password" placeholder="密码" @@keyup.enter.native="submitForm('Model',login)"></el-input>
    </el-form-item>
    <el-form-item>
        <div class="my-custom-adjustment">
            <el-button type="primary" @@click="submitForm('Model',login)" icon="el-icon-check">登 陆</el-button>
            <el-button @@click="resetForm('Model')" icon="el-icon-refresh">重 置</el-button>
        </div>
    </el-form-item>
</el-form>
<div style="float:right;margin:10px;" >
    <img src="/Common/QrCode?code=http://asset.bkant.cn/Home/Download&size=80"/>
    <div style="color:white;text-align:center;">APP下载</div>
</div>

@section js{
    <script>
        function getVueOptions() {
            return helper.getVueModelOptions({
                data: {
                    Model: {
                        ReturnUrl: helper.getQueryString('returnURL'),
                        Email: "",
                        Password: ""
                    }
                },
                methods: {
                    login: function () {
                        helper.post("/Admin/Login/Login",
                            this.Model, function (data) {
                                helper.redirect(data);
                            });
                    }
                }
            });
        }
    </script>
}