﻿<el-dialog :title="getTitle('存储位置')" :visible="List.ModelDialog.Visible" @@close="closeDialog('List.ModelDialog')"
           :width="Common.DialogWidth"
           :close-on-click-modal="Common.CloseOnClickModal"
           :close-on-press-escape="Common.CloseOnPressEscape">
    <el-form :model="List.ModelDialog.Model"
             status-icon
             :show-message="false"
             ref="List.ModelDialog"
             :label-width="Common.FormLabelWidth"
             :label-suffix="Common.FormLabelSuffix">
        <el-form-item label="存储部门" prop="DepartmentId" :rules="Validation.Select">
            @UIHelper.Select("SelectList.DepartmentId.Data", "List.ModelDialog.Model.DepartmentId", "部门"
                                , ""
                                , "<span :class=\"getDepartmentTypeClass(item)\" v-html=\"getDepartmentName(item)\"></span>"
                                , strOptionDisabledKey: "Department"
                                , strTextBind: "List.ModelDialog.Model.DepartmentName", bIsQuerySelect: false)
        </el-form-item>
        <el-form-item label="名称" prop="Name" required>
            <el-input placeholder="名称" v-model="List.ModelDialog.Model.Name"></el-input>
        </el-form-item>
        <el-form-item label="排序" prop="OrderIndex" required>
            <el-input-number placeholder="排序" v-model="List.ModelDialog.Model.OrderIndex" :min="1"></el-input-number>
        </el-form-item>
        <el-form-item label="是否启用" prop="Enabled" required>
            <el-switch v-model="List.ModelDialog.Model.Enabled" :disabled="true"></el-switch>
        </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
        <el-button @@click="closeDialog('List.ModelDialog')" icon="el-icon-close">取 消</el-button>
        <el-button type="primary" @@click="submitForm('List.ModelDialog', handleSave, getPageList)" icon="el-icon-check">保 存</el-button>
    </div>
</el-dialog>