﻿<div class="my-main-body-button">
    <span class="my-main-body-title">
        <i class="el-icon-view"></i>
        存储位置
    </span>
    @UIHelper.SearchInput("地址")
    @UIHelper.Select("SelectList.DepartmentId.Data", "List.SearchModel.Id", "部门"
                                , ""
                                , "<span :class=\"getDepartmentTypeClass(item)\" v-html=\"getDepartmentName(item)\"></span>"
                                , strOptionDisabledKey: "Department")
    @UIHelper.Select("SelectList.EnabledStatusList.Data", "List.SearchModel.Id1", "启用状态", strAllValue: "-1")
</div>
<div class="my-main-body-button">
    @ButtonHelper.Add(strClick: "handleStoredAddressAdd()")
    @ButtonHelper.Import()
    @ButtonHelper.Export(strFileName: "StoredAddress_Export")
</div>

<el-table :data="List.Data"
          :row-key="getItemId"
          border stripe
          header-row-class-name="my-main-body-table-header"
          @@selection-change="handleSelectionChange"
          @@sort-change="function(sort){handleSortChange(sort,'List');}"
          style="width: 100%">
    <el-table-column type="selection" width="55" align="center"
                     v-if="existButton('SoftDeleteList')"></el-table-column>
    <el-table-column label="Id" prop="Id" sortable="custom" width="100"></el-table-column>
    <el-table-column label="部门" prop="DepartmentName" sortable="custom"></el-table-column>
    <el-table-column label="位置" prop="Name" sortable="custom"></el-table-column>
    <el-table-column label="排序" prop="OrderIndex" sortable="custom"></el-table-column>
    <el-table-column label="状态" prop="Enabled" sortable="custom">
        <template slot-scope="scope">
            <el-tag :type="getEnabeldType(!scope.row.Enabled)">{{getEnabeldText(!scope.row.Enabled)}}</el-tag>
        </template>
    </el-table-column>
    <el-table-column label="操作" width="250" align="center"
                     v-if="existButton('Enabled,Edit,SoftDelete')">
        <template slot-scope="scope">
            @ButtonHelper.Enabled(strClick: "handleEnabled(scope.row)", strButtonType: "getEnabeldType(scope.row.Enabled)", strButtonText: "getEnabeldText(scope.row.Enabled)")
            @ButtonHelper.Edit()
        </template>
    </el-table-column>
</el-table>

@Html.Partial("_Pagination", "List")

@Html.Partial("Edit")

@(Html.Import<StoredAddress>())

@section js{
@(Html.DtoModel<StoredAddressDto>())
    <script>
        function getVueOptions() {
            return helper.getPageVueOptions("StoredAddress", getStoredAddressDto, {
                data: {
                    List:{
                        SearchModel: {
                            Id1: -1
                        }
                    },
                    Dialog: {
                        NewId: 1
                    },
                    SelectList: {
                        DepartmentId: { Controller: "Department", Data: [] },
                        DeleteStatusList: { Data: [{ Id: 0, Name: "未删除" }, { Id: 1, Name: "已删除" }] },
                        EnabledStatusList: { Data: [{ Id: 0, Name: "禁用" }, { Id: 1, Name: "启用" }] }
                    },
                    Import: helper.getImportModel("StoredAddress")
                },
                methods: {
                    isDisabled: function (row, key) {
                        return row.DepartmentType == 1;//Company
                    },
                    isCompany: function (row) {
                        return row.DepartmentType == 1;
                    },
                    getDepartmentTypeClass: function (row) {
                        return this.isCompany(row) ? "my-text-success" : "my-text-info";
                    },
                    getDepartmentName: function (row) {
                        return helper.getIndentRepeatString(row.LayerIndex - 1) + row.Name;
                    },
                    handleStoredAddressAdd: function (data) {
                        var _this = this;
                        this.handleAdd(null, function (model) {
                            model.DepartmentId = _this.List.SearchModel.Id;
                            return model;
                        });
                    }
                }
            });
        }
    </script>
}