﻿@model bool
@{
    string strTotal = string.Empty;
    if (Model)
    {
        strTotal = @"<el-input-number placeholder=""数量"" v-model=""scope.row.Total"" :min=""1"" :max=""scope.row.MaxTotal""></el-input-number>";
    }
}
<el-dialog title="选择资产"
           :visible="SelectedAssetList.ModelDialog.Visible"
           @@close="closeDialog('SelectedAssetList.ModelDialog')"
           width="92%"
           :close-on-click-modal="Common.CloseOnClickModal"
           :close-on-press-escape="Common.CloseOnPressEscape"
           append-to-body>
    <div class="my-main-body-button">
        @UIHelper.SearchInput("条码/名称/SN", "SelectedAssetList")
        @UIHelper.Select("SelectList.UsedDepartmentId.Data", "SelectedAssetList.SearchModel.Id4", "单位部门", "handleAssetDepartmentChange", "<span :class='getDepartmentTypeClass(item)' v-html='getDepartmentName(item)'></span>")
        @UIHelper.Select("SelectList.UsedDepartmentEmployeeId.Data", "SelectedAssetList.SearchModel.Id3", "员工")
        @UIHelper.Period("购买日期", "SelectedAssetList")
    </div>
    <el-table :data="SelectedAssetList.Data"
              :row-key="getItemId"
              border stripe
              header-row-class-name="my-main-body-table-header"
              @@selection-change="function(val){handleSelectionChange(val,SelectedAssetList);}"
              @@sort-change="function(sort){handleSortChange(sort,'SelectedAssetList');}"
              style="width: 100%">
        @UIHelper.SubAssetColumns("AssetItemStatus.Asset.",
    strTotal: strTotal,
    bIsSelectable: true,
    bIsUseMainLocation: true,
    strAssetStatusContext: "AssetItemStatus.",
    bIsNeedAssetStatus: true)
    </el-table>
    @Html.Partial("_Pagination", "SelectedAssetList")
    <div slot="footer" class="dialog-footer">
        <el-button @@click="closeDialog('SelectedAssetList.ModelDialog')" icon="el-icon-close">取 消</el-button>
        <el-button type="primary" @@click="saveSelectedAssetDialog()" icon="el-icon-check">确定</el-button>
    </div>
</el-dialog>
<script>
    function getSelectAssetListOptions(options) {
        return _.merge({
            data: {
                Cache: {
                    UsedEmployeeId: []
                },
                SelectedAssetList: helper.getInitList(null, {
                    AssetStatus: 0,
                    AssetItemCallback: null,
                    AssetItemUniqueCallback: null,
                    AssetItemStatuses: [],
                    SelectedAssetList: []
                }, "AssetLocationItem"),
                SelectList: {
                    UsedDepartmentId: { Controller: "Department", Data: [] },
                    UsedDepartmentEmployeeId: { Data: [] }
                },
            },
            watch: getSearchModelWatchList([{ TableName: "SelectedAssetList", InitEvent: function () { this.getPageList("SelectedAssetList"); }, IgnoreList: ["Id1", "Id2", "Id4"] }]),
            methods: {
                handleAssetDepartmentChange: function (value) {
                    var row = this.getArrayItem(this.SelectList.UsedDepartmentId.Data, value);
                    if (value == 0 || row == null || this.isCompany(row)) {
                        this.SelectedAssetList.SearchModel.Id1 = value;
                        this.SelectedAssetList.SearchModel.Id2 = 0;
                        this.SelectedAssetList.SearchModel.Id3 = 0;
                        this.SelectList.UsedEmployeeId.EmployeeData = [];
                    } else {
                        this.SelectedAssetList.SearchModel.Id1 = 0;
                        this.SelectedAssetList.SearchModel.Id2 = value;
                        this.getDepartmentEmployeeCacheList(value);
                    }
                    this.getPageList("SelectedAssetList");
                },
                resetSelectedAsset: function (model) {
                    this.SelectedAssetList.AssetItemStatuses = [];
                    this.SelectedAssetList.SelectedAssetList = [];
                    return model;
                },

                selectAssets: function (assetStatus, aryItems, dtoCallback, uniqueCallback) {
                    this.SelectedAssetList.AssetStatus = assetStatus;
                    this.SelectedAssetList.AssetItemCallback = dtoCallback;
                    this.SelectedAssetList.AssetItemUniqueCallback = uniqueCallback || ((o, item) =>
                        o.AssetId == item.AssetItemStatus.Asset.Id
                        & o.UsedCompanyId == item.UsedCompanyId
                        & o.UsedDepartmentId == item.UsedDepartmentId
                        & o.UsedEmployeeId == item.UsedEmployeeId
                        & o.RegionId == item.RegionId
                        & o.StoredAddressId == item.StoredAddressId);
                    this.SelectedAssetList.AssetItemStatuses = aryItems;
                    this.SelectedAssetList.ModelDialog.Data = [];
                    if (this.SelectedAssetList.SearchModel.Id == assetStatus) {
                        this.getPageList("SelectedAssetList");
                    } else {
                        this.SelectedAssetList.SearchModel.Id = assetStatus;
                    }
                    this.openDialog("SelectedAssetList.ModelDialog");
                },
                saveSelectedAssetDialog: function () {
                    if (!this.isMultipleSelection("SelectedAssetList")) {
                        return;
                    }
                    var _this = this;
                    _.each(this.SelectedAssetList.MultipleSelection, function (item, index) {
                        var asset = _.cloneDeep(item.AssetItemStatus.Asset);
                        asset.Total = item.Total;
                        var itemTemp = null;
                        if (_this.SelectedAssetList.AssetItemCallback != null){
                            itemTemp = _this.SelectedAssetList.AssetItemCallback();
                            helper.update(itemTemp, asset, ["Id"]);
                            helper.update(itemTemp, item, ["Id"]);
                            helper.update(itemTemp, { AssetId: item.AssetItemStatus.Asset.Id, Asset: asset });
                        }else{
                            itemTemp = {
                                AssetId: item.AssetItemStatus.Asset.Id,
                                UsedCompanyId: item.UsedCompanyId,
                                UsedDepartmentId: item.UsedDepartmentId,
                                UsedEmployeeId: item.UsedEmployeeId,
                                RegionId: item.RegionId,
                                StoredAddressId: item.StoredAddressId,
                                Total: item.Total
                            };
                        }
                        
                        var index = _.findIndex(_this.SelectedAssetList.AssetItemStatuses,
                                o=>_this.SelectedAssetList.AssetItemUniqueCallback(o, item));

                        if (index >= 0) {
                            Vue.set(_this.SelectedAssetList.AssetItemStatuses, index, itemTemp);
                            Vue.set(_this.SelectedAssetList.SelectedAssetList, index, asset);
                        } else {
                            _this.SelectedAssetList.AssetItemStatuses.push(itemTemp);
                            _this.SelectedAssetList.SelectedAssetList.push(asset);
                        }
                    });
                    this.closeDialog('SelectedAssetList.ModelDialog');
                }
            }
        }, options);
    }
</script>