﻿@{
    ViewBag.Title = "后台管理系统";
    Layout = "~/Areas/Admin/Views/Shared/_BaseLayout.cshtml";
    AdminUserDto user = SessionHelper.Admin.GetSession<AdminUserDto>();
    SessionDto sessionDto = AutoMapper.Mapper.Map<SessionDto>(user);
}

@section css{
    @RenderSection("css", false)
    <script>
        var session = @Html.Raw(SerializationHelper.ToJson(sessionDto));
        function getDebounceEvent(initEvent) {
            return _.debounce(initEvent, 500);
        }
        function getSearchModel() {
            return @Html.Raw(TypeHelper.ToJson<SearchModel>());
        }
        /*
        *table："List"
        *initEvent: function () { this.getPageList("List") }
        *ignoreList: null or ["Id","Id1"]
        */
        function getSearchModelWatch(table, initEvent, ignoreList) {
            return @Html.Raw(TypeHelper.GetVueWatch<SearchModel>());
        }
        /*
        *aryOptions: [{TableName:"List", InitEvent:function () { this.getPageList("List") }, IgnoreList: ["Id","Id1"]}]
        *TableName："List"
        *InitEvent: function () { this.getPageList("List") }
        *IgnoreList: null or ["Id","Id1"]
        */
        function getSearchModelWatchList(aryOptions, otherOptions) {
            var options = {};
            _.each(aryOptions, function (item, index) {
                options = _.merge(options, getSearchModelWatch(item.TableName, item.InitEvent, item.IgnoreList));
            });
            return _.extend(options, otherOptions);
        }
    </script>
}

@section js{
    @RenderSection("js", false)
}

<el-container class="my-app-container">
    <el-header class="my-main-header" height="50px">
        <el-row>
            <el-col :span="20">
                <a href="/" class="my-main-header-title">动态资产管理系统后台管理系统 V1.0</a>
            </el-col>
            @*<el-col :span="12" class="my-text-right">
                <el-badge :value="12" class="my-header-badge my-main-header-menu">
                    <el-button typeof="primary" size="mini" icon="el-icon-message">通知</el-button>
                </el-badge>
            </el-col>*@
            <el-col :span="4" class="my-text-right">
                <el-dropdown @@command="handleMenuCommand" class="my-main-header-menu">
                    <span class="my-el-dropdown-link">
                        欢迎 @(user.UserName)<i class="el-icon-setting el-icon--right"></i><i class="el-icon-arrow-down el-icon--right"></i>
                    </span>
                    <el-dropdown-menu slot="dropdown">
                        <el-dropdown-item class="my-el-dropdown-item" command="clear-localstorage">
                            <i class="el-icon-delete el-icon--left"></i>清理缓存
                        </el-dropdown-item>
                        <el-dropdown-item divided class="my-el-dropdown-item" command="change-password">
                            <i class="el-icon-edit el-icon--left"></i>修改密码
                        </el-dropdown-item>
                        <el-dropdown-item divided class="my-el-dropdown-item">
                            <a href="/Admin/Login/Logout">
                                <i class="el-icon-close el-icon--left"></i>退出登陆
                            </a>
                        </el-dropdown-item>
                    </el-dropdown-menu>
                </el-dropdown>
            </el-col>
        </el-row>
    </el-header>
    <el-container>
        <el-aside class="my-main-aside" :width="Common.SideWidth+'px'">
            @Html.Partial("_Navigation")
        </el-aside>
        <el-main class="my-main-body">
            <el-tooltip class="item" effect="dark" :content="(Common.MenuVisible?'隐藏':'展开')+'菜单栏'" placement="right">
                <div class="my-main-aside-arrow" @@click="setMenu">
                    <i :class="{'el-icon-arrow-left':Common.MenuVisible,'el-icon-arrow-right':!Common.MenuVisible}"></i>
                </div>
            </el-tooltip>
            @RenderBody()
        </el-main>
    </el-container>
</el-container>

<iframe ref="_iframe" class="my-hide "></iframe>

@(Html.Edit<PasswordDto>())