﻿@{
    ViewBag.Title = "后台管理系统";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section css{
    @RenderSection("css", false)
}

@RenderBody()

@section js{
    <script src="https://unpkg.com/vue-html-to-paper/build/vue-html-to-paper.js"></script>
    <script>
        var options = {
            name: '_blank',
            specs: [
                'fullscreen=yes',
                'titlebar=yes',
                'scrollbars=yes'
            ],
            styles: [
                '/Content/ElementUI/element-ui.css',
                '/Content/site.web.css'
            ]
        }
        Vue.use(VueHtmlToPaper, options);
    </script>
    @RenderSection("js", false)
}