<!DOCTYPE HTML>
<html>

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta name="HandheldFriendly" content="true" />
		<meta name="MobileOptimized" content="320" />
		<title>Hello H5+</title>
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link href="../css/common.css" rel="stylesheet" />
		<script src="../js/jquery-1.10.2.min.js"></script>
		<link rel="stylesheet" href="../css/icons-extra.css">
		<script src="../js/vue.js"></script>
		<script src="../js/lodash.min.js"></script>
		<script src="../js/ModelDto.js"></script>
		<script src="../js/mui.min.js"></script>
		<script src="../js/vue.jerry.helper.web.js"></script>
		<script src="../js/BaseHelper.js"></script>
		<style>
			html,
			body {
				background-color: #E4E4E4;
			}
			
			.mui-table-view-cell.mui-active>.mui-slider-left>.mui-btn,
			.mui-table-view-cell.mui-active>.mui-slider-right>.mui-btn {
				-webkit-align-items: baseline;
				line-height: 50px;
			}
			
			.mui-popover {
				position: fixed;
				width: 90%;
				height: 50%;
				border-radius: 0;
				left: 50%;
				top: 50%;
				margin: 0 auto;
				z-index: 10000;
				background-color: #fff;
				-webkit-transform: translateX(-50%) translateY(-50%);
				-moz-transform: translateX(-50%) translateY(-50%);
				-ms-transform: translateX(-50%) translateY(-50%);
				transform: translateX(-50%) translateY(-50%);
			}
			input[type="text"],input[type="tel"] {
				text-align: right !important;
			}
		</style>
		<link rel="stylesheet" href="css/common.css" type="text/css" charset="utf-8" />
	</head>

	<body>
		<div id="JerryPlatApp" v-cloak>
			<header class="mui-bar mui-bar-nav mui-bar-transparent">
				<!--			<div class="nvbt iback" onclick="back()"></div>-->
				<a class="mui-icon mui-icon-bars mui-pull-left" onclick="showSide()" style="color: #FFFFFF;"></a>
				<h1 id="title" class="mui-title">资产分类</h1>
				<a class="mui-icon mui-icon-plusempty mui-pull-right" style="color: #FFFFFF;" @click="handleTreeAdd()"></a>
			</header>
			<div id="DefaultModel" class="mui-popover" style="border: 1px solid #1A96C9;height: 230px;border-radius: 10px;">
				<div class="mui-scroll-wrapper" style="margin: 0px; padding: 0px;">
					<div class="mui-scroll">
						<div style="width: 100%;height: 30px;background-color:#1A96C9 !important;margin: 0px;padding-left: 10px;color: #FFFFFF;font-size: 20px;line-height: 28px;">
							<label>添加资产分类</label>
						</div>
						<form class="mui-input-group" ref="List.ModelDialog">
							<div class="mui-input-row">
								<label>父级类型</label>
								<input type="text" placeholder="名称" v-model="List.ModelDialog.Model.ParentName" disabled="disabled" required>
							</div>
							<div class="mui-input-row">
								<label>资产编码</label>
								<input type="text" placeholder="资产编码" v-model="List.ModelDialog.Model.Code" required>
							</div>
							<div class="mui-input-row">
								<label>类型名称</label>
								<input type="text" placeholder="名称" v-model="List.ModelDialog.Model.Name" required>
							</div>
							<div class="mui-button-row">
								<button type="button" class="mui-btn mui-btn-primary mui-col-sm-5 mui-col-xs-5" style="background-color: #1A96C9;border: none;border-radius: 5px;" @click="submitForm('List.ModelDialog',handleSave,function(){getPageList('List')},'List')">确认</button>
								<button type="button" class="mui-btn mui-col-sm-5 mui-col-xs-5" style="background-color: #FB9708;border: none;border-radius: 5px;color: #FFFFFF;" @click="closeDialog()">取消</button>
							</div>

						</form>
					</div>
				</div>

			</div>
			<div class="mui-content">
				<div class="mui-input-row mui-search" style="margin: 10px;">
					<input type="search" placeholder="请输入关键字" v-model="List.SearchModel.SearchText">
				</div>
				<ul class="mui-table-view mui-table-view-striped mui-table-view-condensed" id="ListId">
					<li class="mui-table-view-cell" v-for="item in getSeachList()">
						<div class="mui-slider-right mui-disabled">
							<a class="mui-btn mui-btn-primary" @click="handleTreeAdd(item)">添加</a>
							<a class="mui-btn mui-btn-royal" @click="handleTreeEdit(node,item)">编辑</a>
							<a class="mui-btn mui-btn-red" @click="handleDelete(null, item,null,null,'List')" v-if="isShow(item)">删除</a>
						</div>
						<div class="mui-slider-handle">
							<span v-html="getSpaceString(item.LayerIndex-1)"></span>
							<span style="color:#2AC845;">{{item.Id}}</span>&nbsp;—&nbsp;{{item.DisplayName}}
						</div>
					</li>
				</ul>

				<div style="width: 100%; height: 40px;padding: 10px;text-align: center;" v-if="List.PageModel.TotalPage>0">
					<i class="mui-icon-extra mui-icon-extra-arrowleftcricle mui-pull-left" @click="function(){currentPage--;handlePageChange(currentPage,'List','PageIndex')}" v-if="currentPage!=1"></i>
					<label>{{currentPage}}/{{List.PageModel.TotalPage}}</label>
					<i class="mui-icon-extra mui-icon-extra-arrowrightcricle mui-pull-right" @click="function(){currentPage++;handlePageChange(currentPage,'List','PageIndex')}" v-if="currentPage<List.PageModel.TotalPage"></i>
				</div>

			</div>
		</div>
	</body>
	<script type="text/javascript" src="../js/immersed.js"></script>
	<script>
			window.addEventListener('tap', function(e) {
			e.target.className == 'mui-backdrop mui-active' && e.stopPropagation();
			},true);
		function plusReady() {
			readyFunction();
		}
		if(window.plus) {
			plusReady();
		} else {
			document.addEventListener("plusready", plusReady, false);
		}
		// DOMContentloaded事件处理
		document.addEventListener("DOMContentLoaded", function() {
			plusReady();
		}, false);		
		if(window.plus) {
			var wv = plus.webview.currentWebview();
			// 关闭侧滑返回功能
			wv.setStyle({
				'popGesture': 'none'
			});
		}
		function getVueOptions() {
            return helper.getPageVueOptions("AssetType", getAssetTypeDto, {
                data: {
                    List: {
                    	SearchModel: { Id: -1 },
                        PageParam: helper.default.AllPageParam,
                        Action: { View: "/AssetType/GetList" }
                    }
                }, 
                watch: {
                    "List.SearchModel.SearchText": getDebounceEvent(function (val) { this.getSeachList(); })
                }, 
                methods: {
                	getSeachList:function(){ 
                		return this.List.Data.filter(this.filterNode);
                	},
                    filterNode:function(value) {
                    	if(value.DisplayName.indexOf(this.List.SearchModel.SearchText) !== -1 || this.List.SearchModel.SearchText=="" || this.List.SearchModel.SearchText==null){
                    		return true;
                    	}
                    },
                    handleTreeAdd: function (data) {
                        this.handleAdd(null, function (model) {
                            if (data == null) {
                                model.ParentId = 0;
                                model.ParentName = "根类型";
                            } else {
                                model.ParentId = data.Id;
                                model.ParentName = data.Name;
                            }
                            return model;
                        });
                    },
                    handleTreeEdit: function (node, data) {
                    	var _this=this;
                        this.handleEdit(null, data, null, false, function (model) {
                            if (model.ParentId == 0) {
                                model.ParentName = "根类型";
                            } else {
							mui.each(_this.List.Data, function(index, item) {
								if(data.ParentId == item.Id) {
									model.ParentName = item.Name;
								}
							})
                           }
                            return model;
                        });
                    },
                    handleTreeDelete: function (node, data) {
                        if (data.Children != null && data.Children.length > 0) {
                            helper.alert("请先删除所有的子类型。");
                            return;
                        }
                        this.handleDelete(null, data);
                    },
					isShow: function(model) {
						var _this = this;
						var showList = [];
						mui.each(_this.List.Data, function(index, item) {
							if(item.ParentId == model.Id) {
								showList.push(item);
							}
						})
						if(showList.length > 0) {
							return false;
						} else {
							return true;
						}
					}
                }
            });
		}
		var vue = new Vue(getVueOptions());
	</script>

</html>