<!DOCTYPE HTML>
<html>

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta name="HandheldFriendly" content="true" />
		<meta name="MobileOptimized" content="320" />
		<title>Hello H5+</title>
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link href="../css/common.css" rel="stylesheet" />
		<script src="../js/jquery-1.10.2.min.js"></script>
		<script src="../js/mui.min.js"></script>
		<link rel="stylesheet" href="../css/icons-extra.css">
		<script src="../js/vue.js"></script>
		<script src="../js/lodash.min.js"></script>
		<script src="../js/vue.jerry.helper.web.js"></script>
		<script src="../js/ModelDto.js"></script>
		<script src="../js/BaseHelper.js"></script>
		<style>
			html,
			body {
				background-color: #E4E4E4;
			}
			
			.mui-table-view-cell.mui-active>.mui-slider-left>.mui-btn,
			.mui-table-view-cell.mui-active>.mui-slider-right>.mui-btn {
				-webkit-align-items: baseline;
				line-height: 50px;
			}
			
			.mui-popover {
				position: fixed;
				width: 90%;
				height: 90%;
				border-radius: 0;
				left: 50%;
				top: 50%;
				margin: 0 auto;
				z-index: 10000;
				background-color: #fff;
				-webkit-transform: translateX(-50%) translateY(-50%);
				-moz-transform: translateX(-50%) translateY(-50%);
				-ms-transform: translateX(-50%) translateY(-50%);
				transform: translateX(-50%) translateY(-50%);
			}
			input[type="text"],input[type="tel"] {
				text-align: right !important;
			}
		</style>

		<link rel="stylesheet" href="css/common.css" type="text/css" charset="utf-8" />
	</head>

	<body>
		<div id="JerryPlatApp" v-cloak>
			<header class="mui-bar mui-bar-nav mui-bar-transparent">
				<!--			<div class="nvbt iback" onclick="back()"></div>-->
				<a class="mui-icon mui-icon-bars mui-pull-left" onclick="showSide()" style="color: #FFFFFF;"></a>
				<h1 id="title" class="mui-title">组织结构</h1>
				<a class="mui-icon mui-icon-plusempty mui-pull-right" style="color: #FFFFFF;" @click="handleTreeAdd(null)"></a>
			</header>
			<div class="mui-content">
				<div id="DefaultModel" class="mui-popover" style="border: 1px solid #1A96C9;height: 350px;border-radius: 10px;">
					<div class="mui-scroll-wrapper" style="margin: 0px; padding: 0px;">
						<div class="mui-scroll">
							<div style="width: 100%;height: 30px;background-color:#1A96C9 !important;margin: 0px;padding-left: 10px;color: #FFFFFF;font-size: 20px;line-height: 28px;">
								<label>添加部门</label>
							</div>
							<form class="mui-input-group" ref="List.ModelDialog">
								<div class="mui-input-row">
									<label>部门编码</label>
									<input type="text" placeholder="部门编码" v-model="List.ModelDialog.Model.Code" disabled="disabled">
								</div>
								<div class="mui-input-row">
									<label>部门名称</label>
									<input type="text" placeholder="部门名称" v-model="List.ModelDialog.Model.Name" required>
								</div>

								<div class="mui-input-row mui-plus-visible">
									<label>父级部门</label>
									<input type="text" placeholder="父级部门" disabled="disabled" v-model="List.ModelDialog.Model.ParentName">
								</div>

								<div class="mui-input-row">
									<label>部门类型</label>
									<div class="mui-radio mui-left" style="float: right;">
										<label>部门</label>
										<input type="radio" value="2" v-model="List.ModelDialog.Model.DepartmentType" />
									</div>
									<div class="mui-radio mui-left" style="float: right;">
										<label>公司</label>
										<input type="radio" value="1" v-model="List.ModelDialog.Model.DepartmentType" />
									</div>
								</div>

								<div class="mui-input-row">
									<label>是否启用</label>
									<div class="mui-switch mui-switch-mini mui-disabled">
										<div class="mui-switch-handle"></div>
									</div>
								</div>

								<div class="mui-button-row">
									<button type="button" class="mui-btn mui-btn-primary mui-col-sm-5 mui-col-xs-5" style="background-color: #1A96C9;border: none;border-radius: 5px;" @click="submitForm('List.ModelDialog',handleSave,function(){getPageList('List')},'List')">确认</button>
									<button type="button" class="mui-btn mui-col-sm-5 mui-col-xs-5" style="background-color: #FB9708;border: none;border-radius: 5px;color: #FFFFFF;" @click="closeDialog()">取消</button>
								</div>

							</form>
						</div>
					</div>

				</div>

				<ul class="mui-table-view" id="ListId">

					<li class="mui-table-view-cell" v-for="item in List.Data">
						<div class="mui-slider-right mui-disabled">
							<a class="mui-btn mui-btn-primary" @click="handleTreeAdd(item)">添加</a>
							<a class="mui-btn mui-btn-royal" @click="handleTreeEdit(item)">编辑</a>
							<a class="mui-btn mui-btn-warning" v-if="item.Enabled" @click="handleEnabled(item)">禁用</a>
							<a class="mui-btn mui-btn-success" v-if="!item.Enabled" @click="handleEnabled(item)">启用</a>
							<a class="mui-btn mui-btn-red" @click="handleDelete(null,item)" v-if="isShow(item)">删除</a>
						</div>
						<div class="mui-slider-handle">
							<span v-html="getSpaceString(item.LayerIndex-1)"></span>
							<span style="color:#2AC845;">{{item.Id+'-'+item.Code}}</span>&nbsp;&nbsp;{{item.Name}}
						</div>
					</li>
				</ul>

				<div style="width: 100%; height: 40px;padding: 10px;text-align: center;" v-if="List.PageModel.TotalPage>0">
					<i class="mui-icon-extra mui-icon-extra-arrowleftcricle mui-pull-left" @click="function(){currentPage--;handlePageChange(currentPage,'List','PageIndex')}" v-if="currentPage!=1"></i>
					<label>{{currentPage}}/{{List.PageModel.TotalPage}}</label>
					<i class="mui-icon-extra mui-icon-extra-arrowrightcricle mui-pull-right" @click="function(){currentPage++;handlePageChange(currentPage,'List','PageIndex')}" v-if="currentPage<List.PageModel.TotalPage"></i>
				</div>

			</div>

		</div>
	</body>
	<script type="text/javascript" src="../js/immersed.js"></script>
	<script>
		mui.init({
			swipeBack: false //启用右滑关闭功能
		});
			window.addEventListener('tap', function(e) {
			e.target.className == 'mui-backdrop mui-active' && e.stopPropagation();
			},true);
		function plusReady() {
			readyFunction();
		}
		if(window.plus) {
			plusReady();
		} else {
			document.addEventListener("plusready", plusReady, false);
		}
		// DOMContentloaded事件处理
		document.addEventListener("DOMContentLoaded", function() {
			plusReady();
		}, false);
		if(window.plus) {
			var wv = plus.webview.currentWebview();
			// 关闭侧滑返回功能
			wv.setStyle({
				'popGesture': 'none'
			});
		}

		function addCompany() {
			//			vue.GetCode(0);
			mui('#filterId').popover('show');
		}

		function getVueOptions() {
			return helper.getPageVueOptions("Department", getDepartmentDto, {
				data: {
					List: {
						PageParam: helper.default.AllPageParam,
						Action: {
							View: "/Department/GetList",
							Edit: "/Department/ForceEdit"
						}
					}
				},
				methods: {
					GetParentName: function(Id) {
						var _this = this;
						var Name = "";
						mui.each(_this.List.Data, function(index, item) {
							if(item.Id == Id) {
								Name = item.Name
							}
						})
						return Name;
					},
					isShow: function(model) {
						var _this = this;
						var showList = [];
						mui.each(_this.List.Data, function(index, item) {
							if(item.ParentId == model.Id) {
								showList.push(item);
							}
						})
						if(showList.length > 0) {
							return false;
						} else {
							return true;
						}
					},
					handleTreeAdd: function(data) {
						var _this = this;
						this.handleAdd(null, function(model) {
							if(data == null) {
								model.ParentId = 0;
								model.DepartmentType = 1;
								model.ParentName = "根部门";
							} else {
								model.ParentId = data.Id;
								model.DepartmentType = 2;
								model.ParentName = data.Name;
							}
							_this.SearchModel.Code.Id = model.ParentId;
							return model;
						});
					},
					handleTreeEdit: function(data) {
						var _this = this;
						this.handleEdit(null, data, null, false, function(model) {
							if(model.ParentId == 0) {
								model.ParentName = "根部门";
							} else {
								model.ParentName = _this.GetParentName(model.ParentId);
							}
							return model;
						});
					}
				}
			})
		}
		var vue = new Vue(getVueOptions());
		console.log(JSON.stringify(getVueOptions()));
	</script>

</html>