<!DOCTYPE HTML>
<html>

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta name="HandheldFriendly" content="true" />
		<meta name="MobileOptimized" content="320" />
		<title>Hello H5+</title>
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link href="../css/common.css" rel="stylesheet" />
		<script src="../js/jquery-1.10.2.min.js"></script>
		<link rel="stylesheet" href="../css/icons-extra.css">
		<script src="../js/vue.js"></script>
		<script src="../js/lodash.min.js"></script>
		<script src="../js/ModelDto.js"></script>
		<script src="../js/mui.min.js"></script>
		<script src="../js/vue.jerry.helper.web.js"></script>
		<script src="../js/BaseHelper.js"></script>
		<style>
			html,
			body {
				background-color: #E4E4E4;
			}
			
			.mui-table-view-cell.mui-active>.mui-slider-left>.mui-btn,
			.mui-table-view-cell.mui-active>.mui-slider-right>.mui-btn {
				-webkit-align-items: baseline;
				line-height: 50px;
			}
			
			.mui-popover {
				position: fixed;
				width: 90%;
				height: 50%;
				border-radius: 0;
				left: 50%;
				top: 50%;
				margin: 0 auto;
				z-index: 10000;
				background-color: #fff;
				-webkit-transform: translateX(-50%) translateY(-50%);
				-moz-transform: translateX(-50%) translateY(-50%);
				-ms-transform: translateX(-50%) translateY(-50%);
				transform: translateX(-50%) translateY(-50%);
			}
			.red{
				color: red;
			}
			.green{
				color: green;
			}
			input[type="text"],input[type="tel"] {
				text-align: right !important;
			}
		</style>
	</head>

	<body>
		<div id="JerryPlatApp" v-cloak>
			<header class="mui-bar mui-bar-nav mui-bar-transparent">
				<!--			<div class="nvbt iback" onclick="back()"></div>-->
				<a class="mui-icon mui-icon-bars mui-pull-left" onclick="showSide()" style="color: #FFFFFF;"></a>
				<h1 id="title" class="mui-title">存储位置</h1>
				<a class="mui-icon mui-icon-plusempty mui-pull-right" style="color: #FFFFFF;" @click="handleAdd('List.ModelDialog')"></a>
			</header>
			<div id="DefaultModel" class="mui-popover" style="border: 1px solid #1A96C9;height: 230px;border-radius: 10px;">
				<div class="mui-scroll-wrapper" style="margin: 0px; padding: 0px;">
					<div class="mui-scroll">
						<div style="width: 100%;height: 30px;background-color:#1A96C9 !important;margin: 0px;padding-left: 10px;color: #FFFFFF;font-size: 20px;line-height: 28px;">
							<label>添加存储位置</label>
						</div>
						<form class="mui-input-group" ref="List.ModelDialog">
							<div class="mui-input-row">
								<label>存储部门</label>
<!-- 								<select v-model="List.ModelDialog.Model.DepartmentId" @change="updateSelectTextBind(SelectList.DepartmentId.Data,List.ModelDialog.Model.DepartmentId,'List.ModelDialog.Model.DepartmentName')" required>
									<option v-bind:value="0" disabled="disabled">请选择部门</option>
									<option v-for="item in SelectList.DepartmentId.Data" v-bind:value="item.Id" :disabled="isDisabled(item,'Department')"><span v-html="getSpaceString(item.LayerIndex-1)"></span><span :class="getDepartmentTypeClass(item)">{{item.Name}}</span></option>
								</select> -->
								<input type="text" placeholder="请选择部门" readonly="readonly" @click="OpenSelectDialog('选择部门',List.ModelDialog.Model.DepartmentId,SelectList.DepartmentId.Data)" :value="List.ModelDialog.Model.DepartmentName"/>
							</div>
							<div class="mui-input-row">
								<label>名称</label>
								<input type="text" placeholder="名称" v-model="List.ModelDialog.Model.Name" required>
							</div>
							<div class="mui-input-row">
								<label>排序</label>
								<div class="mui-numbox" data-numbox-min='0' id="OrderIndex">
									<button class="mui-btn mui-numbox-btn-minus" type="button">-</button>
									<input class="mui-numbox-input" type="number" v-model="List.ModelDialog.Model.OrderIndex" @change="numberChange">
									<button class="mui-btn mui-numbox-btn-plus" type="button">+</button>
								</div>
							</div>

							<div class="mui-button-row">
								<button type="button" class="mui-btn mui-btn-primary mui-col-sm-5 mui-col-xs-5" style="background-color: #1A96C9;border: none;border-radius: 5px;" @click="submitForm('List.ModelDialog',handleSave,function(){getPageList('List')},'List')">确认</button>
								<button type="button" class="mui-btn mui-col-sm-5 mui-col-xs-5" style="background-color: #FB9708;border: none;border-radius: 5px;color: #FFFFFF;" @click="closeDialog('List.ModelDialog')">取消</button>
							</div>

						</form>
					</div>
				</div>

			</div>
			<div id="SelectDialogId" class="mui-popover" style="border: none;height: 100%;width: 100%;position: fixed;border-radius: 0px;position: fixed;">
				<header class="mui-bar mui-bar-nav mui-bar-transparent" style="border-radius: 0px;">
					<a class="mui-icon mui-icon-left-nav mui-pull-left" style="color: #FFFFFF;" @click="CloseSelectDialog()"></a>
					<h1 id="title" class="mui-title">{{SelectDialog.Title}}</h1>
					<a class="mui-icon mui-icon-checkmarkempty mui-pull-right" style="color: #FFFFFF;font-size: 35px;font-weight: bold;" @click="SubmitSelect()"></a>
				</header>				
				<div class="mui-scroll-wrapper" style="margin-top: 50px;">
					<div class="mui-scroll">
						<div class="mui-input-row mui-radio mui-left" v-for="item in SelectDialog.Data" style="border-bottom: 1px solid #E4E4E4;margin-bottom: 5px;" v-if="SelectDialog.IsNoSecond">
						    <label>{{item.Name}}</label>
						    <input name="radio1" type="radio" :value="item.Id" v-model="SelectDialog.Model">
						</div>
						
						<div class="mui-input-row mui-radio mui-left" v-for="item in SelectDialog.Data" style="border-bottom: 1px solid #E4E4E4;margin-bottom: 5px;" v-if="!SelectDialog.IsNoSecond">
						    <label><span v-html="getSpaceString(item.LayerIndex-1)"></span>{{item.Name}}</label>
						    <input name="radio1" type="radio" :value="item.Id" v-model="SelectDialog.Model" :disabled="isDisabled(item,SelectDialog.Title)">
						</div>
					</div>
				</div>
			</div>			
			<div class="mui-content">

				<ul class="mui-table-view mui-table-view-striped mui-table-view-condensed" id="ListId">
					<li class="mui-table-view-cell" v-for="item in List.Data">
						<div class="mui-slider-right mui-disabled">
							<a class="mui-btn mui-btn-royal" @click="handleEdit(null, item,'List.ModelDialog',false)">编辑</a>
							<a @click="handleEnabled(item)" :class="item.Enabled?'mui-btn mui-btn-red':'mui-btn mui-btn-green'">{{item.Enabled==true? '禁用':'启用'}}</a>
						</div>
						<div class="mui-slider-handle">
							<div class="mui-table">
								<div class="mui-table-cell mui-col-xs-10">
									<i class="mui-icon-extra mui-icon-extra-order" style="float: left;margin-right: 5px;"></i>
									<h4>{{item.Name}}</h4>
									<p class="mui-h6">部门:&nbsp;&nbsp;{{item.DepartmentName}}</p>
									<p class="mui-h6" :class="item.Enabled?'green':'red'">状态:&nbsp;&nbsp;{{item.Enabled? "启用":"禁用"}}</p>
								</div>
								<div class="mui-table-cell mui-col-xs-2 mui-text-right">
									<span class="mui-h5">{{item.OrderIndex}}</span>
								</div>
							</div>
						</div>
					</li>
				</ul>

				<div style="width: 100%; height: 40px;padding: 10px;text-align: center;" v-if="List.PageModel.TotalPage>0">
					<i class="mui-icon-extra mui-icon-extra-arrowleftcricle mui-pull-left" @click="function(){currentPage--;handlePageChange(currentPage,'List','PageIndex')}" v-if="currentPage!=1"></i>
					<label>{{currentPage}}/{{List.PageModel.TotalPage}}</label>
					<i class="mui-icon-extra mui-icon-extra-arrowrightcricle mui-pull-right" @click="function(){currentPage++;handlePageChange(currentPage,'List','PageIndex')}" v-if="currentPage<List.PageModel.TotalPage"></i>
				</div>

			</div>

		</div>
	</body>
	<script type="text/javascript" src="../js/immersed.js"></script>
	<script>
			window.addEventListener('tap', function(e) {
			e.target.className == 'mui-backdrop mui-active' && e.stopPropagation();
			},true);
		function plusReady() {
			readyFunction();
		}
		if(window.plus) {
			plusReady();
		} else {
			document.addEventListener("plusready", plusReady, false);
		}
		// DOMContentloaded事件处理
		document.addEventListener("DOMContentLoaded", function() {
			plusReady();
		}, false);
			if(window.plus) {
			var wv = plus.webview.currentWebview();
			// 关闭侧滑返回功能
			wv.setStyle({
				'popGesture': 'none'
			});
		}

        function getVueOptions() {
            return helper.getPageVueOptions("StoredAddress", getStoredAddressDto, {
                data: {
                    List:{
                        SearchModel: {
                            Id1: -1
                        }
                    },
                    Dialog: {
                        NewId: 1
                    },
                    SelectList: {
                        DepartmentId: { Controller: "Department", Data: [] },
                        DeleteStatusList: { Data: [{ Id: 0, Name: "未删除" }, { Id: 1, Name: "已删除" }] },
                        EnabledStatusList: { Data: [{ Id: 0, Name: "禁用" }, { Id: 1, Name: "启用" }] }
                    },
					SelectDialog:{
						Title:"",
						Model:"",
						Data:[],
						IsNoSecond:true
					}
                },
                methods: {
					numberChange:function(){
						var _this=this;
						_this.List.ModelDialog.Model.OrderIndex=mui('#OrderIndex').numbox().getValue();
					},
					CloseSelectDialog:function(){
						var _this=this;
						mui("#SelectDialogId").popover('hide');
						mui("#DefaultModel").popover('show');
						
						_this.SelectDialog.IsNoSecond=true
					},
					OpenSelectDialog:function(title,model,data){
						var _this=this;
						if(title=="选择部门" || title=="选择资产类别"){
							_this.SelectDialog.IsNoSecond=false;
						};
						_this.SelectDialog.Title=title;
						_this.SelectDialog.Model=model;
						_this.SelectDialog.Data=data;
						mui("#SelectDialogId").popover('show');
					},
					SubmitSelect:function(){
						var _this=this;
						if(_this.SelectDialog.Title=="选择部门"){
								_this.List.ModelDialog.Model.DepartmentId=_this.SelectDialog.Model;
								_this.List.ModelDialog.Model.DepartmentName=_this.getItemName(_this.SelectList.DepartmentId.Data,_this.List.ModelDialog.Model.DepartmentId);
								_this.updateSelectTextBind(_this.SelectList.DepartmentId.Data,_this.List.ModelDialog.Model.DepartmentId,'List.ModelDialog.Model.DepartmentName');
						}
						_this.CloseSelectDialog();
					},
					getItemName:function(List,Id){
						var Name="";
						mui.each(List,function(index,item){
							if(item.Id==Id){
								Name = item.Name;
							}
						});
						return Name;
					},					
                    isDisabled: function (row, key) {
                        return row.DepartmentType == 1;//Company
                    },
                    isCompany: function (row) {
                        return row.DepartmentType == 1;
                    },
                    getDepartmentTypeClass: function (row) {
                        return this.isCompany(row) ? "my-text-success" : "my-text-info";
                    },
                    getDepartmentName: function (row) {
                        return helper.getIndentRepeatString(row.LayerIndex - 1) + row.Name;
                    },
                    handleStoredAddressAdd: function (data) {
                        var _this = this;
                        this.handleAdd(null, function (model) {
                            model.DepartmentId = _this.List.SearchModel.Id;
                            return model;
                        });
                    }
                }
            });
        }
		var vue = new Vue(getVueOptions());
	</script>

</html>