﻿<div class="my-main-body-button">
    <span class="my-main-body-title">
        <i class="el-icon-view"></i>
        系统设置
    </span>
</div>

<el-tabs v-model="Tab" type="border-card">
    <el-tab-pane label="编码设置" name="n1">
        <el-form ref="commonForm" :model="Model" status-icon :show-message="false"
                 label-width="200px"
                 :label-suffix="Common.FormLabelSuffix">
            <div class="my-alert">
                <el-alert type="success" :closable="false">
                    <p>编码规则：</p>
                    <p>{Profix}: 仅部门编码可用，表示父级部门或单位的编码</p>
                    <p>{Order:3}: 均可使用，表示从长度为3的按顺序开始的编码，如001，002</p>
                    <p>{Date:yyyyMMdd}: 均可使用，表示当前日期的格式编码，如20190202，格式年(yyyy)月(MM)日(dd)时(hh)分(mm)秒(ss)，可自由组合</p>
                    <p>{Random:3}: 均可使用，随机产生长度为3的数字+字母的组合编码</p>
                </el-alert>
            </div>
            <el-form-item label="部门编码">
                <el-input prop="Department_Code_Role" v-model="Model.Department_Code_Role" required placeholder="部门编码"></el-input>
            </el-form-item>
            <el-form-item label="员工编码">
                <el-input prop="Employee_Code_Role" v-model="Model.Employee_Code_Role" required placeholder="员工编码"></el-input>
            </el-form-item>
            <el-form-item label="入库单号">
                <el-input prop="AssetStorage_Code_Role" v-model="Model.AssetStorage_Code_Role" required placeholder="入库单号"></el-input>
            </el-form-item>
            <el-form-item label="资产编码">
                <el-input prop="Asset_Code_Role" v-model="Model.Asset_Code_Role" required placeholder="资产编码"></el-input>
            </el-form-item>
            <el-form-item label="领用单号">
                <el-input prop="AssetUsed_Code_Role" v-model="Model.AssetUsed_Code_Role" required placeholder="领用单号"></el-input>
            </el-form-item>
            <el-form-item label="退库单号">
                <el-input prop="AssetUsedBack_Code_Role" v-model="Model.AssetUsedBack_Code_Role" required placeholder="退库单号"></el-input>
            </el-form-item>
            <el-form-item label="借用单号">
                <el-input prop="AssetBorrow_Code_Role" v-model="Model.AssetBorrow_Code_Role" required placeholder="借用单号"></el-input>
            </el-form-item>
            <el-form-item label="归还单号">
                <el-input prop="AssetBorrowReturn_Code_Role" v-model="Model.AssetBorrowReturn_Code_Role" required placeholder="归还单号"></el-input>
            </el-form-item>
            <el-form-item label="清理单号">
                <el-input prop="AssetClear_Code_Role" v-model="Model.AssetClear_Code_Role" required placeholder="清理单号"></el-input>
            </el-form-item>
            <el-form-item label="资产信息变更单号">
                <el-input prop="AssetUpdate_Code_Role" v-model="Model.AssetUpdate_Code_Role" required placeholder="信息变更单号"></el-input>
            </el-form-item>
            <el-form-item label="财务信息变更单号">
                <el-input prop="AssetFinancialUpdate_Code_Role" v-model="Model.AssetFinancialUpdate_Code_Role" required placeholder="财务信息变更单号"></el-input>
            </el-form-item>
            <el-form-item v-if="existButton('Edit')">
                <el-button type="primary" @@click="submitForm('commonForm', save)" icon="el-icon-check">{{getButtonText('Edit')}}</el-button>
            </el-form-item>
        </el-form>
    </el-tab-pane>

    <el-tab-pane label="缓存管理" name="n2">
        <el-form ref="cacheForm" :model="Model" status-icon :show-message="false"
                 :label-width="Common.FormLabelWidth"
                 :label-suffix="Common.FormLabelSuffix">
            <el-form-item label="启用本地缓存">
                <el-switch v-model="Model.IsEnableLocalStorage"></el-switch>
            </el-form-item>
            <el-form-item v-if="existButton('Edit')">
                <el-button type="primary" @@click="submitForm('cacheForm', save)" icon="el-icon-check">{{getButtonText('Edit')}}</el-button>
            </el-form-item>
        </el-form>
    </el-tab-pane>

    <el-tab-pane label="系统管理" name="n3"
                 v-if="existButton('Clear') | existButton('Restart')">
        <el-form ref="smsForm" :model="Model" status-icon :show-message="false"
                 :label-width="Common.FormLabelWidth"
                 :label-suffix="Common.FormLabelSuffix">
            <el-form-item label="清空数据" v-if="existButton('Clear')">
                @UIHelper.Button("Clear", "clearData()", "danger")
            </el-form-item>
            <el-form-item label="重启站点" v-if="existButton('Restart')">
                @UIHelper.Button("Restart", "restartSite()", "primary")
            </el-form-item>
        </el-form>
    </el-tab-pane>

    <el-tab-pane label="数据库备份设置" name="n4">
        <el-form ref="smsForm" :model="Model" status-icon :show-message="false"
                 label-width="200"
                 :label-suffix="Common.FormLabelSuffix">
            <el-form-item label="Master数据库连接字符串">
                <el-input prop="MasterDbConnStr" type="textarea" :rows="2"
                          v-model="Model.MasterDbConnStr" required placeholder="Master数据库连接字符串"></el-input>
            </el-form-item>
            <el-form-item label="备份源数据库名字">
                <el-input prop="DbName" v-model="Model.DbName" required placeholder="备份源数据库名字" :disabled="true"></el-input>
            </el-form-item>
            <el-form-item label="备份数据库名字">
                <el-input prop="BackUpDbName" v-model="Model.BackUpDbName" required placeholder="备份数据库名字"></el-input>
            </el-form-item>
            <el-form-item v-if="existButton('Edit')">
                <el-button type="primary" @@click="submitForm('commonForm', save)" icon="el-icon-check">{{getButtonText('Edit')}}</el-button>
            </el-form-item>
        </el-form>
    </el-tab-pane>
</el-tabs>

@section js{
@(Html.DtoModel<SystemConfigModel>())
<script>
    function getVueOptions() {
        return helper.getVueModelOptions({
            data: {
                IsEnableLocalStorage: false,
                Model: getSystemConfigModel(),
                Tab: "n1"
            },
            mounted: function () {
                var _this = this;
                helper.apiPost("/SystemConfig/Get", null, function (data) {
                    _this.Model = data;
                    _this.IsEnableLocalStorage = _this.Model.IsEnableLocalStorage;
                });
            },
            methods: {
                clearData: function () {
                    var _this = this;
                    helper.confirm("确定要清空站点数据吗？", function () {
                        helper.apiPost("/System/ClearData", null, function () {
                            helper.post("/Admin/System/Restart", null, function () {
                                helper.alert("清空站点数据成功，即将重新登陆。", function () {
                                    helper.redirect("/Admin");
                                });
                            });
                        });
                    });
                },
                restartSite: function(){
                    helper.confirm("确定要重启站点吗？", function () {
                        helper.post("/Admin/System/Restart", null, function (data) {
                            helper.alert("重启站点成功，即将重新登陆。", function () {
                                helper.redirect("/Admin");
                            });
                        });
                    });
                },
                save: function () {
                    helper.apiPost("/SystemConfig/Save", this.Model, function (data) {
                        if (_this.IsEnableLocalStorage != _this.Model.IsEnableLocalStorage) {
                            localStorage.clear();
                        }
                        helper.alert("保存成功。");
                    });
                }
            }
        });
    }
</script>
}