﻿<el-dialog :title="getTitle('借用单')" :visible="List.ModelDialog.Visible" @@close="closeDialog('List.ModelDialog')"
           width="92%"
           :close-on-click-modal="Common.CloseOnClickModal"
           :close-on-press-escape="Common.CloseOnPressEscape">
    <el-form :model="List.ModelDialog.Model"
             status-icon
             :show-message="false"
             ref="List.ModelDialog"
             label-width="140px"
             :label-suffix="Common.FormLabelSuffix">
        <div class="my-dialog-form-2">
            <el-form-item label="借用单号" prop="Code" required>
                <el-input placeholder="借用单号" v-model="List.ModelDialog.Model.Code" disabled="true">
                    <el-button slot="append"
                               :icon="getSearchButtonIcon(List.ModelDialog.Model.Code)"
                               @@click="getCode('/AssetBorrow/GetCode',List.ModelDialog.Model)"
                               v-if="List.ModelDialog.Model.Id == 0">
                    </el-button>
                </el-input>
            </el-form-item>
            <el-form-item label="借用日期" prop="LendingTime" required>
                @UIHelper.DatePicker("借用日期", "List.ModelDialog.Model.LendingTime")
            </el-form-item>
            <el-form-item label="借用后管理部门" prop="RegionId" :rules="Validation.Select">
                @UIHelper.Select("SelectList.RegionId.Data", "List.ModelDialog.Model.RegionId", "管理部门")
            </el-form-item>
             @*<el-form-item label="借用后使用单位" prop="UsedCompanyId" required>
                <el-input placeholder="使用单位" v-model="List.ModelDialog.Model.UsedCompanyName" :disabled="true"></el-input>
            </el-form-item>*@
            <el-form-item label="借用后使用部门" prop="UsedDepartmentId" :rules="Validation.Select">
                @UIHelper.Select("SelectList_UsedDepartmentId", "List.ModelDialog.Model.UsedDepartmentId", "使用部门"
                                , "handleDepartmentUsedChange"
                                , "<span :class=\"getDepartmentTypeClass(item)\" v-html=\"getDepartmentName(item)\"></span>"
                                , strOptionDisabledKey: "Department"
                                , strTextBind: "List.ModelDialog.Model.UsedDepartmentName")
            </el-form-item>
            <el-form-item label="借用人" prop="UsedEmployeeId" :rules="Validation.Select">
                @UIHelper.Select("SelectList.UsedEmployeeId.Data", "List.ModelDialog.Model.UsedEmployeeId", "借用人")
            </el-form-item>
            <el-form-item label="借用后存放地点" prop="StoredAddressId" required>
                @UIHelper.Select("SelectList.StoredAddressId.Data", "List.ModelDialog.Model.StoredAddressId", "存放地点")
            </el-form-item>
            <el-form-item label="预计归还日期" prop="EstimatedReturnTime">
                @UIHelper.DatePicker("预计归还日期", "List.ModelDialog.Model.EstimatedReturnTime")
            </el-form-item>
            <el-form-item label="借用处理人" prop="SessionName">
                <el-input placeholder="借用处理人" v-model="List.ModelDialog.Model.SessionName" disabled="true"></el-input>
            </el-form-item>
        </div>
        <div class="my-dialog-form-1">
            <el-form-item label="备注" prop="Note">
                <el-input placeholder="备注" type="textarea" v-model="List.ModelDialog.Model.Description" :autosize="{ minRows: 4 }"></el-input>
            </el-form-item>
        </div>
        <el-form-item label="资产详细" prop="AssetBorrowItems" :rules="Validation.List">
            <el-button class="my-form-item-button" @@click="selectAssets(1,List.ModelDialog.Model.AssetBorrowItems)" type="primary" icon="el-icon-plus">选择资产<i class="my-hide el-icon-error"></i></el-button>
        </el-form-item>
        @UIHelper.SubAssetTable("SelectedAssetList.SelectedAssetList", "", @"<div class=""my-button-action"">
                        <el-button @click=""function(){handleDeleteRow(scope.$index,List.ModelDialog.Model.AssetBorrowItems);handleDeleteRow(scope.$index,SelectedAssetList.SelectedAssetList);}"" type=""danger"" size=""mini"" icon=""el-icon-delete"">删 除</el-button>
                </div>")
    </el-form>
    <div slot="footer" class="dialog-footer">
        <el-button @@click="closeDialog('List.ModelDialog')" icon="el-icon-close">取 消</el-button>
        <el-button type="primary" @@click="submitForm('List.ModelDialog', handleSave, initPage, '/AssetBorrow/Add')" icon="el-icon-check">保 存</el-button>
    </div>
</el-dialog>