﻿<el-dialog title="归还" :visible="ReturnList.ModelDialog.Visible" @@close="closeDialog('ReturnList.ModelDialog')"
           width="92%"
           :close-on-click-modal="Common.CloseOnClickModal"
           :close-on-press-escape="Common.CloseOnPressEscape">
    <el-form :model="ReturnList.ModelDialog.Model"
             status-icon
             :show-message="false"
             ref="ReturnList.ModelDialog"
             label-width="140px"
             :label-suffix="Common.FormLabelSuffix">
        <div class="my-dialog-form-2">
            <el-form-item label="归还单号" prop="Code" required>
                <el-input placeholder="归还单号" v-model="ReturnList.ModelDialog.Model.Code" disabled="true">
                    <el-button slot="append"
                               :icon="getSearchButtonIcon(ReturnList.ModelDialog.Model.Code)"
                               @@click="getCode('/AssetBorrowReturn/GetCode',ReturnList.ModelDialog.Model)"
                               v-if="ReturnList.ModelDialog.Model.Id == 0">
                    </el-button>
                </el-input>
            </el-form-item>
            @*<el-form-item label="归还单位" prop="UsedCompanyId" required>
        <el-input placeholder="归还单位" v-model="ReturnList.ModelDialog.Model.UsedCompanyName" :disabled="true"></el-input>
    </el-form-item>*@
            <el-form-item label="归还部门" prop="UsedDepartmentId" :rules="Validation.Select">
                @UIHelper.Select("SelectList.UsedDepartmentId.Data", "ReturnList.ModelDialog.Model.UsedDepartmentId", "归还部门"
                                , "handleDepartmentUsedReturnChange"
                                , "<span :class=\"getDepartmentTypeClass(item)\" v-html=\"getDepartmentName(item)\"></span>"
                                , strOptionDisabledKey: "Department"
                                , strTextBind: "ReturnList.ModelDialog.Model.UsedDepartmentName")
            </el-form-item>
            <el-form-item label="归还人" prop="UsedEmployeeId" :rules="Validation.Select">
                @UIHelper.Select("SelectList.UsedEmployeeId.Data", "ReturnList.ModelDialog.Model.UsedEmployeeId", "归还人", bIsQuerySelect: false)
            </el-form-item>
            <el-form-item label="实际归还日期" prop="ReturnTime" required>
                @UIHelper.DatePicker("实际归还日期", "ReturnList.ModelDialog.Model.ReturnTime")
            </el-form-item>
            <el-form-item label="归还处理人" prop="SessionId" required>
                <el-input placeholder="归还处理人" v-model="ReturnList.ModelDialog.Model.SessionName" :disabled="true"></el-input>
            </el-form-item>
        </div>
        <div class="my-dialog-form-1">
            <el-form-item label="备注" prop="Note">
                <el-input placeholder="备注" type="textarea" v-model="ReturnList.ModelDialog.Model.Description" :autosize="{ minRows: 4 }"></el-input>
            </el-form-item>
        </div>
        <el-form-item label="资产详细" prop="AssetBorrowReturnItems" :rules="Validation.List">
            <el-button class="my-form-item-button" @@click="selectAssets(2,ReturnList.ModelDialog.Model.AssetBorrowReturnItems)" type="primary" icon="el-icon-plus">选择资产<i class="my-hide el-icon-error"></i></el-button>
        </el-form-item>
        @UIHelper.SubAssetTable("SelectedAssetList.SelectedAssetList", "", @"<div class=""my-button-action"">
                        <el-button @click=""function(){handleDeleteRow(scope.$index,ReturnList.ModelDialog.Model.AssetBorrowReturnItems);handleDeleteRow(scope.$index,SelectedAssetList.SelectedAssetList);}"" type=""danger"" size=""mini"" icon=""el-icon-delete"">删 除</el-button>
                </div>")
    </el-form>
    <div slot="footer" class="dialog-footer">
        <el-button @@click="closeDialog('ReturnList.ModelDialog')" icon="el-icon-close">取 消</el-button>
        <el-button type="primary" @@click="submitForm('ReturnList.ModelDialog', handleSave, initPage, '/AssetBorrowReturn/Add')" icon="el-icon-check">保 存</el-button>
    </div>
</el-dialog>