﻿<el-dialog title="打印资产借用单" :visible="List.PrintDialog.Visible" @@close="closeDialog('List.PrintDialog')"
           width="80%"
           :close-on-click-modal="Common.CloseOnClickModal"
           :close-on-press-escape="Common.CloseOnPressEscape">
    <div id="assetBorrowPrintMe">
        <div class="my-print">
            <div class="my-print-title">资产借用单</div>
            <div>
                @UIHelper.PrintLabel("借用单号", "{{List.PrintDialog.Model.Code}}", bIsFillText: false)
                @UIHelper.PrintLabel("借用日期", "{{getDatePrintString(List.PrintDialog.Model.LendingTime)}}", bIsFillText: false)
                @UIHelper.PrintLabel("借用人", "{{List.PrintDialog.Model.UsedEmployeeName}}", bIsFillText: false)
            </div>
            <div>
                @UIHelper.PrintLabel("使用单位", "{{List.PrintDialog.Model.UsedCompanyName}}", bIsFillText: false)
                @UIHelper.PrintLabel("使用部门", "{{List.PrintDialog.Model.UsedDepartmentName}}", bIsFillText: false)
                @UIHelper.PrintLabel("管理部门", "{{List.PrintDialog.Model.RegionName}}", bIsFillText: false)
            </div>
            <div>
                @UIHelper.PrintLabel("存放地点", "{{List.PrintDialog.Model.StoredAddressName}}", strValueWidth: "auto", bIsFillText: false)
            </div>
            <div>
                @UIHelper.PrintLabel("借用备注", "{{List.PrintDialog.Model.Description}}", strValueWidth: "auto", bIsFillText: false)
            </div>
            <table>
                <caption>资产明细：</caption>
                <thead>
                    <tr>
                        <th>序号</th>
                        <th>资产条码</th>
                        <th>资产类别</th>
                        <th>资产名称</th>
                        <th>规格型号</th>
                        <th>资产编码</th>
                        <th>数量</th>
                        <th>单价</th>
                        <th>金额</th>
                        <th>管理员</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(item, index) in List.PrintDialog.Model.AssetBorrowItems">
                        <td>{{index+1}}</td>
                        <td>{{item.Asset.Code}}</td>
                        <td>{{item.Asset.AssetTypeName}}</td>
                        <td>{{item.Asset.Name}}</td>
                        <td>{{item.Asset.Model}}</td>
                        <td>{{item.Asset.SN}}</td>
                        <td>{{item.Total}}</td>
                        <td>{{getAmountFormat(item.Asset.Price)}}</td>
                        <td>{{getAmountFormat(item.Total*item.Asset.Price)}}</td>
                        <td>{{item.Asset.SessionName}}</td>
                    </tr>
                    <tr>
                        <td colspan="10" class="my-print-total">合计金额小写：{{getAmountFormat(TotalAmountAssetBorrowPrint)}}</td>
                    </tr>
                    <tr>
                        <td colspan="10" class="my-print-total">合计金额大写：{{getUpcaseAmount(TotalAmountAssetBorrowPrint)}}</td>
                    </tr>
                </tbody>
            </table>
            <div>
                <span>借用人签字：</span>
                <span></span>
                <span></span>
                <span>签字时间：</span>
                <span></span>
            </div>
        </div>
    </div>
    <div slot="footer" class="dialog-footer">
        <el-button @@click="closeDialog('List.PrintDialog')" icon="el-icon-close">关 闭</el-button>
        @ButtonHelper.Print("assetBorrowPrintMe")
    </div>
</el-dialog>