﻿<el-dialog title="打印资产归还单" :visible="ReturnList.PrintDialog.Visible" @@close="closeDialog('ReturnList.PrintDialog')"
           width="80%"
           :close-on-click-modal="Common.CloseOnClickModal"
           :close-on-press-escape="Common.CloseOnPressEscape">
    <div id="assetBorrrowReturnPrintMe">
        <div class="my-print">
            <div class="my-print-title">资产归还单</div>
            <div>
                @UIHelper.PrintLabel("归还单号", "{{ReturnList.PrintDialog.Model.Code}}")
                @UIHelper.PrintLabel("归还日期", "{{getDate(ReturnList.PrintDialog.Model.ReturnTime)}}")
                @UIHelper.PrintLabel("处理人", "{{ReturnList.PrintDialog.Model.SessionName}}")
            </div>
            <div>
                @UIHelper.PrintLabel("归还单位", "{{ReturnList.PrintDialog.Model.UsedCompanyName}}")
                @UIHelper.PrintLabel("归还部门", "{{getDate(ReturnList.PrintDialog.Model.UsedDepartmentName)}}")
                @UIHelper.PrintLabel("归还人", "{{ReturnList.PrintDialog.Model.UsedEmployeeName}}")
            </div>
            <div>
                @UIHelper.PrintLabel("归还备注", "{{ReturnList.PrintDialog.Model.Description}}")
            </div>
            <table>
                <caption>资产明细：</caption>
                <thead>
                    <tr>
                        <th>序号</th>
                        <th>资产条码</th>
                        <th>资产类别</th>
                        <th>资产名称</th>
                        <th>规格型号</th>
                        <th>资产编码</th>
                        <th>数量</th>
                        <th>单价</th>
                        <th>金额</th>
                        <th>管理员</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(item, index) in ReturnList.PrintDialog.Model.AssetBorrowReturnItems">
                        <td>{{index+1}}</td>
                        <td>{{item.Asset.Code}}</td>
                        <td>{{item.Asset.AssetTypeName}}</td>
                        <td>{{item.Asset.Name}}</td>
                        <td>{{item.Asset.Model}}</td>
                        <td>{{item.Asset.SN}}</td>
                        <td>{{item.Total}}</td>
                        <td>{{getAmountFormat(item.Asset.Price)}}</td>
                        <td>{{getAmountFormat(item.Total*item.Asset.Price)}}</td>
                        <td>{{item.Asset.SessionName}}</td>
                    </tr>
                    <tr>
                        <td colspan="10" class="my-print-total">合计金额小写：{{getAmountFormat(TotalAmountAssetBorrowReturnPrint)}}</td>
                    </tr>
                    <tr>
                        <td colspan="10" class="my-print-total">合计金额大写：{{getUpcaseAmount(TotalAmountAssetBorrowReturnPrint)}}</td>
                    </tr>
                </tbody>
            </table>
            <div>
                <span>归还人签字：</span>
                <span></span>
                <span></span>
                <span>签字时间：</span>
                <span></span>
            </div>
        </div>
    </div>
    <div slot="footer" class="dialog-footer">
        <el-button @@click="closeDialog('ReturnList.PrintDialog')" icon="el-icon-close">关 闭</el-button>
        @ButtonHelper.Print("assetBorrowReturnPrintMe")
    </div>
</el-dialog>