﻿@{
    Layout = "~/Areas/Admin/Views/Shared/_PrintLayout.cshtml";
}

<div class="my-main-body-button">
    <span class="my-main-body-title">
        <i class="el-icon-view"></i>
        借用&归还
    </span>
</div>
<el-tabs v-model="MainTab">
    <el-tab-pane label="借用" name="t1">
        <div class="my-main-body-button">
            @UIHelper.SearchInput("借用单号/描述关键字", "List")
            @UIHelper.Period("借用日期", "List")
            @ButtonHelper.Add(strClick: "handleAdd('List.ModelDialog',resetSelectedAsset)", strCode: "AddBorrow")
        </div>
        <el-table :data="List.Data"
                  :row-key="getItemId"
                  border stripe
                  header-row-class-name="my-main-body-table-header"
                  @@selection-change="handleSelectionChange"
                  @@sort-change="function(sort){handleSortChange(sort,'List');}"
                  style="width: 100%">
            <el-table-column type="expand">
                @UIHelper.SubAssetTemplate("AssetBorrowItems", "Asset.", strTotal: "{{scope.row.Total}}")
            </el-table-column>
            <el-table-column label="借用单号" prop="Code" sortable="custom">
                <template slot-scope="scope">
                    <p class="my-text-danger">{{scope.row.Code}}</p>
                </template>
            </el-table-column>
            <el-table-column label="日期" prop="LendingTime" sortable="custom">
                <template slot-scope="scope">
                    <p class="my-text-danger">借用日期：{{getDate(scope.row.LendingTime,true)}}</p>
                    <p class="my-text-success">预计归还日期：{{getDate(scope.row.EstimatedReturnTime,true)}}</p>
                </template>
            </el-table-column>
            <el-table-column label="借用人" prop="UsedEmployeeName" sortable="custom">
                <template slot-scope="scope">
                    <p class="my-text-danger">使用单位：{{scope.row.UsedCompanyName}}</p>
                    <p class="my-text-success">使用部门：{{scope.row.UsedDepartmentName}}</p>
                    <p class="my-text-primary">使用人：{{scope.row.UsedEmployeeName}}</p>
                </template>
            </el-table-column>
            <el-table-column label="借用后" prop="UsedCompanyName" sortable="custom">
                <template slot-scope="scope">
                    <p class="my-text-danger">管理部门：{{scope.row.RegionName}}</p>
                    <p class="my-text-success">存放地点：{{scope.row.StoredAddressName}}</p>
                </template>
            </el-table-column>
            <el-table-column label="借用备注" prop="Description"></el-table-column>
            <el-table-column label="处理人" prop="SessionName"></el-table-column>
            <el-table-column label="操作" :width="100" align="center">
                <template slot-scope="scope">
                    @ButtonHelper.OpenPrint("handleOpenDialog(scope.row,List.PrintDialog)")
                </template>
            </el-table-column>
        </el-table>
        @Html.Partial("_Pagination", "List")
    </el-tab-pane>
    <el-tab-pane label="归还" name="t2">
        <div class="my-main-body-button">
            @UIHelper.SearchInput("归还单号/描述关键字", "ReturnList")
            @UIHelper.Period("归还日期", "ReturnList")
            @ButtonHelper.Add(strClick: "handleAdd('ReturnList.ModelDialog',resetSelectedAsset)", strCode: "AddBorrowReturn")
        </div>
        <el-table :data="ReturnList.Data"
                  :row-key="getItemId"
                  border stripe
                  header-row-class-name="my-main-body-table-header"
                  @@selection-change="handleSelectionChange"
                  @@sort-change="function(sort){handleSortChange(sort,'List');}"
                  style="width: 100%">
            <el-table-column type="expand">
                @UIHelper.SubAssetTemplate("AssetBorrowReturnItems", "Asset.", strTotal: "{{scope.row.Total}}")
            </el-table-column>
            <el-table-column label="归还单号" prop="Code" sortable="custom">
                <template slot-scope="scope">
                    <p class="my-text-danger">{{scope.row.Code}}</p>
                </template>
            </el-table-column>
            <el-table-column label="归还日期" prop="ReturnTime" sortable="custom">
                <template slot-scope="scope">{{getDate(scope.row.ReturnTime,true)}}</template>
            </el-table-column>
            <el-table-column label="归还信息" prop="UsedCompanyName" sortable="custom">
                <template slot-scope="scope">
                    <p class="my-text-danger">单位：{{scope.row.UsedCompanyName}}</p>
                    <p class="my-text-success">部门：{{scope.row.UsedDepartmentName}}</p>
                    <p class="my-text-success">归还人：{{scope.row.UsedEmployeeName}}</p>
                </template>
            </el-table-column>
            <el-table-column label="归还备注" prop="Description"></el-table-column>
            <el-table-column label="处理人" prop="SessionName"></el-table-column>
            <el-table-column label="操作" :width="100" align="center">
                <template slot-scope="scope">
                    @ButtonHelper.OpenPrint("handleOpenDialog(scope.row,ReturnList.PrintDialog)")
                </template>
            </el-table-column>
        </el-table>
        @Html.Partial("_Pagination", "ReturnList")
    </el-tab-pane>
</el-tabs>
@Html.Partial("Borrow")
@Html.Partial("BorrowPrint")
@Html.Partial("BorrowReturn")
@Html.Partial("BorrowReturnPrint")
@Html.Partial("_AssetList", true)

@section js{
@(Html.DtoModel<AssetDto>())
@(Html.DtoModel<AssetBorrowDto>())
@(Html.DtoModel<AssetBorrowReturnDto>())
    <script>
        function getVueOptions() {
            return helper.getPageVueOptions("AssetBorrow", {
                List: { ModelDialog: { Model: getAssetBorrowDto } },
                ReturnList: { ModelDialog: { Model: getAssetBorrowReturnDto } }
            }, getSelectAssetListOptions({
                data: {
                    MainTab: "t1",
                    List: {
                        PrintDialog: {
                            Model: getAssetBorrowDto(),
                            Visible: false
                        }
                    },
                    ReturnList: helper.getInitList(null, {
                        PrintDialog: {
                            Model: getAssetBorrowReturnDto(),
                            Visible: false
                        }
                    }, "AssetBorrowReturn"),
                    SelectList: {
                        UsedDepartmentId: { Controller: "Department", Data: [] },
                        RegionId: { Controller: "Region", Data: [] },
                    },
                },
                watch: getSearchModelWatchList([
                    { TableName: "List", InitEvent: function () { this.getPageList("List"); } },
                    { TableName: "ReturnList", InitEvent: function () { this.getPageList("ReturnList"); } }
                ]),
                computed: {
                    TotalAmountAssetBorrowPrint: function () {
                        return this.getTotalAmount(this.List.PrintDialog.Model.AssetBorrowItems, o=>o.Total * o.Asset.Price);
                    },
                    TotalAmountAssetBorrowReturnPrint: function () {
                        return this.getTotalAmount(this.ReturnList.PrintDialog.Model.AssetBorrowReturnItems, o=>o.Total * o.Asset.Price);
                    },
                    SelectList_UsedDepartmentId: function () {
                        let companyByRegionId = _.filter(this.SelectList.RegionId.Data, x => x.Id == this.List.ModelDialog.Model.RegionId);
                        let companyId;
                        if (companyByRegionId.length <= 0) { companyId = -1 } else { companyId = companyByRegionId[0].UsedCompanyId; }
                        let parentIds = [companyId];
                        let departments = [];
                        if (this.SelectList.UsedDepartmentId.Data.length > 0) {
                            let d = _.filter(this.SelectList.UsedDepartmentId.Data, x => x.Id == companyId);
                            if (d.length > 0) departments.push(d[0]);
                            do {
                                let departmentTemps = this.SelectList.UsedDepartmentId.Data.filter(x => parentIds.some(y => y == x.ParentId));
                                if (departmentTemps.length == 0) {
                                    return departments;
                                }
                                departmentTemps.forEach(x => departments.push(x));
                                parentIds = departmentTemps.map(x => x.Id);
                            } while (true)
                        } else {
                            return departments;
                        }
                    }
                },
                methods: {
                    initPage: function () {
                        this.getPageList("List");
                        this.getPageList("ReturnList");
                    },
                    handleDepartmentUsedChange: function () {
                        this.handleDepartmentChange("List.ModelDialog", this.List.ModelDialog.Model.UsedDepartmentId);
                    },
                    handleDepartmentUsedReturnChange: function () {
                        this.handleDepartmentChange("ReturnList.ModelDialog", this.ReturnList.ModelDialog.Model.UsedDepartmentId);
                    }
                }
            }));
        }
    </script>
}