﻿@{
    Layout = "~/Areas/Admin/Views/Shared/_PrintLayout.cshtml";
}

<div class="my-main-body-button">
    <span class="my-main-body-title">
        <i class="el-icon-view"></i>
        领用&退库
    </span>
</div>
<el-tabs v-model="MainTab">
    <el-tab-pane label="领用" name="t1">
        <div class="my-main-body-button">
            @UIHelper.SearchInput("领用单号/描述关键字", "List")
            @UIHelper.Period("领用日期", "List")
            @ButtonHelper.Add(strClick: "handleAdd('List.ModelDialog',resetSelectedAsset)", strCode: "AddUsed")
        </div>
        <el-table :data="List.Data"
                  :row-key="getItemId"
                  border stripe
                  header-row-class-name="my-main-body-table-header"
                  @@selection-change="handleSelectionChange"
                  @@sort-change="function(sort){handleSortChange(sort,'List');}"
                  style="width: 100%">
            <el-table-column type="expand">
                @UIHelper.SubAssetTemplate("AssetUsedItems", "Asset.", strTotal: "{{scope.row.Total}}")
            </el-table-column>
            <el-table-column label="领用单号" prop="Code" sortable="custom">
                <template slot-scope="scope">
                    <p class="my-text-danger">{{scope.row.Code}}</p>
                </template>
            </el-table-column>
            <el-table-column label="日期" prop="UsedTime" sortable="custom">
                <template slot-scope="scope">
                    <p class="my-text-danger">领用日期：{{getDate(scope.row.UsedTime,true)}}</p>
                    <p class="my-text-success">预计退库日期：{{getDate(scope.row.EstimatedReturnTime,true)}}</p>
                </template>
            </el-table-column>
            <el-table-column label="领用人" prop="UsedEmployeeName" sortable="custom"></el-table-column>
            <el-table-column label="领用后" prop="UsedCompanyName" sortable="custom">
                <template slot-scope="scope">
                    <p class="my-text-danger">使用单位：{{scope.row.UsedCompanyName}}</p>
                    <p class="my-text-success">使用部门：{{scope.row.UsedDepartmentName}}</p>
                    <p class="my-text-primary">管理部门：{{scope.row.RegionName}}</p>
                    <p class="my-text-info">存放地点：{{scope.row.StoredAddressName}}</p>
                </template>
            </el-table-column>
            <el-table-column label="领用备注" prop="Description"></el-table-column>
            <el-table-column label="处理人" prop="SessionName"></el-table-column>
            <el-table-column label="操作" :width="100" align="center">
                <template slot-scope="scope">
                    @ButtonHelper.OpenPrint("handleOpenDialog(scope.row,List.PrintDialog)")
                </template>
            </el-table-column>
        </el-table>
        @Html.Partial("_Pagination", "List")
    </el-tab-pane>
    <el-tab-pane label="退库" name="t2">
        <div class="my-main-body-button">
            @UIHelper.SearchInput("退库单号/描述关键字", "BackList")
            @UIHelper.Period("退库日期", "BackList")
            @ButtonHelper.Add(strClick: "handleAdd('BackList.ModelDialog',resetSelectedAsset)", strCode: "AddUsedBack")
        </div>
        <el-table :data="BackList.Data"
                  :row-key="getItemId"
                  border stripe
                  header-row-class-name="my-main-body-table-header"
                  @@selection-change="handleSelectionChange"
                  @@sort-change="function(sort){handleSortChange(sort,'BackList');}"
                  style="width: 100%">
            <el-table-column type="expand">
                @UIHelper.SubAssetTemplate("AssetUsedBackItems", "Asset.", strTotal: "{{scope.row.Total}}")
            </el-table-column>
            <el-table-column label="退库单号" prop="Code" sortable="custom">
                <template slot-scope="scope">
                    <p class="my-text-danger">{{scope.row.Code}}</p>
                </template>
            </el-table-column>
            <el-table-column label="退库日期" prop="BackTime" sortable="custom">
                <template slot-scope="scope">{{getDate(scope.row.BackTime,true)}}</template>
            </el-table-column>
            <el-table-column label="退库人" prop="UsedEmployeeName" sortable="custom"></el-table-column>
            <el-table-column label="退库后" prop="UsedCompanyName" sortable="custom">
                <template slot-scope="scope">
                    <p class="my-text-danger">使用单位：{{scope.row.UsedCompanyName}}</p>
                    <p class="my-text-success">使用部门：{{scope.row.UsedDepartmentName}}</p>
                </template>
            </el-table-column>
            <el-table-column label="退库备注" prop="Description"></el-table-column>
            <el-table-column label="处理人" prop="SessionName"></el-table-column>
            <el-table-column label="操作" :width="100" align="center">
                <template slot-scope="scope">
                    @ButtonHelper.OpenPrint("handleOpenDialog(scope.row,BackList.PrintDialog)")
                </template>
            </el-table-column>
        </el-table>
        @Html.Partial("_Pagination", "BackList")
    </el-tab-pane>
</el-tabs>
@Html.Partial("Used")
@Html.Partial("UsedPrint")
@Html.Partial("UsedBack")
@Html.Partial("UsedBackPrint")
@Html.Partial("_AssetList", true)

@section js{
@(Html.DtoModel<AssetDto>())
@(Html.DtoModel<AssetUsedDto>())
@(Html.DtoModel<AssetUsedBackDto>())
    <script>
        function getVueOptions() {
            return helper.getPageVueOptions("AssetUsed", {
                List: { ModelDialog: { Model: getAssetUsedDto } },
                BackList: { ModelDialog: { Model: getAssetUsedBackDto } }
            }, getSelectAssetListOptions({
                data: {
                    MainTab: "t1",
                    List: {
                        PrintDialog: {
                            Model: getAssetUsedDto(),
                            Visible: false
                        }
                    },
                    BackList: helper.getInitList(null, {
                        PrintDialog: {
                            Model: getAssetUsedBackDto(),
                            Visible: false
                        }
                    }, "AssetUsedBack"),
                    SelectList: {
                        UsedDepartmentId: { Controller: "Department", Data: [] },
                        UsedDepartmentEmployeeId: { Data: [] },
                        RegionId: { Controller: "Region", Data: [] },
                    },
                },
                watch: getSearchModelWatchList([
                    { TableName: "List", InitEvent: function () { this.getPageList("List"); } },
                    { TableName: "BackList", InitEvent: function () { this.getPageList("BackList"); } }
                ]),
                computed: {
                    TotalAmountAssetUsedPrint: function () {
                        return this.getTotalAmount(this.List.PrintDialog.Model.AssetUsedItems, o=>o.Total * o.Asset.Price);
                    },
                    TotalAmountAssetUsedBackPrint: function () {
                        return this.getTotalAmount(this.BackList.PrintDialog.Model.AssetUsedBackItems, o=>o.Total * o.Asset.Price);
                    },
                    SelectList_UsedDepartmentId: function () {
                        let companyByRegionId = _.filter(this.SelectList.RegionId.Data, x => x.Id == this.List.ModelDialog.Model.RegionId);
                        let companyId;
                        if (companyByRegionId.length <= 0) { companyId = -1 } else { companyId = companyByRegionId[0].UsedCompanyId;}
                        let parentIds = [companyId];
                        let departments = [];
                        if (this.SelectList.UsedDepartmentId.Data.length > 0) {
                            let d = _.filter(this.SelectList.UsedDepartmentId.Data, x => x.Id == companyId);
                            if (d.length > 0) departments.push(d[0]);                          
                            do {
                                let departmentTemps = this.SelectList.UsedDepartmentId.Data.filter(x => parentIds.some(y => y == x.ParentId));
                                if (departmentTemps.length==0) {
                                    return departments;
                                }
                                departmentTemps.forEach(x => departments.push(x));
                                parentIds = departmentTemps.map(x => x.Id);
                            } while (true)
                        } else {
                            return departments;
                        }
                    }
                },
                methods: {
                    initPage: function () {
                        this.getPageList("List");
                        this.getPageList("BackList");
                    },
                    handleDepartmentUsedChange: function () {
                        this.handleDepartmentChange("List.ModelDialog", this.List.ModelDialog.Model.UsedDepartmentId);
                    },
                    handleDepartmentUsedBackChange: function () {
                        this.handleDepartmentChange("BackList.ModelDialog", this.BackList.ModelDialog.Model.UsedDepartmentId);
                    }
                }
            }));
        }
    </script>
}