﻿<el-dialog title="打印资产退库单" :visible="BackList.PrintDialog.Visible" @@close="closeDialog('BackList.PrintDialog')"
           width="80%"
           :close-on-click-modal="Common.CloseOnClickModal"
           :close-on-press-escape="Common.CloseOnPressEscape">
    <div id="assetUsedBackPrintMe">
        <div class="my-print">
            <div class="my-print-title">资产退库单</div>
            <div>
                @UIHelper.PrintLabel("退库单号", "{{BackList.PrintDialog.Model.Code}}", bIsFillText: false)
                @UIHelper.PrintLabel("退库日期", "{{getDatePrintString(BackList.PrintDialog.Model.BackTime)}}", bIsFillText: false)
                @UIHelper.PrintLabel("处理人", "{{BackList.PrintDialog.Model.SessionName}}", bIsFillText: false)
            </div>
            <div>
                @UIHelper.PrintLabel("退库单位", "{{BackList.PrintDialog.Model.UsedCompanyName}}", bIsFillText: false)
                @UIHelper.PrintLabel("退库部门", "{{BackList.PrintDialog.Model.UsedDepartmentName}}", bIsFillText: false)
            </div>
            <div>
                @UIHelper.PrintLabel("退库备注", "{{BackList.PrintDialog.Model.Description}}", bIsFillText: false)
            </div>
            <table>
                <caption>资产明细：</caption>
                <thead>
                    <tr>
                        <th>序号</th>
                        <th>资产条码</th>
                        <th>资产类别</th>
                        <th>资产名称</th>
                        <th>规格型号</th>
                        <th>资产编码</th>
                        <th>数量</th>
                        <th>单价</th>
                        <th>金额</th>
                        <th>管理员</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(item, index) in BackList.PrintDialog.Model.AssetUsedBackItems">
                        <td>{{index+1}}</td>
                        <td>{{item.Asset.Code}}</td>
                        <td>{{item.Asset.AssetTypeName}}</td>
                        <td>{{item.Asset.Name}}</td>
                        <td>{{item.Asset.Model}}</td>
                        <td>{{item.Asset.SN}}</td>
                        <td>{{item.Total}}</td>
                        <td>{{getAmountFormat(item.Asset.Price)}}</td>
                        <td>{{getAmountFormat(item.Total*item.Asset.Price)}}</td>
                        <td>{{item.Asset.SessionName}}</td>
                    </tr>
                    <tr>
                        <td colspan="10" class="my-print-total">合计金额小写：{{getAmountFormat(TotalAmountAssetUsedBackPrint)}}</td>
                    </tr>
                    <tr>
                        <td colspan="10" class="my-print-total">合计金额大写：{{getUpcaseAmount(TotalAmountAssetUsedBackPrint)}}</td>
                    </tr>
                </tbody>
            </table>
            <div>
                <span>退库人签字：</span>
                <span></span>
                <span></span>
                <span>签字时间：</span>
                <span></span>
            </div>
        </div>
    </div>
    <div slot="footer" class="dialog-footer">
        <el-button @@click="closeDialog('BackList.PrintDialog')" icon="el-icon-close">关 闭</el-button>
        @ButtonHelper.Print("assetUsedBackPrintMe")
    </div>
</el-dialog>