﻿<el-dialog title="退库单" :visible="BackList.ModelDialog.Visible" @@close="closeDialog('BackList.ModelDialog')"
           width="92%"
           :close-on-click-modal="Common.CloseOnClickModal"
           :close-on-press-escape="Common.CloseOnPressEscape">
    <el-form :model="BackList.ModelDialog.Model"
             status-icon
             :show-message="false"
             ref="BackList.ModelDialog"
             label-width="140px"
             :label-suffix="Common.FormLabelSuffix">
        <div class="my-dialog-form-2">
            <el-form-item label="退库单号" prop="Code" required>
                <el-input placeholder="退库单号" v-model="BackList.ModelDialog.Model.Code" disabled="true">
                    <el-button slot="append"
                               :icon="getSearchButtonIcon(BackList.ModelDialog.Model.Code)"
                               @@click="getCode('/AssetUsedBack/GetCode',BackList.ModelDialog.Model)"
                               v-if="BackList.ModelDialog.Model.Id == 0">
                    </el-button>
                </el-input>
            </el-form-item>
            <el-form-item label="实际退库日期" prop="BackTime" required>
                @UIHelper.DatePicker("实际退库日期", "BackList.ModelDialog.Model.BackTime")
            </el-form-item>
            @*<el-form-item label="退库单位" prop="UsedCompanyId" required>
        <el-input placeholder="退库单位" v-model="BackList.ModelDialog.Model.UsedCompanyName" :disabled="true"></el-input>
    </el-form-item>*@
            <el-form-item label="退库部门" prop="UsedDepartmentId" :rules="Validation.Select">
                @UIHelper.Select("SelectList.UsedDepartmentId.Data", "BackList.ModelDialog.Model.UsedDepartmentId", "退库部门"
                                , "handleDepartmentUsedBackChange"
                                , "<span :class=\"getDepartmentTypeClass(item)\" v-html=\"getDepartmentName(item)\"></span>"
                                , strOptionDisabledKey: "Department"
                                , strTextBind: "BackList.ModelDialog.Model.UsedDepartmentName", bIsQuerySelect: false)
            </el-form-item>
            <el-form-item label="退库人" prop="UsedEmployeeId" :rules="Validation.Select">
                @UIHelper.Select("SelectList.UsedEmployeeId.Data", "BackList.ModelDialog.Model.UsedEmployeeId", "退库人", bIsQuerySelect: false)
            </el-form-item>
            <el-form-item label="退库处理人" prop="SessionId" required>
                <el-input placeholder="退库处理人" v-model="BackList.ModelDialog.Model.SessionName" :disabled="true"></el-input>
            </el-form-item>
        </div>
        <div class="my-dialog-form-1">
            <el-form-item label="备注" prop="Note">
                <el-input placeholder="备注" type="textarea" v-model="BackList.ModelDialog.Model.Description" :autosize="{ minRows: 4 }"></el-input>
            </el-form-item>
        </div>
        <el-form-item label="资产详细" prop="AssetUsedBackItems" :rules="Validation.List">
            <el-button class="my-form-item-button" @@click="selectAssets(3,BackList.ModelDialog.Model.AssetUsedBackItems)" type="primary" icon="el-icon-plus">选择资产<i class="my-hide el-icon-error"></i></el-button>
        </el-form-item>
        @UIHelper.SubAssetTable("SelectedAssetList.SelectedAssetList", "", @"<div class=""my-button-action"">
                        <el-button @click=""function(){handleDeleteRow(scope.$index,BackList.ModelDialog.Model.AssetUsedBackItems);handleDeleteRow(scope.$index,SelectedAssetList.SelectedAssetList);}"" type=""danger"" size=""mini"" icon=""el-icon-delete"">删 除</el-button>
                </div>")
    </el-form>
    <div slot="footer" class="dialog-footer">
        <el-button @@click="closeDialog('BackList.ModelDialog')" icon="el-icon-close">取 消</el-button>
        <el-button type="primary" @@click="submitForm('BackList.ModelDialog', handleSave, initPage, '/AssetUsedBack/Add')" icon="el-icon-check">保 存</el-button>
    </div>
</el-dialog>